$ANT-red-1: #fff1f0;
$ANT-red-2: #ffccc7;
$ANT-red-3: #ffa39e;
$ANT-red-4: #ff7875;
$ANT-red-5: #ff4d4f;
$ANT-red-6: #f5222d;
$ANT-red-7: #cf1322;
$ANT-red-8: #a8071a;
$ANT-red-9: #820014;
$ANT-red-10: #5c0011;
$ANT-volcano-1: #fff2e8;
$ANT-volcano-2: #ffd8bf;
$ANT-volcano-3: #ffbb96;
$ANT-volcano-4: #ff9c6e;
$ANT-volcano-5: #ff7a45;
$ANT-volcano-6: #fa541c;
$ANT-volcano-7: #d4380d;
$ANT-volcano-8: #ad2102;
$ANT-volcano-9: #871400;
$ANT-volcano-10: #610b00;