$CRAYOLA_Red:#ED0A3F;
$CRAYOLA_Maroon:#C32148;
$CRAYOLA_Scarlet:#FD0E35;
$CRAYOLA_Brick_Red:#C62D42;
$CRAYOLA_English_Vermilion:#CC474B;
$CRAYOLA_Madder_Lake:#CC3336;
$CRAYOLA_Permanent_Geranium_Lake:#E12C2C;
$CRAYOLA_Maximum_Red:#D92121;
$CRAYOLA_Indian_Red:#B94E48;
$CRAYOLA_Orange-Red:#FF5349;
$CRAYOLA_Sunset_Orange:#FE4C40;
$CRAYOLA_Bittersweet:#FE6F5E;
$CRAYOLA_Dark_Venetian_Red:#B33B24;
$CRAYOLA_Venetian_Red:#CC553D;
$CRAYOLA_Light_Venetian_Red:#E6735C;
$CRAYOLA_Vivid_Tangerine:#FF9980;
$CRAYOLA_Middle_Red:#E58E73;
$CRAYOLA_Burnt_Orange:#FF7F49;
$CRAYOLA_Red-Orange:#FF681F;
$CRAYOLA_Orange:#FF8833;
$CRAYOLA_Macaroni_and_Cheese:#FFB97B;
$CRAYOLA_Middle_Yellow_Red:#ECB176;
$CRAYOLA_Mango_Tango:#E77200;
$CRAYOLA_Yellow-Orange:#FFAE42;
$CRAYOLA_Maximum_Yellow_Red:#F2BA49;
$CRAYOLA_Banana_Mania:#FBE7B2;
$CRAYOLA_Maize:#F2C649;
$CRAYOLA_Orange-Yellow:#F8D568;
$CRAYOLA_Goldenrod:#FCD667;
$CRAYOLA_Dandelion:#FED85D;
$CRAYOLA_Yellow:#FBE870;
$CRAYOLA_Green-Yellow:#F1E788;
$CRAYOLA_Middle_Yellow:#FFEB00;
$CRAYOLA_Olive_Green:#B5B35C;
$CRAYOLA_Spring_Green:#ECEBBD;
$CRAYOLA_Maximum_Yellow:#FAFA37;
$CRAYOLA_Canary:#FFFF99;
$CRAYOLA_Lemon_Yellow:#FFFF9F;
$CRAYOLA_Maximum_Green_Yellow:#D9E650;
$CRAYOLA_Middle_Green_Yellow:#ACBF60;
$CRAYOLA_Inchworm:#AFE313;
$CRAYOLA_Light_Chrome_Green:#BEE64B;
$CRAYOLA_Yellow-Green:#C5E17A;
$CRAYOLA_Maximum_Green:#5E8C31;
$CRAYOLA_Asparagus:#7BA05B;
$CRAYOLA_Granny_Smith_Apple:#9DE093;
$CRAYOLA_Fern:#63B76C;
$CRAYOLA_Middle_Green:#4D8C57;
$CRAYOLA_Green:#3AA655;
$CRAYOLA_Medium_Chrome_Green:#6CA67C;
$CRAYOLA_Forest_Green:#5FA777;
$CRAYOLA_Sea_Green:#93DFB8;
$CRAYOLA_Shamrock:#33CC99;
$CRAYOLA_Mountain_Meadow:#1AB385;
$CRAYOLA_Jungle_Green:#29AB87;
$CRAYOLA_Caribbean_Green:#00CC99;
$CRAYOLA_Tropical_Rain_Forest:#00755E;
$CRAYOLA_Middle_Blue_Green:#8DD9CC;
$CRAYOLA_Pine_Green:#01786F;
$CRAYOLA_Maximum_Blue_Green:#30BFBF;
$CRAYOLA_Robins_Egg_Blue:#00CCCC;
$CRAYOLA_Teal_Blue:#008080;
$CRAYOLA_Light_Blue:#8FD8D8;
$CRAYOLA_Aquamarine:#95E0E8;
$CRAYOLA_Turquoise_Blue:#6CDAE7;
$CRAYOLA_Outer_Space:#2D383A;
$CRAYOLA_Sky_Blue:#76D7EA;
$CRAYOLA_Middle_Blue:#7ED4E6;
$CRAYOLA_Blue-Green:#0095B7;
$CRAYOLA_Pacific_Blue:#009DC4;
$CRAYOLA_Cerulean:#02A4D3;
$CRAYOLA_Maximum_Blue:#47ABCC;
$CRAYOLA_Blue_1:#4997D0;
$CRAYOLA_Cerulean_Blue:#339ACC;
$CRAYOLA_Cornflower:#93CCEA;
$CRAYOLA_Green-Blue:#2887C8;
$CRAYOLA_Midnight_Blue:#00468C;
$CRAYOLA_Navy_Blue:#0066CC;
$CRAYOLA_Denim:#1560BD;
$CRAYOLA_Blue_3:#0066FF;
$CRAYOLA_Cadet_Blue:#A9B2C3;
$CRAYOLA_Periwinkle:#C3CDE6;
$CRAYOLA_Blue_2:#4570E6;
$CRAYOLA_Wild_Blue_Yonder:#7A89B8;
$CRAYOLA_Indigo:#4F69C6;
$CRAYOLA_Manatee:#8D90A1;
$CRAYOLA_Cobalt_Blue:#8C90C8;
$CRAYOLA_Celestial_Blue:#7070CC;
$CRAYOLA_Blue_Bell:#9999CC;
$CRAYOLA_Maximum_Blue_Purple:#ACACE6;
$CRAYOLA_Violet-Blue:#766EC8;
$CRAYOLA_Blue-Violet:#6456B7;
$CRAYOLA_Ultramarine_Blue:#3F26BF;
$CRAYOLA_Middle_Blue_Purple:#8B72BE;
$CRAYOLA_Purple_Heart:#652DC1;
$CRAYOLA_Royal_Purple:#6B3FA0;
$CRAYOLA_Violet_2:#8359A3;
$CRAYOLA_Medium_Violet:#8F47B3;
$CRAYOLA_Wisteria:#C9A0DC;
$CRAYOLA_Lavender_1:#BF8FCC;
$CRAYOLA_Vivid_Violet:#803790;
$CRAYOLA_Maximum_Purple:#733380;
$CRAYOLA_Purple_Mountains_Majesty:#D6AEDD;
$CRAYOLA_Fuchsia:#C154C1;
$CRAYOLA_Pink_Flamingo:#FC74FD;
$CRAYOLA_Violet_1:#732E6C;
$CRAYOLA_Brilliant_Rose:#E667CE;
$CRAYOLA_Orchid:#E29CD2;
$CRAYOLA_Plum:#8E3179;
$CRAYOLA_Medium_Rose:#D96CBE;
$CRAYOLA_Thistle:#EBB0D7;
$CRAYOLA_Mulberry:#C8509B;
$CRAYOLA_Red-Violet:#BB3385;
$CRAYOLA_Middle_Purple:#D982B5;
$CRAYOLA_Maximum_Red_Purple:#A63A79;
$CRAYOLA_Jazzberry_Jam:#A50B5E;
$CRAYOLA_Eggplant:#614051;
$CRAYOLA_Magenta:#F653A6;
$CRAYOLA_Cerise:#DA3287;
$CRAYOLA_Wild_Strawberry:#FF3399;
$CRAYOLA_Lavender_2:#FBAED2;
$CRAYOLA_Cotton_Candy:#FFB7D5;
$CRAYOLA_Carnation_Pink:#FFA6C9;
$CRAYOLA_Violet-Red:#F7468A;
$CRAYOLA_Razzmatazz:#E30B5C;
$CRAYOLA_Pig_Pink:#FDD7E4;
$CRAYOLA_Carmine:#E62E6B;
$CRAYOLA_Blush:#DB5079;
$CRAYOLA_Tickle_Me_Pink:#FC80A5;
$CRAYOLA_Mauvelous:#F091A9;
$CRAYOLA_Salmon:#FF91A4;
$CRAYOLA_Middle_Red_Purple:#A55353;
$CRAYOLA_Mahogany:#CA3435;
$CRAYOLA_Melon:#FEBAAD;
$CRAYOLA_Pink_Sherbert:#F7A38E;
$CRAYOLA_Burnt_Sienna:#E97451;
$CRAYOLA_Brown:#AF593E;
$CRAYOLA_Sepia:#9E5B40;
$CRAYOLA_Fuzzy_Wuzzy:#87421F;
$CRAYOLA_Beaver:#926F5B;
$CRAYOLA_Tumbleweed:#DEA681;
$CRAYOLA_Raw_Sienna:#D27D46;
$CRAYOLA_Van_Dyke_Brown:#664228;
$CRAYOLA_Tan:#D99A6C;
$CRAYOLA_Desert_Sand:#EDC9AF;
$CRAYOLA_Peach:#FFCBA4;
$CRAYOLA_Burnt_Umber:#805533;
$CRAYOLA_Apricot:#FDD5B1;
$CRAYOLA_Almond:#EED9C4;
$CRAYOLA_Raw_Umber:#665233;
$CRAYOLA_Shadow:#837050;
$CRAYOLA_Raw_Sienna_1:#E6BC5C;
$CRAYOLA_Timberwolf:#D9D6CF;
$CRAYOLA_Gold_1:#92926E;
$CRAYOLA_Gold_2:#E6BE8A;
$CRAYOLA_Silver:#C9C0BB;
$CRAYOLA_Copper:#DA8A67;
$CRAYOLA_Antique_Brass:#C88A65;
$CRAYOLA_Black:#000000;
$CRAYOLA_Charcoal_Gray:#736A62;
$CRAYOLA_Gray:#8B8680;
$CRAYOLA_Blue-Gray:#C8C8CD;

