/**
Colors - ISCC/NBS

ISCC-NBS is a system for color names based on a set of 12 color terms and a small set of adjectives.
It was first established by ISCC (Inter-Society Color Council) in the 1930s by delegates from American trade organizations and the National Bureau of Standards.
"To be a means of designating colors in the United States Pharmacopoeia, in the National Formulary, and in general literature ... to be standardized as to be acceptable and usable by science, sufficiently broad to be appreciated and used by science, art, and industry, and sufficiently commonplace to be understood, at least in a general way, by the whole public."
*/

$ISCC_NBS_Vivid_Pink:#ffb5ba;
$ISCC_NBS_Strong_Pink:#ea9399;
$ISCC_NBS_Deep_Pink:#e4717a;
$ISCC_NBS_Light_Pink:#f9ccca;
$ISCC_NBS_Moderate_Pink:#dea5a4;
$ISCC_NBS_Dark_Pink:#c08081;
$ISCC_NBS_Pale_Pink:#ead8d7;
$ISCC_NBS_Grayish_Pink:#c4aead;
$ISCC_NBS_Pinkish_White:#eae3e1;
$ISCC_NBS_Pinkish_Gray:#c1b6b3;
$ISCC_NBS_Vivid_Red:#be0032;
$ISCC_NBS_Strong_Red:#bc3f4a;
$ISCC_NBS_Deep_Red:#841b2d;
$ISCC_NBS_Very_Deep_Red:#5c0923;
$ISCC_NBS_Moderate_Red:#ab4e52;
$ISCC_NBS_Dark_Red:#722f37;
$ISCC_NBS_Very_Dark_Red:#3f1728;
$ISCC_NBS_Light_Grayish_Red:#ad8884;
$ISCC_NBS_Grayish_Red:#905d5d;
$ISCC_NBS_Dark_Grayish_Red:#543d3f;
$ISCC_NBS_Blackish_Red:#2e1d21;
$ISCC_NBS_Reddish_Gray:#8f817f;
$ISCC_NBS_Dark_Reddish_Gray:#5c504f;
$ISCC_NBS_Reddish_Black:#282022;
$ISCC_NBS_Vivid_Yellowish_Pink:#ffb7a5;
$ISCC_NBS_Strong_Yellowish_Pink:#f99379;
$ISCC_NBS_Deep_Yellowish_Pink:#e66721;
$ISCC_NBS_Light_Yellowish_Pink:#f4c2c2;
$ISCC_NBS_Moderate_Yellowish_Pink:#d9a6a9;
$ISCC_NBS_Dark_Yellowish_Pink:#c48379;
$ISCC_NBS_Pale_Yellowish_Pink:#ecd5c5;
$ISCC_NBS_Grayish_Yellowish_Pink:#c7ada3;
$ISCC_NBS_Brownish_Pink:#c2ac99;
$ISCC_NBS_Vivid_Reddish_Orange:#e25822;
$ISCC_NBS_Strong_Reddish_Orange:#d9603b;
$ISCC_NBS_Deep_Reddish_Orange:#aa381e;
$ISCC_NBS_Moderate_Reddish_Orange:#cb6d51;
$ISCC_NBS_Dark_Reddish_Orange:#9e4732;
$ISCC_NBS_Grayish_Reddish_Orange:#b4745e;
$ISCC_NBS_Strong_Reddish_Brown:#882d17;
$ISCC_NBS_Deep_Reddish_Brown:#56070c;
$ISCC_NBS_Light_Reddish_Brown:#a87c6d;
$ISCC_NBS_Moderate_Reddish_Brown:#79443b;
$ISCC_NBS_Dark_Reddish_Brown:#3e1d1e;
$ISCC_NBS_Light_Grayish_Reddish_Brown:#977f73;
$ISCC_NBS_Grayish_Reddish_Brown:#674c47;
$ISCC_NBS_Dark_Grayish_Reddish_Brown:#43302e;
$ISCC_NBS_Vivid_Orange:#f38400;
$ISCC_NBS_Brilliant_Orange:#fd943f;
$ISCC_NBS_Strong_Orange:#ed872d;
$ISCC_NBS_Deep_Orange:#be6516;
$ISCC_NBS_Light_Orange:#fab57f;
$ISCC_NBS_Moderate_Orange:#d99058;
$ISCC_NBS_Brownish_Orange:#ae6938;
$ISCC_NBS_Strong_Brown:#80461b;
$ISCC_NBS_Deep_Brown:#593319;
$ISCC_NBS_Light_Brown:#a67b5b;
$ISCC_NBS_Moderate_Brown:#6f4e37;
$ISCC_NBS_Dark_Brown:#422518;
$ISCC_NBS_Light_Grayish_Brown:#958070;
$ISCC_NBS_Grayish_Brown:#635147;
$ISCC_NBS_Dark_Grayish_Brown:#3e322c;
$ISCC_NBS_Light_Brownish_Gray:#8e8279;
$ISCC_NBS_Brownish_Gray:#5b504f;
$ISCC_NBS_Brownish_Black:#28201c;
$ISCC_NBS_Vivid_Orange_Yellow:#f6a600;
$ISCC_NBS_Brilliant_Orange_Yellow:#ffc14f;
$ISCC_NBS_Strong_Orange_Yellow:#eaa221;
$ISCC_NBS_Deep_Orange_Yellow:#c98500;
$ISCC_NBS_Light_Orange_Yellow:#fbc97f;
$ISCC_NBS_Moderate_Orange_Yellow:#e3a857;
$ISCC_NBS_Dark_Orange_Yellow:#be8a3d;
$ISCC_NBS_Pale_Orange_Yellow:#fad6a5;
$ISCC_NBS_Strong_Yellowish_Brown:#996515;
$ISCC_NBS_Deep_Yellowish_Brown:#654522;
$ISCC_NBS_Light_Yellowish_Brown:#c19a6b;
$ISCC_NBS_Moderate_Yellowish_Brown:#826644;
$ISCC_NBS_Dark_Yellowish_Brown:#4b3621;
$ISCC_NBS_Light_Grayish_Yellowish_Brown:#ae9b82;
$ISCC_NBS_Grayish_Yellowish_Brown:#7e6d5a;
$ISCC_NBS_Dark_Grayish_Yellowish_Brown:#483c32;
$ISCC_NBS_Vivid_Yellow:#f3c300;
$ISCC_NBS_Brilliant_Yellow:#fada5e;
$ISCC_NBS_Strong_Yellow:#d4af37;
$ISCC_NBS_Deep_Yellow:#af8d13;
$ISCC_NBS_Light_Yellow:#f8de7e;
$ISCC_NBS_Moderate_Yellow:#c9ae5d;
$ISCC_NBS_Dark_Yellow:#ab9144;
$ISCC_NBS_Pale_Yellow:#f3e5ab;
$ISCC_NBS_Grayish_Yellow:#c2b280;
$ISCC_NBS_Dark_Grayish_Yellow:#a18f60;
$ISCC_NBS_Yellowish_White:#f0ead6;
$ISCC_NBS_Yellowish_Gray:#bfb8a5;
$ISCC_NBS_Light_Olive_Brown:#967117;
$ISCC_NBS_Moderate_Olive_Brown:#6c541e;
$ISCC_NBS_Dark_Olive_Brown:#3b3121;
$ISCC_NBS_Vivid_Greenish_Yellow:#dcd300;
$ISCC_NBS_Brilliant_Greenish_Yellow:#e9e450;
$ISCC_NBS_Strong_Greenish_Yellow:#beb72e;
$ISCC_NBS_Deep_Greenish_Yellow:#9b9400;
$ISCC_NBS_Light_Greenish_Yellow:#eae679;
$ISCC_NBS_Moderate_Greenish_Yellow:#b9b459;
$ISCC_NBS_Dark_Greenish_Yellow:#98943e;
$ISCC_NBS_Pale_Greenish_Yellow:#ebe8a4;
$ISCC_NBS_Grayish_Greenish_Yellow:#b9b57d;
$ISCC_NBS_Light_Olive:#867e36;
$ISCC_NBS_Moderate_Olive:#665d1e;
$ISCC_NBS_Dark_Olive:#403d21;
$ISCC_NBS_Light_Grayish_Olive:#8c8767;
$ISCC_NBS_Grayish_Olive:#5b5842;
$ISCC_NBS_Dark_Grayish_Olive:#363527;
$ISCC_NBS_Light_Olive_Gray:#8a8776;
$ISCC_NBS_Olive_Gray:#57554c;
$ISCC_NBS_Olive_Black:#25241d;
$ISCC_NBS_Vivid_Yellow_Green:#8db600;
$ISCC_NBS_Brilliant_Yellow_Green:#bdda57;
$ISCC_NBS_Strong_Yellow_Green:#7e9f2e;
$ISCC_NBS_Deep_Yellow_Green:#467129;
$ISCC_NBS_Light_Yellow_Green:#c9dc89;
$ISCC_NBS_Moderate_Yellow_Green:#8a9a5b;
$ISCC_NBS_Pale_Yellow_Green:#dadfb7;
$ISCC_NBS_Grayish_Yellow_Green:#8f9779;
$ISCC_NBS_Strong_Olive_Green:#404f00;
$ISCC_NBS_Deep_Olive_Green:#232f00;
$ISCC_NBS_Moderate_Olive_Green:#4a5d23;
$ISCC_NBS_Dark_Olive_Green:#2b3d26;
$ISCC_NBS_Grayish_Olive_Green:#515744;
$ISCC_NBS_Dark_Grayish_Olive_Green:#31362b;
$ISCC_NBS_Vivid_Yellowish_Green:#27a64c;
$ISCC_NBS_Brilliant_Yellowish_Green:#83d37d;
$ISCC_NBS_Strong_Yellowish_Green:#44944a;
$ISCC_NBS_Deep_Yellowish_Green:#00622d;
$ISCC_NBS_Very_Deep_Yellowish_Green:#003118;
$ISCC_NBS_Very_Light_Yellowish_Green:#b6e5af;
$ISCC_NBS_Light_Yellowish_Green:#93c592;
$ISCC_NBS_Moderate_Yellowish_Green:#679267;
$ISCC_NBS_Dark_Yellowish_Green:#355e3b;
$ISCC_NBS_Very_Dark_Yellowish_Green:#173620;
$ISCC_NBS_Vivid_Green:#008856;
$ISCC_NBS_Brilliant_Green:#3eb489;
$ISCC_NBS_Strong_Green:#007959;
$ISCC_NBS_Deep_Green:#00543d;
$ISCC_NBS_Very_Light_Green:#8ed1b2;
$ISCC_NBS_Light_Green:#6aab8e;
$ISCC_NBS_Moderate_Green:#3b7861;
$ISCC_NBS_Dark_Green:#1b4d3e;
$ISCC_NBS_Very_Dark_Green:#1c352d;
$ISCC_NBS_Very_Pale_Green:#c7e6d7;
$ISCC_NBS_Pale_Green:#8da399;
$ISCC_NBS_Grayish_Green:#5e716a;
$ISCC_NBS_Dark_Grayish_Green:#3a4b47;
$ISCC_NBS_Blackish_Green:#1a2421;
$ISCC_NBS_Greenish_White:#dfede8;
$ISCC_NBS_Light_Greenish_Gray:#b2beb5;
$ISCC_NBS_Greenish_Gray:#7d8984;
$ISCC_NBS_Dark_Greenish_Gray:#4e5755;
$ISCC_NBS_Greenish_Black:#1e2321;
$ISCC_NBS_Vivid_Bluish_Green:#008882;
$ISCC_NBS_Brilliant_Bluish_Green:#00a693;
$ISCC_NBS_Strong_Bluish_Green:#007a74;
$ISCC_NBS_Deep_Bluish_Green:#00443f;
$ISCC_NBS_Very_Light_Bluish_Green:#96ded1;
$ISCC_NBS_Light_Bluish_Green:#66ada4;
$ISCC_NBS_Moderate_Bluish_Green:#317873;
$ISCC_NBS_Dark_Bluish_Green:#004b49;
$ISCC_NBS_Very_Dark_Bluish_Green:#002a29;
$ISCC_NBS_Vivid_Greenish_Blue:#0085a1;
$ISCC_NBS_Brilliant_Greenish_Blue:#239eba;
$ISCC_NBS_Strong_Greenish_Blue:#007791;
$ISCC_NBS_Deep_Greenish_Blue:#2e8495;
$ISCC_NBS_Very_Light_Greenish_Blue:#9cd1dc;
$ISCC_NBS_Light_Greenish_Blue:#66aabc;
$ISCC_NBS_Moderate_Greenish_Blue:#367588;
$ISCC_NBS_Dark_Greenish_Blue:#004958;
$ISCC_NBS_Very_Dark_Greenish_Blue:#002e3b;
$ISCC_NBS_Vivid_Blue:#00a1c2;
$ISCC_NBS_Brilliant_Blue:#4997d0;
$ISCC_NBS_Strong_Blue:#0067a5;
$ISCC_NBS_Deep_Blue:#00416a;
$ISCC_NBS_Very_Light_Blue:#a1caf1;
$ISCC_NBS_Light_Blue:#70a3cc;
$ISCC_NBS_Moderate_Blue:#436b95;
$ISCC_NBS_Dark_Blue:#00304e;
$ISCC_NBS_Very_Pale_Blue:#bcd4e6;
$ISCC_NBS_Pale_Blue:#91a3b0;
$ISCC_NBS_Grayish_Blue:#536878;
$ISCC_NBS_Dark_Grayish_Blue:#36454f;
$ISCC_NBS_Blackish_Blue:#202830;
$ISCC_NBS_Bluish_White:#e9e9ed;
$ISCC_NBS_Light_Bluish_Gray:#b4bcc0;
$ISCC_NBS_Bluish_Gray:#81878b;
$ISCC_NBS_Dark_Bluish_Gray:#51585e;
$ISCC_NBS_Bluish_Black:#202428;
$ISCC_NBS_Vivid_Purplish_Blue:#30267a;
$ISCC_NBS_Brilliant_Purplish_Blue:#6c79b8;
$ISCC_NBS_Strong_Purplish_Blue:#545aa7;
$ISCC_NBS_Deep_Purplish_Blue:#272458;
$ISCC_NBS_Very_Light_Purplish_Blue:#b3bce2;
$ISCC_NBS_Light_Purplish_Blue:#8791bf;
$ISCC_NBS_Moderate_Purplish_Blue:#4e5180;
$ISCC_NBS_Dark_Purplish_Blue:#252440;
$ISCC_NBS_Very_Pale_Purplish_Blue:#c0c8e1;
$ISCC_NBS_Pale_Purplish_Blue:#8c92ac;
$ISCC_NBS_Grayish_Purplish_Blue:#4c516d;
$ISCC_NBS_Vivid_Violet:#9065ca;
$ISCC_NBS_Brilliant_Violet:#7e73b8;
$ISCC_NBS_Strong_Violet:#604e97;
$ISCC_NBS_Deep_Violet:#32174d;
$ISCC_NBS_Very_Light_Violet:#dcd0ff;
$ISCC_NBS_Light_Violet:#8c82b6;
$ISCC_NBS_Moderate_Violet:#604e81;
$ISCC_NBS_Dark_Violet:#2f2140;
$ISCC_NBS_Very_Pale_Violet:#c4c3dd;
$ISCC_NBS_Pale_Violet:#9690ab;
$ISCC_NBS_Grayish_Violet:#554c69;
$ISCC_NBS_Vivid_Purple:#9a4eae;
$ISCC_NBS_Brilliant_Purple:#d399e6;
$ISCC_NBS_Strong_Purple:#875692;
$ISCC_NBS_Deep_Purple:#602f6b;
$ISCC_NBS_Very_Deep_Purple:#401a4c;
$ISCC_NBS_Very_Light_Purple:#d5badb;
$ISCC_NBS_Light_Purple:#b695c0;
$ISCC_NBS_Moderate_Purple:#86608e;
$ISCC_NBS_Dark_Purple:#563c5c;
$ISCC_NBS_Very_Dark_Purple:#301934;
$ISCC_NBS_Very_Pale_Purple:#d6cadd;
$ISCC_NBS_Pale_Purple:#aa98a9;
$ISCC_NBS_Grayish_Purple:#796878;
$ISCC_NBS_Dark_Grayish_Purple:#50404d;
$ISCC_NBS_Blackish_Purple:#291e29;
$ISCC_NBS_Purplish_White:#e8e3e5;
$ISCC_NBS_Light_Purplish_Gray:#bfb9bd;
$ISCC_NBS_Purplish_Gray:#8b8589;
$ISCC_NBS_Dark_Purplish_Gray:#5d555b;
$ISCC_NBS_Purplish_Black:#242124;
$ISCC_NBS_Vivid_Reddish_Purple:#870074;
$ISCC_NBS_Strong_Reddish_Purple:#9e4f88;
$ISCC_NBS_Deep_Reddish_Purple:#702963;
$ISCC_NBS_Very_Deep_Reddish_Purple:#54194e;
$ISCC_NBS_Light_Reddish_Purple:#b784a7;
$ISCC_NBS_Moderate_Reddish_Purple:#915c83;
$ISCC_NBS_Dark_Reddish_Purple:#5d3954;
$ISCC_NBS_Very_Dark_Reddish_Purple:#341731;
$ISCC_NBS_Pale_Reddish_Purple:#aa8a9e;
$ISCC_NBS_Grayish_Reddish_Purple:#836479;
$ISCC_NBS_Brilliant_Purplish_Pink:#ffc8d6;
$ISCC_NBS_Strong_Purplish_Pink:#e68fac;
$ISCC_NBS_Deep_Purplish_Pink:#de6fa1;
$ISCC_NBS_Light_Purplish_Pink:#efbbcc;
$ISCC_NBS_Moderate_Purplish_Pink:#d597ae;
$ISCC_NBS_Dark_Purplish_Pink:#c17e91;
$ISCC_NBS_Pale_Purplish_Pink:#e8ccd7;
$ISCC_NBS_Grayish_Purplish_Pink:#c3a6b1;
$ISCC_NBS_Vivid_Purplish_Red:#ce4676;
$ISCC_NBS_Strong_Purplish_Red:#b3446c;
$ISCC_NBS_Deep_Purplish_Red:#78184a;
$ISCC_NBS_Very_Deep_Purplish_Red:#54133b;
$ISCC_NBS_Moderate_Purplish_Red:#a8516e;
$ISCC_NBS_Dark_Purplish_Red:#673147;
$ISCC_NBS_Very_Dark_Purplish_Red:#38152c;
$ISCC_NBS_Light_Grayish_Purplish_Red:#af868e;
$ISCC_NBS_Grayish_Purplish_Red:#915f6d;
$ISCC_NBS_White:#f2f3f4;
$ISCC_NBS_Light_Gray:#b9b8b5;
$ISCC_NBS_Medium_Gray:#848482;
$ISCC_NBS_Dark_Gray:#555555;
$ISCC_NBS_Black:#222222;