$MATERIAL_red_50:#ffebee;
$MATERIAL_red_100:#ffcdd2;
$MATERIAL_red_200:#ef9a9a;
$MATERIAL_red_300:#e57373;
$MATERIAL_red_400:#ef5350;
$MATERIAL_red_500:#f44336;
$MATERIAL_red_600:#e53935;
$MATERIAL_red_700:#d32f2f;
$MATERIAL_red_800:#c62828;
$MATERIAL_red_900:#b71c1c;
$MATERIAL_red_a100:#ff8a80;
$MATERIAL_red_a200:#ff5252;
$MATERIAL_red_a400:#ff1744;
$MATERIAL_red_a700:#d50000
$MATERIAL_pink_50:#fce4ec;
$MATERIAL_pink_100:#f8bbd0;
$MATERIAL_pink_200:#f48fb1;
$MATERIAL_pink_300:#f06292;
$MATERIAL_pink_400:#ec407a;
$MATERIAL_pink_500:#e91e63;
$MATERIAL_pink_600:#d81b60;
$MATERIAL_pink_700:#c2185b;
$MATERIAL_pink_800:#ad1457;
$MATERIAL_pink_900:#880e4f;
$MATERIAL_pink_a100:#ff80ab;
$MATERIAL_pink_a200:#ff4081;
$MATERIAL_pink_a400:#f50057;
$MATERIAL_pink_a700:#c51162
$MATERIAL_purple_50:#f3e5f5;
$MATERIAL_purple_100:#e1bee7;
$MATERIAL_purple_200:#ce93d8;
$MATERIAL_purple_300:#ba68c8;
$MATERIAL_purple_400:#ab47bc;
$MATERIAL_purple_500:#9c27b0;
$MATERIAL_purple_600:#8e24aa;
$MATERIAL_purple_700:#7b1fa2;
$MATERIAL_purple_800:#6a1b9a;
$MATERIAL_purple_900:#4a148c;
$MATERIAL_purple_a100:#ea80fc;
$MATERIAL_purple_a200:#e040fb;
$MATERIAL_purple_a400:#d500f9;
$MATERIAL_purple_a700:#aa00ff;
$MATERIAL_deep_purple_50:#ede7f6;
$MATERIAL_deep_purple_100:#d1c4e9;
$MATERIAL_deep_purple_200:#b39ddb;
$MATERIAL_deep_purple_300:#9575cd;
$MATERIAL_deep_purple_400:#7e57c2;
$MATERIAL_deep_purple_500:#673ab7;
$MATERIAL_deep_purple_600:#5e35b1;
$MATERIAL_deep_purple_700:#512da8;
$MATERIAL_deep_purple_800:#4527a0;
$MATERIAL_deep_purple_900:#311b92;
$MATERIAL_deep_purple_a100:#b388ff;
$MATERIAL_deep_purple_a200:#7c4dff;
$MATERIAL_deep_purple_a400:#651fff;
$MATERIAL_deep_purple_a700:#6200ea;
$MATERIAL_indigo_50:#e8eaf6;
$MATERIAL_indigo_100:#c5cae9;
$MATERIAL_indigo_200:#9fa8da;
$MATERIAL_indigo_300:#7986cb;
$MATERIAL_indigo_400:#5c6bc0;
$MATERIAL_indigo_500:#3f51b5;
$MATERIAL_indigo_600:#3949ab;
$MATERIAL_indigo_700:#303f9f;
$MATERIAL_indigo_800:#283593;
$MATERIAL_indigo_900:#1a237e;
$MATERIAL_indigo_a100:#8c9eff;
$MATERIAL_indigo_a200:#536dfe;
$MATERIAL_indigo_a400:#3d5afe;
$MATERIAL_indigo_a700:#304ffe;
$MATERIAL_blue_50:#e3f2fd;
$MATERIAL_blue_100:#bbdefb;
$MATERIAL_blue_200:#90caf9;
$MATERIAL_blue_300:#64b5f6;
$MATERIAL_blue_400:#42a5f5;
$MATERIAL_blue_500:#2196f3;
$MATERIAL_blue_600:#1e88e5;
$MATERIAL_blue_700:#1976d2;
$MATERIAL_blue_800:#1565c0;
$MATERIAL_blue_900:#0d47a1;
$MATERIAL_blue_a100:#82b1ff;
$MATERIAL_blue_a200:#448aff;
$MATERIAL_blue_a400:#2979ff;
$MATERIAL_blue_a700:#2962ff;
$MATERIAL_light_blue_50:#e1f5fe;
$MATERIAL_light_blue_100:#b3e5fc;
$MATERIAL_light_blue_200:#81d4fa;
$MATERIAL_light_blue_300:#4fc3f7;
$MATERIAL_light_blue_400:#29b6f6;
$MATERIAL_light_blue_500:#03a9f4;
$MATERIAL_light_blue_600:#039be5;
$MATERIAL_light_blue_700:#0288d1;
$MATERIAL_light_blue_800:#0277bd;
$MATERIAL_light_blue_900:#01579b;
$MATERIAL_light_blue_a100:#80d8ff;
$MATERIAL_light_blue_a200:#40c4ff;
$MATERIAL_light_blue_a400:#00b0ff;
$MATERIAL_light_blue_a700:#0091ea;
$MATERIAL_cyan_50:#e0f7fa;
$MATERIAL_cyan_100:#b2ebf2;
$MATERIAL_cyan_200:#80deea;
$MATERIAL_cyan_300:#4dd0e1;
$MATERIAL_cyan_400:#26c6da;
$MATERIAL_cyan_500:#00bcd4;
$MATERIAL_cyan_600:#00acc1;
$MATERIAL_cyan_700:#0097a7;
$MATERIAL_cyan_800:#00838f;
$MATERIAL_cyan_900:#006064;
$MATERIAL_cyan_a100:#84ffff;
$MATERIAL_cyan_a200:#18ffff;
$MATERIAL_cyan_a400:#00e5ff;
$MATERIAL_cyan_a700:#00b8d4;
$MATERIAL_teal_50:#e0f2f1;
$MATERIAL_teal_100:#b2dfdb;
$MATERIAL_teal_200:#80cbc4;
$MATERIAL_teal_300:#4db6ac;
$MATERIAL_teal_400:#26a69a;
$MATERIAL_teal_500:#009688;
$MATERIAL_teal_600:#00897b;
$MATERIAL_teal_700:#00796b;
$MATERIAL_teal_800:#00695c;
$MATERIAL_teal_900:#004d40;
$MATERIAL_teal_a100:#a7ffeb;
$MATERIAL_teal_a200:#64ffda;
$MATERIAL_teal_a400:#1de9b6;
$MATERIAL_teal_a700:#00bfa5;
$MATERIAL_green_50:#e8f5e9;
$MATERIAL_green_100:#c8e6c9;
$MATERIAL_green_200:#a5d6a7;
$MATERIAL_green_300:#81c784;
$MATERIAL_green_400:#66bb6a;
$MATERIAL_green_500:#4caf50;
$MATERIAL_green_600:#43a047;
$MATERIAL_green_700:#388e3c;
$MATERIAL_green_800:#2e7d32;
$MATERIAL_green_900:#1b5e20;
$MATERIAL_green_a100:#b9f6ca;
$MATERIAL_green_a200:#69f0ae;
$MATERIAL_green_a400:#00e676;
$MATERIAL_green_a700:#00c853;
$MATERIAL_light_green_50:#f1f8e9;
$MATERIAL_light_green_100:#dcedc8;
$MATERIAL_light_green_200:#c5e1a5;
$MATERIAL_light_green_300:#aed581;
$MATERIAL_light_green_400:#9ccc65;
$MATERIAL_light_green_500:#8bc34a;
$MATERIAL_light_green_600:#7cb342;
$MATERIAL_light_green_700:#689f38;
$MATERIAL_light_green_800:#558b2f;
$MATERIAL_light_green_900:#33691e;
$MATERIAL_light_green_a100:#ccff90;
$MATERIAL_light_green_a200:#b2ff59;
$MATERIAL_light_green_a400:#76ff03;
$MATERIAL_light_green_a700:#64dd17;
$MATERIAL_lime_50:#f9fbe7;
$MATERIAL_lime_100:#f0f4c3;
$MATERIAL_lime_200:#e6ee9c;
$MATERIAL_lime_300:#dce775;
$MATERIAL_lime_400:#d4e157;
$MATERIAL_lime_500:#cddc39;
$MATERIAL_lime_600:#c0ca33;
$MATERIAL_lime_700:#afb42b;
$MATERIAL_lime_800:#9e9d24;
$MATERIAL_lime_900:#827717;
$MATERIAL_lime_a100:#f4ff81;
$MATERIAL_lime_a200:#eeff41;
$MATERIAL_lime_a400:#c6ff00;
$MATERIAL_lime_a700:#aeea00;
$MATERIAL_yellow_50:#fffde7;
$MATERIAL_yellow_100:#fff9c4;
$MATERIAL_yellow_200:#fff59d;
$MATERIAL_yellow_300:#fff176;
$MATERIAL_yellow_400:#ffee58;
$MATERIAL_yellow_500:#ffeb3b;
$MATERIAL_yellow_600:#fdd835;
$MATERIAL_yellow_700:#fbc02d;
$MATERIAL_yellow_800:#f9a825;
$MATERIAL_yellow_900:#f57f17;
$MATERIAL_yellow_a100:#ffff8d;
$MATERIAL_yellow_a200:#ffff00;
$MATERIAL_yellow_a400:#ffea00;
$MATERIAL_yellow_a700:#ffd600;
$MATERIAL_amber_50:#fff8e1;
$MATERIAL_amber_100:#ffecb3;
$MATERIAL_amber_200:#ffe082;
$MATERIAL_amber_300:#ffd54f;
$MATERIAL_amber_400:#ffca28;
$MATERIAL_amber_500:#ffc107;
$MATERIAL_amber_600:#ffb300;
$MATERIAL_amber_700:#ffa000;
$MATERIAL_amber_800:#ff8f00;
$MATERIAL_amber_900:#ff6f00;
$MATERIAL_amber_a100:#ffe57f;
$MATERIAL_amber_a200:#ffd740;
$MATERIAL_amber_a400:#ffc400;
$MATERIAL_amber_a700:#ffab00;
$MATERIAL_orange_50:#fff3e0;
$MATERIAL_orange_100:#ffe0b2;
$MATERIAL_orange_200:#ffcc80;
$MATERIAL_orange_300:#ffb74d;
$MATERIAL_orange_400:#ffa726;
$MATERIAL_orange_500:#ff9800;
$MATERIAL_orange_600:#fb8c00;
$MATERIAL_orange_700:#f57c00;
$MATERIAL_orange_800:#ef6c00;
$MATERIAL_orange_900:#e65100;
$MATERIAL_orange_a100:#ffd180;
$MATERIAL_orange_a200:#ffab40;
$MATERIAL_orange_a400:#ff9100;
$MATERIAL_orange_a700:#ff6d00;
$MATERIAL_deep_orange_50:#fbe9e7;
$MATERIAL_deep_orange_100:#ffccbc;
$MATERIAL_deep_orange_200:#ffab91;
$MATERIAL_deep_orange_300:#ff8a65;
$MATERIAL_deep_orange_400:#ff7043;
$MATERIAL_deep_orange_500:#ff5722;
$MATERIAL_deep_orange_600:#f4511e;
$MATERIAL_deep_orange_700:#e64a19;
$MATERIAL_deep_orange_800:#d84315;
$MATERIAL_deep_orange_900:#bf360c;
$MATERIAL_deep_orange_a100:#ff9e80;
$MATERIAL_deep_orange_a200:#ff6e40;
$MATERIAL_deep_orange_a400:#ff3d00;
$MATERIAL_deep_orange_a700:#dd2c00;
$MATERIAL_brown_50:#efebe9;
$MATERIAL_brown_100:#d7ccc8;
$MATERIAL_brown_200:#bcaaa4;
$MATERIAL_brown_300:#a1887f;
$MATERIAL_brown_400:#8d6e63;
$MATERIAL_brown_500:#795548;
$MATERIAL_brown_600:#6d4c41;
$MATERIAL_brown_700:#5d4037;
$MATERIAL_brown_800:#4e342e;
$MATERIAL_brown_900:#3e2723;
$MATERIAL_grey_50:#fafafa;
$MATERIAL_grey_100:#f5f5f5;
$MATERIAL_grey_200:#eeeeee;
$MATERIAL_grey_300:#e0e0e0;
$MATERIAL_grey_400:#bdbdbd;
$MATERIAL_grey_500:#9e9e9e;
$MATERIAL_grey_600:#757575;
$MATERIAL_grey_700:#616161;
$MATERIAL_grey_800:#424242;
$MATERIAL_grey_900:#212121;
$MATERIAL_blue_grey_50:#eceff1;
$MATERIAL_blue_grey_100:#cfd8dc;
$MATERIAL_blue_grey_200:#b0bec5;
$MATERIAL_blue_grey_300:#90a4ae;
$MATERIAL_blue_grey_400:#78909c;
$MATERIAL_blue_grey_500:#607d8b;
$MATERIAL_blue_grey_600:#546e7a;
$MATERIAL_blue_grey_700:#455a64;
$MATERIAL_blue_grey_800:#37474f;
$MATERIAL_blue_grey_900:#263238;
