$New_Bridge_color_Shinbashi-iro:#006c7f;
$Absolute_Zero:#0048ba;
$Acajou:#4c2f27;
$Acid_green:#b0bf1a;
$Aero:#7cb9e8;
$Aero_blue:#c9ffe5;
$African_violet:#b284be;
$Air_Force_blue_RAF:#5d8aa8;
$Air_Force_blue_USAF:#00308f;
$Air_superiority_blue:#72a0c1;
$Alabama_crimson:#af002a;
$Alabaster:#f2f0e6;
$Alice_blue:#f0f8ff;
$Alizarin_crimson:#e32636;
$Alloy_orange:#c46210;
$Almond:#efdecd;
$Aloeswood_brown_Tonocha:#5a6457;
$Aloewood-color_Kyara-iro:#6a432d;
$Aluminum:#d6d6d6;
$Aluminum_foil:#d2d9db;
$Amaranth:#e52b50;
$Amaranth_deep_purple:#9f2b68;
$Amaranth_pink:#f19cbb;
$Amaranth_purple:#ab274f;
$Amaranth_red:#d3212d;
$Amazon:#3b7a57;
$Amber:#ffbf00;
$Amber_Kohaku-iro:#ca6924;
$Amber_SAE/ECE:#ff7e00;
$American_blue:#3b3b6d;
$American_bronze:#391802;
$American_brown:#804040;
$American_gold:#d3af37;
$American_green:#34b334;
$American_orange:#ff8b00;
$American_pink:#ff9899;
$American_purple:#431c53;
$American_red:#b32134;
$American_rose:#ff033e;
$American_silver:#cfcfcf;
$American_violet:#551b8c;
$American_yellow:#f2b400;
$Amethyst:#9966cc;
$Amur_cork_tree_Phellodendron_amurense_Kihada:#f3c13a;
$Anti-flash_white:#f2f3f4;
$Antique_brass:#cd9575;
$Antique_bronze:#665d1e;
$Antique_fuchsia:#915c83;
$Antique_ruby:#841b2d;
$Antique_white:#faebd7;
$Ao_English:#008000;
$Apple:#66b447;
$Apple_green:#8db600;
$Apricot:#fbceb1;
$Aqua:#00ffff;
$Aqua_Blue_color_Mizu-iro:#86aba5;
$Aquamarine:#7fffd4;
$Arctic_lime:#d0ff14;
$Argent:#c0c0c0;
$Army_green:#4b5320;
$Artichoke:#8f9779;
$Arylide_yellow:#e9d66b;
$Asda_Green:#7dc242;
$Asda_Green_1985:#00dea4;
$Asda_Green_1994:#80c197;
$Asda_Green_1999:#66c992;
$Asda_Green_2002:#32ad61;
$Asda_Orange:#c86500;
$Asda_Orange_1968:#ca7309;
$Ash_gray:#b2beb5;
$Asparagus:#87a96b;
$Ateneo_blue:#003a6c;
$Atomic_tangerine:#ff9966;
$Auburn:#a52a2a;
$Aureolin:#fdee00;
$AuroMetalSaurus:#6e7f80;
$Avocado:#568203;
$Awesome:#ff2052;
$Axolotl:#63775b;
$Azure:#007fff;
$Azure_mist:#f0ffff;
$Azureish_white:#dbe9f4;
$B'dazzled_blue:#2e5894;
$Baby_blue:#89cff0;
$Baby_blue_eyes:#a1caf1;
$Baby_pink:#f4c2c2;
$Baby_powder:#fefefa;
$Baiko_brown_Baikōcha:#857c55;
$Baker-Miller_pink:#ff91af;
$Ball_blue:#21abcd;
$Banana_Mania:#fae7b5;
$Banana_yellow:#ffe135;
$Bangladesh_green:#006a4e;
$Barbie_Pink:#e94196;
$Barbie_Pink_1959-1975:#e85395;
$Barbie_Pink_1975-1990:#d3419d;
$Barbie_Pink_1990-1999:#f364a2;
$Barbie_Pink_1999-2004:#f7238a;
$Barbie_Pink_2004-2005:#ff3988;
$Barbie_Pink_2005-2009:#fc419a;
$Barbie_Pink_Pantone:#e0218a;
$Barn_red:#7c0a02;
$Battery_charged_blue:#1dacd6;
$Battleship_grey:#848482;
$Bayside:#5fc9bf;
$Bazaar:#98777b;
$Beau_blue:#bcd4e6;
$Beaver:#9f8170;
$Beer:#f28e1c;
$Begonia:#fa6e79;
$Beige:#f5f5dc;
$Bellflower_color_Kikyō-iro:#5d3f6a;
$Betel_nut_dye_Binrōjizome:#352925;
$Big_dip_o’ruby:#9c2542;
$Big_Foot_Feet:#e88e5a;
$Birch_brown_Kabacha:#b14a30;
$Bisque:#ffe4c4;
$Bistre:#3d2b1f;
$Bistre_brown:#967117;
$Bitter_lemon:#cae00d;
$Bitter_lime:#bfff00;
$Bittersweet:#fe6f5e;
$Bittersweet_shimmer:#bf4f51;
$Black:#000000;
$Black_Kokushoku:#171412;
$Black_bean:#3d0c02;
$Black_chestnut_oak_Kurotsurubami:#252321;
$Black_chocolate:#1b1811;
$Black_coffee:#3b2f2f;
$Black_coral:#54626f;
$Black_kite_bird_species_Kurotobi:#351e1c;
$Black_leather_jacket:#253529;
$Black_olive:#3b3c36;
$Black_Shadows:#bfafb2;
$Blanched_almond:#ffebcd;
$Blast-off_bronze:#a57164;
$Bleu_de_France:#318ce7;
$Blizzard_blue:#ace5ee;
$Blond:#faf0be;
$Blood:#8a0303;
$Blood_Animal:#a41313;
$Blood_organ:#630f0f;
$Blood_orange:#d1001c;
$Blood_red:#660000;
$Blood_red_Benihi:#f35336;
$Blue:#0000ff;
$Blue_Crayola:#1f75fe;
$Blue_Munsell:#0093af;
$Blue_NCS:#0087bd;
$Blue_Pantone:#0018a8;
$Blue_pigment:#333399;
$Blue_RYB:#0247fe;
$Blue_bell:#a2a2d0;
$Blue_Black_Crayfish_Aoni:#52593b;
$Blue_bolt:#00b9fb;
$Blue_cola:#0088dc;
$Blue_jeans:#5dadec;
$Blue_lagoon:#4cb7a5;
$Blue_raspberry:#0cbfe9;
$Blue_sapphire:#126180;
$Blue_violet_Shikon:#2b2028;
$Blue_yonder:#5072a7;
$Blue-gray:#6699cc;
$Blue-green:#0d98ba;
$Blue-green_color_wheel:#064e40;
$Blue-green_Seiheki:#3a6960;
$Blue-magenta_violet:#553592;
$Blue-violet:#8a2be2;
$Blue-violet_color_wheel:#4d1a7f;
$Blue-violet_Crayola:#7366bd;
$Blueberry:#4f86f7;
$Bluebonnet:#1c1cf0;
$Blush:#de5d83;
$Boiled_red_bean_brown_Momoshiocha:#542d24;
$Bole:#79443b;
$Bondi_blue:#0095b6;
$Bone:#e3dac9;
$Bored_accent_green:#dde26a;
$Boy_red:#0e9ca5;
$Boysenberry:#873260;
$Brandeis_blue:#0070ff;
$Brandy:#87413f;
$Brass:#b5a642;
$Brave_orange:#ff631c;
$Brewed_mustard-brown_Tokigaracha:#e68364;
$Brick_red:#cb4154;
$Bright_gray:#ebecf0;
$Bright_green:#66ff00;
$Bright_lavender:#bf94e4;
$Bright_lilac:#d891ef;
$Bright_maroon:#c32148;
$Bright_navy_blue:#1974d2;
$Bright_pink:#ff007f;
$Bright_turquoise:#08e8de;
$Bright_ube:#d19fe8;
$Bright_yellow_Crayola:#ffaa1d;
$Brilliant_azure:#3399ff;
$Brilliant_lavender:#f4bbff;
$Brilliant_rose:#ff55a3;
$Brink_pink:#fb607f;
$British_racing_green:#004225;
$Bronze:#cd7f32;
$Bronze:#88540b;
$Bronze_metallic:#b08d57;
$Bronze_yellow:#737000;
$Brown:#993300;
$Brown_Crayola:#af593e;
$Brown_traditional:#964b00;
$Brown_Chocolate:#5f1933;
$Brown_Coffee:#4a2c2a;
$Brown_rat_grey_Dobunezumi:#4b3c39;
$Brown_sugar:#af6e4d;
$Brown_Yellow:#cc9966;
$Brown-nose:#6b4423;
$Brunswick_green:#1b4d3e;
$Brushwood-dyed_Fushizome:#8c5939;
$Bubble_gum:#ffc1cc;
$Bubbles:#e7feff;
$Bud_green:#7bb661;
$Buff:#f0dc82;
$Bulgarian_rose:#480607;
$Burgundy:#800020;
$Burlywood:#deb887;
$Burnished_brown:#a17a74;
$Burnt_orange:#cc5500;
$Burnt_sienna:#e97451;
$Burnt_umber:#8a3324;
$Button_blue:#24a0ed;
$Byzantine:#bd33a4;
$Byzantium:#702963;
$Cadet:#536872;
$Cadet_blue:#5f9ea0;
$Cadet_blue_Crayola:#a9b2c3;
$Cadet_grey:#91a3b0;
$Cadmium_blue:#0a1195;
$Cadmium_green:#006b3c;
$Cadmium_orange:#ed872d;
$Cadmium_purple:#b60c26;
$Cadmium_red:#e30022;
$Cadmium_violet:#7f3e98;
$Cadmium_yellow:#fff600;
$Café_au_lait:#a67b5b;
$Café_noir:#4b3621;
$Cal_Poly_Pomona_green:#1e4d2b;
$Calamansi:#fcffa4;
$Cambridge_blue:#a3c1ad;
$Camel:#c19a6b;
$Cameo_pink:#efbbcc;
$Camouflage_green:#78866b;
$Canary:#ffff99;
$Canary_yellow:#ffef00;
$Candy_apple_red:#ff0800;
$Candy_pink:#e4717a;
$Cape_jasmine_or_gardenia_Kuchinashi:#ffb95a;
$Capri:#00bfff;
$Caput_mortuum:#592720;
$Caramel:#ffd59a;
$Cardinal:#c41e3a;
$Caribbean_blue:#1ac1dd;
$Caribbean_green:#00cc99;
$Carmine:#960018;
$Carmine_M&P:#d70040;
$Carmine_pink:#eb4c42;
$Carmine_red:#ff0038;
$Carnation_pink:#ffa6c9;
$Carnelian:#b31b1b;
$Carolina_blue:#56a0d3;
$Carrot_orange:#ed9121;
$Castleton_green:#00563f;
$Catalina_blue:#062a78;
$Catawba:#703642;
$Cattail_color_the_plant_Kaba-iro:#b64925;
$Cedar_Chest:#c95a49;
$Ceil:#92a1cf;
$Celadon:#ace1af;
$Celadon_blue:#007ba7;
$Celadon_color_Seiji-iro:#819c8b;
$Celadon_green:#2f847c;
$Celeste:#b2ffff;
$Celestial_blue:#4997d0;
$Celtic_blue:#246bce;
$Cerise:#de3163;
$Cerise_pink:#ec3b83;
$Cerulean_blue:#2a52be;
$Cerulean_frost:#6d9bc3;
$Cetacean_blue:#001440;
$CG_blue:#007aa5;
$CG_red:#e03c31;
$Chamoisee:#a0785a;
$Champagne:#f7e7ce;
$Champagne_pink:#f1ddcf;
$Charcoal:#36454f;
$Charleston_green:#232b2b;
$Charm:#d0748b;
$Charm_pink:#e68fac;
$Chartreuse_traditional:#dfff00;
$Cheese:#ffa600;
$Cherry_blossom_color_Sakura-iro:#fcc9b9;
$Cherry_blossom_mouse_Sakuranezumi:#ac8181;
$Cherry_blossom_pink:#ffb7c5;
$Chestnut:#954535;
$Chestnut-leather_brown_Kurikawacha:#60281e;
$Chickadee:#ffc34d;
$China_pink:#de6fa1;
$China_rose:#a8516e;
$Chinese_black:#141414;
$Chinese_blue:#365194;
$Chinese_bronze:#cd8032;
$Chinese_brown:#ab381f;
$Chinese_gold:#cc9900;
$Chinese_green:#d0db61;
$Chinese_orange:#f37042;
$Chinese_pink:#de70a1;
$Chinese_purple:#720b98;
$Chinese_red:#aa381e;
$Chinese_red:#cd071e;
$Chinese_silver:#cccccc;
$Chinese_violet:#856088;
$Chinese_white:#e2e5de;
$Chinese_yellow:#ffb200;
$Chinese_yellow_tea-colored_Kigaracha:#b7702d;
$Chlorophyll_green:#4aff00;
$Chocolate_traditional:#7b3f00;
$Chocolate_brown:#3f000f;
$Chocolate_cosmos:#58111a;
$Chocolate_Kisses:#3c1421;
$Chrome_aluminum:#a8a9ad;
$Chrome_yellow:#ffa700;
$Cinereous:#98817b;
$Cinnabar:#e34234;
$Cinnamon:#d2691e;
$Cinnamon_Satin:#cd607e;
$Citrine:#e4d00a;
$Citrine_Brown:#933709;
$Citron:#9fa91f;
$Claret:#7f1734;
$Classic_rose:#fbcce7;
$Clove-brown_Chōjicha:#8f583c;
$Clove-dyed_Chōjizome:#a96232;
$Coarse_wool_color_Kachi-iro:#181b26;
$Cobalt_blue:#0047ab;
$Coconut:#965a3e;
$Coconut_White:#e9edf6;
$Codium_fragile_seaweed_color_Miru-iro:#524b2a;
$Coffee:#6f4e37;
$Cola:#3c3024;
$Columbia_Blue:#c4d8e2;
$Conditioner:#ffffcc;
$Congo_pink:#f88379;
$Contemplation_in_a_tea_garden_Rokōcha:#665343;
$Cookies_and_cream:#eee0b1;
$Cool_black:#002e63;
$Cool_grey:#8c92ac;
$Copper:#b87333;
$Copper_Crayola:#da8a67;
$Copper_penny:#ad6f69;
$Copper_red:#cb6d51;
$Copper_rose:#996666;
$Coquelicot:#ff3800;
$Coral:#ff7f50;
$Coral_color_Sango-iro:#f8674f;
$Coral_red:#ff4040;
$Coral_reef:#fd7c6e;
$Coral_Reef_Valspar_Paint_Color:#f6a494;
$Cordovan:#893f45;
$Corn:#fbec5d;
$Corn-colored_Tōmorokoshi-iro:#faa945;
$Cornflower:#93ccea;
$Cornflower_blue:#6495ed;
$Cornsilk:#fff8dc;
$Cosmic_cobalt:#2e2d88;
$Cosmic_latte:#fff8e7;
$Cotton_candy:#ffbcd9;
$Coyote_brown:#81613c;
$Cream:#fffdd0;
$Crimson:#dc143c;
$Crimson_glory:#be0032;
$Crimson_red:#990000;
$Crystal:#a7d8de;
$Crystal_blue:#68a0b0;
$Cultured:#f5f5f5;
$Cyan_process:#00b7eb;
$Cyan_azure:#4e82b4;
$Cyan_cobalt_blue:#28589c;
$Cyan_cornflower_blue:#188bc2;
$Cyan-blue_azure:#4682bf;
$Cyber_grape:#58427c;
$Cyber_yellow:#ffd300;
$Cyclamen:#f56fa1;
$Cypress_bark_color_Hihada-iro:#752e23;
$Cypress_bark_red_Benihibata:#6f3028;
$Daffodil:#ffff31;
$Dandelion:#f0e130;
$Dandelion_Crayola:#fddb6d;
$Dark_blue:#00008b;
$Dark_blue_Kon:#192236;
$Dark_blue_lapis_lazuli_Rurikon:#1b294b;
$Dark_blue-gray:#666699;
$Dark_bronze:#804a00;
$Dark_bronze_Coin:#514100;
$Dark_brown:#654321;
$Dark_brown-tangelo:#88654e;
$Dark_byzantium:#5d3954;
$Dark_candy_apple_red:#a40000;
$Dark_cerulean:#08457e;
$Dark_charcoal:#333333;
$Dark_chestnut:#986960;
$Dark_chocolate:#490206;
$Dark_chocolate_Hershey's:#3c1321;
$Dark_coral:#cd5b45;
$Dark_cornflower_blue:#26428b;
$Dark_cyan:#008b8b;
$Dark_electric_blue:#536878;
$Dark_gold:#aa6c39;
$Dark_goldenrod:#b8860b;
$Dark_gray_X11:#a9a9a9;
$Dark_green:#013220;
$Dark_green_X11:#006400;
$Dark_gunmetal:#1f262a;
$Dark_imperial_blue:#00147e;
$Dark_imperial_blue:#00416a;
$Dark_indigo_Futaai:#614e6e;
$Dark_jungle_green:#1a2421;
$Dark_khaki:#bdb76b;
$Dark_lava:#483c32;
$Dark_lavender:#734f96;
$Dark_lemon_lime:#8bbe1b;
$Dark_liver:#534b4f;
$Dark_liver_horses:#543d37;
$Dark_magenta:#8b008b;
$Dark_midnight_blue:#003366;
$Dark_moss_green:#4a5d23;
$Dark_Navy:#02075d;
$Dark_olive_green:#556b2f;
$Dark_orange:#ff8c00;
$Dark_orchid:#9932cc;
$Dark_pastel_blue:#779ecb;
$Dark_pastel_green:#03c03c;
$Dark_pastel_purple:#966fd6;
$Dark_pastel_red:#c23b22;
$Dark_pink:#e75480;
$Dark_powder_blue:#003399;
$Dark_puce:#4f3a3c;
$Dark_purple:#301934;
$Dark_raspberry:#872657;
$Dark_red:#8b0000;
$Dark_red_Kurobeni:#23191e;
$Dark_salmon:#e9967a;
$Dark_scarlet:#560319;
$Dark_sea_green:#8fbc8f;
$Dark_sienna:#3c1414;
$Dark_silver:#71706e;
$Dark_sky_blue:#8cbed6;
$Dark_slate_blue:#483d8b;
$Dark_slate_gray:#2f4f4f;
$Dark_spring_green:#177245;
$Dark_tan:#918151;
$Dark_tangerine:#ffa812;
$Dark_terra_cotta:#cc4e5c;
$Dark_turquoise:#00ced1;
$Dark_vanilla:#d1bea8;
$Dark_violet:#9400d3;
$Dark_yellow:#9b870c;
$Dartmouth_green:#00703c;
$Davy's_grey:#555555;
$Dawn-color_Akebono-iro:#fa7b62;
$Daylily-colored_Kanzō-iro:#ff8936;
$Debian_red:#d70a53;
$Decaying_leaves_color_Kuchiba-iro:#d57835;
$Deep_amethyst:#9c8aa4;
$Deep_aquamarine:#40826d;
$Deep_carmine:#a9203e;
$Deep_carmine_pink:#ef3038;
$Deep_carrot_orange:#e9692c;
$Deep_cerise:#da3287;
$Deep_champagne:#fad6a5;
$Deep_chestnut:#b94e48;
$Deep_coffee:#704241;
$Deep_dumpling:#9b351b;
$Deep_fuchsia:#c154c1;
$Deep_green:#056608;
$Deep_green-cyan_turquoise:#0e7c61;
$Deep_jungle_green:#004b49;
$Deep_koamaru:#333366;
$Deep_lemon:#f5c71a;
$Deep_lilac:#9955bb;
$Deep_magenta:#cc00cc;
$Deep_maroon:#820000;
$Deep_mauve:#d473d4;
$Deep_moss_green:#355e3b;
$Deep_peach:#ffcba4;
$Deep_pink:#ff1493;
$Deep_puce:#a95c68;
$Deep_purple_Kokimurasaki:#3a243b;
$Deep_red:#850101;
$Deep_ruby:#843f5b;
$Deep_saffron:#ff9933;
$Deep_scarlet_Kokiake:#7b3b3a;
$Deep_Space_Sparkle:#4a646c;
$Deep_taupe:#7e5e60;
$Deep_Tuscan_red:#66424d;
$Deep_violet:#330066;
$Deer:#ba8759;
$Delicate_girl_blue:#6ab2ca;
$Denim:#1560bd;
$Denim_blue:#2243b6;
$Desaturated_cyan:#669999;
$Desert_sand:#edc9af;
$Desire:#ea3c53;
$Diamond:#b9f2ff;
$Dim_gray:#696969;
$Dingy_Dungeon:#c53151;
$Dirt:#9b7653;
$Dirty_brown:#b5651e;
$Dirty_white:#e8e4c9;
$Disappearing_purple_Metsushi:#3f313a;
$Dodger_blue:#1e90ff;
$Dodie_yellow:#fef65b;
$Dogwood_rose:#d71868;
$Dollar_bill:#85bb65;
$Dolphin_gray:#828e84;
$Douban_Blue:#2496cd;
$Douban_Green:#2e963d;
$Douban_Light_Yellow:#f7c58e;
$Dove_feather_grey_Hatobanezumi:#755d5b;
$Duke_blue:#00009c;
$Dull_blue_Aonibi:#4f4944;
$Durian:#b07939;
$Durian_White:#e6d0ab;
$Durian_Yellow:#e1bd27;
$Dust_storm:#e5ccc9;
$Dutch_white:#efdfbb;
$Dyestalk_red_lit_the_color_from_dying_with_the_stalk_of_the_beni_plant_Bengara-iro:#913225;
$Earth_yellow:#e1a95f;
$Earthtone:#5d3a1a;
$Ebony:#555d50;
$Ecru:#c2b280;
$Eerie_black:#1b1b1b;
$Egg-colored_Tamago-iro:#ffa631;
$Eggplant:#614051;
$Eggshell:#f0ead6;
$Eggshell_paper-colored_Torinoko-iro:#e2be9f;
$Egyptian_blue:#1034a6;
$Elderberry:#17182b;
$Electric_blue:#7df9ff;
$Electric_brown:#b56257;
$Electric_crimson:#ff003f;
$Electric_green:#00ff00;
$Electric_indigo:#6f00ff;
$Electric_lime:#ccff00;
$Electric_orange:#ff3503;
$Electric_pink:#f62681;
$Electric_purple:#bf00ff;
$Electric_red:#e60000;
$Electric_ultramarine:#3f00ff;
$Electric_violet:#8f00ff;
$Electric_yellow:#ffff33;
$Emerald:#50c878;
$Emerald_green:#046307;
$Eminence:#6c3082;
$English_lavender:#b48395;
$English_red:#ab4b52;
$English_vermillion:#cc474b;
$English_violet:#563c5c;
$Eton_blue:#96c8a2;
$Eucalyptus:#44d7a8;
$Facebook_Blue:#39569c;
$Faded_Sen_no_Rikyu's_tea_Rikyūshiracha:#b0927a;
$Faded_spicy_red-brown_Sōdenkaracha:#9b533f;
$Fake_purple_Nisemurasaki:#43242a;
$Falu_red:#801818;
$Fandango:#b53389;
$Fandango_pink:#de5285;
$Fashion_fuchsia:#f400a1;
$Fawn:#e5aa70;
$Feldgrau:#4d5d53;
$Feldspar:#fdd5b1;
$Fern_green:#4f7942;
$Ferrari_red:#ff2800;
$Field_drab:#6c541e;
$Fiery_rose:#ff5470;
$Finch-brown_Cardueline_finch_Hiwacha:#957b38;
$Fire_engine_red:#ce2029;
$Fire_opal:#e95c4b;
$Firebrick:#b22222;
$Flame:#e25822;
$Flamingo_pink:#fc8eac;
$Flavescent:#f7e98e;
$Flax:#eedc82;
$Flesh:#ffe9d1;
$Flickr_Blue:#216bd6;
$Flickr_Pink:#fb0081;
$Flirt:#a2006d;
$Flirtatious_indigo_tea_Aikobicha:#473f2d;
$Floral_leaf-colored_Hanaba-iro_or_kayou-iro:#ffb94e;
$Floral_white:#fffaf0;
$Flower_girl:#f498ad;
$Fluorescent_blue:#15f4ee;
$Folly:#ff004f;
$Foreign_crimson_Karakurenai:#c91f37;
$Forest_Green:#228b22;
$Forest_green_Crayola:#5fa777;
$Forest_green_traditional:#014421;
$Fox-color_Kitsune-iro:#985629;
$French_bistre:#856d4d;
$French_blue:#0072bb;
$French_fuchsia:#fd3f92;
$French_lilac:#86608e;
$French_lime:#9efd38;
$French_pink:#fd6c9e;
$French_plum:#811453;
$French_puce:#4e1609;
$French_raspberry:#c72c48;
$French_rose:#f64a8a;
$French_sky_blue:#77b5fe;
$French_violet:#8806ce;
$French_wine:#ac1e44;
$Fresh_Air:#a6e7ff;
$Fresh_onion_Moegi:#5b8930;
$Frostbite:#e936a7;
$Fuchsia:#ff00ff;
$Fuchsia_pink:#ff77ff;
$Fuchsia_purple:#cc397b;
$Fuchsia_rose:#c74375;
$Fulvous:#e48400;
$Fuzzy_Wuzzy:#cc6666;
$Gainsboro:#dcdcdc;
$Gamboge:#e49b0f;
$Gamboge_Tōō:#ffb61e;
$Gamboge_orange_brown:#996600;
$Gargoyle_Gas:#ffdf46;
$Garnet:#733635;
$Generic_viridian:#007f66;
$Ghost_white:#f8f8ff;
$Giant's_Club:#b05c52;
$Giants_orange:#fe5a1d;
$Gin:#d8e4bc;
$Glaucous:#6082b6;
$Glazed_persimmon_Terigaki:#d34e36;
$Glossy_grape:#ab92b3;
$GO_green:#00ab66;
$Gold:#a57c00;
$Gold_Crayola:#e6be8a;
$Gold_metallic:#d4af37;
$Gold_foil:#bd9b16;
$Gold_Fusion:#85754e;
$Gold-brown_Yamabukicha:#cb7e1f;
$Golden:#ffd700;
$Golden_brown:#996515;
$Golden_brown_Kincha:#c66b27;
$Golden_fallen_leaves_Kikuchiba:#e29c45;
$Golden_oak_Kitsurubami:#bb8141;
$Golden_poppy:#fcc200;
$Golden_yellow:#ffdf00;
$Golden_yellow_and_a_particular_rose_varietal_Yamabuki-iro:#ffa400;
$Golden-grey_bamboo_dried_and_weathered_Kinsusutake:#7d4e2d;
$Goldenrod:#daa520;
$Google_Chrome_blue:#4c8bf5;
$Google_Chrome_green:#1aa260;
$Google_Chrome_red:#de5246;
$Google_Chrome_yellow:#ffce44;
$Goryeo_storeroom_Kōrainando:#203838;
$Granite_gray:#676767;
$Granny_Smith_apple:#a8e4a0;
$Grape:#6f2da8;
$Grape_mouse_Budōnezumi:#63424b;
$Gray_X11_gray:#bebebe;
$Gray-asparagus:#465945;
$Green:#008001;
$Green_Crayola:#1cac78;
$Green_Midori:#2a603b;
$Green_Munsell:#00a877;
$Green_NCS:#009f6b;
$Green_Pantone:#00ad43;
$Green_pigment:#00a550;
$Green_RYB:#66b032;
$Green_bamboo_color_Aotake-iro:#006442;
$Green_Cola:#4c721d;
$Green_Lizard:#a7f432;
$Green_Sheen:#6eaea1;
$Green_slime:#65ff00;
$Green_tea-colored_Sencha-iro:#824b35;
$Green-blue:#1164b4;
$Green-blue_Crayola:#2887c8;
$Green-cyan:#009966;
$Green-yellow:#adff2f;
$Green-yellow_Crayola:#f0e891;
$Greenfinch_color_Hiwa-iro:#bda928;
$Greyed_red_lit_silvered_red_Ginshu:#bc2d29;
$Greyish_dark_green_Rikyūnezumi:#656255;
$Grullo:#a99a86;
$Gunmetal:#2a3439;
$Guppie_green:#00ff7f;
$Guyabano:#f8f8f8;
$Halayà_úbe:#663854;
$Half_color_Hashita-iro:#8d608c;
$Halloween_orange:#eb6123;
$Han_blue:#446ccf;
$Han_purple:#5218fa;
$Harbor_rat_Minatonezumi:#757d75;
$Harlequin:#3fff00;
$Harlequin_green:#46cb18;
$Harmonious_rose:#f29cb7;
$Harvest_gold:#da9100;
$Hawaii_blue:#00c3e3;
$Heart_gold:#808000;
$Heat_Wave:#ff7a00;
$Heliotrope:#df73ff;
$Heliotrope_gray:#aa98a9;
$Heliotrope_magenta:#aa00bb;
$Honeydew:#f0fff0;
$Honolulu_blue:#006db0;
$Hooker's_green:#49796b;
$Horsetail_color_Tokusa-iro:#3d5d42;
$Hot_magenta:#ff1dce;
$Hot_pink:#ff69b4;
$Huawei_Red:#cf0a2c;
$Huawei_Red_1987-2018:#ed1c24;
$Ibis_wing_color_Tokiha-iro:#f58f84;
$Iceberg:#71a6d2;
$Iced_tea:#923c01;
$Icterine:#fcf75e;
$Iguana_green:#71bc78;
$Illuminating_emerald:#319177;
$Imperial:#602f6b;
$Imperial_blue:#002395;
$Imperial_purple:#66023c;
$Imperial_red:#ed2939;
$Inchworm:#b2ec5d;
$Independence:#4c516d;
$India_green:#138808;
$Indian_red:#cd5c5c;
$Indian_yellow:#e3a857;
$Indigo:#4b0082;
$Indigo_rainbow:#233067;
$Indigo_Codium_fragile_seaweed_brown_Aimirucha:#2e372e;
$Indigo_dye:#091f92;
$Indigo_ink_brown_Aisumicha:#393432;
$Indigo_white_Aijiro:#ebf6f7;
$Infra_red:#ff496c;
$Ink_color_Sumi-iro:#27221f;
$Insect_screen_Mushiao:#2d4436;
$Inside_of_a_bottle_Kamenozoki:#c6c2b6;
$Interdimensional_blue:#360ccc;
$International_orange_aerospace:#ff4f00;
$International_orange_engineering:#ba160c;
$International_orange_Golden_Gate_Bridge:#c0362c;
$Iris:#5a4fcf;
$Iris_color_Ayame-iro:#763568;
$Iron:#a19d94;
$Iron_color_Tetsu-iro:#2b3733;
$Iron_head_flower_color_Noshimehana-iro:#344d56;
$Iron_storage_Tetsuonando:#2b3736;
$Irresistible:#b3446c;
$Isabelline:#f4f0ec;
$Islamic_green:#009000;
$Italian_ice:#e9f6ef;
$Italian_leather:#635a52;
$Italian_roast:#906652;
$Ivory:#fffff0;
$Iwai_brown_Iwaicha:#5e5545;
$Jacarta:#3d325d;
$Jacko_bean:#413628;
$Jade:#00a86b;
$Japanese_carmine:#9d2933;
$Japanese_indigo:#264348;
$Japanese_iris_and_sooty_bamboo_Higosusutake:#7f5d3b;
$Japanese_laurel:#2f7532;
$Japanese_triandra_grass_Themeda_japonica_Kariyasu:#e2b13c;
$Japanese_violet:#5b3256;
$Jasmine:#f8de7e;
$Jasper:#d73b3e;
$Jasper_orange:#de8f4e;
$Jazzberry_jam:#a50b5e;
$Jelly_bean:#da614e;
$Jelly_bean_blue:#44798e;
$Jet:#343434;
$Jet_stream:#bbd0c9;
$Jonquil:#f4ca16;
$Jordy_blue:#8ab9f1;
$June_bud:#bdda57;
$Jungle_green:#29ab87;
$Kelly_green:#4cbb17;
$Kenyan_copper:#7c1c05;
$Keppel:#3ab09e;
$Key_lime:#e8f48c;
$Kimono_storage_Omeshionando:#3d4c51;
$Kiwi:#8ee53f;
$Kobe:#882d17;
$Kobi:#e79fc4;
$Kombu_green:#354230;
$KSU_purple:#512888;
$KU_crimson:#e8000d;
$Kumquat:#fb9912;
$Languid_lavender:#d6cadd;
$Lanzones:#e0bc5b;
$Lapis_lazuli:#26619c;
$Lapis_lazuli_color_Ruri-iro:#1f4788;
$Laser_lemon:#ffff66;
$Laurel_green:#a9ba9d;
$Lava:#cf1020;
$Lavender_floral:#b57edc;
$Lavender_blue:#ccccff;
$Lavender_blush:#fff0f5;
$Lavender_gray:#c4c3d0;
$Lavender_indigo:#9457eb;
$Lavender_magenta:#ee82ee;
$Lavender_mist:#e6e6fa;
$Lavender_pink:#fbaed2;
$Lavender_purple:#967bb6;
$Lavender_rose:#fba0e3;
$Lawn_green:#7cfc00;
$Legal_dye_from_when_color_use_was_regulated_by_class_Kenpōzome:#2e211b;
$Lemon:#fff700;
$Lemon_chiffon:#fffacd;
$Lemon_curry:#cca01d;
$Lemon_glacier:#fdff00;
$Lemon_iced_tea:#bd3000;
$Lemon_lime:#e3ff00;
$Lemon_lime:#5cff67;
$Lemon_meringue:#f6eabe;
$Lemon_yellow:#fff44f;
$Lemon_yellow_Crayola:#ffff9f;
$Lenurple:#ba93d8;
$Liberty:#545aa7;
$Licorice:#1a1110;
$Light_blue:#add8e6;
$Light_blue_color_Asagi-iro:#48929b;
$Light_blue_flower_Hanaasagi:#1d697c;
$Light_blue_silk_Hanada:#044f67;
$Light_brown:#b5651d;
$Light_carmine_pink:#e66771;
$Light_chocolate_cosmos:#551f2f;
$Light_cobalt_blue:#88ace0;
$Light_coral:#f08080;
$Light_crimson:#f56991;
$Light_cyan:#e0ffff;
$Light_deep_pink:#ff5ccd;
$Light_French_beige:#c8ad7f;
$Light_fuchsia_pink:#f984ef;
$Light_gold:#b29700;
$Light_goldenrod_yellow:#fafad2;
$Light_gray:#d3d3d3;
$Light_grayish_magenta:#cc99cc;
$Light_green:#90ee90;
$Light_hot_pink:#ffb3de;
$Light_khaki:#f0e68c;
$Light_magenta:#ff80ff;
$Light_medium_orchid:#d39bcb;
$Light_moss_green:#addfad;
$Light_orange:#fed8b1;
$Light_orchid:#e6a8d7;
$Light_pastel_purple:#b19cd9;
$Light_periwinkle:#c5cbe1;
$Light_pink:#ffb6c1;
$Light_red:#ffcccb;
$Light_salmon:#ffa07a;
$Light_salmon_pink:#ff9999;
$Light_sea_green:#20b2aa;
$Light_silver:#d8d8d8;
$Light_sky_blue:#87cefa;
$Light_slate_gray:#778899;
$Light_steel_blue:#b0c4de;
$Light_taupe:#b38b6d;
$Light_yellow:#ffffe0;
$Light_yellow_Asagi:#f7bb7d;
$Lilac:#c8a2c8;
$Lilac_Luster:#ae98aa;
$Lime_green:#32cd32;
$Lime_pulp:#d1e189;
$Limerick:#9dc209;
$Lincoln_green:#195905;
$Linen:#faf0e6;
$Linkedin_Blue:#0072b1;
$Little_boy_blue:#6ca0dc;
$Little_girl_pink:#f8b9d4;
$Liver:#674c47;
$Liver_dogs:#b86d29;
$Liver_organ:#6c2e1f;
$Liver_chestnut:#987456;
$Long_spring_season_color_Chōshun-iro:#b95754;
$Loquat_tree_brown_Biwacha:#ab6134;
$Lotion:#fefdfa;
$Lotion_blue:#15f2fd;
$Lotion_pink:#eccfcf;
$Lumber:#ffe4cd;
$Lust:#e62020;
$Lychee:#dc5349;
$Lye-colored_Aku-iro:#7f6b5d;
$Macaroni_and_Cheese:#ffbd88;
$Madder_Lake:#cc3336;
$Magenta_dye:#ca1f7b;
$Magenta_Pantone:#d0417e;
$Magenta_process:#ff0090;
$Magenta_haze:#9f4576;
$Magenta-pink:#cc338b;
$Magic_mint:#aaf0d1;
$Magic_Potion:#ff4466;
$Magnolia:#f8f4ff;
$Mahogany:#c04000;
$Maize_Crayola:#f2c649;
$Majorelle_blue:#6050dc;
$Malachite:#0bda51;
$Manatee:#979aaa;
$Mandarin:#f37a48;
$Mango:#fdbe02;
$Mango_green:#96ff00;
$Mango_Tango:#ff8243;
$Manila:#e7c9a9;
$Mantis:#74c365;
$Maple_syrup:#bb9351;
$Mardi_Gras:#880085;
$Margarine:#f2d930;
$Margarita:#b0c24a;
$Marigold:#eaa221;
$Maroon_Shrimp_brown_Ebicha:#5e2824;
$Maroon_X11:#b03060;
$Mauve:#e0b0ff;
$Mauve_taupe:#915f6d;
$Mauvelous:#ef98aa;
$Maximum_blue:#47abcc;
$Maximum_blue_green:#30bfbf;
$Maximum_blue_purple:#acace6;
$Maximum_green:#5e8c31;
$Maximum_green_yellow:#d9e650;
$Maximum_orange:#ff5b00;
$Maximum_purple:#733380;
$Maximum_red:#d92121;
$Maximum_red_purple:#a63a79;
$Maximum_yellow:#fafa37;
$Maximum_yellow_red:#f2ba49;
$May_green:#4c9141;
$Maya_blue:#73c2fb;
$Meat_brown:#e5b73b;
$Meat-color_Shishi-iro:#f9906f;
$Medium_aquamarine:#66ddaa;
$Medium_blue:#0000cd;
$Medium_candy_apple_red:#e2062c;
$Medium_carmine:#af4035;
$Medium_champagne:#f3e5ab;
$Medium_crimson_dye_Nakabeni:#c93756;
$Medium_electric_blue:#035096;
$Medium_jungle_green:#1c352d;
$Medium_lavender_magenta:#dda0dd;
$Medium_orchid:#ba55d3;
$Medium_Persian_blue:#0067a5;
$Medium_purple:#9370db;
$Medium_red-violet:#bb3385;
$Medium_ruby:#aa4069;
$Medium_sea_green:#3cb371;
$Medium_sky_blue:#80daeb;
$Medium_slate_blue:#7b68ee;
$Medium_spring_bud:#c9dc87;
$Medium_spring_green:#00fa9a;
$Medium_turquoise:#48d1cc;
$Medium_vermilion:#d9603b;
$Medium_violet-red:#c71585;
$Melancholy:#fdbcb4;
$Mellow_apricot:#f8b878;
$Melon:#febaad;
$Menthol:#c1f9a2;
$Metallic_blue:#32527b;
$Metallic_bronze:#a97142;
$Metallic_brown:#ac4313;
$Metallic_green:#296e01;
$Metallic_orange:#da680f;
$Metallic_pink:#eda6c4;
$Metallic_red:#a62c2b;
$Metallic_Seaweed:#0a7e8c;
$Metallic_Sunburst:#9c7c38;
$Metallic_violet:#5b0a91;
$Metallic_yellow:#fdcc0d;
$Mexican_pink:#e4007c;
$Microsoft_blue:#00a2ed;
$Microsoft_Edge_blue:#0078d7;
$Microsoft_green:#7db700;
$Microsoft_red:#f04e1f;
$Microsoft_yellow:#fdb900;
$Middle_blue:#7ed4e6;
$Middle_blue_green:#8dd9cc;
$Middle_blue_purple:#8b72be;
$Middle_green:#4d8c57;
$Middle_green_yellow:#acbf60;
$Middle_grey:#8b8680;
$Middle_purple:#d982b5;
$Middle_red:#e58e73;
$Middle_red_purple:#a55353;
$Middle_yellow:#ffeb00;
$Middle_yellow_red:#ecb176;
$Midnight:#702670;
$Midnight_blue:#191970;
$Midnight_blue:#00468c;
$Midnight_green_eagle_green:#004953;
$Mikado_yellow:#ffc40c;
$Milk:#fdfff5;
$Milk_chocolate:#84563c;
$Mimi_pink:#ffdae9;
$Mindaro:#e3f988;
$Ming:#36747d;
$Minion_yellow:#f5e050;
$Mint:#3eb489;
$Mint_cream:#f5fffa;
$Mint_green:#98ff98;
$Misty_moss:#bbb477;
$Misty_rose:#ffe4e1;
$Mocha:#bea493;
$Moonstone:#3aa8c1;
$Moonstone_blue:#73a9c2;
$Mordant_red_19:#ae0c00;
$Morning_blue:#8da399;
$Moss_color_Koke-iro:#8b7d3a;
$Moss_green:#8a9a5b;
$Mountain_Meadow:#30ba8f;
$Mountbatten_pink:#997a8d;
$Mousy_indigo_Ainezumi:#5c544e;
$Mousy_wisteria_Fujinezumi:#766980;
$MSU_green:#18453b;
$Mud:#70543e;
$Muddy_brown_lit_the_brown_of_a_distant_river_Enshūcha:#cb6649;
$Mughal_green:#306030;
$Mulberry:#c54b8c;
$Mulberry_Crayola:#c8509b;
$Mulberry_dye_Kuwazome:#59292c;
$Mulberry-dyed_Kuwazome:#c57f2e;
$Mustard:#ffdb58;
$Mustard_brown:#cd7a00;
$Mustard_green:#6e6e30;
$Mustard_yellow:#e1ad01;
$Myrtle_green:#317873;
$Mystic:#d65282;
$Mystic_maroon:#ad4379;
$Mystic_red:#ff5500;
$Nadeshiko_pink:#f6adc6;
$Napier_green:#2a8000;
$Naples_yellow:#fada5e;
$Navajo_white:#ffdead;
$Navy_blue:#000080;
$Navy_blue_bellflower_Konkikyō:#191f45;
$Neon_blue:#1b03a3;
$Neon_Carrot:#ffa343;
$Neon_Fuchsia:#fe4164;
$Neon_green:#39ff14;
$New_Car:#214fc6;
$New_York_pink:#d7837f;
$Nickel:#727472;
$Nightingale-brown_greenish_brown_Uguisucha:#5c4827;
$Nintendo_red:#e4000f;
$Non-photo_blue:#a4dded;
$North_Texas_Green:#059033;
$Nyanza:#e9ffdb;
$Ocean_Blue:#4f42b5;
$Ocean_boat_blue:#0077be;
$Ocean_green:#48bf91;
$Ochre:#cc7722;
$Ochre_earthen_yellow-red-brown_Ōtan:#ff4e20;
$Ochre_lit_earthen_yellow_Ōdo-iro:#be7f51;
$Ogre_Odor:#fd5240;
$Old_bamboo_color_Oitake-iro:#5e644f;
$Old_burgundy:#43302e;
$Old_gold:#cfb53b;
$Old_lace:#fdf5e6;
$Old_lavender:#796878;
$Old_mauve:#673147;
$Old_moss_green:#867e36;
$Old_rose:#c08081;
$Olive_Drab_#3:#6b8e23;
$Olive_Drab_#7:#3c341f;
$Olive_green:#b5b35c;
$Olivine:#9ab973;
$Onando_color_Onando-iro:#364141;
$One_kin_06_kg_dye_Ikkonzome:#f08f90;
$Onyx:#353839;
$Opal:#a8c3bc;
$Opera_mauve:#b784a7;
$Opera_Red:#ff1b2d;
$Opposite_flower_color_Masuhana-iro:#4d646c;
$Orange:#ff6600;
$Orange_color_wheel:#ff7f00;
$Orange_Crayola:#ff7538;
$Orange_Pantone:#ff5800;
$Orange_RYB:#fb9902;
$Orange_peel:#ff9f00;
$Orange_soda:#fa5b3d;
$Orange_soda:#eb593d;
$Orange-red:#ff681f;
$Orange-red_Crayola:#ff5349;
$Orange-yellow:#f5bd1f;
$Orange-yellow_Crayola:#f8d568;
$Orchid:#da70d6;
$Orchid_Crayola:#e29cd2;
$Orchid_pink:#f2bdcd;
$Orioles_orange:#fb4f14;
$OU_Crimson_red:#841617;
$Outer_space:#414a4c;
$Outer_space_Crayola:#2d383a;
$Outrageous_Orange:#ff6e4a;
$Overdyed/refreshed_red-brown_Sohi:#e35c38;
$Oxford_blue:#002147;
$Oxley:#6d9a79;
$Pacific_blue:#1ca9c9;
$Painite:#6b4947;
$Pakistan_green:#006600;
$Palatinate_blue:#273be2;
$Palatinate_purple:#682860;
$Pale_blue_Usuao:#8c9c76;
$Pale_Blue_/_Pale_Turquoise:#afeeee;
$Pale_Brown:#987654;
$Pale_cerulean:#9bc4e2;
$Pale_Chestnut:#ddadaf;
$Pale_Cornflower_Blue:#abcdef;
$Pale_Cyan:#87d3f8;
$Pale_fallen_leaves_Aokuchiba:#aa8736;
$Pale_goldenrod:#eee8aa;
$Pale_Green:#98fb98;
$Pale_green_onion_Mizuasagi:#749f8d;
$Pale_incense_Usukō:#ffa565;
$Pale_lavender:#dcd0ff;
$Pale_Magenta:#f984e5;
$Pale_Magenta-Pink:#ff99cc;
$Pale_oak_Aoshirotsurubami:#bba46d;
$Pale_persimmon_Usugaki:#fca474;
$Pale_pink:#fadadd;
$Pale_purple_Pantone:#fae6fa;
$Pale_red-violet:#db7093;
$Pale_robin_egg_blue:#96ded1;
$Pale_silver:#c9c0bb;
$Pale_spring_bud:#ecebbd;
$Pale_taupe:#bc987e;
$Pale_Violet:#cc99ff;
$Pale_young_green_onion_Usumoegi:#8db255;
$Palm_Leaf:#6f9940;
$Panasonic_blue:#0040be;
$Pansy_purple:#78184a;
$Paolo_Veronese_green:#009b7d;
$Papaya_whip:#ffefd5;
$Paradise_pink:#e63e62;
$Parakeet_Blue:#7eb6ff;
$Parrot_Pink:#d998a0;
$Pastel_blue:#aec6cf;
$Pastel_brown:#836953;
$Pastel_gray:#cfcfc4;
$Pastel_green:#77dd77;
$Pastel_magenta:#f49ac2;
$Pastel_orange:#ffb347;
$Pastel_pink:#dea5a4;
$Pastel_purple:#b39eb5;
$Pastel_red:#ff6961;
$Pastel_violet:#cb99c9;
$Pastel_yellow:#fdfd96;
$Patina_Rokushō:#407a52;
$Patriarch:#800080;
$Patrinia_flowers_Patrinia_scabiosaefolia_Ominaeshi:#d9b611;
$Peach:#ffe5b4;
$Peach_Burst:#f39998;
$Peach_puff:#ffdab9;
$Peach-colored_Momo-iro:#f47983;
$Peach-orange:#ffcc99;
$Peach-yellow:#fadfad;
$Pear:#d1e231;
$Pearl:#eae0c8;
$Pearl_Aqua:#88d8c0;
$Pearly_purple:#b768a2;
$Penguin_White:#f5f3ef;
$Peridot:#e6e200;
$Periwinkle_Crayola:#c3cde6;
$Permanent_Geranium_Lake:#e12c2c;
$Persian_blue:#1c39bb;
$Persian_green:#00a693;
$Persian_indigo:#32127a;
$Persian_orange:#d99058;
$Persian_pink:#f77fbe;
$Persian_plum:#701c1c;
$Persian_red:#cc3333;
$Persian_rose:#fe28a2;
$Persimmon:#ec5800;
$Persimmon-juice_color_Kakishibu-iro:#934337;
$Peru:#cd853f;
$Pewter_Blue:#8ba8b7;
$Philippine_blue:#0038a7;
$Philippine_bronze:#6e3a07;
$Philippine_brown:#5d1916;
$Philippine_gold:#b17304;
$Philippine_gray:#8c8c8c;
$Philippine_green:#008543;
$Philippine_orange:#ff7300;
$Philippine_pink:#fa1a8e;
$Philippine_red:#ce1127;
$Philippine_silver:#b3b3b3;
$Philippine_violet:#81007f;
$Philippine_yellow:#fecb00;
$Phlox:#df00ff;
$Phthalo_blue:#000f89;
$Phthalo_green:#123524;
$Picton_blue:#45b1e8;
$Pictorial_carmine:#c30b4e;
$Piggy_pink:#fddde6;
$Pine_green:#01796f;
$Pine_needle_color_Matsuba-iro:#454d32;
$Pine_tree:#2a2f23;
$Pineapple:#563c0d;
$Pink:#ffc0cb;
$Pink_Pantone:#d74894;
$Pink_flamingo:#fc74fd;
$Pink_lace:#ffddf4;
$Pink_lavender:#d8b2d1;
$Pink_pearl:#e7accf;
$Pink_raspberry:#980036;
$Pink_Sherbet:#f78fa7;
$Pistachio:#93c572;
$Pixie_Powder:#391285;
$Plain_mouse_Sunezumi:#6e5f57;
$Platinum:#e5e4e2;
$Plum:#8e4585;
$Plum_purple_Umemurasaki:#8f4155;
$Plum-blossom_mouse_Umenezumi:#97645a;
$Plum-dyed_Umezome:#fa9258;
$Plump_Purple:#5946b2;
$Poker_Green:#35654d;
$Polished_brown_Tonocha:#985538;
$Polished_Pine:#5da493;
$Pomegranate:#660c21;
$Pomelo:#96a53c;
$Pomelo_Olive:#bfbd70;
$Pomelo_White:#f9ffe3;
$Poppy_Petal:#f6a08c;
$Popstar:#be4f62;
$Porcupine:#936900;
$Portland_Orange:#ff5a36;
$Powder_blue:#b0e0e6;
$Princess_Perfume:#ff85cf;
$Princeton_orange:#f58025;
$Prussian_blue:#003153;
$Prussian_blue_color_Konjō-iro:#003171;
$Puce:#cc8899;
$Puce_red:#722f37;
$Pullman_Brown_UPS_Brown:#644117;
$Pullman_Green:#3b331c;
$Pumpkin:#ff7518;
$Pure_crimson_dye_Akabeni:#c3272b;
$Purple:#6a0dad;
$Purple_Munsell:#9f00c5;
$Purple_Murasaki:#4f284b;
$Purple_X11:#a020f0;
$Purple_Heart:#69359c;
$Purple_kite_Murasakitobi:#512c31;
$Purple_mountain_majesty:#9678b6;
$Purple_navy:#4e5180;
$Purple_pizzazz:#fe4eda;
$Purple_Plum:#9c51b6;
$Purple_taupe:#50404d;
$Purpureus:#9a4eae;
$Quartz:#51484f;
$Queen_blue:#436b95;
$Queen_pink:#e8ccd7;
$Quick_Silver:#a6a6a6;
$Quinacridone_magenta:#8e3a59;
$Quincy:#6a5445;
$Rabbit-ear_iris_Kakitsubata:#491e3c;
$Radical_Red:#ff355e;
$Raisin_black:#242124;
$Rajah:#fbab60;
$Rambutan:#c71232;
$Rambutan_Red:#a72127;
$Rape-blossom_brown_Nanohanacha:#e3b130;
$Rapeseed_oil-colored_Nataneyu-iro:#a17917;
$Raspberry:#e30b5d;
$Raspberry_pink:#e25098;
$Raw_Sienna:#d68a59;
$Raw_umber:#826644;
$Razzle_dazzle_rose:#ff33cc;
$Razzmatazz:#e3256b;
$Razzmic_Berry:#8d4e85;
$Rebecca_Purple:#663399;
$Red:#ff0000;
$Red_Crayola:#ee204d;
$Red_Munsell:#f2003c;
$Red_NCS:#c40233;
$Red_RYB:#fe2712;
$Red_bean_color_Azuki-iro:#672422;
$Red_birch_Benikaba:#9d2b22;
$Red_cola:#b62020;
$Red_devil:#860111;
$Red_incense-colored_Akakō-iro:#f07f5e;
$Red_kite_bird_species_Benitobi:#913228;
$Red_ochre_color_Taisha-iro:#9f5233;
$Red_plum_colored_Kōbai-iro:#db5a6b;
$Red_Salsa:#fd3a4a;
$Red_wisteria_Benifuji:#bb7796;
$Red-bronze_lit_red_dye_and_turmeric_Beniukon:#fb8136;
$Red-brown_Edo_brown_Edocha:#a13d2d;
$Red-brown_lit_chestnut-plum_Kiriume:#8b352d;
$Red-orange_Color_wheel:#ff4500;
$Red-orange_lit_orangutan-colored_Shōjōhi:#dc3023;
$Red-purple:#e40078;
$Red-violet_Color_wheel:#922b3e;
$Red-violet_Crayola:#c0448f;
$Redwood:#a45a52;
$Regalia:#522d80;
$Resolution_blue:#002387;
$Rhythm:#777696;
$Rich_black:#004040;
$Rich_black_FOGRA29:#010b13;
$Rich_black_FOGRA39:#010203;
$Rich_brilliant_lavender:#f1a7fe;
$Rich_electric_blue:#0892d0;
$Rich_gardenia_Kokikuchinashi:#f57f4f;
$Rich_lavender:#a76bcf;
$Rich_lilac:#b666d2;
$Rifle_green:#444c38;
$Rikan_brown_Rikancha:#534a32;
$Rinsed-out_red_Araishu:#ff7952;
$Ripe_mango:#ffc324;
$Robin_egg_blue:#00cccc;
$Rocket_metallic:#8a7f80;
$Roman_silver:#838996;
$Root_beer:#290e05;
$Rose_bonbon:#f9429e;
$Rose_Dust:#9e5e6f;
$Rose_ebony:#674846;
$Rose_garnet:#960145;
$Rose_gold:#b76e79;
$Rose_pink:#ff66cc;
$Rose_quartz_pink:#bd559c;
$Rose_red:#c21e56;
$Rose_taupe:#905d5d;
$Rose_vale:#ab4e52;
$Rosewood:#65000b;
$Rosso_corsa:#d40000;
$Rosy_brown:#bc8f8f;
$Royal_azure:#0038a8;
$Royal_blue_dark:#002366;
$Royal_blue_light:#4169e1;
$Royal_brown:#523b35;
$Royal_fuchsia:#ca2c92;
$Royal_green:#136207;
$Royal_orange:#f99245;
$Royal_pink:#e73895;
$Royal_purple:#7851a9;
$Royal_red:#d00060;
$Royal_red:#9b1c31;
$Ruber:#ce4676;
$Rubine_red:#d10056;
$Ruby:#e0115f;
$Ruby_red:#9b111e;
$Ruddy:#ff0028;
$Ruddy_brown:#bb6528;
$Ruddy_pink:#e18e96;
$Rufous:#a81c07;
$Rum:#716675;
$Russet:#80461b;
$Russian_green:#679267;
$Russian_violet:#32174d;
$Rust:#b7410e;
$Rusted_light-blue_Sabiasagi:#6a7f7a;
$Rusty_celadon_Sabiseiji:#898a74;
$Rusty_red:#da2c43;
$Rusty_storage_Sabionando:#455859;
$Rusty_storeroom_Sabitetsuonando:#3a403b;
$Sacramento_State_green:#043927;
$Saddle_brown:#8b4513;
$Safety_orange:#ff7800;
$Safety_orange_blaze_orange:#ff6700;
$Safety_yellow:#eed202;
$Safflower_color_Benikakehana-iro:#5a4f74;
$Saffron:#f4c430;
$Sage:#bcb88a;
$Salmon:#fa8072;
$Salmon_pink:#ff91a4;
$Salmon_Rose:#e7968b;
$Samsung_blue:#12279e;
$Sandstorm:#ecd540;
$Sandy_brown:#f4a460;
$Sandy_Tan:#fdd9b5;
$Sangria:#92000a;
$Sap_green:#507d2a;
$Sappanwood_Suō:#7e2639;
$Sappanwood_incense_Suōkō:#a24f46;
$Sapphire:#0f52ba;
$Sasquatch_Socks:#ff4681;
$Satin_sheen_gold:#cba135;
$Sawtooth_oak_Akashirotsurubami:#ec956c;
$Scarlet:#ff2400;
$Scarlet_blood_Ake:#cf3a24;
$School_bus_yellow:#ffd800;
$Scorched_brown_Kogecha:#351f19;
$Screamin'_Green:#66ff66;
$Sea_blue:#006994;
$Sea_Foam_Green:#9fe2bf;
$Sea_green:#2e8b57;
$Sea_green_Crayola:#00ffcd;
$Sea_Serpent:#4bc7cf;
$Seal_brown:#59260b;
$Seashell:#fff5ee;
$Selective_yellow:#ffba00;
$Sen_no_Rikyu's_tea_Rikyūcha:#826b58;
$Sepia:#704214;
$Sesame_Street_Green:#00a870;
$Shadow:#8a795d;
$Shadow_blue:#778ba5;
$Shampoo:#ffcff1;
$Shamrock_green:#009e60;
$Shandy:#ffe670;
$Sheen_green:#8fd400;
$Shimmering_Blush:#d98695;
$Shiny_Shamrock:#5fa778;
$Shocking_pink:#fc0fc0;
$Shocking_pink_Crayola:#ff6fff;
$Silk_crepe_brown_Omeshicha:#354e4b;
$Silver_Metallic:#aaa9ad;
$Silver_chalice:#acacac;
$Silver_foil:#afb1ae;
$Silver_Lake_blue:#5d89ba;
$Silver_pink:#c4aead;
$Silver_sand:#bfc1c2;
$Silver-grey_Ginnezumi:#97867c;
$Simmered_seaweed_Mirucha:#4c3d30;
$Sinopia:#cb410b;
$Siskin_sprout_yellow_Hiwamoegi:#7a942e;
$Sizzling_Red:#ff3855;
$Sizzling_Sunrise:#ffdb00;
$Skobeloff:#007474;
$Sky_blue:#87ceeb;
$Sky_blue_Crayola:#76d7ea;
$Sky_Blue_color_Sora-iro:#4d8fac;
$Sky_magenta:#cf71af;
$Slate_blue:#6a5acd;
$Slate_gray:#708090;
$Slimy_green:#299617;
$Smashed_Pumpkin:#ff6d3a;
$Smitten:#c84186;
$Smoke:#738276;
$Smokey_Topaz:#832a0d;
$Smoky_black:#100c08;
$Smoky_Topaz:#933d41;
$Snow:#fffafa;
$Soap:#cec8ef;
$Soldier_Green:#545a2c;
$Solid_pink:#893843;
$Sonic_silver:#757575;
$Sooty_willow_bamboo_Yanagisusutake:#4d4b3a;
$Space_cadet:#1d2951;
$Spanish_bistre:#807532;
$Spanish_blue:#0070b8;
$Spanish_carmine:#d10047;
$Spanish_crimson:#e51a4c;
$Spanish_gray:#989898;
$Spanish_green:#009150;
$Spanish_orange:#e86100;
$Spanish_pink:#f7bfbe;
$Spanish_purple:#66033c;
$Spanish_red:#e60026;
$Spanish_violet:#4c2882;
$Spanish_viridian:#007f5c;
$Spanish_yellow:#f6b511;
$Sparrow-brown_Suzumecha:#8c4736;
$Spartan_Crimson:#9e1316;
$Spicy_mix:#8b5f4d;
$Spicy_red-brown_Chinese_tea_brown_Karacha:#b35c44;
$Spiro_Disco_Ball:#0fc0fc;
$Sponge:#fdfe03;
$Spring_bud:#a7fc00;
$Spring_Frost:#87ff2a;
$Sprint_Red:#ec2131;
$Sprint_Yellow:#ffdd05;
$St_Patrick's_blue:#23297a;
$Stained_red_Benimidori:#78779b;
$Star_command_blue:#007bb8;
$Steamed_chestnut_color_Mushikuri-iro:#d3b17d;
$Steel_blue:#4682b4;
$Steel_pink:#cc33cc;
$Steel_Teal:#5f8a8b;
$Stone_Terrace:#a09484;
$Stop_red:#cf142b;
$Storeroom_brown_Onandocha:#3d4035;
$Stormcloud:#4f666a;
$Straw:#e4d96f;
$Strawberry:#fc5a8d;
$Strawberry_Daiquiri:#d9463e;
$Strawberry_Jam:#8b171a;
$Strawberry_red:#c83f49;
$Strong_boy_pink:#e9399e;
$Stylish_persimmon_Sharegaki:#ffa26b;
$Sugar_Plum:#914e75;
$Sumac-dyed_Hajizome:#e08a1e;
$Sumac-dyed_Kōrozen:#592b1f;
$Sunburnt_Cyclops:#ff404c;
$Sunglow:#ffcc33;
$Sunny:#f2f27a;
$Sunray:#e3ab57;
$Sunset_Orange:#fd5e53;
$Sunset_Yellow:#ffc922;
$Super_pink:#cf6ba9;
$Sweet_Brown:#a83731;
$Sweet_Sixteen:#f29eab;
$Tan:#d2b48c;
$Tan_Crayola:#d99a6c;
$Tangelo:#f94d00;
$Tangerine:#f28500;
$Tangerine_yellow:#ffcc00;
$Taobao_Orange:#ff4200;
$Tardis_blue:#003b6f;
$Tart_Orange:#fb4d46;
$Tatarian_aster_color_Shion-iro:#976e9a;
$Taupe_gray:#8b8589;
$Tea_green:#d0f0c0;
$Teal:#008080;
$Teal_blue:#367588;
$Teal_deer:#99e6b3;
$Teal_green:#00827f;
$Telemagenta:#cf3476;
$Temptress:#3c2126;
$Tenné_tawny:#cd5700;
$Terra_cotta:#e2725b;
$The_color_of_an_undried_wall_Namakabe-iro:#785e49;
$Thin_color_Usu-iro:#a87ca0;
$Thistle:#d8bfd8;
$Thistle_Crayola:#ebb0d7;
$Thousand_herb_color_Chigusa-iro:#317589;
$Thousand_year_old_brown_Sensaicha:#3b3429;
$Thousand_year_old_green_Sensaimidori:#374231;
$Thrice-dyed_crimson_Jinzamomi:#f7665a;
$Tickle_Me_Pink:#fc89ac;
$Tiffany_Blue:#0abab5;
$Tiger's_Eye:#e08d3c;
$Timberwolf:#dbd7d2;
$Titanium:#878681;
$Titanium_yellow:#eee600;
$Tomato:#ff6347;
$Tomato_sauce:#b21807;
$Toolbox:#746cc0;
$Topaz:#ffc87c;
$Tractor_red:#fd0e35;
$Tree_peony_Bōtan:#a4345d;
$Trolley_grey:#808080;
$Tropical_rain_forest:#00755e;
$Tropical_violet:#cda4de;
$True_Blue:#0073cf;
$True_Blue:#2d68c4;
$True_red_Shinshu:#8f1d21;
$Tufts_blue:#3e8ede;
$Tulip:#ff878d;
$Tumbleweed:#deaa88;
$Turkish_rose:#b57281;
$Turmeric-colored_Ukon-iro:#e69b3a;
$Turquoise:#40e0d0;
$Turquoise_blue:#00ffef;
$Turquoise_green:#a0d6b4;
$Turquoise_Surf:#00c5cd;
$Tuscan_red:#7c4848;
$Tuscany:#c09999;
$Twilight_lavender:#8a496b;
$Twitter_blue:#26a7de;
$UA_blue:#0033aa;
$UA_red:#d9004c;
$Ube:#8878c3;
$Ucla_Blue:#536895;
$Ucla_Gold:#ffb300;
$UE_red:#ba0001;
$UFO_Green:#3cd070;
$Ultra_red:#fc6c85;
$Ultramarine_blue:#4166f5;
$Ultramarine_color_Gunjō-iro:#5d8cae;
$Umber:#635147;
$Unbleached_silk:#ffddca;
$Underside_of_willow_leaves_Urahayanagi:#bcb58c;
$United_Nations_blue:#5b92e5;
$University_Of_California_Gold:#b78727;
$University_Of_Tennessee_Orange:#f77f00;
$UP_maroon:#7b1113;
$Upsdell_red:#ae2029;
$Urobilin:#e1ad21;
$USAFA_blue:#004f98;
$Utah_Crimson:#d3003f;
$Vampire_black:#080808;
$Van_Dyke_brown:#664228;
$Vanilla_ice:#f38fa9;
$Vegas_gold:#c5b358;
$Velvet_Birōdo:#224634;
$Venetian_red:#c80815;
$Verdigris:#43b3ae;
$Verizon_Red:#cd040b;
$Verizon_Red_2000-2015:#ec1c24;
$Vermilion:#d9381e;
$Verse_green:#18880d;
$Very_light_azure:#74bbfb;
$Very_light_blue:#6666ff;
$Very_light_malachite_green:#64e986;
$Very_light_tangelo:#ffb077;
$Very_pale_orange:#ffdfbf;
$Very_pale_yellow:#ffffbf;
$Vine_grape_Ebizome:#6d2b50;
$Vine_Green:#38a32a;
$Violet_color_wheel:#7f00ff;
$Violet_crayola:#963d7f;
$Violet_RYB:#8601af;
$Violet-blue:#324ab2;
$Violet-blue_Crayola:#766ec8;
$Violet-red:#f75394;
$Violet-red:#891446;
$Violets_Are_Blue:#8366f4;
$Violin_Brown:#674403;
$Viridian_green:#009698;
$Vista_blue:#7c9ed9;
$Vivaldi_Red:#ef3939;
$Vivid_auburn:#922724;
$Vivid_burgundy:#9f1d35;
$Vivid_cerise:#da1d81;
$Vivid_cerulean:#00aaee;
$Vivid_crimson:#cc0033;
$Vivid_gamboge:#ff9900;
$Vivid_lime_green:#a6d608;
$Vivid_malachite:#00cc33;
$Vivid_mulberry:#b80ce3;
$Vivid_orange:#ff5f00;
$Vivid_orange_peel:#ffa000;
$Vivid_orchid:#cc00ff;
$Vivid_raspberry:#ff006c;
$Vivid_red:#f70d1a;
$Vivid_red-tangelo:#df6124;
$Vivid_sky_blue:#00ccff;
$Vivid_tangelo:#f07427;
$Vivid_tangerine:#ffa089;
$Vivid_vermilion:#e56024;
$Vivid_violet:#9f00ff;
$Vivid_yellow:#ffe302;
$Vodka:#bfc0ee;
$Volt:#ceff00;
$Wageningen_Green:#34b233;
$Walnut-dyed_Kurumizome:#9f7462;
$Warm_black:#004242;
$Washed-out_crimson_dye_Arazome:#ffb3a7;
$Washed-out_persimmon_Araigaki:#ec8254;
$Water:#d4f1f9;
$Water_persimmon_Mizugaki:#b56c60;
$Watermelon_Yellow:#eeff1b;
$Waterspout:#a4f4f9;
$Weathered_bamboo_lit_sooty_Susutake-iro:#593a27;
$Weebly_Blue:#1f8eed;
$Weebly_Orange:#ff9a00;
$Weldon_Blue:#7c98ab;
$Wenge:#645452;
$Wheat:#f5deb3;
$White:#ffffff;
$White_chocolate:#ede6d6;
$White_coffee:#e6e0d4;
$White_mouse_Shironezumi:#b9a193;
$White_oak_Shirotsurubami:#ce9f6f;
$White_tea-colored_Shiracha:#c48e69;
$Whitish_green_Byakuroku:#a5ba93;
$Wild_blue_yonder:#a2add0;
$Wild_orchid:#d470a2;
$Wild_Strawberry:#ff43a4;
$Willow_dye_Yanagizome:#8c9e5e;
$Willow_grey_Yanaginezumi:#817b69;
$Willow_tea_Yanagicha:#9c8a4d;
$Willpower_orange:#fd5800;
$Wilted_brown_lit_wilted_lawn-clippings_Shikancha:#ab4c3d;
$Windsor_tan:#a75502;
$Wine_red:#b11226;
$Winter_Sky:#ff007c;
$Winter_Wizard:#a0e6ff;
$Wintergreen_Dream:#56887d;
$Wisteria:#c9a0dc;
$Wisteria_and_burnt-bamboo_Fujisusutake:#4d3b3c;
$Wisteria_color_Fuji-iro:#89729e;
$Wisteria_purple_Fujimurasaki:#875f9a;
$Xanadu:#738678;
$Xbox_Green:#0e7a0d;
$Xiaomi_Orange:#fd4900;
$Yale_Blue:#0f4d92;
$Yankees_blue:#1c2841;
$Yellow:#ffff00;
$Yellow_Crayola:#fce883;
$Yellow_Munsell:#efcc00;
$Yellow_Pantone:#fedf00;
$Yellow_RYB:#fefe33;
$Yellow_Orange:#ffae42;
$Yellow_Orange_Color_Wheel:#ff9505;
$Yellow_rose:#fff000;
$Yellow_Sea_pine-brown_Kimirucha:#896c39;
$Yellow-green:#9acd32;
$Yellow-green_Color_Wheel:#30b21a;
$Yellow-green_Crayola:#c5e384;
$YInMn_Blue:#2e5090;
$Young_bamboo_color_Wakatake-iro:#6b9362;
$Youtube_red:#b2071d;
$Zaffre:#0014a8;
$Zinnwaldite:#ebc2af;
$Zinnwaldite_brown:#2c1608;
$Zomp:#39a78e;