/*
The Natural Color System (NCS) is the color standard (for interior design, decorating, and painting) in Sweden, Spain, Norway and South Africa.
*/
$0300-N   :#f7f7f7;
$0500-N   :#f2f2f2;
$0502-B   :#f5fbff;
$0502-B50G:#f7fffe;
$0502-G   :#f4fff8;
$0502-G50Y:#fdfff6;
$0502-R   :#fff1f2;
$0502-R50B:#fef6fd;
$0502-Y   :#fffdf6;
$0502-Y50R:#fef8f4;
$0505-B   :#e8f6fe;
$0505-B20G:#eafbff;
$0505-B50G:#ecfffe;
$0505-B80G:#eafffa;
$0505-G   :#e4ffef;
$0505-G10Y:#ecffec;
$0505-G20Y:#f1ffeb;
$0505-G30Y:#f4ffea;
$0505-G40Y:#f7ffe9;
$0505-G50Y:#faffea;
$0505-G60Y:#fcffeb;
$0505-G70Y:#feffeb;
$0505-G80Y:#fffeec;
$0505-G90Y:#fefdeb;
$0505-R   :#ffdee0;
$0505-R10B:#ffdfe3;
$0505-R20B:#ffe1e7;
$0505-R30B:#ffe3ec;
$0505-R40B:#fee6f2;
$0505-R50B:#ffeafb;
$0505-R60B:#f8e9fe;
$0505-R70B:#f0e8ff;
$0505-R80B:#e1e6ff;
$0505-R90B:#e3ecfe;
$0505-Y   :#fffbea;
$0505-Y10R:#fffaea;
$0505-Y20R:#fff7e9;
$0505-Y30R:#fff5e8;
$0505-Y40R:#fff3e6;
$0505-Y50R:#fff0e5;
$0505-Y60R:#feede4;
$0505-Y70R:#ffe9e2;
$0505-Y80R:#fee5e0;
$0505-Y90R:#ffe2e0;
$0507-B   :#dff3ff;
$0507-B20G:#e3faff;
$0507-B80G:#e2fff8;
$0507-G   :#dbffe9;
$0507-G40Y:#f4ffe0;
$0507-G80Y:#fffee4;
$0507-R   :#ffd2d5;
$0507-R20B:#ffd6de;
$0507-R40B:#ffddee;
$0507-R60B:#f5e0ff;
$0507-R80B:#d6ddff;
$0507-Y   :#fffae3;
$0507-Y20R:#fff5e0;
$0507-Y40R:#ffeedd;
$0507-Y60R:#ffe6da;
$0507-Y80R:#fedcd5;
$0510-B   :#d3eeff;
$0510-B10G:#d6f4ff;
$0510-B30G:#d9fbff;
$0510-B50G:#dafffd;
$0510-B70G:#d8fef9;
$0510-B90G:#d1ffea;
$0510-G   :#cdffe0;
$0510-G10Y:#dbffdc;
$0510-G20Y:#e4ffd9;
$0510-G30Y:#ebffd6;
$0510-G40Y:#f0ffd4;
$0510-G50Y:#f5ffd6;
$0510-G60Y:#f9ffd8;
$0510-G70Y:#fdffd9;
$0510-G80Y:#fffdda;
$0510-G90Y:#fefbd8;
$0510-R   :#ffc2c6;
$0510-R10B:#ffc4cb;
$0510-R20B:#ffc7d2;
$0510-R30B:#ffcbdb;
$0510-R40B:#ffd0e7;
$0510-R50B:#ffd7f7;
$0510-R60B:#f1d4ff;
$0510-R70B:#e3d4ff;
$0510-R80B:#c6d1ff;
$0510-R90B:#cbdcff;
$0510-Y   :#fff9d8;
$0510-Y10R:#fff5d6;
$0510-Y20R:#fff1d4;
$0510-Y30R:#ffedd2;
$0510-Y40R:#ffe8d0;
$0510-Y50R:#ffe3ce;
$0510-Y60R:#ffddcc;
$0510-Y70R:#fed7c9;
$0510-Y80R:#ffd0c6;
$0510-Y90R:#ffc9c5;
$0515-B   :#c0e7ff;
$0515-B20G:#c5f5fe;
$0515-B50G:#c8fffd;
$0515-B80G:#c4fff1;
$0515-G   :#b8ffd4;
$0515-G20Y:#d8ffc8;
$0515-G40Y:#eaffc1;
$0515-G60Y:#f7fec6;
$0515-G80Y:#fffdc8;
$0515-G90Y:#fff9c7;
$0515-R   :#feaaaf;
$0515-R10B:#feadb7;
$0515-R20B:#feb1c0;
$0515-R40B:#ffbcdd;
$0515-R60B:#ebc1ff;
$0515-R80B:#b0befe;
$0515-R90B:#b6ceff;
$0515-Y   :#fff6c6;
$0515-Y10R:#fff1c4;
$0515-Y20R:#ffebc1;
$0515-Y30R:#ffe5bf;
$0515-Y40R:#ffdebc;
$0515-Y50R:#ffd7b9;
$0515-Y60R:#ffcfb6;
$0515-Y70R:#ffc6b3;
$0515-Y80R:#ffbdaf;
$0515-Y90R:#ffb4ae;
$0520-B   :#aee0ff;
$0520-B10G:#b2ebff;
$0520-B30G:#b6f8ff;
$0520-B40G:#b8fcff;
$0520-B50G:#b8fffc;
$0520-B60G:#b7fff8;
$0520-B70G:#b5fff4;
$0520-B90G:#abffd9;
$0520-G   :#a5ffc8;
$0520-G10Y:#bdffc0;
$0520-G20Y:#cdffb9;
$0520-G30Y:#daffb4;
$0520-G40Y:#e4ffb0;
$0520-G50Y:#edffb3;
$0520-G60Y:#f4feb5;
$0520-G70Y:#fbffb8;
$0520-G80Y:#fffcb8;
$0520-G90Y:#fff7b6;
$0520-R   :#ff959c;
$0520-R10B:#ff98a5;
$0520-R20B:#ff9cb0;
$0520-R30B:#ffa2c0;
$0520-R40B:#ffa9d4;
$0520-R50B:#ffb4f0;
$0520-R60B:#e5b0ff;
$0520-R70B:#cbb0ff;
$0520-R80B:#9caeff;
$0520-R90B:#a3c1ff;
$0520-Y   :#fff3b5;
$0520-Y10R:#feedb2;
$0520-Y20R:#ffe5b0;
$0520-Y30R:#ffddad;
$0520-Y40R:#ffd5aa;
$0520-Y50R:#ffcca7;
$0520-Y60R:#ffc2a3;
$0520-Y70R:#ffb89f;
$0520-Y80R:#ffac9b;
$0520-Y90R:#ffa19b;
$0525-R60B:#e09ffe;
$0525-R70B:#c1a0ff;
$0530-B   :#8ed4ff;
$0530-B10G:#92e3ff;
$0530-B30G:#98f5ff;
$0530-B40G:#9afcff;
$0530-B50G:#9afffb;
$0530-B60G:#98fff5;
$0530-B70G:#96ffef;
$0530-B90G:#8bffcb;
$0530-G   :#84ffb4;
$0530-G10Y:#a3ffa7;
$0530-G20Y:#baff9e;
$0530-G30Y:#cbff96;
$0530-G40Y:#dafe90;
$0530-G50Y:#e6ff93;
$0530-G60Y:#f0fe96;
$0530-G70Y:#f9fe99;
$0530-G80Y:#fefb9a;
$0530-G90Y:#fef598;
$0530-R   :#ff737c;
$0530-R10B:#ff7687;
$0530-R20B:#fe7b95;
$0530-R30B:#ff81a9;
$0530-R40B:#fe89c4;
$0530-R50B:#ff95ea;
$0530-R80B:#7a92ff;
$0530-R90B:#81aaff;
$0530-Y   :#ffef96;
$0530-Y10R:#fee593;
$0530-Y20R:#ffdb90;
$0530-Y30R:#ffd08d;
$0530-Y40R:#fec589;
$0530-Y50R:#feb986;
$0530-Y60R:#feac82;
$0530-Y70R:#ff9f7e;
$0530-Y80R:#ff9079;
$0530-Y90R:#ff8279;
$0540-B   :#72caff;
$0540-B10G:#76dcff;
$0540-B30G:#7cf2ff;
$0540-G   :#68ffa3;
$0540-G10Y:#8eff93;
$0540-G20Y:#a9ff86;
$0540-G30Y:#bfff7c;
$0540-G40Y:#d0ff74;
$0540-G50Y:#dfff77;
$0540-G60Y:#ecff7a;
$0540-G70Y:#f8fe7d;
$0540-G80Y:#fffa7e;
$0540-G90Y:#fff27c;
$0540-R   :#ff5863;
$0540-R10B:#ff5b6f;
$0540-R20B:#ff5f7f;
$0540-R30B:#ff6596;
$0540-R90B:#6598ff;
$0540-Y   :#ffeb7a;
$0540-Y10R:#ffdf77;
$0540-Y20R:#ffd274;
$0540-Y30R:#ffc571;
$0540-Y40R:#ffb76d;
$0540-Y50R:#ffa96a;
$0540-Y60R:#fe9a66;
$0540-Y70R:#ff8a62;
$0540-Y80R:#ff7a5e;
$0540-Y90R:#ff695f;
$0550-G10Y:#7bff81;
$0550-G20Y:#9aff71;
$0550-G30Y:#b3ff65;
$0550-G40Y:#c8ff5b;
$0550-G50Y:#daff5e;
$0550-G60Y:#e8ff61;
$0550-G70Y:#f7ff64;
$0550-G80Y:#fffa65;
$0550-G90Y:#ffef62;
$0550-R   :#ff424e;
$0550-R10B:#ff455b;
$0550-Y   :#ffe761;
$0550-Y10R:#ffd95e;
$0550-Y20R:#ffca5b;
$0550-Y30R:#ffbb58;
$0550-Y40R:#ffab55;
$0550-Y50R:#ff9b52;
$0550-Y60R:#ff8a4e;
$0550-Y70R:#fe794b;
$0550-Y80R:#ff6747;
$0550-Y90R:#ff5549;
$0560-G10Y:#6bff71;
$0560-G20Y:#8eff5f;
$0560-G30Y:#a9ff51;
$0560-G40Y:#c0ff45;
$0560-G50Y:#d4ff47;
$0560-G60Y:#e5ff4a;
$0560-G70Y:#f6ff4d;
$0560-G80Y:#fff94d;
$0560-G90Y:#ffed4b;
$0560-R   :#ff303e;
$0560-Y   :#fee34a;
$0560-Y10R:#ffd347;
$0560-Y20R:#ffc345;
$0560-Y30R:#ffb242;
$0560-Y40R:#ffa140;
$0560-Y50R:#fe8f3d;
$0560-Y60R:#ff7d3a;
$0560-Y70R:#ff6a37;
$0560-Y80R:#ff5734;
$0560-Y90R:#ff4437;
$0565-G10Y:#63ff6a;
$0565-G50Y:#d2ff3d;
$0565-R   :#ff2836;
$0570-G20Y:#82ff4f;
$0570-G30Y:#a1ff3f;
$0570-G40Y:#baff31;
$0570-G60Y:#e2ff35;
$0570-G70Y:#f4ff37;
$0570-G80Y:#fff837;
$0570-G90Y:#ffeb36;
$0570-Y   :#ffe035;
$0570-Y10R:#ffcf33;
$0570-Y20R:#ffbd31;
$0570-Y30R:#feaa2f;
$0570-Y40R:#fe982d;
$0570-Y50R:#ff852b;
$0570-Y60R:#ff7128;
$0570-Y70R:#ff5e26;
$0570-Y80R:#fe4a24;
$0570-Y90R:#fe3628;
$0575-G20Y:#7dff48;
$0575-G40Y:#b7ff28;
$0575-G60Y:#e1ff2b;
$0575-G70Y:#f4ff2d;
$0575-G90Y:#ffea2c;
$0580-G30Y:#99ff2e;
$0580-Y   :#ffdd22;
$0580-Y10R:#ffca20;
$0580-Y10R:#ffca20;
$0580-Y20R:#feb71f;
$0580-Y20R:#feb71f;
$0580-Y30R:#ffa31d;
$0580-Y40R:#ff901c;
$0580-Y50R:#ff7b1b;
$0580-Y60R:#ff6719;
$0580-Y70R:#ff5318;
$0580-Y80R:#ff3e16;
$0580-Y90R:#ff2a1b;
$0585-Y20R:#ffb416;
$0585-Y30R:#ffa015;
$0585-Y40R:#fe8c14;
$0585-Y50R:#ff7713;
$0585-Y60R:#ff6212;
$0585-Y70R:#ff4e11;
$0585-Y80R:#ff3910;
$0603-G40Y:#f7fcef;
$0603-G80Y:#fcfbf0;
$0603-R20B:#fceaed;
$0603-R40B:#fcedf4;
$0603-R60B:#f8effc;
$0603-R80B:#e9edfc;
$0603-Y20R:#fcf8ef;
$0603-Y40R:#fcf5ed;
$0603-Y60R:#fcf1eb;
$0603-Y80R:#fcede9;
$0804-B50G:#e8f6f6;
$0804-G20Y:#ecf6e7;
$0804-G60Y:#f4f6e7;
$0804-G90Y:#f6f5e7;
$0804-R10B:#f6dee1;
$0804-R30B:#f6e1e8;
$0804-R50B:#f6e7f3;
$0804-R70B:#ebe5f6;
$0804-R90B:#e1e8f6;
$0804-Y10R:#f6f3e6;
$0804-Y30R:#f6efe5;
$0804-Y50R:#f6ebe3;
$0804-Y70R:#f6e6e0;
$0804-Y90R:#f6e0de;
$0907-B20G:#d9eff4;
$0907-B80G:#d8f4ee;
$0907-G20Y:#e1f4da;
$0907-G60Y:#f0f4d9;
$0907-G90Y:#f4f1da;
$0907-R10B:#f4cbd0;
$0907-R30B:#f4d0db;
$0907-R50B:#f4d9ef;
$0907-R70B:#e0d6f4;
$0907-R90B:#d0dcf4;
$0907-Y10R:#f4edd8;
$0907-Y30R:#f4e8d5;
$0907-Y50R:#f4e1d2;
$0907-Y70R:#f4d8cf;
$0907-Y90R:#f4cecc;
$1000-N   :#e5e5e5;
$1002-B   :#e8eef1;
$1002-B   :#e8eef1;
$1002-B50G:#eaf1f1;
$1002-G   :#e7f1eb;
$1002-G   :#e7f1eb;
$1002-G50Y:#eff1e9;
$1002-R   :#f1e4e5;
$1002-R   :#f1e4e5;
$1002-R50B:#f1e9f0;
$1002-Y   :#f1f0e9;
$1002-Y50R:#f1ebe7;
$1005-B   :#dce9f1;
$1005-B20G:#deeef1;
$1005-B50G:#dff1f1;
$1005-B80G:#ddf1ed;
$1005-B80G:#ddf1ed;
$1005-G   :#d8f1e2;
$1005-G10Y:#dff1e0;
$1005-G20Y:#e4f1de;
$1005-G20Y:#e4f1de;
$1005-G30Y:#e7f1dd;
$1005-G40Y:#eaf1dc;
$1005-G50Y:#edf1dd;
$1005-G60Y:#eef1de;
$1005-G70Y:#f0f1df;
$1005-G80Y:#f1f1df;
$1005-G80Y:#f1f1df;
$1005-G90Y:#f1efdf;
$1005-R   :#f1d2d4;
$1005-R10B:#f1d3d7;
$1005-R20B:#f1d5db;
$1005-R20B:#f1d5db;
$1005-R30B:#f1d7e0;
$1005-R40B:#f1dae6;
$1005-R50B:#f1deed;
$1005-R60B:#eadcf1;
$1005-R70B:#e3dcf1;
$1005-R80B:#d5daf1;
$1005-R90B:#d7e0f1;
$1005-Y   :#f1eede;
$1005-Y10R:#f1ecdd;
$1005-Y20R:#f1eadc;
$1005-Y20R:#f1eadc;
$1005-Y30R:#f1e8db;
$1005-Y40R:#f1e6da;
$1005-Y50R:#f1e3d9;
$1005-Y60R:#f1e0d8;
$1005-Y70R:#f1ddd6;
$1005-Y80R:#f1d9d4;
$1005-Y90R:#f1d6d4;
$1010-B   :#c8e2f1;
$1010-B10G:#cae7f1;
$1010-B30G:#cdeef1;
$1010-B50G:#cef1f0;
$1010-B70G:#ccf1ec;
$1010-B90G:#c6f1de;
$1010-G   :#c2f1d5;
$1010-G10Y:#cff1d1;
$1010-G20Y:#d8f1cd;
$1010-G30Y:#def1cb;
$1010-G40Y:#e4f1c9;
$1010-G50Y:#e8f1cb;
$1010-G60Y:#ecf1cc;
$1010-G70Y:#eff1ce;
$1010-G80Y:#f1f0ce;
$1010-G90Y:#f1eecd;
$1010-R   :#f1b8bb;
$1010-R10B:#f1bac0;
$1010-R20B:#f1bdc7;
$1010-R30B:#f1c0d0;
$1010-R40B:#f1c5db;
$1010-R50B:#f1ccea;
$1010-R60B:#e4c9f1;
$1010-R70B:#d7c8f1;
$1010-R80B:#bcc6f1;
$1010-R90B:#c1d1f1;
$1010-Y   :#f1eccc;
$1010-Y10R:#f1e8cb;
$1010-Y20R:#f1e4c9;
$1010-Y30R:#f1e0c7;
$1010-Y40R:#f1dcc5;
$1010-Y50R:#f1d7c3;
$1010-Y60R:#f1d1c1;
$1010-Y70R:#f1cbbe;
$1010-Y80R:#f1c5bc;
$1010-Y90R:#f1bebb;
$1015-B   :#b6dbf1;
$1015-B20G:#bbe8f1;
$1015-B50G:#bef1ef;
$1015-B80G:#baf1e5;
$1015-G   :#aef1c8;
$1015-G20Y:#cdf1be;
$1015-G40Y:#def1b7;
$1015-G60Y:#eaf1bc;
$1015-G80Y:#f1f0be;
$1015-G90Y:#f1ecbd;
$1015-R   :#f1a1a6;
$1015-R10B:#f1a4ad;
$1015-R20B:#f1a7b6;
$1015-R40B:#f1b2d2;
$1015-R60B:#dfb7f1;
$1015-R80B:#a6b4f1;
$1015-R90B:#acc3f1;
$1015-Y   :#f1e9bb;
$1015-Y10R:#f1e4b9;
$1015-Y20R:#f1dfb7;
$1015-Y30R:#f1d9b5;
$1015-Y40R:#f1d2b2;
$1015-Y50R:#f1cbb0;
$1015-Y60R:#f1c4ad;
$1015-Y70R:#f1bca9;
$1015-Y80R:#f1b3a6;
$1015-Y90R:#f1aaa5;
$1020-B   :#a5d5f1;
$1020-B10G:#a8dff1;
$1020-B30G:#adebf1;
$1020-B40G:#afeff1;
$1020-B50G:#aef1ef;
$1020-B60G:#adf1eb;
$1020-B70G:#abf1e7;
$1020-B90G:#a2f1ce;
$1020-G   :#9cf1bd;
$1020-G10Y:#b3f1b5;
$1020-G20Y:#c2f1af;
$1020-G30Y:#cef1aa;
$1020-G40Y:#d8f1a6;
$1020-G50Y:#e1f1a9;
$1020-G60Y:#e7f1ac;
$1020-G70Y:#eef1ae;
$1020-G80Y:#f1efae;
$1020-G90Y:#f1eaad;
$1020-R   :#f18d94;
$1020-R10B:#f1909c;
$1020-R20B:#f194a7;
$1020-R30B:#f19ab5;
$1020-R40B:#f1a1c9;
$1020-R50B:#f1aae4;
$1020-R60B:#d9a7f1;
$1020-R70B:#c1a7f1;
$1020-R80B:#93a5f1;
$1020-R90B:#9ab7f1;
$1020-Y   :#f1e7ab;
$1020-Y10R:#f1e0a9;
$1020-Y20R:#f1d9a7;
$1020-Y30R:#f1d2a4;
$1020-Y40R:#f1caa1;
$1020-Y50R:#f1c19e;
$1020-Y60R:#f1b89a;
$1020-Y70R:#f1ae97;
$1020-Y80R:#f1a393;
$1020-Y90R:#f19892;
$1030-B   :#86c9f1;
$1030-B10G:#8bd7f1;
$1030-B30G:#90e8f1;
$1030-B40G:#92eef1;
$1030-B50G:#92f1ee;
$1030-B60G:#90f1e8;
$1030-B70G:#8ef1e2;
$1030-B90G:#84f1c0;
$1030-G   :#7df1aa;
$1030-G10Y:#9bf19f;
$1030-G20Y:#b0f195;
$1030-G30Y:#c1f18e;
$1030-G40Y:#cef188;
$1030-G50Y:#daf18b;
$1030-G60Y:#e3f18e;
$1030-G70Y:#ecf191;
$1030-G80Y:#f1ee92;
$1030-G90Y:#f1e890;
$1030-R   :#f16d76;
$1030-R10B:#f17080;
$1030-R20B:#f1748d;
$1030-R30B:#f17aa0;
$1030-R40B:#f182b9;
$1030-R50B:#f18dde;
$1030-R60B:#d088f1;
$1030-R70B:#ae8af1;
$1030-R80B:#738bf1;
$1030-R90B:#7aa1f1;
$1030-Y   :#f1e28e;
$1030-Y10R:#f1d98b;
$1030-Y20R:#f1d088;
$1030-Y30R:#f1c585;
$1030-Y40R:#f1bb82;
$1030-Y50R:#f1af7f;
$1030-Y60R:#f1a37b;
$1030-Y70R:#f19677;
$1030-Y80R:#f18973;
$1030-Y90R:#f17b73;
$1040-B   :#6cbff1;
$1040-B10G:#70d0f1;
$1040-B20G:#73dcf1;
$1040-B30G:#75e5f1;
$1040-B40G:#77eef1;
$1040-B50G:#77f1ed;
$1040-B60G:#75f1e6;
$1040-B70G:#74f1de;
$1040-B80G:#71f1d5;
$1040-B90G:#69f1b4;
$1040-G   :#63f19a;
$1040-G10Y:#86f18b;
$1040-G20Y:#a0f17f;
$1040-G30Y:#b5f175;
$1040-G40Y:#c5f16e;
$1040-G50Y:#d4f171;
$1040-G60Y:#dff174;
$1040-G70Y:#ebf177;
$1040-G80Y:#f1ed77;
$1040-G90Y:#f1e575;
$1040-R   :#f1535e;
$1040-R10B:#f15669;
$1040-R20B:#f15a79;
$1040-R30B:#f1608e;
$1040-R40B:#f167ac;
$1040-R50B:#f172d9;
$1040-R60B:#c76ef1;
$1040-R70B:#9e72f1;
$1040-R80B:#5975f1;
$1040-R90B:#6090f1;
$1040-Y   :#f1de74;
$1040-Y10R:#f1d371;
$1040-Y20R:#f1c76e;
$1040-Y30R:#f1bb6b;
$1040-Y40R:#f1ae67;
$1040-Y50R:#f1a064;
$1040-Y60R:#f19260;
$1040-Y70R:#f1835d;
$1040-Y80R:#f17359;
$1040-Y90R:#f1645a;
$1050-B   :#54b6f1;
$1050-B10G:#58caf1;
$1050-B20G:#5bd8f1;
$1050-B30G:#5de3f1;
$1050-B40G:#5fedf1;
$1050-B50G:#5ff1ec;
$1050-B60G:#5df1e3;
$1050-B70G:#5cf1db;
$1050-B80G:#59f1cf;
$1050-B90G:#52f1aa;
$1050-G   :#4cf18c;
$1050-G10Y:#75f17a;
$1050-G10Y:#75f17a;
$1050-G20Y:#92f16b;
$1050-G20Y:#92f16b;
$1050-G30Y:#aaf160;
$1050-G40Y:#bdf156;
$1050-G50Y:#cef159;
$1050-G60Y:#dcf15c;
$1050-G70Y:#eaf15f;
$1050-G80Y:#f1ed5f;
$1050-G90Y:#f1e35d;
$1050-R   :#f13f4a;
$1050-R10B:#f14157;
$1050-R20B:#f14567;
$1050-R30B:#f1497f;
$1050-R40B:#f150a1;
$1050-R90B:#4a81f1;
$1050-Y   :#f1db5c;
$1050-Y10R:#f1cd59;
$1050-Y20R:#f1c056;
$1050-Y30R:#f1b153;
$1050-Y40R:#f1a250;
$1050-Y50R:#f1934d;
$1050-Y60R:#f1834a;
$1050-Y70R:#f17247;
$1050-Y80R:#f16143;
$1050-Y90R:#f15045;
$1055-B90G:#47f1a5;
$1060-B   :#40aff1;
$1060-G   :#39f180;
$1060-G10Y:#65f16b;
$1060-G20Y:#86f15a;
$1060-G30Y:#a0f14c;
$1060-G40Y:#b6f141;
$1060-G50Y:#c9f144;
$1060-G60Y:#d9f146;
$1060-G70Y:#e9f149;
$1060-G80Y:#f1ec49;
$1060-G90Y:#f1e147;
$1060-R   :#f12e3a;
$1060-R10B:#f13047;
$1060-R20B:#f13259;
$1060-R30B:#f13672;
$1060-Y   :#f1d746;
$1060-Y10R:#f1c844;
$1060-Y20R:#f1b941;
$1060-Y30R:#f1a93f;
$1060-Y40R:#f1983c;
$1060-Y50R:#f1883a;
$1060-Y60R:#f17637;
$1060-Y70R:#f16534;
$1060-Y80R:#f15331;
$1060-Y90R:#f14134;
$1070-G10Y:#57f15e;
$1070-G20Y:#7bf14b;
$1070-G30Y:#98f13b;
$1070-G40Y:#b0f12e;
$1070-G50Y:#c5f130;
$1070-G60Y:#d6f132;
$1070-G70Y:#e8f134;
$1070-G80Y:#f1eb35;
$1070-G90Y:#f1df33;
$1070-R   :#f11f2d;
$1070-R10B:#f1213a;
$1070-R20B:#f1234c;
$1070-Y   :#f1d432;
$1070-Y10R:#f1c430;
$1070-Y20R:#f1b32e;
$1070-Y30R:#f1a12c;
$1070-Y40R:#f1902a;
$1070-Y50R:#f17e28;
$1070-Y60R:#f16b26;
$1070-Y70R:#f15924;
$1070-Y80R:#f14622;
$1070-Y90R:#f13326;
$1075-G20Y:#76f144;
$1075-G40Y:#adf126;
$1075-G50Y:#c3f127;
$1075-G60Y:#d5f129;
$1075-G70Y:#e7f12b;
$1075-G80Y:#f1eb2b;
$1075-G90Y:#f1de2a;
$1080-G30Y:#91f12c;
$1080-R   :#f11322;
$1080-Y   :#f1d220;
$1080-Y10R:#f1c01e;
$1080-Y20R:#f1ad1d;
$1080-Y30R:#f19b1c;
$1080-Y40R:#f1881b;
$1080-Y50R:#f17519;
$1080-Y60R:#f16218;
$1080-Y70R:#f14e16;
$1080-Y80R:#f13b15;
$1080-Y90R:#f1281a;
$1085-Y80R:#f1360f;
$1085-Y90R:#f12214;
$1500-N   :#d8d8d8;
$1502-B   :#dbe1e4;
$1502-B50G:#dde4e3;
$1502-G   :#dae4de;
$1502-G50Y:#e2e4dc;
$1502-R   :#e4d7d8;
$1502-R50B:#e4dce2;
$1502-Y   :#e4e3dc;
$1502-Y50R:#e4deda;
$1505-G80Y:#e4e3d3;
$1505-G90Y:#e4e2d2;
$1505-Y   :#e4e1d2;
$1505-Y10R:#e4dfd1;
$1505-Y20R:#e4ddd0;
$1505-Y30R:#e4dbcf;
$1505-Y40R:#e4d9ce;
$1505-Y50R:#e4d7cd;
$1505-Y60R:#e4d4cc;
$1505-Y70R:#e4d1ca;
$1505-Y80R:#e4cdc9;
$1505-Y90R:#e4cac8;
$1510-B   :#bdd5e4;
$1510-B20G:#c1dee4;
$1510-B50G:#c3e4e3;
$1510-B80G:#c0e4dc;
$1510-G   :#b8e4c9;
$1510-G20Y:#cce4c2;
$1510-G40Y:#d7e4be;
$1510-G60Y:#dfe4c1;
$1510-G80Y:#e4e3c3;
$1510-G90Y:#e4e0c2;
$1510-R   :#e4adb1;
$1510-R10B:#e4afb6;
$1510-R20B:#e4b2bc;
$1510-R40B:#e4bacf;
$1510-R60B:#d8bee4;
$1510-R80B:#b2bbe4;
$1510-R90B:#b6c5e4;
$1510-Y   :#e4dec1;
$1510-Y10R:#e4dbbf;
$1510-Y20R:#e4d8be;
$1510-Y30R:#e4d4bc;
$1510-Y40R:#e4d0ba;
$1510-Y50R:#e4cbb8;
$1510-Y60R:#e4c6b6;
$1510-Y70R:#e4c0b4;
$1510-Y80R:#e4bab1;
$1510-Y90R:#e4b4b1;
$1515-B   :#accfe4;
$1515-B20G:#b1dbe4;
$1515-B50G:#b3e4e2;
$1515-B80G:#afe4d8;
$1515-G   :#a5e4bd;
$1515-G20Y:#c1e4b3;
$1515-G40Y:#d1e4ad;
$1515-G60Y:#dde4b1;
$1515-G80Y:#e4e2b3;
$1515-G90Y:#e4dfb2;
$1515-R   :#e4989d;
$1515-R10B:#e49ba3;
$1515-R20B:#e49eac;
$1515-R40B:#e4a8c6;
$1515-R60B:#d2ade4;
$1515-R80B:#9daae4;
$1515-R90B:#a3b8e4;
$1515-Y   :#e4dcb1;
$1515-Y10R:#e4d7af;
$1515-Y20R:#e4d2ad;
$1515-Y30R:#e4cdab;
$1515-Y40R:#e4c7a8;
$1515-Y50R:#e4c0a6;
$1515-Y60R:#e4b9a3;
$1515-Y70R:#e4b1a0;
$1515-Y80R:#e4a99d;
$1515-Y90R:#e4a19c;
$1550-R70B:#8857e4;
$1550-R80B:#405ee4;
$1555-B10G:#49bce4;
$1555-R70B:#824ee4;
$1555-R80B:#3757e4;
$1560-R90B:#346ee4;
$1565-B   :#33a1e4;
$1565-G   :#2de474;
$1575-R10B:#e41931;
$1580-R   :#e41220;
$1580-Y80R:#e43814;
$1580-Y90R:#e42518;
$2000-N   :#cccccc;
$2002-B   :#cfd3d6;
$2002-B50G:#d0d6d6;
$2002-G   :#cdd6d1;
$2002-G50Y:#d5d6cf;
$2002-R   :#d6cbcb;
$2002-R50B:#d6cfd5;
$2002-Y   :#d6d5cf;
$2002-Y50R:#d6d1cd;
$2005-B   :#c3cfd6;
$2005-B20G:#c5d3d6;
$2005-B20G:#c5d3d6;
$2005-B50G:#c6d6d6;
$2005-B80G:#c5d6d2;
$2005-B80G:#c5d6d2;
$2005-G   :#c0d6c9;
$2005-G10Y:#c6d6c7;
$2005-G20Y:#cbd6c6;
$2005-G20Y:#cbd6c6;
$2005-G30Y:#ced6c5;
$2005-G40Y:#d0d6c4;
$2005-G50Y:#d2d6c5;
$2005-G60Y:#d4d6c6;
$2005-G70Y:#d6d6c6;
$2005-G80Y:#d6d6c6;
$2005-G90Y:#d6d5c6;
$2005-R   :#d6bbbc;
$2005-R10B:#d6bcbf;
$2005-R20B:#d6bdc2;
$2005-R20B:#d6bdc2;
$2005-R30B:#d6bfc7;
$2005-R40B:#d6c2cc;
$2005-R50B:#d6c5d3;
$2005-R50B:#d6c5d3;
$2005-R60B:#d0c4d6;
$2005-R70B:#cac3d6;
$2005-R80B:#bdc2d6;
$2005-R90B:#c0c7d6;
$2005-Y   :#d6d4c5;
$2005-Y10R:#d6d2c5;
$2005-Y20R:#d6d0c4;
$2005-Y30R:#d6cfc3;
$2005-Y40R:#d6ccc2;
$2005-Y50R:#d6cac1;
$2005-Y50R:#d6cac1;
$2005-Y60R:#d6c7c0;
$2005-Y70R:#d6c4be;
$2005-Y80R:#d6c1bd;
$2005-Y90R:#d6bebc;
$2010-B   :#b2c9d6;
$2010-B10G:#b4ced6;
$2010-B30G:#b6d3d6;
$2010-B50G:#b7d6d5;
$2010-B70G:#b6d6d1;
$2010-B90G:#b0d6c5;
$2010-G   :#add6bd;
$2010-G10Y:#b8d6b9;
$2010-G20Y:#c0d6b7;
$2010-G30Y:#c6d6b4;
$2010-G40Y:#cad6b3;
$2010-G50Y:#ced6b4;
$2010-G60Y:#d2d6b6;
$2010-G70Y:#d5d6b7;
$2010-G80Y:#d6d5b7;
$2010-G90Y:#d6d3b6;
$2010-R   :#d6a3a6;
$2010-R10B:#d6a5ab;
$2010-R20B:#d6a8b1;
$2010-R30B:#d6abb9;
$2010-R40B:#d6afc3;
$2010-R50B:#d6b5d0;
$2010-R60B:#cbb3d6;
$2010-R70B:#bfb2d6;
$2010-R80B:#a7b0d6;
$2010-R90B:#abb9d6;
$2010-Y   :#d6d1b6;
$2010-Y10R:#d6ceb4;
$2010-Y20R:#d6cbb3;
$2010-Y30R:#d6c7b1;
$2010-Y40R:#d6c3af;
$2010-Y50R:#d6bfae;
$2010-Y60R:#d6baac;
$2010-Y70R:#d6b5a9;
$2010-Y80R:#d6afa7;
$2010-Y90R:#d6a9a6;
$2020-B   :#92bdd6;
$2020-B10G:#96c6d6;
$2020-B30G:#9ad1d6;
$2020-B40G:#9bd5d6;
$2020-B50G:#9bd6d4;
$2020-B60G:#9ad6d1;
$2020-B70G:#98d6cd;
$2020-B90G:#90d6b7;
$2020-G   :#8bd6a8;
$2020-G10Y:#9fd6a1;
$2020-G20Y:#add69c;
$2020-G30Y:#b7d697;
$2020-G40Y:#c0d694;
$2020-G50Y:#c8d696;
$2020-G60Y:#ced699;
$2020-G70Y:#d3d69b;
$2020-G80Y:#d6d49b;
$2020-G90Y:#d6d09a;
$2020-R   :#d67e83;
$2020-R10B:#d6808b;
$2020-R20B:#d68494;
$2020-R30B:#d688a1;
$2020-R40B:#d68fb3;
$2020-R50B:#d697ca;
$2020-R60B:#c194d6;
$2020-R70B:#ab94d6;
$2020-R80B:#8392d6;
$2020-R90B:#89a2d6;
$2020-Y   :#d6cd98;
$2020-Y10R:#d6c796;
$2020-Y20R:#d6c194;
$2020-Y30R:#d6bb92;
$2020-Y40R:#d6b38f;
$2020-Y50R:#d6ac8c;
$2020-Y60R:#d6a389;
$2020-Y70R:#d69b86;
$2020-Y80R:#d69183;
$2020-Y90R:#d68882;
$2030-B   :#77b3d6;
$2030-B10G:#7bbfd6;
$2030-B30G:#80ced6;
$2030-B40G:#82d4d6;
$2030-B50G:#81d6d3;
$2030-B60G:#80d6ce;
$2030-B70G:#7ed6c9;
$2030-B90G:#75d6ab;
$2030-G   :#6fd697;
$2030-G10Y:#8ad68d;
$2030-G20Y:#9cd685;
$2030-G30Y:#abd67e;
$2030-G40Y:#b7d679;
$2030-G50Y:#c2d67c;
$2030-G60Y:#cad67f;
$2030-G70Y:#d2d681;
$2030-G80Y:#d6d481;
$2030-G90Y:#d6ce80;
$2030-R   :#d66168;
$2030-R10B:#d66471;
$2030-R20B:#d6677e;
$2030-R30B:#d66c8e;
$2030-R40B:#d673a5;
$2030-R50B:#d67dc5;
$2030-R60B:#b979d6;
$2030-R70B:#9b7bd6;
$2030-R80B:#677bd6;
$2030-R90B:#6d8fd6;
$2030-Y   :#d6c97e;
$2030-Y10R:#d6c17c;
$2030-Y20R:#d6b979;
$2030-Y30R:#d6b076;
$2030-Y40R:#d6a674;
$2030-Y50R:#d69c70;
$2030-Y60R:#d6916d;
$2030-Y70R:#d6856a;
$2030-Y80R:#d67966;
$2030-Y90R:#d66d66;
$2040-B   :#60aad6;
$2040-B10G:#64b9d6;
$2040-B20G:#66c4d6;
$2040-B30G:#68ccd6;
$2040-B40G:#6ad3d6;
$2040-B50G:#6ad6d3;
$2040-B60G:#68d6cc;
$2040-B70G:#67d6c6;
$2040-B80G:#65d6bd;
$2040-B90G:#5dd6a0;
$2040-G   :#58d689;
$2040-G10Y:#77d67c;
$2040-G20Y:#8ed671;
$2040-G30Y:#a0d668;
$2040-G40Y:#afd661;
$2040-G50Y:#bcd664;
$2040-G60Y:#c7d667;
$2040-G70Y:#d1d66a;
$2040-G80Y:#d6d36a;
$2040-G90Y:#d6cc68;
$2040-R   :#d64a53;
$2040-R10B:#d64d5d;
$2040-R20B:#d6506b;
$2040-R30B:#d6557e;
$2040-R40B:#d65c99;
$2040-R50B:#d666c1;
$2040-R60B:#b162d6;
$2040-R70B:#8d65d6;
$2040-R80B:#4f68d6;
$2040-R90B:#5580d6;
$2040-Y   :#d6c667;
$2040-Y10R:#d6bc64;
$2040-Y20R:#d6b162;
$2040-Y30R:#d6a65f;
$2040-Y40R:#d69a5c;
$2040-Y50R:#d68e59;
$2040-Y60R:#d68156;
$2040-Y70R:#d67452;
$2040-Y80R:#d6664f;
$2040-Y90R:#d65950;
$2050-B   :#4ba2d6;
$2050-B10G:#4fb4d6;
$2050-B20G:#51c0d6;
$2050-B30G:#53cad6;
$2050-B40G:#55d3d6;
$2050-B50G:#55d6d2;
$2050-B60G:#53d6ca;
$2050-B70G:#51d6c3;
$2050-B80G:#4fd6b8;
$2050-B90G:#49d697;
$2050-G   :#44d67d;
$2050-G10Y:#68d66c;
$2050-G20Y:#82d660;
$2050-G30Y:#97d655;
$2050-G40Y:#a8d64d;
$2050-G50Y:#b7d64f;
$2050-G60Y:#c4d652;
$2050-G70Y:#d0d654;
$2050-G80Y:#d6d255;
$2050-G90Y:#d6ca53;
$2050-R   :#d63842;
$2050-R10B:#d63a4d;
$2050-R20B:#d63d5c;
$2050-R30B:#d64171;
$2050-R40B:#d6478f;
$2050-R50B:#d650bd;
$2050-R60B:#aa4dd6;
$2050-R70B:#8052d6;
$2050-R80B:#3c59d6;
$2050-R90B:#4172d6;
$2050-Y   :#d6c251;
$2050-Y10R:#d6b74f;
$2050-Y20R:#d6aa4d;
$2050-Y30R:#d69e4a;
$2050-Y40R:#d69047;
$2050-Y50R:#d68345;
$2050-Y60R:#d67442;
$2050-Y70R:#d6663f;
$2050-Y80R:#d6573c;
$2050-Y90R:#d6483e;
$2055-B10G:#45b1d6;
$2060-B   :#399bd6;
$2060-B50G:#41d6d1;
$2060-B70G:#3ed6c0;
$2060-B90G:#37d68f;
$2060-G   :#32d672;
$2060-G10Y:#5ad65f;
$2060-G20Y:#77d650;
$2060-G30Y:#8fd644;
$2060-G40Y:#a2d63a;
$2060-G50Y:#b3d63c;
$2060-G60Y:#c1d63e;
$2060-G70Y:#cfd640;
$2060-G80Y:#d6d241;
$2060-G90Y:#d6c83f;
$2060-R   :#d62934;
$2060-R10B:#d62a3f;
$2060-R20B:#d62d4f;
$2060-R30B:#d63065;
$2060-R40B:#d63586;
$2060-R70B:#7642d6;
$2060-R80B:#2c4cd6;
$2060-R90B:#3067d6;
$2060-Y   :#d6c03e;
$2060-Y10R:#d6b23c;
$2060-Y20R:#d6a43a;
$2060-Y30R:#d69638;
$2060-Y40R:#d68835;
$2060-Y50R:#d67933;
$2060-Y60R:#d66931;
$2060-Y70R:#d6592e;
$2060-Y80R:#d6492c;
$2060-Y90R:#d6392f;
$2065-B   :#3098d6;
$2065-R20B:#d62649;
$2065-R90B:#2962d6;
$2070-G10Y:#4ed654;
$2070-G20Y:#6ed643;
$2070-G30Y:#87d635;
$2070-G40Y:#9dd629;
$2070-G50Y:#afd62b;
$2070-G60Y:#bed62d;
$2070-G70Y:#ced62e;
$2070-G80Y:#d6d12f;
$2070-G90Y:#d6c62d;
$2070-R   :#d61c28;
$2070-R10B:#d61d34;
$2070-Y   :#d6bd2c;
$2070-Y10R:#d6ae2b;
$2070-Y20R:#d69f29;
$2070-Y30R:#d68f27;
$2070-Y40R:#d68026;
$2070-Y50R:#d67024;
$2070-Y60R:#d65f22;
$2070-Y70R:#d64f20;
$2070-Y80R:#d63e1e;
$2070-Y90R:#d62d22;
$2075-G20Y:#69d63c;
$2075-G30Y:#84d62e;
$2075-Y60R:#d65b1b;
$2075-Y70R:#d64a1a;
$2500-N   :#bfbfbf;
$2502-B   :#c2c6c9;
$2502-G   :#c0c9c4;
$2502-R   :#c9bebf;
$2502-Y   :#c9c8c2;
$2555-B20G:#43b3c9;
$2555-B30G:#44bcc9;
$2555-B40G:#46c5c9;
$2555-B60G:#44c9bd;
$2555-B80G:#41c9ab;
$2565-G   :#28c967;
$2565-R80B:#2341c9;
$2570-G20Y:#67c93e;
$2570-G30Y:#7fc931;
$2570-R   :#c91a25;
$2570-Y30R:#c98725;
$2570-Y40R:#c97823;
$2570-Y50R:#c96922;
$2570-Y60R:#c95920;
$2570-Y70R:#c94a1e;
$2570-Y80R:#c93a1c;
$2570-Y90R:#c92b20;
$3000-N   :#b2b2b2;
$3005-B20G:#adb9bc;
$3005-B80G:#acbcb8;
$3005-G20Y:#b1bcad;
$3005-G50Y:#b8bcac;
$3005-G80Y:#bcbbae;
$3005-R20B:#bca6aa;
$3005-R50B:#bcacb9;
$3005-R80B:#a5aabc;
$3005-Y20R:#bcb6ab;
$3005-Y50R:#bcb1a9;
$3005-Y80R:#bca9a5;
$3010-B   :#9cb0bc;
$3010-B10G:#9db4bc;
$3010-B30G:#a0b9bc;
$3010-B50G:#a0bcbb;
$3010-B70G:#9fbcb7;
$3010-B90G:#9abcad;
$3010-G   :#97bca5;
$3010-G10Y:#a1bca2;
$3010-G20Y:#a8bca0;
$3010-G30Y:#adbc9e;
$3010-G40Y:#b1bc9c;
$3010-G50Y:#b5bc9e;
$3010-G60Y:#b8bc9f;
$3010-G70Y:#babca0;
$3010-G80Y:#bcbba0;
$3010-G90Y:#bcb9a0;
$3010-R   :#bc8f92;
$3010-R10B:#bc9096;
$3010-R20B:#bc939b;
$3010-R30B:#bc96a2;
$3010-R40B:#bc99aa;
$3010-R50B:#bc9eb6;
$3010-R60B:#b29cbc;
$3010-R70B:#a79cbc;
$3010-R80B:#929abc;
$3010-R90B:#96a2bc;
$3010-Y   :#bcb79f;
$3010-Y10R:#bcb59e;
$3010-Y20R:#bcb29c;
$3010-Y30R:#bcae9b;
$3010-Y40R:#bcab9a;
$3010-Y50R:#bca798;
$3010-Y60R:#bca396;
$3010-Y70R:#bc9e94;
$3010-Y80R:#bc9992;
$3010-Y90R:#bc9491;
$3020-B   :#80a5bc;
$3020-B10G:#83adbc;
$3020-B30G:#86b7bc;
$3020-B40G:#88babc;
$3020-B50G:#88bcba;
$3020-B60G:#86bcb7;
$3020-B70G:#85bcb3;
$3020-B90G:#7ebca0;
$3020-G   :#7abc93;
$3020-G10Y:#8bbc8d;
$3020-G20Y:#97bc88;
$3020-G30Y:#a1bc84;
$3020-G40Y:#a8bc81;
$3020-G50Y:#afbc84;
$3020-G60Y:#b4bc86;
$3020-G70Y:#b9bc87;
$3020-G80Y:#bcba88;
$3020-G90Y:#bcb686;
$3020-R   :#bc6e73;
$3020-R10B:#bc7079;
$3020-R20B:#bc7382;
$3020-R30B:#bc778d;
$3020-R40B:#bc7d9c;
$3020-R50B:#bc84b1;
$3020-R60B:#a982bc;
$3020-R70B:#9682bc;
$3020-R80B:#7380bc;
$3020-R90B:#788ebc;
$3020-Y   :#bcb385;
$3020-Y10R:#bcae83;
$3020-Y20R:#bca982;
$3020-Y30R:#bca37f;
$3020-Y40R:#bc9d7d;
$3020-Y50R:#bc967b;
$3020-Y60R:#bc8f78;
$3020-Y70R:#bc8775;
$3020-Y80R:#bc7f72;
$3020-Y90R:#bc7772;
$3030-B   :#689cbc;
$3030-B10G:#6ca7bc;
$3030-B30G:#70b4bc;
$3030-B40G:#71b9bc;
$3030-B50G:#71bcb9;
$3030-B60G:#70bcb5;
$3030-B70G:#6ebcb0;
$3030-B90G:#66bc95;
$3030-G   :#61bc84;
$3030-G10Y:#78bc7b;
$3030-G20Y:#89bc74;
$3030-G30Y:#96bc6e;
$3030-G40Y:#a0bc6a;
$3030-G50Y:#a9bc6c;
$3030-G60Y:#b1bc6f;
$3030-G70Y:#b8bc71;
$3030-G80Y:#bcb971;
$3030-G90Y:#bcb470;
$3030-R   :#bc555b;
$3030-R10B:#bc5763;
$3030-R20B:#bc5a6e;
$3030-R30B:#bc5f7c;
$3030-R40B:#bc6590;
$3030-R50B:#bc6dad;
$3030-R60B:#a26abc;
$3030-R70B:#876bbc;
$3030-R80B:#5a6cbc;
$3030-R90B:#5f7ebc;
$3030-Y   :#bcb06e;
$3030-Y10R:#bca96c;
$3030-Y20R:#bca16a;
$3030-Y30R:#bc9a68;
$3030-Y40R:#bc9165;
$3030-Y50R:#bc8862;
$3030-Y60R:#bc7f5f;
$3030-Y70R:#bc755c;
$3030-Y80R:#bc6a59;
$3030-Y90R:#bc6059;
$3040-B   :#5495bc;
$3040-B10G:#57a2bc;
$3040-B20G:#59abbc;
$3040-B30G:#5bb3bc;
$3040-B40G:#5db9bc;
$3040-B50G:#5dbcb8;
$3040-B60G:#5bbcb3;
$3040-B70G:#5abcad;
$3040-B80G:#58bca5;
$3040-B90G:#52bc8c;
$3040-G   :#4dbc78;
$3040-G10Y:#68bc6c;
$3040-G20Y:#7dbc63;
$3040-G30Y:#8cbc5b;
$3040-G40Y:#99bc55;
$3040-G50Y:#a5bc58;
$3040-G60Y:#aebc5a;
$3040-G70Y:#b7bc5c;
$3040-G80Y:#bcb95d;
$3040-G90Y:#bcb25b;
$3040-R   :#bc4149;
$3040-R10B:#bc4352;
$3040-R20B:#bc465e;
$3040-R30B:#bc4a6e;
$3040-R40B:#bc5086;
$3040-R50B:#bc59a9;
$3040-R60B:#9b55bc;
$3040-R70B:#7b58bc;
$3040-R80B:#455bbc;
$3040-R90B:#4b70bc;
$3040-Y   :#bcad5a;
$3040-Y10R:#bca458;
$3040-Y20R:#bc9b55;
$3040-Y30R:#bc9153;
$3040-Y40R:#bc8750;
$3040-Y50R:#bc7c4e;
$3040-Y60R:#bc714b;
$3040-Y70R:#bc6648;
$3040-Y80R:#bc5a45;
$3040-Y90R:#bc4d46;
$3050-B   :#428ebc;
$3050-B10G:#459dbc;
$3050-B20G:#47a8bc;
$3050-B30G:#49b1bc;
$3050-B40G:#4ab8bc;
$3050-B50G:#4abcb8;
$3050-B60G:#49bcb1;
$3050-B70G:#47bcaa;
$3050-B80G:#45bca1;
$3050-B90G:#40bc84;
$3050-G   :#3bbc6d;
$3050-G10Y:#5bbc5f;
$3050-G20Y:#72bc54;
$3050-G30Y:#84bc4a;
$3050-G40Y:#93bc43;
$3050-G50Y:#a0bc45;
$3050-G60Y:#abbc47;
$3050-G70Y:#b6bc4a;
$3050-G80Y:#bcb84a;
$3050-G90Y:#bcb048;
$3050-R   :#bc313a;
$3050-R10B:#bc3343;
$3050-R20B:#bc3550;
$3050-R30B:#bc3963;
$3050-R40B:#bc3e7d;
$3050-R50B:#bc46a5;
$3050-R60B:#9543bc;
$3050-R70B:#7048bc;
$3050-R80B:#354ebc;
$3050-R90B:#3964bc;
$3050-Y   :#bcaa47;
$3050-Y10R:#bca045;
$3050-Y20R:#bc9543;
$3050-Y30R:#bc8a41;
$3050-Y40R:#bc7e3e;
$3050-Y50R:#bc723c;
$3050-Y60R:#bc663a;
$3050-Y70R:#bc5937;
$3050-Y80R:#bc4c34;
$3050-Y90R:#bc3f36;
$3055-B50G:#41bcb7;
$3055-R30B:#bc315d;
$3055-R40B:#bc3679;
$3055-R50B:#bc3ea3;
$3060-B   :#3188bc;
$3060-B10G:#3499bc;
$3060-B20G:#36a5bc;
$3060-B30G:#37afbc;
$3060-B40G:#39b8bc;
$3060-B70G:#36bca8;
$3060-B90G:#30bc7d;
$3060-G   :#2cbc64;
$3060-G10Y:#4fbc53;
$3060-G20Y:#68bc46;
$3060-G30Y:#7dbc3b;
$3060-G40Y:#8ebc33;
$3060-G50Y:#9cbc35;
$3060-G60Y:#a9bc36;
$3060-G70Y:#b5bc38;
$3060-G80Y:#bcb739;
$3060-G90Y:#bcaf37;
$3060-R   :#bc232d;
$3060-R10B:#bc2537;
$3060-R20B:#bc2745;
$3060-R70B:#673abc;
$3060-R80B:#2742bc;
$3060-R90B:#2a5abc;
$3060-Y   :#bca836;
$3060-Y10R:#bc9c34;
$3060-Y20R:#bc9033;
$3060-Y30R:#bc8331;
$3060-Y40R:#bc772f;
$3060-Y50R:#bc692d;
$3060-Y60R:#bc5c2b;
$3060-Y70R:#bc4e29;
$3060-Y80R:#bc4026;
$3060-Y90R:#bc3229;
$3065-G10Y:#49bc4e;
$3065-G40Y:#8bbc2b;
$3065-G50Y:#9bbc2d;
$3065-G60Y:#a8bc2f;
$3065-R90B:#2456bc;
$3065-Y20R:#bc8d2b;
$3500-N   :#a5a5a5;
$3502-B   :#a8acae;
$3502-G   :#a7aeaa;
$3502-R   :#aea5a5;
$3502-Y   :#aeada9;
$3555-B60G:#3baea4;
$3555-B80G:#39ae94;
$3555-R60B:#8836ae;
$3560-G   :#29ae5d;
$3560-G10Y:#49ae4d;
$3560-G20Y:#61ae41;
$3560-G30Y:#74ae37;
$3560-G40Y:#84ae2f;
$3560-G50Y:#91ae31;
$3560-G60Y:#9dae33;
$3560-G70Y:#a8ae34;
$3560-R   :#ae212a;
$3560-R80B:#243dae;
$3560-R90B:#2754ae;
$3560-Y   :#ae9c32;
$3560-Y20R:#ae852f;
$3560-Y30R:#ae7a2d;
$3560-Y40R:#ae6e2b;
$3560-Y50R:#ae622a;
$3560-Y60R:#ae5528;
$3560-Y70R:#ae4926;
$3560-Y80R:#ae3c24;
$3560-Y90R:#ae2f26;
$4000-N   :#999999;
$4005-B20G:#949fa1;
$4005-B80G:#94a19e;
$4005-G20Y:#98a194;
$4005-G50Y:#9ea194;
$4005-G80Y:#a1a095;
$4005-R20B:#a18e92;
$4005-R50B:#a1949e;
$4005-R80B:#8e91a1;
$4005-Y20R:#a19c93;
$4005-Y50R:#a19891;
$4005-Y80R:#a1918e;
$4010-B10G:#879aa1;
$4010-B30G:#899fa1;
$4010-B50G:#89a1a0;
$4010-B70G:#88a19d;
$4010-B90G:#84a194;
$4010-G10Y:#8aa18b;
$4010-G30Y:#94a187;
$4010-G50Y:#9ba187;
$4010-G70Y:#a0a189;
$4010-G90Y:#a19e89;
$4010-R10B:#a17c80;
$4010-R30B:#a1808b;
$4010-R50B:#a1889c;
$4010-R70B:#8f86a1;
$4010-R90B:#808ba1;
$4010-Y10R:#a19b87;
$4010-Y30R:#a19585;
$4010-Y50R:#a18f82;
$4010-Y70R:#a1887f;
$4010-Y90R:#a17f7d;
$4020-B   :#6e8ea1;
$4020-B10G:#7094a1;
$4020-B30G:#739da1;
$4020-B50G:#74a19f;
$4020-B70G:#72a19a;
$4020-B90G:#6ca189;
$4020-G   :#68a17e;
$4020-G10Y:#77a179;
$4020-G30Y:#8aa171;
$4020-G50Y:#96a171;
$4020-G70Y:#9fa174;
$4020-G90Y:#a19c73;
$4020-R   :#a15e62;
$4020-R10B:#a16068;
$4020-R20B:#a1636f;
$4020-R30B:#a16679;
$4020-R40B:#a16b86;
$4020-R50B:#a17298;
$4020-R60B:#916fa1;
$4020-R70B:#806fa1;
$4020-R80B:#626ea1;
$4020-R90B:#677aa1;
$4020-Y   :#a19a72;
$4020-Y10R:#a19571;
$4020-Y20R:#a1916f;
$4020-Y30R:#a18c6d;
$4020-Y40R:#a1876b;
$4020-Y50R:#a18169;
$4020-Y60R:#a17b67;
$4020-Y70R:#a17464;
$4020-Y80R:#a16d62;
$4020-Y90R:#a16662;
$4030-B   :#5a86a1;
$4030-B10G:#5c8fa1;
$4030-B30G:#609ba1;
$4030-B50G:#61a19f;
$4030-B70G:#5fa197;
$4030-B90G:#58a180;
$4030-G   :#53a171;
$4030-G10Y:#67a16a;
$4030-G30Y:#80a15f;
$4030-G50Y:#91a15d;
$4030-G70Y:#9ea161;
$4030-G90Y:#a19a60;
$4030-R   :#a1494e;
$4030-R10B:#a14b55;
$4030-R20B:#a14d5e;
$4030-R30B:#a1516b;
$4030-R40B:#a1567c;
$4030-R50B:#a15e94;
$4030-R60B:#8b5ba1;
$4030-R70B:#745ca1;
$4030-R80B:#4d5ca1;
$4030-R90B:#516ca1;
$4030-Y   :#a1975f;
$4030-Y10R:#a1915d;
$4030-Y20R:#a18a5b;
$4030-Y30R:#a18459;
$4030-Y40R:#a17c57;
$4030-Y50R:#a17554;
$4030-Y60R:#a16d52;
$4030-Y70R:#a1644f;
$4030-Y80R:#a15b4c;
$4030-Y90R:#a1524d;
$4040-B   :#487fa1;
$4040-B10G:#4b8ba1;
$4040-B20G:#4d93a1;
$4040-B30G:#4e99a1;
$4040-B40G:#509ea1;
$4040-B50G:#4fa19e;
$4040-B60G:#4ea199;
$4040-B70G:#4da194;
$4040-B80G:#4ba18e;
$4040-B90G:#46a178;
$4040-G   :#42a167;
$4040-G10Y:#59a15d;
$4040-G20Y:#6ba155;
$4040-G30Y:#78a14e;
$4040-G40Y:#83a149;
$4040-G50Y:#8da14b;
$4040-G60Y:#95a14d;
$4040-G70Y:#9da14f;
$4040-G80Y:#a19e50;
$4040-G90Y:#a1994e;
$4040-R   :#a1383e;
$4040-R10B:#a13946;
$4040-R20B:#a13c50;
$4040-R30B:#a1405f;
$4040-R40B:#a14573;
$4040-R50B:#a14c91;
$4040-R60B:#8549a1;
$4040-R70B:#694ca1;
$4040-R80B:#3b4ea1;
$4040-R90B:#4060a1;
$4040-Y   :#a1944d;
$4040-Y10R:#a18d4b;
$4040-Y20R:#a18549;
$4040-Y30R:#a17c47;
$4040-Y40R:#a17445;
$4040-Y50R:#a16b43;
$4040-Y60R:#a16140;
$4040-Y70R:#a1573e;
$4040-Y80R:#a14d3b;
$4040-Y90R:#a1423c;
$4050-B   :#387aa1;
$4050-B10G:#3b87a1;
$4050-B20G:#3d90a1;
$4050-B30G:#3e98a1;
$4050-B40G:#3f9ea1;
$4050-B50G:#3fa19e;
$4050-B60G:#3ea198;
$4050-B70G:#3da192;
$4050-B80G:#3ca18a;
$4050-B90G:#36a171;
$4050-G   :#33a15d;
$4050-G10Y:#4ea151;
$4050-G20Y:#62a148;
$4050-G30Y:#71a140;
$4050-G40Y:#7ea139;
$4050-G50Y:#89a13b;
$4050-G60Y:#93a13d;
$4050-G70Y:#9ca13f;
$4050-G80Y:#a19e3f;
$4050-G90Y:#a1973e;
$4050-R   :#a12a31;
$4050-R10B:#a12b3a;
$4050-R20B:#a12e45;
$4050-R30B:#a13154;
$4050-R40B:#a1356b;
$4050-R50B:#a13c8e;
$4050-R60B:#8039a1;
$4050-R70B:#603ea1;
$4050-R80B:#2d42a1;
$4050-R90B:#3156a1;
$4050-Y   :#a1923d;
$4050-Y10R:#a1893b;
$4050-Y20R:#a18039;
$4050-Y30R:#a17637;
$4050-Y40R:#a16c36;
$4050-Y50R:#a16233;
$4050-Y60R:#a15731;
$4050-Y70R:#a14c2f;
$4050-Y80R:#a1412d;
$4050-Y90R:#a1362e;
$4055-B   :#3177a1;
$4055-B40G:#389ea1;
$4055-R70B:#5c37a1;
$4055-R95B:#2d5fa1;
$4055-Y10R:#a18734;
$4500-N   :#8c8c8c;
$4502-B   :#8e9193;
$4502-G   :#8d9390;
$4502-R   :#938b8c;
$4502-Y   :#93938f;
$4550-B   :#336f93;
$4550-B20G:#388493;
$4550-B30G:#398b93;
$4550-B40G:#3a9193;
$4550-B50G:#3a9390;
$4550-B80G:#37937f;
$4550-B90G:#329368;
$4550-G   :#2e9356;
$4550-G10Y:#47934b;
$4550-G20Y:#599342;
$4550-G30Y:#68933a;
$4550-G40Y:#749335;
$4550-G50Y:#7e9336;
$4550-G60Y:#879338;
$4550-G70Y:#8f933a;
$4550-R70B:#583993;
$4550-R80B:#293d93;
$4550-R90B:#2d4f93;
$4550-Y   :#938638;
$4550-Y30R:#936c33;
$4550-Y40R:#936331;
$4550-Y50R:#935a2f;
$4550-Y60R:#93502d;
$4550-Y70R:#93462b;
$4550-Y80R:#933b29;
$4550-Y90R:#93312a;
$5000-N   :#7f7f7f;
$5005-B20G:#7b8486;
$5005-B80G:#7b8684;
$5005-G20Y:#7f867c;
$5005-G50Y:#83867b;
$5005-G80Y:#86867c;
$5005-R20B:#86767a;
$5005-R50B:#867b84;
$5005-R80B:#767986;
$5005-Y20R:#86827a;
$5005-Y50R:#867e79;
$5005-Y80R:#867976;
$5010-B10G:#708186;
$5010-B30G:#728486;
$5010-B50G:#738685;
$5010-B70G:#718683;
$5010-B90G:#6e867b;
$5010-G10Y:#738674;
$5010-G30Y:#7c8671;
$5010-G50Y:#818671;
$5010-G70Y:#858672;
$5010-G90Y:#868472;
$5010-R10B:#86676b;
$5010-R30B:#866b74;
$5010-R50B:#867182;
$5010-R70B:#776f86;
$5010-R90B:#6b7486;
$5010-Y10R:#868171;
$5010-Y30R:#867d6f;
$5010-Y50R:#86776d;
$5010-Y70R:#86716a;
$5010-Y90R:#866a68;
$5020-B   :#5c7686;
$5020-B10G:#5e7c86;
$5020-B30G:#608286;
$5020-B50G:#618685;
$5020-B70G:#5f8680;
$5020-B90G:#5a8672;
$5020-G   :#578669;
$5020-G10Y:#638665;
$5020-G30Y:#73865f;
$5020-G50Y:#7d865e;
$5020-G70Y:#848661;
$5020-G90Y:#868260;
$5020-R   :#864e52;
$5020-R10B:#865057;
$5020-R20B:#86525d;
$5020-R30B:#865565;
$5020-R40B:#865970;
$5020-R50B:#865f7e;
$5020-R60B:#795d86;
$5020-R70B:#6b5d86;
$5020-R80B:#525b86;
$5020-R90B:#556586;
$5020-Y   :#86805f;
$5020-Y10R:#867d5e;
$5020-Y20R:#86795c;
$5020-Y30R:#86755b;
$5020-Y40R:#867059;
$5020-Y50R:#866b58;
$5020-Y60R:#866656;
$5020-Y70R:#866154;
$5020-Y80R:#865b52;
$5020-Y90R:#865551;
$5030-B   :#4b7086;
$5030-B10G:#4d7786;
$5030-B30G:#508186;
$5030-B50G:#518684;
$5030-B70G:#4f867e;
$5030-B90G:#49866b;
$5030-G   :#45865f;
$5030-G10Y:#568658;
$5030-G30Y:#6b864f;
$5030-G50Y:#79864d;
$5030-G70Y:#838651;
$5030-G90Y:#868150;
$5030-R   :#863c41;
$5030-R10B:#863e47;
$5030-R20B:#86404e;
$5030-R30B:#864459;
$5030-R40B:#864867;
$5030-R50B:#864e7b;
$5030-R60B:#734c86;
$5030-R70B:#614d86;
$5030-R80B:#404d86;
$5030-R90B:#445a86;
$5030-Y   :#867e4f;
$5030-Y10R:#86794d;
$5030-Y20R:#86734c;
$5030-Y30R:#866e4a;
$5030-Y40R:#866848;
$5030-Y50R:#866146;
$5030-Y60R:#865b44;
$5030-Y70R:#865342;
$5030-Y80R:#864c40;
$5030-Y90R:#864440;
$5040-B   :#3c6a86;
$5040-B10G:#3e7486;
$5040-B20G:#407a86;
$5040-B30G:#418086;
$5040-B40G:#428486;
$5040-B50G:#428684;
$5040-B60G:#418680;
$5040-B70G:#40867c;
$5040-B80G:#3f8676;
$5040-B90G:#3a8664;
$5040-G   :#378656;
$5040-G10Y:#4b864d;
$5040-G20Y:#598646;
$5040-G30Y:#648641;
$5040-G40Y:#6e863d;
$5040-G50Y:#76863f;
$5040-G60Y:#7c8640;
$5040-G70Y:#838642;
$5040-G80Y:#868442;
$5040-G90Y:#867f41;
$5040-R   :#862e34;
$5040-R10B:#86303a;
$5040-R20B:#863243;
$5040-R30B:#86354f;
$5040-R40B:#863960;
$5040-R50B:#863f78;
$5040-R60B:#6f3d86;
$5040-R70B:#583f86;
$5040-R80B:#324186;
$5040-R90B:#355086;
$5040-Y   :#867c40;
$5040-Y10R:#86753f;
$5040-Y20R:#866f3d;
$5040-Y30R:#86683b;
$5040-Y40R:#866039;
$5040-Y50R:#865937;
$5040-Y60R:#865135;
$5040-Y70R:#864933;
$5040-Y80R:#864031;
$5040-Y90R:#863732;
$5045-B10G:#377286;
$5500-N   :#727272;
$5502-B   :#747779;
$5502-G   :#747976;
$5502-R   :#797272;
$5502-Y   :#797875;
$5540-B   :#366079;
$5540-B10G:#386879;
$5540-B20G:#396e79;
$5540-B30G:#3b7379;
$5540-B40G:#3c7779;
$5540-B50G:#3c7977;
$5540-B80G:#38796a;
$5540-B90G:#34795a;
$5540-G   :#31794d;
$5540-G10Y:#437945;
$5540-G20Y:#50793f;
$5540-G30Y:#5a793b;
$5540-G40Y:#637937;
$5540-G50Y:#6a7938;
$5540-G60Y:#70793a;
$5540-G70Y:#76793b;
$5540-R70B:#4f3979;
$5540-R90B:#304879;
$5540-Y90R:#79322d;
$6000-N   :#666666;
$6005-B20G:#636a6b;
$6005-B80G:#626b69;
$6005-G20Y:#656b63;
$6005-G50Y:#696b62;
$6005-G80Y:#6b6b63;
$6005-R20B:#6b5f61;
$6005-R50B:#6b636a;
$6005-R80B:#5f616b;
$6005-Y20R:#6b6862;
$6005-Y50R:#6b6560;
$6005-Y80R:#6b615e;
$6010-B10G:#5a676b;
$6010-B30G:#5b6a6b;
$6010-B50G:#5c6b6b;
$6010-B70G:#5b6b69;
$6010-B90G:#586b63;
$6010-G10Y:#5c6b5d;
$6010-G30Y:#636b5a;
$6010-G50Y:#676b5a;
$6010-G70Y:#6a6b5c;
$6010-G90Y:#6b6a5b;
$6010-R10B:#6b5356;
$6010-R30B:#6b565c;
$6010-R50B:#6b5a68;
$6010-R70B:#5f596b;
$6010-R90B:#565d6b;
$6010-Y10R:#6b675a;
$6010-Y30R:#6b6459;
$6010-Y50R:#6b5f57;
$6010-Y70R:#6b5a55;
$6010-Y90R:#6b5553;
$6020-B   :#495e6b;
$6020-B10G:#4b636b;
$6020-B30G:#4d686b;
$6020-B50G:#4d6b6a;
$6020-B70G:#4c6b67;
$6020-B90G:#486b5b;
$6020-G   :#456b54;
$6020-G10Y:#4f6b51;
$6020-G30Y:#5c6b4c;
$6020-G50Y:#646b4b;
$6020-G70Y:#6a6b4d;
$6020-G90Y:#6b684d;
$6020-R   :#6b3f42;
$6020-R10B:#6b4045;
$6020-R20B:#6b424a;
$6020-R30B:#6b4451;
$6020-R40B:#6b4759;
$6020-R50B:#6b4c65;
$6020-R60B:#614a6b;
$6020-R70B:#564a6b;
$6020-R80B:#41496b;
$6020-R90B:#44516b;
$6020-Y   :#6b674c;
$6020-Y10R:#6b644b;
$6020-Y20R:#6b614a;
$6020-Y30R:#6b5d49;
$6020-Y40R:#6b5a47;
$6020-Y50R:#6b5646;
$6020-Y60R:#6b5245;
$6020-Y70R:#6b4d43;
$6020-Y80R:#6b4841;
$6020-Y90R:#6b4441;
$6030-B   :#3c596b;
$6030-B10G:#3e606b;
$6030-B30G:#40676b;
$6030-B50G:#416b6a;
$6030-B70G:#3f6b65;
$6030-B90G:#3a6b55;
$6030-G   :#376b4c;
$6030-G10Y:#456b46;
$6030-G30Y:#566b3f;
$6030-G50Y:#616b3e;
$6030-G70Y:#696b40;
$6030-G90Y:#6b6740;
$6030-R   :#6b3034;
$6030-R10B:#6b3239;
$6030-R20B:#6b343f;
$6030-R30B:#6b3647;
$6030-R40B:#6b3a52;
$6030-R50B:#6b3e63;
$6030-R60B:#5c3d6b;
$6030-R70B:#4d3d6b;
$6030-R80B:#333d6b;
$6030-R90B:#36486b;
$6030-Y   :#6b653f;
$6030-Y10R:#6b613e;
$6030-Y20R:#6b5c3d;
$6030-Y30R:#6b583b;
$6030-Y40R:#6b533a;
$6030-Y50R:#6b4e38;
$6030-Y60R:#6b4836;
$6030-Y70R:#6b4335;
$6030-Y80R:#6b3d33;
$6030-Y90R:#6b3733;
$6035-B60G:#3a6b67;
$6500-N   :#595959;
$6502-B   :#5a5d5e;
$6502-G   :#5a5e5b;
$6502-R   :#5e5959;
$6502-Y   :#5e5d5b;
$6530-B30G:#385a5e;
$6530-B50G:#395e5d;
$6530-G10Y:#3c5e3e;
$6530-G50Y:#555e36;
$7000-N   :#4c4c4c;
$7005-B20G:#4a4f50;
$7005-B80G:#4a504f;
$7005-G20Y:#4c504a;
$7005-G50Y:#4f504a;
$7005-G80Y:#50504a;
$7005-R20B:#504749;
$7005-R50B:#504a4f;
$7005-R80B:#474950;
$7005-Y20R:#504e4a;
$7005-Y50R:#504c48;
$7005-Y80R:#504947;
$7010-B10G:#434d50;
$7010-B30G:#444f50;
$7010-B50G:#455050;
$7010-B70G:#44504f;
$7010-B90G:#42504a;
$7010-G10Y:#455046;
$7010-G30Y:#4a5044;
$7010-G50Y:#4e5044;
$7010-G70Y:#505045;
$7010-G90Y:#504f44;
$7010-R10B:#503e40;
$7010-R30B:#504045;
$7010-R50B:#50444e;
$7010-R70B:#484350;
$7010-R90B:#404650;
$7010-Y10R:#504d44;
$7010-Y30R:#504b42;
$7010-Y50R:#504841;
$7010-Y70R:#50443f;
$7010-Y90R:#503f3e;
$7020-B   :#374750;
$7020-B10G:#384a50;
$7020-B30G:#3a4e50;
$7020-B50G:#3a5050;
$7020-B70G:#39504d;
$7020-B90G:#365045;
$7020-G   :#34503f;
$7020-G10Y:#3c503c;
$7020-G30Y:#455039;
$7020-G50Y:#4b5038;
$7020-G70Y:#4f503a;
$7020-G90Y:#504e3a;
$7020-R   :#502f31;
$7020-R10B:#503034;
$7020-R20B:#503138;
$7020-R30B:#50333c;
$7020-R40B:#503543;
$7020-R50B:#50394c;
$7020-R60B:#483750;
$7020-R70B:#403750;
$7020-R80B:#313750;
$7020-R90B:#333d50;
$7020-Y   :#504d39;
$7020-Y10R:#504b38;
$7020-Y20R:#504837;
$7020-Y30R:#504637;
$7020-Y40R:#504336;
$7020-Y50R:#504035;
$7020-Y60R:#503d33;
$7020-Y70R:#503a32;
$7020-Y80R:#503631;
$7020-Y90R:#503331;
$7500-N   :#3f3f3f;
$7502-B   :#414243;
$7502-G   :#404341;
$7502-R   :#433f40;
$7502-Y   :#434341;
$8000-N   :#323232;
$8005-B20G:#313536;
$8005-B80G:#313635;
$8005-G20Y:#333632;
$8005-G50Y:#353631;
$8005-G80Y:#363632;
$8005-R20B:#362f31;
$8005-R50B:#363135;
$8005-R80B:#2f3036;
$8005-Y20R:#363431;
$8005-Y50R:#363330;
$8005-Y80R:#36302f;
$8010-B10G:#2d3336;
$8010-B30G:#2e3536;
$8010-B50G:#2e3635;
$8010-B70G:#2d3634;
$8010-B90G:#2c3631;
$8010-G10Y:#2e362e;
$8010-G30Y:#31362d;
$8010-G50Y:#34362d;
$8010-G70Y:#35362e;
$8010-G90Y:#36352e;
$8010-R10B:#36292b;
$8010-R30B:#362b2e;
$8010-R50B:#362d34;
$8010-R70B:#302d36;
$8010-R90B:#2b2e36;
$8010-Y10R:#36342d;
$8010-Y30R:#36322c;
$8010-Y50R:#36302b;
$8010-Y70R:#362d2a;
$8010-Y90R:#362a2a;
$8500-N   :#262626;
$8500-N   :#262626;
$8502-B   :#272828;
$8502-G   :#272827;
$8502-R   :#282626;
$8502-Y   :#282827;
$8505-B20G:#252828;
$8505-B80G:#252828;
$8505-G20Y:#262825;
$8505-G80Y:#282825;
$8505-R20B:#282425;
$8505-R80B:#242428;
$8505-Y20R:#282725;
$8505-Y80R:#282423;