$NCS_0300-N:#f7f7f7;
$NCS_0500-N:#f2f2f2;
$NCS_0502-B:#f5fbff;
$NCS_0502-B50G:#f7fffe;
$NCS_0502-G:#f4fff8;
$NCS_0502-G50Y:#fdfff6;
$NCS_0502-R:#fff1f2;
$NCS_0502-R50B:#fef6fd;
$NCS_0502-Y:#fffdf6;
$NCS_0502-Y50R:#fef8f4;
$NCS_0505-B:#e8f6fe;
$NCS_0505-B20G:#eafbff;
$NCS_0505-B50G:#ecfffe;
$NCS_0505-B80G:#eafffa;
$NCS_0505-G:#e4ffef;
$NCS_0505-G10Y:#ecffec;
$NCS_0505-G20Y:#f1ffeb;
$NCS_0505-G30Y:#f4ffea;
$NCS_0505-G40Y:#f7ffe9;
$NCS_0505-G50Y:#faffea;
$NCS_0505-G60Y:#fcffeb;
$NCS_0505-G70Y:#feffeb;
$NCS_0505-G80Y:#fffeec;
$NCS_0505-G90Y:#fefdeb;
$NCS_0505-R:#ffdee0;
$NCS_0505-R10B:#ffdfe3;
$NCS_0505-R20B:#ffe1e7;
$NCS_0505-R30B:#ffe3ec;
$NCS_0505-R40B:#fee6f2;
$NCS_0505-R50B:#ffeafb;
$NCS_0505-R60B:#f8e9fe;
$NCS_0505-R70B:#f0e8ff;
$NCS_0505-R80B:#e1e6ff;
$NCS_0505-R90B:#e3ecfe;
$NCS_0505-Y:#fffbea;
$NCS_0505-Y10R:#fffaea;
$NCS_0505-Y20R:#fff7e9;
$NCS_0505-Y30R:#fff5e8;
$NCS_0505-Y40R:#fff3e6;
$NCS_0505-Y50R:#fff0e5;
$NCS_0505-Y60R:#feede4;
$NCS_0505-Y70R:#ffe9e2;
$NCS_0505-Y80R:#fee5e0;
$NCS_0505-Y90R:#ffe2e0;
$NCS_0507-B:#dff3ff;
$NCS_0507-B20G:#e3faff;
$NCS_0507-B80G:#e2fff8;
$NCS_0507-G:#dbffe9;
$NCS_0507-G40Y:#f4ffe0;
$NCS_0507-G80Y:#fffee4;
$NCS_0507-R:#ffd2d5;
$NCS_0507-R20B:#ffd6de;
$NCS_0507-R40B:#ffddee;
$NCS_0507-R60B:#f5e0ff;
$NCS_0507-R80B:#d6ddff;
$NCS_0507-Y:#fffae3;
$NCS_0507-Y20R:#fff5e0;
$NCS_0507-Y40R:#ffeedd;
$NCS_0507-Y60R:#ffe6da;
$NCS_0507-Y80R:#fedcd5;
$NCS_0510-B:#d3eeff;
$NCS_0510-B10G:#d6f4ff;
$NCS_0510-B30G:#d9fbff;
$NCS_0510-B50G:#dafffd;
$NCS_0510-B70G:#d8fef9;
$NCS_0510-B90G:#d1ffea;
$NCS_0510-G:#cdffe0;
$NCS_0510-G10Y:#dbffdc;
$NCS_0510-G20Y:#e4ffd9;
$NCS_0510-G30Y:#ebffd6;
$NCS_0510-G40Y:#f0ffd4;
$NCS_0510-G50Y:#f5ffd6;
$NCS_0510-G60Y:#f9ffd8;
$NCS_0510-G70Y:#fdffd9;
$NCS_0510-G80Y:#fffdda;
$NCS_0510-G90Y:#fefbd8;
$NCS_0510-R:#ffc2c6;
$NCS_0510-R10B:#ffc4cb;
$NCS_0510-R20B:#ffc7d2;
$NCS_0510-R30B:#ffcbdb;
$NCS_0510-R40B:#ffd0e7;
$NCS_0510-R50B:#ffd7f7;
$NCS_0510-R60B:#f1d4ff;
$NCS_0510-R70B:#e3d4ff;
$NCS_0510-R80B:#c6d1ff;
$NCS_0510-R90B:#cbdcff;
$NCS_0510-Y:#fff9d8;
$NCS_0510-Y10R:#fff5d6;
$NCS_0510-Y20R:#fff1d4;
$NCS_0510-Y30R:#ffedd2;
$NCS_0510-Y40R:#ffe8d0;
$NCS_0510-Y50R:#ffe3ce;
$NCS_0510-Y60R:#ffddcc;
$NCS_0510-Y70R:#fed7c9;
$NCS_0510-Y80R:#ffd0c6;
$NCS_0510-Y90R:#ffc9c5;
$NCS_0515-B:#c0e7ff;
$NCS_0515-B20G:#c5f5fe;
$NCS_0515-B50G:#c8fffd;
$NCS_0515-B80G:#c4fff1;
$NCS_0515-G:#b8ffd4;
$NCS_0515-G20Y:#d8ffc8;
$NCS_0515-G40Y:#eaffc1;
$NCS_0515-G60Y:#f7fec6;
$NCS_0515-G80Y:#fffdc8;
$NCS_0515-G90Y:#fff9c7;
$NCS_0515-R:#feaaaf;
$NCS_0515-R10B:#feadb7;
$NCS_0515-R20B:#feb1c0;
$NCS_0515-R40B:#ffbcdd;
$NCS_0515-R60B:#ebc1ff;
$NCS_0515-R80B:#b0befe;
$NCS_0515-R90B:#b6ceff;
$NCS_0515-Y:#fff6c6;
$NCS_0515-Y10R:#fff1c4;
$NCS_0515-Y20R:#ffebc1;
$NCS_0515-Y30R:#ffe5bf;
$NCS_0515-Y40R:#ffdebc;
$NCS_0515-Y50R:#ffd7b9;
$NCS_0515-Y60R:#ffcfb6;
$NCS_0515-Y70R:#ffc6b3;
$NCS_0515-Y80R:#ffbdaf;
$NCS_0515-Y90R:#ffb4ae;
$NCS_0520-B:#aee0ff;
$NCS_0520-B10G:#b2ebff;
$NCS_0520-B30G:#b6f8ff;
$NCS_0520-B40G:#b8fcff;
$NCS_0520-B50G:#b8fffc;
$NCS_0520-B60G:#b7fff8;
$NCS_0520-B70G:#b5fff4;
$NCS_0520-B90G:#abffd9;
$NCS_0520-G:#a5ffc8;
$NCS_0520-G10Y:#bdffc0;
$NCS_0520-G20Y:#cdffb9;
$NCS_0520-G30Y:#daffb4;
$NCS_0520-G40Y:#e4ffb0;
$NCS_0520-G50Y:#edffb3;
$NCS_0520-G60Y:#f4feb5;
$NCS_0520-G70Y:#fbffb8;
$NCS_0520-G80Y:#fffcb8;
$NCS_0520-G90Y:#fff7b6;
$NCS_0520-R:#ff959c;
$NCS_0520-R10B:#ff98a5;
$NCS_0520-R20B:#ff9cb0;
$NCS_0520-R30B:#ffa2c0;
$NCS_0520-R40B:#ffa9d4;
$NCS_0520-R50B:#ffb4f0;
$NCS_0520-R60B:#e5b0ff;
$NCS_0520-R70B:#cbb0ff;
$NCS_0520-R80B:#9caeff;
$NCS_0520-R90B:#a3c1ff;
$NCS_0520-Y:#fff3b5;
$NCS_0520-Y10R:#feedb2;
$NCS_0520-Y20R:#ffe5b0;
$NCS_0520-Y30R:#ffddad;
$NCS_0520-Y40R:#ffd5aa;
$NCS_0520-Y50R:#ffcca7;
$NCS_0520-Y60R:#ffc2a3;
$NCS_0520-Y70R:#ffb89f;
$NCS_0520-Y80R:#ffac9b;
$NCS_0520-Y90R:#ffa19b;
$NCS_0525-R60B:#e09ffe;
$NCS_0525-R70B:#c1a0ff;
$NCS_0530-B:#8ed4ff;
$NCS_0530-B10G:#92e3ff;
$NCS_0530-B30G:#98f5ff;
$NCS_0530-B40G:#9afcff;
$NCS_0530-B50G:#9afffb;
$NCS_0530-B60G:#98fff5;
$NCS_0530-B70G:#96ffef;
$NCS_0530-B90G:#8bffcb;
$NCS_0530-G:#84ffb4;
$NCS_0530-G10Y:#a3ffa7;
$NCS_0530-G20Y:#baff9e;
$NCS_0530-G30Y:#cbff96;
$NCS_0530-G40Y:#dafe90;
$NCS_0530-G50Y:#e6ff93;
$NCS_0530-G60Y:#f0fe96;
$NCS_0530-G70Y:#f9fe99;
$NCS_0530-G80Y:#fefb9a;
$NCS_0530-G90Y:#fef598;
$NCS_0530-R:#ff737c;
$NCS_0530-R10B:#ff7687;
$NCS_0530-R20B:#fe7b95;
$NCS_0530-R30B:#ff81a9;
$NCS_0530-R40B:#fe89c4;
$NCS_0530-R50B:#ff95ea;
$NCS_0530-R80B:#7a92ff;
$NCS_0530-R90B:#81aaff;
$NCS_0530-Y:#ffef96;
$NCS_0530-Y10R:#fee593;
$NCS_0530-Y20R:#ffdb90;
$NCS_0530-Y30R:#ffd08d;
$NCS_0530-Y40R:#fec589;
$NCS_0530-Y50R:#feb986;
$NCS_0530-Y60R:#feac82;
$NCS_0530-Y70R:#ff9f7e;
$NCS_0530-Y80R:#ff9079;
$NCS_0530-Y90R:#ff8279;
$NCS_0540-B:#72caff;
$NCS_0540-B10G:#76dcff;
$NCS_0540-B30G:#7cf2ff;
$NCS_0540-G:#68ffa3;
$NCS_0540-G10Y:#8eff93;
$NCS_0540-G20Y:#a9ff86;
$NCS_0540-G30Y:#bfff7c;
$NCS_0540-G40Y:#d0ff74;
$NCS_0540-G50Y:#dfff77;
$NCS_0540-G60Y:#ecff7a;
$NCS_0540-G70Y:#f8fe7d;
$NCS_0540-G80Y:#fffa7e;
$NCS_0540-G90Y:#fff27c;
$NCS_0540-R:#ff5863;
$NCS_0540-R10B:#ff5b6f;
$NCS_0540-R20B:#ff5f7f;
$NCS_0540-R30B:#ff6596;
$NCS_0540-R90B:#6598ff;
$NCS_0540-Y:#ffeb7a;
$NCS_0540-Y10R:#ffdf77;
$NCS_0540-Y20R:#ffd274;
$NCS_0540-Y30R:#ffc571;
$NCS_0540-Y40R:#ffb76d;
$NCS_0540-Y50R:#ffa96a;
$NCS_0540-Y60R:#fe9a66;
$NCS_0540-Y70R:#ff8a62;
$NCS_0540-Y80R:#ff7a5e;
$NCS_0540-Y90R:#ff695f;
$NCS_0550-G10Y:#7bff81;
$NCS_0550-G20Y:#9aff71;
$NCS_0550-G30Y:#b3ff65;
$NCS_0550-G40Y:#c8ff5b;
$NCS_0550-G50Y:#daff5e;
$NCS_0550-G60Y:#e8ff61;
$NCS_0550-G70Y:#f7ff64;
$NCS_0550-G80Y:#fffa65;
$NCS_0550-G90Y:#ffef62;
$NCS_0550-R:#ff424e;
$NCS_0550-R10B:#ff455b;
$NCS_0550-Y:#ffe761;
$NCS_0550-Y10R:#ffd95e;
$NCS_0550-Y20R:#ffca5b;
$NCS_0550-Y30R:#ffbb58;
$NCS_0550-Y40R:#ffab55;
$NCS_0550-Y50R:#ff9b52;
$NCS_0550-Y60R:#ff8a4e;
$NCS_0550-Y70R:#fe794b;
$NCS_0550-Y80R:#ff6747;
$NCS_0550-Y90R:#ff5549;
$NCS_0560-G10Y:#6bff71;
$NCS_0560-G20Y:#8eff5f;
$NCS_0560-G30Y:#a9ff51;
$NCS_0560-G40Y:#c0ff45;
$NCS_0560-G50Y:#d4ff47;
$NCS_0560-G60Y:#e5ff4a;
$NCS_0560-G70Y:#f6ff4d;
$NCS_0560-G80Y:#fff94d;
$NCS_0560-G90Y:#ffed4b;
$NCS_0560-R:#ff303e;
$NCS_0560-Y:#fee34a;
$NCS_0560-Y10R:#ffd347;
$NCS_0560-Y20R:#ffc345;
$NCS_0560-Y30R:#ffb242;
$NCS_0560-Y40R:#ffa140;
$NCS_0560-Y50R:#fe8f3d;
$NCS_0560-Y60R:#ff7d3a;
$NCS_0560-Y70R:#ff6a37;
$NCS_0560-Y80R:#ff5734;
$NCS_0560-Y90R:#ff4437;
$NCS_0565-G10Y:#63ff6a;
$NCS_0565-G50Y:#d2ff3d;
$NCS_0565-R:#ff2836;
$NCS_0570-G20Y:#82ff4f;
$NCS_0570-G30Y:#a1ff3f;
$NCS_0570-G40Y:#baff31;
$NCS_0570-G60Y:#e2ff35;
$NCS_0570-G70Y:#f4ff37;
$NCS_0570-G80Y:#fff837;
$NCS_0570-G90Y:#ffeb36;
$NCS_0570-Y:#ffe035;
$NCS_0570-Y10R:#ffcf33;
$NCS_0570-Y20R:#ffbd31;
$NCS_0570-Y30R:#feaa2f;
$NCS_0570-Y40R:#fe982d;
$NCS_0570-Y50R:#ff852b;
$NCS_0570-Y60R:#ff7128;
$NCS_0570-Y70R:#ff5e26;
$NCS_0570-Y80R:#fe4a24;
$NCS_0570-Y90R:#fe3628;
$NCS_0575-G20Y:#7dff48;
$NCS_0575-G40Y:#b7ff28;
$NCS_0575-G60Y:#e1ff2b;
$NCS_0575-G70Y:#f4ff2d;
$NCS_0575-G90Y:#ffea2c;
$NCS_0580-G30Y:#99ff2e;
$NCS_0580-Y:#ffdd22;
$NCS_0580-Y10R:#ffca20;
$NCS_0580-Y10R:#ffca20;
$NCS_0580-Y20R:#feb71f;
$NCS_0580-Y20R:#feb71f;
$NCS_0580-Y30R:#ffa31d;
$NCS_0580-Y40R:#ff901c;
$NCS_0580-Y50R:#ff7b1b;
$NCS_0580-Y60R:#ff6719;
$NCS_0580-Y70R:#ff5318;
$NCS_0580-Y80R:#ff3e16;
$NCS_0580-Y90R:#ff2a1b;
$NCS_0585-Y20R:#ffb416;
$NCS_0585-Y30R:#ffa015;
$NCS_0585-Y40R:#fe8c14;
$NCS_0585-Y50R:#ff7713;
$NCS_0585-Y60R:#ff6212;
$NCS_0585-Y70R:#ff4e11;
$NCS_0585-Y80R:#ff3910;
$NCS_0603-G40Y:#f7fcef;
$NCS_0603-G80Y:#fcfbf0;
$NCS_0603-R20B:#fceaed;
$NCS_0603-R40B:#fcedf4;
$NCS_0603-R60B:#f8effc;
$NCS_0603-R80B:#e9edfc;
$NCS_0603-Y20R:#fcf8ef;
$NCS_0603-Y40R:#fcf5ed;
$NCS_0603-Y60R:#fcf1eb;
$NCS_0603-Y80R:#fcede9;
$NCS_0804-B50G:#e8f6f6;
$NCS_0804-G20Y:#ecf6e7;
$NCS_0804-G60Y:#f4f6e7;
$NCS_0804-G90Y:#f6f5e7;
$NCS_0804-R10B:#f6dee1;
$NCS_0804-R30B:#f6e1e8;
$NCS_0804-R50B:#f6e7f3;
$NCS_0804-R70B:#ebe5f6;
$NCS_0804-R90B:#e1e8f6;
$NCS_0804-Y10R:#f6f3e6;
$NCS_0804-Y30R:#f6efe5;
$NCS_0804-Y50R:#f6ebe3;
$NCS_0804-Y70R:#f6e6e0;
$NCS_0804-Y90R:#f6e0de;
$NCS_0907-B20G:#d9eff4;
$NCS_0907-B80G:#d8f4ee;
$NCS_0907-G20Y:#e1f4da;
$NCS_0907-G60Y:#f0f4d9;
$NCS_0907-G90Y:#f4f1da;
$NCS_0907-R10B:#f4cbd0;
$NCS_0907-R30B:#f4d0db;
$NCS_0907-R50B:#f4d9ef;
$NCS_0907-R70B:#e0d6f4;
$NCS_0907-R90B:#d0dcf4;
$NCS_0907-Y10R:#f4edd8;
$NCS_0907-Y30R:#f4e8d5;
$NCS_0907-Y50R:#f4e1d2;
$NCS_0907-Y70R:#f4d8cf;
$NCS_0907-Y90R:#f4cecc;
$NCS_1000-N:#e5e5e5;
$NCS_1002-B:#e8eef1;
$NCS_1002-B:#e8eef1;
$NCS_1002-B50G:#eaf1f1;
$NCS_1002-G:#e7f1eb;
$NCS_1002-G:#e7f1eb;
$NCS_1002-G50Y:#eff1e9;
$NCS_1002-R:#f1e4e5;
$NCS_1002-R:#f1e4e5;
$NCS_1002-R50B:#f1e9f0;
$NCS_1002-Y:#f1f0e9;
$NCS_1002-Y50R:#f1ebe7;
$NCS_1005-B:#dce9f1;
$NCS_1005-B20G:#deeef1;
$NCS_1005-B50G:#dff1f1;
$NCS_1005-B80G:#ddf1ed;
$NCS_1005-B80G:#ddf1ed;
$NCS_1005-G:#d8f1e2;
$NCS_1005-G10Y:#dff1e0;
$NCS_1005-G20Y:#e4f1de;
$NCS_1005-G20Y:#e4f1de;
$NCS_1005-G30Y:#e7f1dd;
$NCS_1005-G40Y:#eaf1dc;
$NCS_1005-G50Y:#edf1dd;
$NCS_1005-G60Y:#eef1de;
$NCS_1005-G70Y:#f0f1df;
$NCS_1005-G80Y:#f1f1df;
$NCS_1005-G80Y:#f1f1df;
$NCS_1005-G90Y:#f1efdf;
$NCS_1005-R:#f1d2d4;
$NCS_1005-R10B:#f1d3d7;
$NCS_1005-R20B:#f1d5db;
$NCS_1005-R20B:#f1d5db;
$NCS_1005-R30B:#f1d7e0;
$NCS_1005-R40B:#f1dae6;
$NCS_1005-R50B:#f1deed;
$NCS_1005-R60B:#eadcf1;
$NCS_1005-R70B:#e3dcf1;
$NCS_1005-R80B:#d5daf1;
$NCS_1005-R90B:#d7e0f1;
$NCS_1005-Y:#f1eede;
$NCS_1005-Y10R:#f1ecdd;
$NCS_1005-Y20R:#f1eadc;
$NCS_1005-Y20R:#f1eadc;
$NCS_1005-Y30R:#f1e8db;
$NCS_1005-Y40R:#f1e6da;
$NCS_1005-Y50R:#f1e3d9;
$NCS_1005-Y60R:#f1e0d8;
$NCS_1005-Y70R:#f1ddd6;
$NCS_1005-Y80R:#f1d9d4;
$NCS_1005-Y90R:#f1d6d4;
$NCS_1010-B:#c8e2f1;
$NCS_1010-B10G:#cae7f1;
$NCS_1010-B30G:#cdeef1;
$NCS_1010-B50G:#cef1f0;
$NCS_1010-B70G:#ccf1ec;
$NCS_1010-B90G:#c6f1de;
$NCS_1010-G:#c2f1d5;
$NCS_1010-G10Y:#cff1d1;
$NCS_1010-G20Y:#d8f1cd;
$NCS_1010-G30Y:#def1cb;
$NCS_1010-G40Y:#e4f1c9;
$NCS_1010-G50Y:#e8f1cb;
$NCS_1010-G60Y:#ecf1cc;
$NCS_1010-G70Y:#eff1ce;
$NCS_1010-G80Y:#f1f0ce;
$NCS_1010-G90Y:#f1eecd;
$NCS_1010-R:#f1b8bb;
$NCS_1010-R10B:#f1bac0;
$NCS_1010-R20B:#f1bdc7;
$NCS_1010-R30B:#f1c0d0;
$NCS_1010-R40B:#f1c5db;
$NCS_1010-R50B:#f1ccea;
$NCS_1010-R60B:#e4c9f1;
$NCS_1010-R70B:#d7c8f1;
$NCS_1010-R80B:#bcc6f1;
$NCS_1010-R90B:#c1d1f1;
$NCS_1010-Y:#f1eccc;
$NCS_1010-Y10R:#f1e8cb;
$NCS_1010-Y20R:#f1e4c9;
$NCS_1010-Y30R:#f1e0c7;
$NCS_1010-Y40R:#f1dcc5;
$NCS_1010-Y50R:#f1d7c3;
$NCS_1010-Y60R:#f1d1c1;
$NCS_1010-Y70R:#f1cbbe;
$NCS_1010-Y80R:#f1c5bc;
$NCS_1010-Y90R:#f1bebb;
$NCS_1015-B:#b6dbf1;
$NCS_1015-B20G:#bbe8f1;
$NCS_1015-B50G:#bef1ef;
$NCS_1015-B80G:#baf1e5;
$NCS_1015-G:#aef1c8;
$NCS_1015-G20Y:#cdf1be;
$NCS_1015-G40Y:#def1b7;
$NCS_1015-G60Y:#eaf1bc;
$NCS_1015-G80Y:#f1f0be;
$NCS_1015-G90Y:#f1ecbd;
$NCS_1015-R:#f1a1a6;
$NCS_1015-R10B:#f1a4ad;
$NCS_1015-R20B:#f1a7b6;
$NCS_1015-R40B:#f1b2d2;
$NCS_1015-R60B:#dfb7f1;
$NCS_1015-R80B:#a6b4f1;
$NCS_1015-R90B:#acc3f1;
$NCS_1015-Y:#f1e9bb;
$NCS_1015-Y10R:#f1e4b9;
$NCS_1015-Y20R:#f1dfb7;
$NCS_1015-Y30R:#f1d9b5;
$NCS_1015-Y40R:#f1d2b2;
$NCS_1015-Y50R:#f1cbb0;
$NCS_1015-Y60R:#f1c4ad;
$NCS_1015-Y70R:#f1bca9;
$NCS_1015-Y80R:#f1b3a6;
$NCS_1015-Y90R:#f1aaa5;
$NCS_1020-B:#a5d5f1;
$NCS_1020-B10G:#a8dff1;
$NCS_1020-B30G:#adebf1;
$NCS_1020-B40G:#afeff1;
$NCS_1020-B50G:#aef1ef;
$NCS_1020-B60G:#adf1eb;
$NCS_1020-B70G:#abf1e7;
$NCS_1020-B90G:#a2f1ce;
$NCS_1020-G:#9cf1bd;
$NCS_1020-G10Y:#b3f1b5;
$NCS_1020-G20Y:#c2f1af;
$NCS_1020-G30Y:#cef1aa;
$NCS_1020-G40Y:#d8f1a6;
$NCS_1020-G50Y:#e1f1a9;
$NCS_1020-G60Y:#e7f1ac;
$NCS_1020-G70Y:#eef1ae;
$NCS_1020-G80Y:#f1efae;
$NCS_1020-G90Y:#f1eaad;
$NCS_1020-R:#f18d94;
$NCS_1020-R10B:#f1909c;
$NCS_1020-R20B:#f194a7;
$NCS_1020-R30B:#f19ab5;
$NCS_1020-R40B:#f1a1c9;
$NCS_1020-R50B:#f1aae4;
$NCS_1020-R60B:#d9a7f1;
$NCS_1020-R70B:#c1a7f1;
$NCS_1020-R80B:#93a5f1;
$NCS_1020-R90B:#9ab7f1;
$NCS_1020-Y:#f1e7ab;
$NCS_1020-Y10R:#f1e0a9;
$NCS_1020-Y20R:#f1d9a7;
$NCS_1020-Y30R:#f1d2a4;
$NCS_1020-Y40R:#f1caa1;
$NCS_1020-Y50R:#f1c19e;
$NCS_1020-Y60R:#f1b89a;
$NCS_1020-Y70R:#f1ae97;
$NCS_1020-Y80R:#f1a393;
$NCS_1020-Y90R:#f19892;
$NCS_1030-B:#86c9f1;
$NCS_1030-B10G:#8bd7f1;
$NCS_1030-B30G:#90e8f1;
$NCS_1030-B40G:#92eef1;
$NCS_1030-B50G:#92f1ee;
$NCS_1030-B60G:#90f1e8;
$NCS_1030-B70G:#8ef1e2;
$NCS_1030-B90G:#84f1c0;
$NCS_1030-G:#7df1aa;
$NCS_1030-G10Y:#9bf19f;
$NCS_1030-G20Y:#b0f195;
$NCS_1030-G30Y:#c1f18e;
$NCS_1030-G40Y:#cef188;
$NCS_1030-G50Y:#daf18b;
$NCS_1030-G60Y:#e3f18e;
$NCS_1030-G70Y:#ecf191;
$NCS_1030-G80Y:#f1ee92;
$NCS_1030-G90Y:#f1e890;
$NCS_1030-R:#f16d76;
$NCS_1030-R10B:#f17080;
$NCS_1030-R20B:#f1748d;
$NCS_1030-R30B:#f17aa0;
$NCS_1030-R40B:#f182b9;
$NCS_1030-R50B:#f18dde;
$NCS_1030-R60B:#d088f1;
$NCS_1030-R70B:#ae8af1;
$NCS_1030-R80B:#738bf1;
$NCS_1030-R90B:#7aa1f1;
$NCS_1030-Y:#f1e28e;
$NCS_1030-Y10R:#f1d98b;
$NCS_1030-Y20R:#f1d088;
$NCS_1030-Y30R:#f1c585;
$NCS_1030-Y40R:#f1bb82;
$NCS_1030-Y50R:#f1af7f;
$NCS_1030-Y60R:#f1a37b;
$NCS_1030-Y70R:#f19677;
$NCS_1030-Y80R:#f18973;
$NCS_1030-Y90R:#f17b73;
$NCS_1040-B:#6cbff1;
$NCS_1040-B10G:#70d0f1;
$NCS_1040-B20G:#73dcf1;
$NCS_1040-B30G:#75e5f1;
$NCS_1040-B40G:#77eef1;
$NCS_1040-B50G:#77f1ed;
$NCS_1040-B60G:#75f1e6;
$NCS_1040-B70G:#74f1de;
$NCS_1040-B80G:#71f1d5;
$NCS_1040-B90G:#69f1b4;
$NCS_1040-G:#63f19a;
$NCS_1040-G10Y:#86f18b;
$NCS_1040-G20Y:#a0f17f;
$NCS_1040-G30Y:#b5f175;
$NCS_1040-G40Y:#c5f16e;
$NCS_1040-G50Y:#d4f171;
$NCS_1040-G60Y:#dff174;
$NCS_1040-G70Y:#ebf177;
$NCS_1040-G80Y:#f1ed77;
$NCS_1040-G90Y:#f1e575;
$NCS_1040-R:#f1535e;
$NCS_1040-R10B:#f15669;
$NCS_1040-R20B:#f15a79;
$NCS_1040-R30B:#f1608e;
$NCS_1040-R40B:#f167ac;
$NCS_1040-R50B:#f172d9;
$NCS_1040-R60B:#c76ef1;
$NCS_1040-R70B:#9e72f1;
$NCS_1040-R80B:#5975f1;
$NCS_1040-R90B:#6090f1;
$NCS_1040-Y:#f1de74;
$NCS_1040-Y10R:#f1d371;
$NCS_1040-Y20R:#f1c76e;
$NCS_1040-Y30R:#f1bb6b;
$NCS_1040-Y40R:#f1ae67;
$NCS_1040-Y50R:#f1a064;
$NCS_1040-Y60R:#f19260;
$NCS_1040-Y70R:#f1835d;
$NCS_1040-Y80R:#f17359;
$NCS_1040-Y90R:#f1645a;
$NCS_1050-B:#54b6f1;
$NCS_1050-B10G:#58caf1;
$NCS_1050-B20G:#5bd8f1;
$NCS_1050-B30G:#5de3f1;
$NCS_1050-B40G:#5fedf1;
$NCS_1050-B50G:#5ff1ec;
$NCS_1050-B60G:#5df1e3;
$NCS_1050-B70G:#5cf1db;
$NCS_1050-B80G:#59f1cf;
$NCS_1050-B90G:#52f1aa;
$NCS_1050-G:#4cf18c;
$NCS_1050-G10Y:#75f17a;
$NCS_1050-G10Y:#75f17a;
$NCS_1050-G20Y:#92f16b;
$NCS_1050-G20Y:#92f16b;
$NCS_1050-G30Y:#aaf160;
$NCS_1050-G40Y:#bdf156;
$NCS_1050-G50Y:#cef159;
$NCS_1050-G60Y:#dcf15c;
$NCS_1050-G70Y:#eaf15f;
$NCS_1050-G80Y:#f1ed5f;
$NCS_1050-G90Y:#f1e35d;
$NCS_1050-R:#f13f4a;
$NCS_1050-R10B:#f14157;
$NCS_1050-R20B:#f14567;
$NCS_1050-R30B:#f1497f;
$NCS_1050-R40B:#f150a1;
$NCS_1050-R90B:#4a81f1;
$NCS_1050-Y:#f1db5c;
$NCS_1050-Y10R:#f1cd59;
$NCS_1050-Y20R:#f1c056;
$NCS_1050-Y30R:#f1b153;
$NCS_1050-Y40R:#f1a250;
$NCS_1050-Y50R:#f1934d;
$NCS_1050-Y60R:#f1834a;
$NCS_1050-Y70R:#f17247;
$NCS_1050-Y80R:#f16143;
$NCS_1050-Y90R:#f15045;
$NCS_1055-B90G:#47f1a5;
$NCS_1060-B:#40aff1;
$NCS_1060-G:#39f180;
$NCS_1060-G10Y:#65f16b;
$NCS_1060-G20Y:#86f15a;
$NCS_1060-G30Y:#a0f14c;
$NCS_1060-G40Y:#b6f141;
$NCS_1060-G50Y:#c9f144;
$NCS_1060-G60Y:#d9f146;
$NCS_1060-G70Y:#e9f149;
$NCS_1060-G80Y:#f1ec49;
$NCS_1060-G90Y:#f1e147;
$NCS_1060-R:#f12e3a;
$NCS_1060-R10B:#f13047;
$NCS_1060-R20B:#f13259;
$NCS_1060-R30B:#f13672;
$NCS_1060-Y:#f1d746;
$NCS_1060-Y10R:#f1c844;
$NCS_1060-Y20R:#f1b941;
$NCS_1060-Y30R:#f1a93f;
$NCS_1060-Y40R:#f1983c;
$NCS_1060-Y50R:#f1883a;
$NCS_1060-Y60R:#f17637;
$NCS_1060-Y70R:#f16534;
$NCS_1060-Y80R:#f15331;
$NCS_1060-Y90R:#f14134;
$NCS_1070-G10Y:#57f15e;
$NCS_1070-G20Y:#7bf14b;
$NCS_1070-G30Y:#98f13b;
$NCS_1070-G40Y:#b0f12e;
$NCS_1070-G50Y:#c5f130;
$NCS_1070-G60Y:#d6f132;
$NCS_1070-G70Y:#e8f134;
$NCS_1070-G80Y:#f1eb35;
$NCS_1070-G90Y:#f1df33;
$NCS_1070-R:#f11f2d;
$NCS_1070-R10B:#f1213a;
$NCS_1070-R20B:#f1234c;
$NCS_1070-Y:#f1d432;
$NCS_1070-Y10R:#f1c430;
$NCS_1070-Y20R:#f1b32e;
$NCS_1070-Y30R:#f1a12c;
$NCS_1070-Y40R:#f1902a;
$NCS_1070-Y50R:#f17e28;
$NCS_1070-Y60R:#f16b26;
$NCS_1070-Y70R:#f15924;
$NCS_1070-Y80R:#f14622;
$NCS_1070-Y90R:#f13326;
$NCS_1075-G20Y:#76f144;
$NCS_1075-G40Y:#adf126;
$NCS_1075-G50Y:#c3f127;
$NCS_1075-G60Y:#d5f129;
$NCS_1075-G70Y:#e7f12b;
$NCS_1075-G80Y:#f1eb2b;
$NCS_1075-G90Y:#f1de2a;
$NCS_1080-G30Y:#91f12c;
$NCS_1080-R:#f11322;
$NCS_1080-Y:#f1d220;
$NCS_1080-Y10R:#f1c01e;
$NCS_1080-Y20R:#f1ad1d;
$NCS_1080-Y30R:#f19b1c;
$NCS_1080-Y40R:#f1881b;
$NCS_1080-Y50R:#f17519;
$NCS_1080-Y60R:#f16218;
$NCS_1080-Y70R:#f14e16;
$NCS_1080-Y80R:#f13b15;
$NCS_1080-Y90R:#f1281a;
$NCS_1085-Y80R:#f1360f;
$NCS_1085-Y90R:#f12214;
$NCS_1500-N:#d8d8d8;
$NCS_1502-B:#dbe1e4;
$NCS_1502-B50G:#dde4e3;
$NCS_1502-G:#dae4de;
$NCS_1502-G50Y:#e2e4dc;
$NCS_1502-R:#e4d7d8;
$NCS_1502-R50B:#e4dce2;
$NCS_1502-Y:#e4e3dc;
$NCS_1502-Y50R:#e4deda;
$NCS_1505-G80Y:#e4e3d3;
$NCS_1505-G90Y:#e4e2d2;
$NCS_1505-Y:#e4e1d2;
$NCS_1505-Y10R:#e4dfd1;
$NCS_1505-Y20R:#e4ddd0;
$NCS_1505-Y30R:#e4dbcf;
$NCS_1505-Y40R:#e4d9ce;
$NCS_1505-Y50R:#e4d7cd;
$NCS_1505-Y60R:#e4d4cc;
$NCS_1505-Y70R:#e4d1ca;
$NCS_1505-Y80R:#e4cdc9;
$NCS_1505-Y90R:#e4cac8;
$NCS_1510-B:#bdd5e4;
$NCS_1510-B20G:#c1dee4;
$NCS_1510-B50G:#c3e4e3;
$NCS_1510-B80G:#c0e4dc;
$NCS_1510-G:#b8e4c9;
$NCS_1510-G20Y:#cce4c2;
$NCS_1510-G40Y:#d7e4be;
$NCS_1510-G60Y:#dfe4c1;
$NCS_1510-G80Y:#e4e3c3;
$NCS_1510-G90Y:#e4e0c2;
$NCS_1510-R:#e4adb1;
$NCS_1510-R10B:#e4afb6;
$NCS_1510-R20B:#e4b2bc;
$NCS_1510-R40B:#e4bacf;
$NCS_1510-R60B:#d8bee4;
$NCS_1510-R80B:#b2bbe4;
$NCS_1510-R90B:#b6c5e4;
$NCS_1510-Y:#e4dec1;
$NCS_1510-Y10R:#e4dbbf;
$NCS_1510-Y20R:#e4d8be;
$NCS_1510-Y30R:#e4d4bc;
$NCS_1510-Y40R:#e4d0ba;
$NCS_1510-Y50R:#e4cbb8;
$NCS_1510-Y60R:#e4c6b6;
$NCS_1510-Y70R:#e4c0b4;
$NCS_1510-Y80R:#e4bab1;
$NCS_1510-Y90R:#e4b4b1;
$NCS_1515-B:#accfe4;
$NCS_1515-B20G:#b1dbe4;
$NCS_1515-B50G:#b3e4e2;
$NCS_1515-B80G:#afe4d8;
$NCS_1515-G:#a5e4bd;
$NCS_1515-G20Y:#c1e4b3;
$NCS_1515-G40Y:#d1e4ad;
$NCS_1515-G60Y:#dde4b1;
$NCS_1515-G80Y:#e4e2b3;
$NCS_1515-G90Y:#e4dfb2;
$NCS_1515-R:#e4989d;
$NCS_1515-R10B:#e49ba3;
$NCS_1515-R20B:#e49eac;
$NCS_1515-R40B:#e4a8c6;
$NCS_1515-R60B:#d2ade4;
$NCS_1515-R80B:#9daae4;
$NCS_1515-R90B:#a3b8e4;
$NCS_1515-Y:#e4dcb1;
$NCS_1515-Y10R:#e4d7af;
$NCS_1515-Y20R:#e4d2ad;
$NCS_1515-Y30R:#e4cdab;
$NCS_1515-Y40R:#e4c7a8;
$NCS_1515-Y50R:#e4c0a6;
$NCS_1515-Y60R:#e4b9a3;
$NCS_1515-Y70R:#e4b1a0;
$NCS_1515-Y80R:#e4a99d;
$NCS_1515-Y90R:#e4a19c;
$NCS_1550-R70B:#8857e4;
$NCS_1550-R80B:#405ee4;
$NCS_1555-B10G:#49bce4;
$NCS_1555-R70B:#824ee4;
$NCS_1555-R80B:#3757e4;
$NCS_1560-R90B:#346ee4;
$NCS_1565-B:#33a1e4;
$NCS_1565-G:#2de474;
$NCS_1575-R10B:#e41931;
$NCS_1580-R:#e41220;
$NCS_1580-Y80R:#e43814;
$NCS_1580-Y90R:#e42518;
$NCS_2000-N:#cccccc;
$NCS_2002-B:#cfd3d6;
$NCS_2002-B50G:#d0d6d6;
$NCS_2002-G:#cdd6d1;
$NCS_2002-G50Y:#d5d6cf;
$NCS_2002-R:#d6cbcb;
$NCS_2002-R50B:#d6cfd5;
$NCS_2002-Y:#d6d5cf;
$NCS_2002-Y50R:#d6d1cd;
$NCS_2005-B:#c3cfd6;
$NCS_2005-B20G:#c5d3d6;
$NCS_2005-B20G:#c5d3d6;
$NCS_2005-B50G:#c6d6d6;
$NCS_2005-B80G:#c5d6d2;
$NCS_2005-B80G:#c5d6d2;
$NCS_2005-G:#c0d6c9;
$NCS_2005-G10Y:#c6d6c7;
$NCS_2005-G20Y:#cbd6c6;
$NCS_2005-G20Y:#cbd6c6;
$NCS_2005-G30Y:#ced6c5;
$NCS_2005-G40Y:#d0d6c4;
$NCS_2005-G50Y:#d2d6c5;
$NCS_2005-G60Y:#d4d6c6;
$NCS_2005-G70Y:#d6d6c6;
$NCS_2005-G80Y:#d6d6c6;
$NCS_2005-G90Y:#d6d5c6;
$NCS_2005-R:#d6bbbc;
$NCS_2005-R10B:#d6bcbf;
$NCS_2005-R20B:#d6bdc2;
$NCS_2005-R20B:#d6bdc2;
$NCS_2005-R30B:#d6bfc7;
$NCS_2005-R40B:#d6c2cc;
$NCS_2005-R50B:#d6c5d3;
$NCS_2005-R50B:#d6c5d3;
$NCS_2005-R60B:#d0c4d6;
$NCS_2005-R70B:#cac3d6;
$NCS_2005-R80B:#bdc2d6;
$NCS_2005-R90B:#c0c7d6;
$NCS_2005-Y:#d6d4c5;
$NCS_2005-Y10R:#d6d2c5;
$NCS_2005-Y20R:#d6d0c4;
$NCS_2005-Y30R:#d6cfc3;
$NCS_2005-Y40R:#d6ccc2;
$NCS_2005-Y50R:#d6cac1;
$NCS_2005-Y50R:#d6cac1;
$NCS_2005-Y60R:#d6c7c0;
$NCS_2005-Y70R:#d6c4be;
$NCS_2005-Y80R:#d6c1bd;
$NCS_2005-Y90R:#d6bebc;
$NCS_2010-B:#b2c9d6;
$NCS_2010-B10G:#b4ced6;
$NCS_2010-B30G:#b6d3d6;
$NCS_2010-B50G:#b7d6d5;
$NCS_2010-B70G:#b6d6d1;
$NCS_2010-B90G:#b0d6c5;
$NCS_2010-G:#add6bd;
$NCS_2010-G10Y:#b8d6b9;
$NCS_2010-G20Y:#c0d6b7;
$NCS_2010-G30Y:#c6d6b4;
$NCS_2010-G40Y:#cad6b3;
$NCS_2010-G50Y:#ced6b4;
$NCS_2010-G60Y:#d2d6b6;
$NCS_2010-G70Y:#d5d6b7;
$NCS_2010-G80Y:#d6d5b7;
$NCS_2010-G90Y:#d6d3b6;
$NCS_2010-R:#d6a3a6;
$NCS_2010-R10B:#d6a5ab;
$NCS_2010-R20B:#d6a8b1;
$NCS_2010-R30B:#d6abb9;
$NCS_2010-R40B:#d6afc3;
$NCS_2010-R50B:#d6b5d0;
$NCS_2010-R60B:#cbb3d6;
$NCS_2010-R70B:#bfb2d6;
$NCS_2010-R80B:#a7b0d6;
$NCS_2010-R90B:#abb9d6;
$NCS_2010-Y:#d6d1b6;
$NCS_2010-Y10R:#d6ceb4;
$NCS_2010-Y20R:#d6cbb3;
$NCS_2010-Y30R:#d6c7b1;
$NCS_2010-Y40R:#d6c3af;
$NCS_2010-Y50R:#d6bfae;
$NCS_2010-Y60R:#d6baac;
$NCS_2010-Y70R:#d6b5a9;
$NCS_2010-Y80R:#d6afa7;
$NCS_2010-Y90R:#d6a9a6;
$NCS_2020-B:#92bdd6;
$NCS_2020-B10G:#96c6d6;
$NCS_2020-B30G:#9ad1d6;
$NCS_2020-B40G:#9bd5d6;
$NCS_2020-B50G:#9bd6d4;
$NCS_2020-B60G:#9ad6d1;
$NCS_2020-B70G:#98d6cd;
$NCS_2020-B90G:#90d6b7;
$NCS_2020-G:#8bd6a8;
$NCS_2020-G10Y:#9fd6a1;
$NCS_2020-G20Y:#add69c;
$NCS_2020-G30Y:#b7d697;
$NCS_2020-G40Y:#c0d694;
$NCS_2020-G50Y:#c8d696;
$NCS_2020-G60Y:#ced699;
$NCS_2020-G70Y:#d3d69b;
$NCS_2020-G80Y:#d6d49b;
$NCS_2020-G90Y:#d6d09a;
$NCS_2020-R:#d67e83;
$NCS_2020-R10B:#d6808b;
$NCS_2020-R20B:#d68494;
$NCS_2020-R30B:#d688a1;
$NCS_2020-R40B:#d68fb3;
$NCS_2020-R50B:#d697ca;
$NCS_2020-R60B:#c194d6;
$NCS_2020-R70B:#ab94d6;
$NCS_2020-R80B:#8392d6;
$NCS_2020-R90B:#89a2d6;
$NCS_2020-Y:#d6cd98;
$NCS_2020-Y10R:#d6c796;
$NCS_2020-Y20R:#d6c194;
$NCS_2020-Y30R:#d6bb92;
$NCS_2020-Y40R:#d6b38f;
$NCS_2020-Y50R:#d6ac8c;
$NCS_2020-Y60R:#d6a389;
$NCS_2020-Y70R:#d69b86;
$NCS_2020-Y80R:#d69183;
$NCS_2020-Y90R:#d68882;
$NCS_2030-B:#77b3d6;
$NCS_2030-B10G:#7bbfd6;
$NCS_2030-B30G:#80ced6;
$NCS_2030-B40G:#82d4d6;
$NCS_2030-B50G:#81d6d3;
$NCS_2030-B60G:#80d6ce;
$NCS_2030-B70G:#7ed6c9;
$NCS_2030-B90G:#75d6ab;
$NCS_2030-G:#6fd697;
$NCS_2030-G10Y:#8ad68d;
$NCS_2030-G20Y:#9cd685;
$NCS_2030-G30Y:#abd67e;
$NCS_2030-G40Y:#b7d679;
$NCS_2030-G50Y:#c2d67c;
$NCS_2030-G60Y:#cad67f;
$NCS_2030-G70Y:#d2d681;
$NCS_2030-G80Y:#d6d481;
$NCS_2030-G90Y:#d6ce80;
$NCS_2030-R:#d66168;
$NCS_2030-R10B:#d66471;
$NCS_2030-R20B:#d6677e;
$NCS_2030-R30B:#d66c8e;
$NCS_2030-R40B:#d673a5;
$NCS_2030-R50B:#d67dc5;
$NCS_2030-R60B:#b979d6;
$NCS_2030-R70B:#9b7bd6;
$NCS_2030-R80B:#677bd6;
$NCS_2030-R90B:#6d8fd6;
$NCS_2030-Y:#d6c97e;
$NCS_2030-Y10R:#d6c17c;
$NCS_2030-Y20R:#d6b979;
$NCS_2030-Y30R:#d6b076;
$NCS_2030-Y40R:#d6a674;
$NCS_2030-Y50R:#d69c70;
$NCS_2030-Y60R:#d6916d;
$NCS_2030-Y70R:#d6856a;
$NCS_2030-Y80R:#d67966;
$NCS_2030-Y90R:#d66d66;
$NCS_2040-B:#60aad6;
$NCS_2040-B10G:#64b9d6;
$NCS_2040-B20G:#66c4d6;
$NCS_2040-B30G:#68ccd6;
$NCS_2040-B40G:#6ad3d6;
$NCS_2040-B50G:#6ad6d3;
$NCS_2040-B60G:#68d6cc;
$NCS_2040-B70G:#67d6c6;
$NCS_2040-B80G:#65d6bd;
$NCS_2040-B90G:#5dd6a0;
$NCS_2040-G:#58d689;
$NCS_2040-G10Y:#77d67c;
$NCS_2040-G20Y:#8ed671;
$NCS_2040-G30Y:#a0d668;
$NCS_2040-G40Y:#afd661;
$NCS_2040-G50Y:#bcd664;
$NCS_2040-G60Y:#c7d667;
$NCS_2040-G70Y:#d1d66a;
$NCS_2040-G80Y:#d6d36a;
$NCS_2040-G90Y:#d6cc68;
$NCS_2040-R:#d64a53;
$NCS_2040-R10B:#d64d5d;
$NCS_2040-R20B:#d6506b;
$NCS_2040-R30B:#d6557e;
$NCS_2040-R40B:#d65c99;
$NCS_2040-R50B:#d666c1;
$NCS_2040-R60B:#b162d6;
$NCS_2040-R70B:#8d65d6;
$NCS_2040-R80B:#4f68d6;
$NCS_2040-R90B:#5580d6;
$NCS_2040-Y:#d6c667;
$NCS_2040-Y10R:#d6bc64;
$NCS_2040-Y20R:#d6b162;
$NCS_2040-Y30R:#d6a65f;
$NCS_2040-Y40R:#d69a5c;
$NCS_2040-Y50R:#d68e59;
$NCS_2040-Y60R:#d68156;
$NCS_2040-Y70R:#d67452;
$NCS_2040-Y80R:#d6664f;
$NCS_2040-Y90R:#d65950;
$NCS_2050-B:#4ba2d6;
$NCS_2050-B10G:#4fb4d6;
$NCS_2050-B20G:#51c0d6;
$NCS_2050-B30G:#53cad6;
$NCS_2050-B40G:#55d3d6;
$NCS_2050-B50G:#55d6d2;
$NCS_2050-B60G:#53d6ca;
$NCS_2050-B70G:#51d6c3;
$NCS_2050-B80G:#4fd6b8;
$NCS_2050-B90G:#49d697;
$NCS_2050-G:#44d67d;
$NCS_2050-G10Y:#68d66c;
$NCS_2050-G20Y:#82d660;
$NCS_2050-G30Y:#97d655;
$NCS_2050-G40Y:#a8d64d;
$NCS_2050-G50Y:#b7d64f;
$NCS_2050-G60Y:#c4d652;
$NCS_2050-G70Y:#d0d654;
$NCS_2050-G80Y:#d6d255;
$NCS_2050-G90Y:#d6ca53;
$NCS_2050-R:#d63842;
$NCS_2050-R10B:#d63a4d;
$NCS_2050-R20B:#d63d5c;
$NCS_2050-R30B:#d64171;
$NCS_2050-R40B:#d6478f;
$NCS_2050-R50B:#d650bd;
$NCS_2050-R60B:#aa4dd6;
$NCS_2050-R70B:#8052d6;
$NCS_2050-R80B:#3c59d6;
$NCS_2050-R90B:#4172d6;
$NCS_2050-Y:#d6c251;
$NCS_2050-Y10R:#d6b74f;
$NCS_2050-Y20R:#d6aa4d;
$NCS_2050-Y30R:#d69e4a;
$NCS_2050-Y40R:#d69047;
$NCS_2050-Y50R:#d68345;
$NCS_2050-Y60R:#d67442;
$NCS_2050-Y70R:#d6663f;
$NCS_2050-Y80R:#d6573c;
$NCS_2050-Y90R:#d6483e;
$NCS_2055-B10G:#45b1d6;
$NCS_2060-B:#399bd6;
$NCS_2060-B50G:#41d6d1;
$NCS_2060-B70G:#3ed6c0;
$NCS_2060-B90G:#37d68f;
$NCS_2060-G:#32d672;
$NCS_2060-G10Y:#5ad65f;
$NCS_2060-G20Y:#77d650;
$NCS_2060-G30Y:#8fd644;
$NCS_2060-G40Y:#a2d63a;
$NCS_2060-G50Y:#b3d63c;
$NCS_2060-G60Y:#c1d63e;
$NCS_2060-G70Y:#cfd640;
$NCS_2060-G80Y:#d6d241;
$NCS_2060-G90Y:#d6c83f;
$NCS_2060-R:#d62934;
$NCS_2060-R10B:#d62a3f;
$NCS_2060-R20B:#d62d4f;
$NCS_2060-R30B:#d63065;
$NCS_2060-R40B:#d63586;
$NCS_2060-R70B:#7642d6;
$NCS_2060-R80B:#2c4cd6;
$NCS_2060-R90B:#3067d6;
$NCS_2060-Y:#d6c03e;
$NCS_2060-Y10R:#d6b23c;
$NCS_2060-Y20R:#d6a43a;
$NCS_2060-Y30R:#d69638;
$NCS_2060-Y40R:#d68835;
$NCS_2060-Y50R:#d67933;
$NCS_2060-Y60R:#d66931;
$NCS_2060-Y70R:#d6592e;
$NCS_2060-Y80R:#d6492c;
$NCS_2060-Y90R:#d6392f;
$NCS_2065-B:#3098d6;
$NCS_2065-R20B:#d62649;
$NCS_2065-R90B:#2962d6;
$NCS_2070-G10Y:#4ed654;
$NCS_2070-G20Y:#6ed643;
$NCS_2070-G30Y:#87d635;
$NCS_2070-G40Y:#9dd629;
$NCS_2070-G50Y:#afd62b;
$NCS_2070-G60Y:#bed62d;
$NCS_2070-G70Y:#ced62e;
$NCS_2070-G80Y:#d6d12f;
$NCS_2070-G90Y:#d6c62d;
$NCS_2070-R:#d61c28;
$NCS_2070-R10B:#d61d34;
$NCS_2070-Y:#d6bd2c;
$NCS_2070-Y10R:#d6ae2b;
$NCS_2070-Y20R:#d69f29;
$NCS_2070-Y30R:#d68f27;
$NCS_2070-Y40R:#d68026;
$NCS_2070-Y50R:#d67024;
$NCS_2070-Y60R:#d65f22;
$NCS_2070-Y70R:#d64f20;
$NCS_2070-Y80R:#d63e1e;
$NCS_2070-Y90R:#d62d22;
$NCS_2075-G20Y:#69d63c;
$NCS_2075-G30Y:#84d62e;
$NCS_2075-Y60R:#d65b1b;
$NCS_2075-Y70R:#d64a1a;
$NCS_2500-N:#bfbfbf;
$NCS_2502-B:#c2c6c9;
$NCS_2502-G:#c0c9c4;
$NCS_2502-R:#c9bebf;
$NCS_2502-Y:#c9c8c2;
$NCS_2555-B20G:#43b3c9;
$NCS_2555-B30G:#44bcc9;
$NCS_2555-B40G:#46c5c9;
$NCS_2555-B60G:#44c9bd;
$NCS_2555-B80G:#41c9ab;
$NCS_2565-G:#28c967;
$NCS_2565-R80B:#2341c9;
$NCS_2570-G20Y:#67c93e;
$NCS_2570-G30Y:#7fc931;
$NCS_2570-R:#c91a25;
$NCS_2570-Y30R:#c98725;
$NCS_2570-Y40R:#c97823;
$NCS_2570-Y50R:#c96922;
$NCS_2570-Y60R:#c95920;
$NCS_2570-Y70R:#c94a1e;
$NCS_2570-Y80R:#c93a1c;
$NCS_2570-Y90R:#c92b20;
$NCS_3000-N:#b2b2b2;
$NCS_3005-B20G:#adb9bc;
$NCS_3005-B80G:#acbcb8;
$NCS_3005-G20Y:#b1bcad;
$NCS_3005-G50Y:#b8bcac;
$NCS_3005-G80Y:#bcbbae;
$NCS_3005-R20B:#bca6aa;
$NCS_3005-R50B:#bcacb9;
$NCS_3005-R80B:#a5aabc;
$NCS_3005-Y20R:#bcb6ab;
$NCS_3005-Y50R:#bcb1a9;
$NCS_3005-Y80R:#bca9a5;
$NCS_3010-B:#9cb0bc;
$NCS_3010-B10G:#9db4bc;
$NCS_3010-B30G:#a0b9bc;
$NCS_3010-B50G:#a0bcbb;
$NCS_3010-B70G:#9fbcb7;
$NCS_3010-B90G:#9abcad;
$NCS_3010-G:#97bca5;
$NCS_3010-G10Y:#a1bca2;
$NCS_3010-G20Y:#a8bca0;
$NCS_3010-G30Y:#adbc9e;
$NCS_3010-G40Y:#b1bc9c;
$NCS_3010-G50Y:#b5bc9e;
$NCS_3010-G60Y:#b8bc9f;
$NCS_3010-G70Y:#babca0;
$NCS_3010-G80Y:#bcbba0;
$NCS_3010-G90Y:#bcb9a0;
$NCS_3010-R:#bc8f92;
$NCS_3010-R10B:#bc9096;
$NCS_3010-R20B:#bc939b;
$NCS_3010-R30B:#bc96a2;
$NCS_3010-R40B:#bc99aa;
$NCS_3010-R50B:#bc9eb6;
$NCS_3010-R60B:#b29cbc;
$NCS_3010-R70B:#a79cbc;
$NCS_3010-R80B:#929abc;
$NCS_3010-R90B:#96a2bc;
$NCS_3010-Y:#bcb79f;
$NCS_3010-Y10R:#bcb59e;
$NCS_3010-Y20R:#bcb29c;
$NCS_3010-Y30R:#bcae9b;
$NCS_3010-Y40R:#bcab9a;
$NCS_3010-Y50R:#bca798;
$NCS_3010-Y60R:#bca396;
$NCS_3010-Y70R:#bc9e94;
$NCS_3010-Y80R:#bc9992;
$NCS_3010-Y90R:#bc9491;
$NCS_3020-B:#80a5bc;
$NCS_3020-B10G:#83adbc;
$NCS_3020-B30G:#86b7bc;
$NCS_3020-B40G:#88babc;
$NCS_3020-B50G:#88bcba;
$NCS_3020-B60G:#86bcb7;
$NCS_3020-B70G:#85bcb3;
$NCS_3020-B90G:#7ebca0;
$NCS_3020-G:#7abc93;
$NCS_3020-G10Y:#8bbc8d;
$NCS_3020-G20Y:#97bc88;
$NCS_3020-G30Y:#a1bc84;
$NCS_3020-G40Y:#a8bc81;
$NCS_3020-G50Y:#afbc84;
$NCS_3020-G60Y:#b4bc86;
$NCS_3020-G70Y:#b9bc87;
$NCS_3020-G80Y:#bcba88;
$NCS_3020-G90Y:#bcb686;
$NCS_3020-R:#bc6e73;
$NCS_3020-R10B:#bc7079;
$NCS_3020-R20B:#bc7382;
$NCS_3020-R30B:#bc778d;
$NCS_3020-R40B:#bc7d9c;
$NCS_3020-R50B:#bc84b1;
$NCS_3020-R60B:#a982bc;
$NCS_3020-R70B:#9682bc;
$NCS_3020-R80B:#7380bc;
$NCS_3020-R90B:#788ebc;
$NCS_3020-Y:#bcb385;
$NCS_3020-Y10R:#bcae83;
$NCS_3020-Y20R:#bca982;
$NCS_3020-Y30R:#bca37f;
$NCS_3020-Y40R:#bc9d7d;
$NCS_3020-Y50R:#bc967b;
$NCS_3020-Y60R:#bc8f78;
$NCS_3020-Y70R:#bc8775;
$NCS_3020-Y80R:#bc7f72;
$NCS_3020-Y90R:#bc7772;
$NCS_3030-B:#689cbc;
$NCS_3030-B10G:#6ca7bc;
$NCS_3030-B30G:#70b4bc;
$NCS_3030-B40G:#71b9bc;
$NCS_3030-B50G:#71bcb9;
$NCS_3030-B60G:#70bcb5;
$NCS_3030-B70G:#6ebcb0;
$NCS_3030-B90G:#66bc95;
$NCS_3030-G:#61bc84;
$NCS_3030-G10Y:#78bc7b;
$NCS_3030-G20Y:#89bc74;
$NCS_3030-G30Y:#96bc6e;
$NCS_3030-G40Y:#a0bc6a;
$NCS_3030-G50Y:#a9bc6c;
$NCS_3030-G60Y:#b1bc6f;
$NCS_3030-G70Y:#b8bc71;
$NCS_3030-G80Y:#bcb971;
$NCS_3030-G90Y:#bcb470;
$NCS_3030-R:#bc555b;
$NCS_3030-R10B:#bc5763;
$NCS_3030-R20B:#bc5a6e;
$NCS_3030-R30B:#bc5f7c;
$NCS_3030-R40B:#bc6590;
$NCS_3030-R50B:#bc6dad;
$NCS_3030-R60B:#a26abc;
$NCS_3030-R70B:#876bbc;
$NCS_3030-R80B:#5a6cbc;
$NCS_3030-R90B:#5f7ebc;
$NCS_3030-Y:#bcb06e;
$NCS_3030-Y10R:#bca96c;
$NCS_3030-Y20R:#bca16a;
$NCS_3030-Y30R:#bc9a68;
$NCS_3030-Y40R:#bc9165;
$NCS_3030-Y50R:#bc8862;
$NCS_3030-Y60R:#bc7f5f;
$NCS_3030-Y70R:#bc755c;
$NCS_3030-Y80R:#bc6a59;
$NCS_3030-Y90R:#bc6059;
$NCS_3040-B:#5495bc;
$NCS_3040-B10G:#57a2bc;
$NCS_3040-B20G:#59abbc;
$NCS_3040-B30G:#5bb3bc;
$NCS_3040-B40G:#5db9bc;
$NCS_3040-B50G:#5dbcb8;
$NCS_3040-B60G:#5bbcb3;
$NCS_3040-B70G:#5abcad;
$NCS_3040-B80G:#58bca5;
$NCS_3040-B90G:#52bc8c;
$NCS_3040-G:#4dbc78;
$NCS_3040-G10Y:#68bc6c;
$NCS_3040-G20Y:#7dbc63;
$NCS_3040-G30Y:#8cbc5b;
$NCS_3040-G40Y:#99bc55;
$NCS_3040-G50Y:#a5bc58;
$NCS_3040-G60Y:#aebc5a;
$NCS_3040-G70Y:#b7bc5c;
$NCS_3040-G80Y:#bcb95d;
$NCS_3040-G90Y:#bcb25b;
$NCS_3040-R:#bc4149;
$NCS_3040-R10B:#bc4352;
$NCS_3040-R20B:#bc465e;
$NCS_3040-R30B:#bc4a6e;
$NCS_3040-R40B:#bc5086;
$NCS_3040-R50B:#bc59a9;
$NCS_3040-R60B:#9b55bc;
$NCS_3040-R70B:#7b58bc;
$NCS_3040-R80B:#455bbc;
$NCS_3040-R90B:#4b70bc;
$NCS_3040-Y:#bcad5a;
$NCS_3040-Y10R:#bca458;
$NCS_3040-Y20R:#bc9b55;
$NCS_3040-Y30R:#bc9153;
$NCS_3040-Y40R:#bc8750;
$NCS_3040-Y50R:#bc7c4e;
$NCS_3040-Y60R:#bc714b;
$NCS_3040-Y70R:#bc6648;
$NCS_3040-Y80R:#bc5a45;
$NCS_3040-Y90R:#bc4d46;
$NCS_3050-B:#428ebc;
$NCS_3050-B10G:#459dbc;
$NCS_3050-B20G:#47a8bc;
$NCS_3050-B30G:#49b1bc;
$NCS_3050-B40G:#4ab8bc;
$NCS_3050-B50G:#4abcb8;
$NCS_3050-B60G:#49bcb1;
$NCS_3050-B70G:#47bcaa;
$NCS_3050-B80G:#45bca1;
$NCS_3050-B90G:#40bc84;
$NCS_3050-G:#3bbc6d;
$NCS_3050-G10Y:#5bbc5f;
$NCS_3050-G20Y:#72bc54;
$NCS_3050-G30Y:#84bc4a;
$NCS_3050-G40Y:#93bc43;
$NCS_3050-G50Y:#a0bc45;
$NCS_3050-G60Y:#abbc47;
$NCS_3050-G70Y:#b6bc4a;
$NCS_3050-G80Y:#bcb84a;
$NCS_3050-G90Y:#bcb048;
$NCS_3050-R:#bc313a;
$NCS_3050-R10B:#bc3343;
$NCS_3050-R20B:#bc3550;
$NCS_3050-R30B:#bc3963;
$NCS_3050-R40B:#bc3e7d;
$NCS_3050-R50B:#bc46a5;
$NCS_3050-R60B:#9543bc;
$NCS_3050-R70B:#7048bc;
$NCS_3050-R80B:#354ebc;
$NCS_3050-R90B:#3964bc;
$NCS_3050-Y:#bcaa47;
$NCS_3050-Y10R:#bca045;
$NCS_3050-Y20R:#bc9543;
$NCS_3050-Y30R:#bc8a41;
$NCS_3050-Y40R:#bc7e3e;
$NCS_3050-Y50R:#bc723c;
$NCS_3050-Y60R:#bc663a;
$NCS_3050-Y70R:#bc5937;
$NCS_3050-Y80R:#bc4c34;
$NCS_3050-Y90R:#bc3f36;
$NCS_3055-B50G:#41bcb7;
$NCS_3055-R30B:#bc315d;
$NCS_3055-R40B:#bc3679;
$NCS_3055-R50B:#bc3ea3;
$NCS_3060-B:#3188bc;
$NCS_3060-B10G:#3499bc;
$NCS_3060-B20G:#36a5bc;
$NCS_3060-B30G:#37afbc;
$NCS_3060-B40G:#39b8bc;
$NCS_3060-B70G:#36bca8;
$NCS_3060-B90G:#30bc7d;
$NCS_3060-G:#2cbc64;
$NCS_3060-G10Y:#4fbc53;
$NCS_3060-G20Y:#68bc46;
$NCS_3060-G30Y:#7dbc3b;
$NCS_3060-G40Y:#8ebc33;
$NCS_3060-G50Y:#9cbc35;
$NCS_3060-G60Y:#a9bc36;
$NCS_3060-G70Y:#b5bc38;
$NCS_3060-G80Y:#bcb739;
$NCS_3060-G90Y:#bcaf37;
$NCS_3060-R:#bc232d;
$NCS_3060-R10B:#bc2537;
$NCS_3060-R20B:#bc2745;
$NCS_3060-R70B:#673abc;
$NCS_3060-R80B:#2742bc;
$NCS_3060-R90B:#2a5abc;
$NCS_3060-Y:#bca836;
$NCS_3060-Y10R:#bc9c34;
$NCS_3060-Y20R:#bc9033;
$NCS_3060-Y30R:#bc8331;
$NCS_3060-Y40R:#bc772f;
$NCS_3060-Y50R:#bc692d;
$NCS_3060-Y60R:#bc5c2b;
$NCS_3060-Y70R:#bc4e29;
$NCS_3060-Y80R:#bc4026;
$NCS_3060-Y90R:#bc3229;
$NCS_3065-G10Y:#49bc4e;
$NCS_3065-G40Y:#8bbc2b;
$NCS_3065-G50Y:#9bbc2d;
$NCS_3065-G60Y:#a8bc2f;
$NCS_3065-R90B:#2456bc;
$NCS_3065-Y20R:#bc8d2b;
$NCS_3500-N:#a5a5a5;
$NCS_3502-B:#a8acae;
$NCS_3502-G:#a7aeaa;
$NCS_3502-R:#aea5a5;
$NCS_3502-Y:#aeada9;
$NCS_3555-B60G:#3baea4;
$NCS_3555-B80G:#39ae94;
$NCS_3555-R60B:#8836ae;
$NCS_3560-G:#29ae5d;
$NCS_3560-G10Y:#49ae4d;
$NCS_3560-G20Y:#61ae41;
$NCS_3560-G30Y:#74ae37;
$NCS_3560-G40Y:#84ae2f;
$NCS_3560-G50Y:#91ae31;
$NCS_3560-G60Y:#9dae33;
$NCS_3560-G70Y:#a8ae34;
$NCS_3560-R:#ae212a;
$NCS_3560-R80B:#243dae;
$NCS_3560-R90B:#2754ae;
$NCS_3560-Y:#ae9c32;
$NCS_3560-Y20R:#ae852f;
$NCS_3560-Y30R:#ae7a2d;
$NCS_3560-Y40R:#ae6e2b;
$NCS_3560-Y50R:#ae622a;
$NCS_3560-Y60R:#ae5528;
$NCS_3560-Y70R:#ae4926;
$NCS_3560-Y80R:#ae3c24;
$NCS_3560-Y90R:#ae2f26;
$NCS_4000-N:#999999;
$NCS_4005-B20G:#949fa1;
$NCS_4005-B80G:#94a19e;
$NCS_4005-G20Y:#98a194;
$NCS_4005-G50Y:#9ea194;
$NCS_4005-G80Y:#a1a095;
$NCS_4005-R20B:#a18e92;
$NCS_4005-R50B:#a1949e;
$NCS_4005-R80B:#8e91a1;
$NCS_4005-Y20R:#a19c93;
$NCS_4005-Y50R:#a19891;
$NCS_4005-Y80R:#a1918e;
$NCS_4010-B10G:#879aa1;
$NCS_4010-B30G:#899fa1;
$NCS_4010-B50G:#89a1a0;
$NCS_4010-B70G:#88a19d;
$NCS_4010-B90G:#84a194;
$NCS_4010-G10Y:#8aa18b;
$NCS_4010-G30Y:#94a187;
$NCS_4010-G50Y:#9ba187;
$NCS_4010-G70Y:#a0a189;
$NCS_4010-G90Y:#a19e89;
$NCS_4010-R10B:#a17c80;
$NCS_4010-R30B:#a1808b;
$NCS_4010-R50B:#a1889c;
$NCS_4010-R70B:#8f86a1;
$NCS_4010-R90B:#808ba1;
$NCS_4010-Y10R:#a19b87;
$NCS_4010-Y30R:#a19585;
$NCS_4010-Y50R:#a18f82;
$NCS_4010-Y70R:#a1887f;
$NCS_4010-Y90R:#a17f7d;
$NCS_4020-B:#6e8ea1;
$NCS_4020-B10G:#7094a1;
$NCS_4020-B30G:#739da1;
$NCS_4020-B50G:#74a19f;
$NCS_4020-B70G:#72a19a;
$NCS_4020-B90G:#6ca189;
$NCS_4020-G:#68a17e;
$NCS_4020-G10Y:#77a179;
$NCS_4020-G30Y:#8aa171;
$NCS_4020-G50Y:#96a171;
$NCS_4020-G70Y:#9fa174;
$NCS_4020-G90Y:#a19c73;
$NCS_4020-R:#a15e62;
$NCS_4020-R10B:#a16068;
$NCS_4020-R20B:#a1636f;
$NCS_4020-R30B:#a16679;
$NCS_4020-R40B:#a16b86;
$NCS_4020-R50B:#a17298;
$NCS_4020-R60B:#916fa1;
$NCS_4020-R70B:#806fa1;
$NCS_4020-R80B:#626ea1;
$NCS_4020-R90B:#677aa1;
$NCS_4020-Y:#a19a72;
$NCS_4020-Y10R:#a19571;
$NCS_4020-Y20R:#a1916f;
$NCS_4020-Y30R:#a18c6d;
$NCS_4020-Y40R:#a1876b;
$NCS_4020-Y50R:#a18169;
$NCS_4020-Y60R:#a17b67;
$NCS_4020-Y70R:#a17464;
$NCS_4020-Y80R:#a16d62;
$NCS_4020-Y90R:#a16662;
$NCS_4030-B:#5a86a1;
$NCS_4030-B10G:#5c8fa1;
$NCS_4030-B30G:#609ba1;
$NCS_4030-B50G:#61a19f;
$NCS_4030-B70G:#5fa197;
$NCS_4030-B90G:#58a180;
$NCS_4030-G:#53a171;
$NCS_4030-G10Y:#67a16a;
$NCS_4030-G30Y:#80a15f;
$NCS_4030-G50Y:#91a15d;
$NCS_4030-G70Y:#9ea161;
$NCS_4030-G90Y:#a19a60;
$NCS_4030-R:#a1494e;
$NCS_4030-R10B:#a14b55;
$NCS_4030-R20B:#a14d5e;
$NCS_4030-R30B:#a1516b;
$NCS_4030-R40B:#a1567c;
$NCS_4030-R50B:#a15e94;
$NCS_4030-R60B:#8b5ba1;
$NCS_4030-R70B:#745ca1;
$NCS_4030-R80B:#4d5ca1;
$NCS_4030-R90B:#516ca1;
$NCS_4030-Y:#a1975f;
$NCS_4030-Y10R:#a1915d;
$NCS_4030-Y20R:#a18a5b;
$NCS_4030-Y30R:#a18459;
$NCS_4030-Y40R:#a17c57;
$NCS_4030-Y50R:#a17554;
$NCS_4030-Y60R:#a16d52;
$NCS_4030-Y70R:#a1644f;
$NCS_4030-Y80R:#a15b4c;
$NCS_4030-Y90R:#a1524d;
$NCS_4040-B:#487fa1;
$NCS_4040-B10G:#4b8ba1;
$NCS_4040-B20G:#4d93a1;
$NCS_4040-B30G:#4e99a1;
$NCS_4040-B40G:#509ea1;
$NCS_4040-B50G:#4fa19e;
$NCS_4040-B60G:#4ea199;
$NCS_4040-B70G:#4da194;
$NCS_4040-B80G:#4ba18e;
$NCS_4040-B90G:#46a178;
$NCS_4040-G:#42a167;
$NCS_4040-G10Y:#59a15d;
$NCS_4040-G20Y:#6ba155;
$NCS_4040-G30Y:#78a14e;
$NCS_4040-G40Y:#83a149;
$NCS_4040-G50Y:#8da14b;
$NCS_4040-G60Y:#95a14d;
$NCS_4040-G70Y:#9da14f;
$NCS_4040-G80Y:#a19e50;
$NCS_4040-G90Y:#a1994e;
$NCS_4040-R:#a1383e;
$NCS_4040-R10B:#a13946;
$NCS_4040-R20B:#a13c50;
$NCS_4040-R30B:#a1405f;
$NCS_4040-R40B:#a14573;
$NCS_4040-R50B:#a14c91;
$NCS_4040-R60B:#8549a1;
$NCS_4040-R70B:#694ca1;
$NCS_4040-R80B:#3b4ea1;
$NCS_4040-R90B:#4060a1;
$NCS_4040-Y:#a1944d;
$NCS_4040-Y10R:#a18d4b;
$NCS_4040-Y20R:#a18549;
$NCS_4040-Y30R:#a17c47;
$NCS_4040-Y40R:#a17445;
$NCS_4040-Y50R:#a16b43;
$NCS_4040-Y60R:#a16140;
$NCS_4040-Y70R:#a1573e;
$NCS_4040-Y80R:#a14d3b;
$NCS_4040-Y90R:#a1423c;
$NCS_4050-B:#387aa1;
$NCS_4050-B10G:#3b87a1;
$NCS_4050-B20G:#3d90a1;
$NCS_4050-B30G:#3e98a1;
$NCS_4050-B40G:#3f9ea1;
$NCS_4050-B50G:#3fa19e;
$NCS_4050-B60G:#3ea198;
$NCS_4050-B70G:#3da192;
$NCS_4050-B80G:#3ca18a;
$NCS_4050-B90G:#36a171;
$NCS_4050-G:#33a15d;
$NCS_4050-G10Y:#4ea151;
$NCS_4050-G20Y:#62a148;
$NCS_4050-G30Y:#71a140;
$NCS_4050-G40Y:#7ea139;
$NCS_4050-G50Y:#89a13b;
$NCS_4050-G60Y:#93a13d;
$NCS_4050-G70Y:#9ca13f;
$NCS_4050-G80Y:#a19e3f;
$NCS_4050-G90Y:#a1973e;
$NCS_4050-R:#a12a31;
$NCS_4050-R10B:#a12b3a;
$NCS_4050-R20B:#a12e45;
$NCS_4050-R30B:#a13154;
$NCS_4050-R40B:#a1356b;
$NCS_4050-R50B:#a13c8e;
$NCS_4050-R60B:#8039a1;
$NCS_4050-R70B:#603ea1;
$NCS_4050-R80B:#2d42a1;
$NCS_4050-R90B:#3156a1;
$NCS_4050-Y:#a1923d;
$NCS_4050-Y10R:#a1893b;
$NCS_4050-Y20R:#a18039;
$NCS_4050-Y30R:#a17637;
$NCS_4050-Y40R:#a16c36;
$NCS_4050-Y50R:#a16233;
$NCS_4050-Y60R:#a15731;
$NCS_4050-Y70R:#a14c2f;
$NCS_4050-Y80R:#a1412d;
$NCS_4050-Y90R:#a1362e;
$NCS_4055-B:#3177a1;
$NCS_4055-B40G:#389ea1;
$NCS_4055-R70B:#5c37a1;
$NCS_4055-R95B:#2d5fa1;
$NCS_4055-Y10R:#a18734;
$NCS_4500-N:#8c8c8c;
$NCS_4502-B:#8e9193;
$NCS_4502-G:#8d9390;
$NCS_4502-R:#938b8c;
$NCS_4502-Y:#93938f;
$NCS_4550-B:#336f93;
$NCS_4550-B20G:#388493;
$NCS_4550-B30G:#398b93;
$NCS_4550-B40G:#3a9193;
$NCS_4550-B50G:#3a9390;
$NCS_4550-B80G:#37937f;
$NCS_4550-B90G:#329368;
$NCS_4550-G:#2e9356;
$NCS_4550-G10Y:#47934b;
$NCS_4550-G20Y:#599342;
$NCS_4550-G30Y:#68933a;
$NCS_4550-G40Y:#749335;
$NCS_4550-G50Y:#7e9336;
$NCS_4550-G60Y:#879338;
$NCS_4550-G70Y:#8f933a;
$NCS_4550-R70B:#583993;
$NCS_4550-R80B:#293d93;
$NCS_4550-R90B:#2d4f93;
$NCS_4550-Y:#938638;
$NCS_4550-Y30R:#936c33;
$NCS_4550-Y40R:#936331;
$NCS_4550-Y50R:#935a2f;
$NCS_4550-Y60R:#93502d;
$NCS_4550-Y70R:#93462b;
$NCS_4550-Y80R:#933b29;
$NCS_4550-Y90R:#93312a;
$NCS_5000-N:#7f7f7f;
$NCS_5005-B20G:#7b8486;
$NCS_5005-B80G:#7b8684;
$NCS_5005-G20Y:#7f867c;
$NCS_5005-G50Y:#83867b;
$NCS_5005-G80Y:#86867c;
$NCS_5005-R20B:#86767a;
$NCS_5005-R50B:#867b84;
$NCS_5005-R80B:#767986;
$NCS_5005-Y20R:#86827a;
$NCS_5005-Y50R:#867e79;
$NCS_5005-Y80R:#867976;
$NCS_5010-B10G:#708186;
$NCS_5010-B30G:#728486;
$NCS_5010-B50G:#738685;
$NCS_5010-B70G:#718683;
$NCS_5010-B90G:#6e867b;
$NCS_5010-G10Y:#738674;
$NCS_5010-G30Y:#7c8671;
$NCS_5010-G50Y:#818671;
$NCS_5010-G70Y:#858672;
$NCS_5010-G90Y:#868472;
$NCS_5010-R10B:#86676b;
$NCS_5010-R30B:#866b74;
$NCS_5010-R50B:#867182;
$NCS_5010-R70B:#776f86;
$NCS_5010-R90B:#6b7486;
$NCS_5010-Y10R:#868171;
$NCS_5010-Y30R:#867d6f;
$NCS_5010-Y50R:#86776d;
$NCS_5010-Y70R:#86716a;
$NCS_5010-Y90R:#866a68;
$NCS_5020-B:#5c7686;
$NCS_5020-B10G:#5e7c86;
$NCS_5020-B30G:#608286;
$NCS_5020-B50G:#618685;
$NCS_5020-B70G:#5f8680;
$NCS_5020-B90G:#5a8672;
$NCS_5020-G:#578669;
$NCS_5020-G10Y:#638665;
$NCS_5020-G30Y:#73865f;
$NCS_5020-G50Y:#7d865e;
$NCS_5020-G70Y:#848661;
$NCS_5020-G90Y:#868260;
$NCS_5020-R:#864e52;
$NCS_5020-R10B:#865057;
$NCS_5020-R20B:#86525d;
$NCS_5020-R30B:#865565;
$NCS_5020-R40B:#865970;
$NCS_5020-R50B:#865f7e;
$NCS_5020-R60B:#795d86;
$NCS_5020-R70B:#6b5d86;
$NCS_5020-R80B:#525b86;
$NCS_5020-R90B:#556586;
$NCS_5020-Y:#86805f;
$NCS_5020-Y10R:#867d5e;
$NCS_5020-Y20R:#86795c;
$NCS_5020-Y30R:#86755b;
$NCS_5020-Y40R:#867059;
$NCS_5020-Y50R:#866b58;
$NCS_5020-Y60R:#866656;
$NCS_5020-Y70R:#866154;
$NCS_5020-Y80R:#865b52;
$NCS_5020-Y90R:#865551;
$NCS_5030-B:#4b7086;
$NCS_5030-B10G:#4d7786;
$NCS_5030-B30G:#508186;
$NCS_5030-B50G:#518684;
$NCS_5030-B70G:#4f867e;
$NCS_5030-B90G:#49866b;
$NCS_5030-G:#45865f;
$NCS_5030-G10Y:#568658;
$NCS_5030-G30Y:#6b864f;
$NCS_5030-G50Y:#79864d;
$NCS_5030-G70Y:#838651;
$NCS_5030-G90Y:#868150;
$NCS_5030-R:#863c41;
$NCS_5030-R10B:#863e47;
$NCS_5030-R20B:#86404e;
$NCS_5030-R30B:#864459;
$NCS_5030-R40B:#864867;
$NCS_5030-R50B:#864e7b;
$NCS_5030-R60B:#734c86;
$NCS_5030-R70B:#614d86;
$NCS_5030-R80B:#404d86;
$NCS_5030-R90B:#445a86;
$NCS_5030-Y:#867e4f;
$NCS_5030-Y10R:#86794d;
$NCS_5030-Y20R:#86734c;
$NCS_5030-Y30R:#866e4a;
$NCS_5030-Y40R:#866848;
$NCS_5030-Y50R:#866146;
$NCS_5030-Y60R:#865b44;
$NCS_5030-Y70R:#865342;
$NCS_5030-Y80R:#864c40;
$NCS_5030-Y90R:#864440;
$NCS_5040-B:#3c6a86;
$NCS_5040-B10G:#3e7486;
$NCS_5040-B20G:#407a86;
$NCS_5040-B30G:#418086;
$NCS_5040-B40G:#428486;
$NCS_5040-B50G:#428684;
$NCS_5040-B60G:#418680;
$NCS_5040-B70G:#40867c;
$NCS_5040-B80G:#3f8676;
$NCS_5040-B90G:#3a8664;
$NCS_5040-G:#378656;
$NCS_5040-G10Y:#4b864d;
$NCS_5040-G20Y:#598646;
$NCS_5040-G30Y:#648641;
$NCS_5040-G40Y:#6e863d;
$NCS_5040-G50Y:#76863f;
$NCS_5040-G60Y:#7c8640;
$NCS_5040-G70Y:#838642;
$NCS_5040-G80Y:#868442;
$NCS_5040-G90Y:#867f41;
$NCS_5040-R:#862e34;
$NCS_5040-R10B:#86303a;
$NCS_5040-R20B:#863243;
$NCS_5040-R30B:#86354f;
$NCS_5040-R40B:#863960;
$NCS_5040-R50B:#863f78;
$NCS_5040-R60B:#6f3d86;
$NCS_5040-R70B:#583f86;
$NCS_5040-R80B:#324186;
$NCS_5040-R90B:#355086;
$NCS_5040-Y:#867c40;
$NCS_5040-Y10R:#86753f;
$NCS_5040-Y20R:#866f3d;
$NCS_5040-Y30R:#86683b;
$NCS_5040-Y40R:#866039;
$NCS_5040-Y50R:#865937;
$NCS_5040-Y60R:#865135;
$NCS_5040-Y70R:#864933;
$NCS_5040-Y80R:#864031;
$NCS_5040-Y90R:#863732;
$NCS_5045-B10G:#377286;
$NCS_5500-N:#727272;
$NCS_5502-B:#747779;
$NCS_5502-G:#747976;
$NCS_5502-R:#797272;
$NCS_5502-Y:#797875;
$NCS_5540-B:#366079;
$NCS_5540-B10G:#386879;
$NCS_5540-B20G:#396e79;
$NCS_5540-B30G:#3b7379;
$NCS_5540-B40G:#3c7779;
$NCS_5540-B50G:#3c7977;
$NCS_5540-B80G:#38796a;
$NCS_5540-B90G:#34795a;
$NCS_5540-G:#31794d;
$NCS_5540-G10Y:#437945;
$NCS_5540-G20Y:#50793f;
$NCS_5540-G30Y:#5a793b;
$NCS_5540-G40Y:#637937;
$NCS_5540-G50Y:#6a7938;
$NCS_5540-G60Y:#70793a;
$NCS_5540-G70Y:#76793b;
$NCS_5540-R70B:#4f3979;
$NCS_5540-R90B:#304879;
$NCS_5540-Y90R:#79322d;
$NCS_6000-N:#666666;
$NCS_6005-B20G:#636a6b;
$NCS_6005-B80G:#626b69;
$NCS_6005-G20Y:#656b63;
$NCS_6005-G50Y:#696b62;
$NCS_6005-G80Y:#6b6b63;
$NCS_6005-R20B:#6b5f61;
$NCS_6005-R50B:#6b636a;
$NCS_6005-R80B:#5f616b;
$NCS_6005-Y20R:#6b6862;
$NCS_6005-Y50R:#6b6560;
$NCS_6005-Y80R:#6b615e;
$NCS_6010-B10G:#5a676b;
$NCS_6010-B30G:#5b6a6b;
$NCS_6010-B50G:#5c6b6b;
$NCS_6010-B70G:#5b6b69;
$NCS_6010-B90G:#586b63;
$NCS_6010-G10Y:#5c6b5d;
$NCS_6010-G30Y:#636b5a;
$NCS_6010-G50Y:#676b5a;
$NCS_6010-G70Y:#6a6b5c;
$NCS_6010-G90Y:#6b6a5b;
$NCS_6010-R10B:#6b5356;
$NCS_6010-R30B:#6b565c;
$NCS_6010-R50B:#6b5a68;
$NCS_6010-R70B:#5f596b;
$NCS_6010-R90B:#565d6b;
$NCS_6010-Y10R:#6b675a;
$NCS_6010-Y30R:#6b6459;
$NCS_6010-Y50R:#6b5f57;
$NCS_6010-Y70R:#6b5a55;
$NCS_6010-Y90R:#6b5553;
$NCS_6020-B:#495e6b;
$NCS_6020-B10G:#4b636b;
$NCS_6020-B30G:#4d686b;
$NCS_6020-B50G:#4d6b6a;
$NCS_6020-B70G:#4c6b67;
$NCS_6020-B90G:#486b5b;
$NCS_6020-G:#456b54;
$NCS_6020-G10Y:#4f6b51;
$NCS_6020-G30Y:#5c6b4c;
$NCS_6020-G50Y:#646b4b;
$NCS_6020-G70Y:#6a6b4d;
$NCS_6020-G90Y:#6b684d;
$NCS_6020-R:#6b3f42;
$NCS_6020-R10B:#6b4045;
$NCS_6020-R20B:#6b424a;
$NCS_6020-R30B:#6b4451;
$NCS_6020-R40B:#6b4759;
$NCS_6020-R50B:#6b4c65;
$NCS_6020-R60B:#614a6b;
$NCS_6020-R70B:#564a6b;
$NCS_6020-R80B:#41496b;
$NCS_6020-R90B:#44516b;
$NCS_6020-Y:#6b674c;
$NCS_6020-Y10R:#6b644b;
$NCS_6020-Y20R:#6b614a;
$NCS_6020-Y30R:#6b5d49;
$NCS_6020-Y40R:#6b5a47;
$NCS_6020-Y50R:#6b5646;
$NCS_6020-Y60R:#6b5245;
$NCS_6020-Y70R:#6b4d43;
$NCS_6020-Y80R:#6b4841;
$NCS_6020-Y90R:#6b4441;
$NCS_6030-B:#3c596b;
$NCS_6030-B10G:#3e606b;
$NCS_6030-B30G:#40676b;
$NCS_6030-B50G:#416b6a;
$NCS_6030-B70G:#3f6b65;
$NCS_6030-B90G:#3a6b55;
$NCS_6030-G:#376b4c;
$NCS_6030-G10Y:#456b46;
$NCS_6030-G30Y:#566b3f;
$NCS_6030-G50Y:#616b3e;
$NCS_6030-G70Y:#696b40;
$NCS_6030-G90Y:#6b6740;
$NCS_6030-R:#6b3034;
$NCS_6030-R10B:#6b3239;
$NCS_6030-R20B:#6b343f;
$NCS_6030-R30B:#6b3647;
$NCS_6030-R40B:#6b3a52;
$NCS_6030-R50B:#6b3e63;
$NCS_6030-R60B:#5c3d6b;
$NCS_6030-R70B:#4d3d6b;
$NCS_6030-R80B:#333d6b;
$NCS_6030-R90B:#36486b;
$NCS_6030-Y:#6b653f;
$NCS_6030-Y10R:#6b613e;
$NCS_6030-Y20R:#6b5c3d;
$NCS_6030-Y30R:#6b583b;
$NCS_6030-Y40R:#6b533a;
$NCS_6030-Y50R:#6b4e38;
$NCS_6030-Y60R:#6b4836;
$NCS_6030-Y70R:#6b4335;
$NCS_6030-Y80R:#6b3d33;
$NCS_6030-Y90R:#6b3733;
$NCS_6035-B60G:#3a6b67;
$NCS_6500-N:#595959;
$NCS_6502-B:#5a5d5e;
$NCS_6502-G:#5a5e5b;
$NCS_6502-R:#5e5959;
$NCS_6502-Y:#5e5d5b;
$NCS_6530-B30G:#385a5e;
$NCS_6530-B50G:#395e5d;
$NCS_6530-G10Y:#3c5e3e;
$NCS_6530-G50Y:#555e36;
$NCS_7000-N:#4c4c4c;
$NCS_7005-B20G:#4a4f50;
$NCS_7005-B80G:#4a504f;
$NCS_7005-G20Y:#4c504a;
$NCS_7005-G50Y:#4f504a;
$NCS_7005-G80Y:#50504a;
$NCS_7005-R20B:#504749;
$NCS_7005-R50B:#504a4f;
$NCS_7005-R80B:#474950;
$NCS_7005-Y20R:#504e4a;
$NCS_7005-Y50R:#504c48;
$NCS_7005-Y80R:#504947;
$NCS_7010-B10G:#434d50;
$NCS_7010-B30G:#444f50;
$NCS_7010-B50G:#455050;
$NCS_7010-B70G:#44504f;
$NCS_7010-B90G:#42504a;
$NCS_7010-G10Y:#455046;
$NCS_7010-G30Y:#4a5044;
$NCS_7010-G50Y:#4e5044;
$NCS_7010-G70Y:#505045;
$NCS_7010-G90Y:#504f44;
$NCS_7010-R10B:#503e40;
$NCS_7010-R30B:#504045;
$NCS_7010-R50B:#50444e;
$NCS_7010-R70B:#484350;
$NCS_7010-R90B:#404650;
$NCS_7010-Y10R:#504d44;
$NCS_7010-Y30R:#504b42;
$NCS_7010-Y50R:#504841;
$NCS_7010-Y70R:#50443f;
$NCS_7010-Y90R:#503f3e;
$NCS_7020-B:#374750;
$NCS_7020-B10G:#384a50;
$NCS_7020-B30G:#3a4e50;
$NCS_7020-B50G:#3a5050;
$NCS_7020-B70G:#39504d;
$NCS_7020-B90G:#365045;
$NCS_7020-G:#34503f;
$NCS_7020-G10Y:#3c503c;
$NCS_7020-G30Y:#455039;
$NCS_7020-G50Y:#4b5038;
$NCS_7020-G70Y:#4f503a;
$NCS_7020-G90Y:#504e3a;
$NCS_7020-R:#502f31;
$NCS_7020-R10B:#503034;
$NCS_7020-R20B:#503138;
$NCS_7020-R30B:#50333c;
$NCS_7020-R40B:#503543;
$NCS_7020-R50B:#50394c;
$NCS_7020-R60B:#483750;
$NCS_7020-R70B:#403750;
$NCS_7020-R80B:#313750;
$NCS_7020-R90B:#333d50;
$NCS_7020-Y:#504d39;
$NCS_7020-Y10R:#504b38;
$NCS_7020-Y20R:#504837;
$NCS_7020-Y30R:#504637;
$NCS_7020-Y40R:#504336;
$NCS_7020-Y50R:#504035;
$NCS_7020-Y60R:#503d33;
$NCS_7020-Y70R:#503a32;
$NCS_7020-Y80R:#503631;
$NCS_7020-Y90R:#503331;
$NCS_7500-N:#3f3f3f;
$NCS_7502-B:#414243;
$NCS_7502-G:#404341;
$NCS_7502-R:#433f40;
$NCS_7502-Y:#434341;
$NCS_8000-N:#323232;
$NCS_8005-B20G:#313536;
$NCS_8005-B80G:#313635;
$NCS_8005-G20Y:#333632;
$NCS_8005-G50Y:#353631;
$NCS_8005-G80Y:#363632;
$NCS_8005-R20B:#362f31;
$NCS_8005-R50B:#363135;
$NCS_8005-R80B:#2f3036;
$NCS_8005-Y20R:#363431;
$NCS_8005-Y50R:#363330;
$NCS_8005-Y80R:#36302f;
$NCS_8010-B10G:#2d3336;
$NCS_8010-B30G:#2e3536;
$NCS_8010-B50G:#2e3635;
$NCS_8010-B70G:#2d3634;
$NCS_8010-B90G:#2c3631;
$NCS_8010-G10Y:#2e362e;
$NCS_8010-G30Y:#31362d;
$NCS_8010-G50Y:#34362d;
$NCS_8010-G70Y:#35362e;
$NCS_8010-G90Y:#36352e;
$NCS_8010-R10B:#36292b;
$NCS_8010-R30B:#362b2e;
$NCS_8010-R50B:#362d34;
$NCS_8010-R70B:#302d36;
$NCS_8010-R90B:#2b2e36;
$NCS_8010-Y10R:#36342d;
$NCS_8010-Y30R:#36322c;
$NCS_8010-Y50R:#36302b;
$NCS_8010-Y70R:#362d2a;
$NCS_8010-Y90R:#362a2a;
$NCS_8500-N:#262626;
$NCS_8500-N:#262626;
$NCS_8502-B:#272828;
$NCS_8502-G:#272827;
$NCS_8502-R:#282626;
$NCS_8502-Y:#282827;
$NCS_8505-B20G:#252828;
$NCS_8505-B80G:#252828;
$NCS_8505-G20Y:#262825;
$NCS_8505-G80Y:#282825;
$NCS_8505-R20B:#282425;
$NCS_8505-R80B:#242428;
$NCS_8505-Y20R:#282725;
$NCS_8505-Y80R:#282423;