$NEWDEF_NAVY:#001f3f;
$NEWDEF_BLUE:#0074D9;
$NEWDEF_AQUA:#7FDBFF;
$NEWDEF_TEAL:#39CCCC;
$NEWDEF_OLIVE:#3D9970;
$NEWDEF_GREEN:#2ECC40;
$NEWDEF_LIME:#01FF70;
$NEWDEF_YELLOW:#FFDC00;
$NEWDEF_ORANGE:#FF851B;
$NEWDEF_RED:#FF4136;
$NEWDEF_MAROON:#85144b;
$NEWDEF_FUCHSIA:#F012BE;
$NEWDEF_PURPLE:#B10DC9;
$NEWDEF_BLACK:#111;
$NEWDEF_GRAY:#aaa;
$NEWDEF_SILVER:#ddd;
$NEWDEF_WHITE:#fff;