$PANTONE_Mahogany:#CD4A4A;
$PANTONE_Fuzzy_Wuzzy_Brown:#CC6666;
$PANTONE_Chestnut:#BC5D58;
$PANTONE_Red_Orange:#FF5349;
$PANTONE_Sunset_Orange:#FD5E53;
$PANTONE_Bittersweet:#FD7C6E;
$PANTONE_Melon:#FDBCB4;
$PANTONE_Outrageous_Orange:#FF6E4A;
$PANTONE_Vivid_Tangerine:#FFA089;
$PANTONE_Burnt_Sienna:#EA7E5D;
$PANTONE_Brown:#B4674D;
$PANTONE_Sepia:#A5694F;
$PANTONE_Orange:#FF7538;
$PANTONE_Burnt_Orange:#FF7F49;
$PANTONE_Copper:#DD9475;
$PANTONE_Mango_Tango:#FF8243;
$PANTONE_Atomic_Tangerine:#FFA474;
$PANTONE_Beaver:#9F8170;
$PANTONE_Antique_Brass:#CD9575;
$PANTONE_Desert_Sand:#EFCDB8;
$PANTONE_Raw_Sienna:#D68A59;
$PANTONE_Tumbleweed:#DEAA88;
$PANTONE_Tan:#FAA76C;
$PANTONE_Peach:#FFCFAB;
$PANTONE_Macaroni_and_Cheese:#FFBD88;
$PANTONE_Apricot:#FDD9B5;
$PANTONE_Neon_Carrot:#FFA343;
$PANTONE_Almond:#EFDBC5;
$PANTONE_Yellow_Orange:#FFB653;
$PANTONE_Gold:#E7C697;
$PANTONE_Shadow:#8A795D;
$PANTONE_Banana_Mania:#FAE7B5;
$PANTONE_Sunglow:#FFCF48;
$PANTONE_Goldenrod:#FCD975;
$PANTONE_Dandelion:#FDDB6D;
$PANTONE_Yellow:#FCE883;
$PANTONE_Green_Yellow:#F0E891;
$PANTONE_Spring_Green:#ECEABE;
$PANTONE_Olive_Green:#BAB86C;
$PANTONE_Laser_Lemon:#FDFC74;
$PANTONE_Unmellow_Yellow:#FDFC74;
$PANTONE_Canary:#FFFF99;
$PANTONE_Yellow_Green:#C5E384;
$PANTONE_Inch_Worm:#B2EC5D;
$PANTONE_Asparagus:#87A96B;
$PANTONE_Granny_Smith_Apple:#A8E4A0;
$PANTONE_Electric_Lime:#1DF914;
$PANTONE_Screamin_Green:#76FF7A;
$PANTONE_Fern:#71BC78;
$PANTONE_Forest_Green:#6DAE81;
$PANTONE_Sea_Green:#9FE2BF;
$PANTONE_Green:#1CAC78;
$PANTONE_Mountain_Meadow:#30BA8F;
$PANTONE_Shamrock:#45CEA2;
$PANTONE_Jungle_Green:#3BB08F;
$PANTONE_Caribbean_Green:#1CD3A2;
$PANTONE_Tropical_Rain_Forest:#17806D;
$PANTONE_Pine_Green:#158078;
$PANTONE_Robin_Egg_Blue:#1FCECB;
$PANTONE_Aquamarine:#78DBE2;
$PANTONE_Turquoise_Blue:#77DDE7;
$PANTONE_Sky_Blue:#80DAEB;
$PANTONE_Outer_Space:#414A4C;
$PANTONE_Blue_Green:#199EBD;
$PANTONE_Pacific_Blue:#1CA9C9;
$PANTONE_Cerulean:#1DACD6;
$PANTONE_Cornflower:#9ACEEB;
$PANTONE_Midnight_Blue:#1A4876;
$PANTONE_Navy_Blue:#1974D2;
$PANTONE_Denim:#2B6CC4;
$PANTONE_Blue:#1F75FE;
$PANTONE_Periwinkle:#C5D0E6;
$PANTONE_Cadet_Blue:#B0B7C6;
$PANTONE_Indigo:#5D76CB;
$PANTONE_Wild_Blue_Yonder:#A2ADD0;
$PANTONE_Manatee:#979AAA;
$PANTONE_Blue_Bell:#ADADD6;
$PANTONE_Blue_Violet:#7366BD;
$PANTONE_Purple_Heart:#7442C8;
$PANTONE_Royal_Purple:#7851A9;
$PANTONE_Purple_Mountains_Majesty:#9D81BA;
$PANTONE_Violet_Purple:#926EAE;
$PANTONE_Wisteria:#CDA4DE;
$PANTONE_Vivid_Violet:#8F509D;
$PANTONE_Fuchsia:#C364C5;
$PANTONE_Shocking_Pink:#FB7EFD;
$PANTONE_Pink_Flamingo:#FC74FD;
$PANTONE_Plum:#8E4585;
$PANTONE_Hot_Magenta:#FF1DCE;
$PANTONE_Purple_Pizzazz:#FF1DCE;
$PANTONE_Razzle_Dazzle_Rose:#FF48D0;
$PANTONE_Orchid:#E6A8D7;
$PANTONE_Red_Violet:#C0448F;
$PANTONE_Eggplant:#6E5160;
$PANTONE_Cerise:#DD4492;
$PANTONE_Wild_Strawberry:#FF43A4;
$PANTONE_Magenta:#F664AF;
$PANTONE_Lavender:#FCB4D5;
$PANTONE_Cotton_Candy:#FFBCD9;
$PANTONE_Violet_Red:#F75394;
$PANTONE_Carnation_Pink:#FFAACC;
$PANTONE_Razzmatazz:#E3256B;
$PANTONE_Piggy_Pink:#FDD7E4;
$PANTONE_Jazzberry_Jam:#CA3767;
$PANTONE_Blush:#DE5D83;
$PANTONE_Tickle_Me_Pink:#FC89AC;
$PANTONE_Pink_Sherbet:#F780A1;
$PANTONE_Maroon:#C8385A;
$PANTONE_Red:#EE204D;
$PANTONE_Radical_Red:#FF496C;
$PANTONE_Mauvelous:#EF98AA;
$PANTONE_Wild_Watermelon:#FC6C85;
$PANTONE_Scarlet:#FC2847;
$PANTONE_Salmon:#FF9BAA;
$PANTONE_Brick_Red:#CB4154;
$PANTONE_White:#EDEDED;
$PANTONE_Timberwolf:#DBD7D2;
$PANTONE_Silver:#CDC5C2;
$PANTONE_Gray:#95918C;
$PANTONE_Black:#232323;
