$RAL_1000:#CCC58F;
$RAL_1001:#D1BC8A;
$RAL_1002:#D2B773;
$RAL_1003:#F7BA0B;
$RAL_1004:#E2B007;
$RAL_1005:#C89F04;
$RAL_1006:#E1A100;
$RAL_1007:#E79C00;
$RAL_1011:#AF8A54;
$RAL_1012:#D9C022;
$RAL_1013:#E9E5CE;
$RAL_1014:#DFCEA1;
$RAL_1015:#EADEBD;
$RAL_1016:#EAF044;
$RAL_1017:#F4B752;
$RAL_1018:#F3E03B;
$RAL_1019:#A4957D;
$RAL_1020:#9A9464;
$RAL_1021:#EEC900;
$RAL_1023:#F0CA00;
$RAL_1024:#B89C50;
$RAL_1026:#F5FF00;
$RAL_1027:#A38C15;
$RAL_1028:#FFAB00;
$RAL_1032:#DDB20F;
$RAL_1033:#FAAB21;
$RAL_1034:#EDAB56;
$RAL_1035:#A29985;
$RAL_1036:#927549;
$RAL_1037:#EEA205;
$RAL_2000:#DD7907;
$RAL_2001:#BE4E20;
$RAL_2002:#C63927;
$RAL_2003:#FA842B;
$RAL_2004:#E75B12;
$RAL_2005:#FF2300;
$RAL_2007:#FFA421;
$RAL_2008:#F3752C;
$RAL_2009:#E15501;
$RAL_2010:#D4652F;
$RAL_2011:#EC7C25;
$RAL_2012:#DB6A50;
$RAL_2013:#954527;
$RAL_3000:#AB2524;
$RAL_3001:#A02128;
$RAL_3002:#A1232B;
$RAL_3003:#8D1D2C;
$RAL_3004:#701F29;
$RAL_3005:#5E2028;
$RAL_3007:#402225;
$RAL_3009:#703731;
$RAL_3011:#7E292C;
$RAL_3012:#CB8D73;
$RAL_3013:#9C322E;
$RAL_3014:#D47479;
$RAL_3015:#E1A6AD;
$RAL_3016:#AC4034;
$RAL_3017:#D3545F;
$RAL_3018:#D14152;
$RAL_3020:#C1121C;
$RAL_3022:#D56D56;
$RAL_3024:#F70000;
$RAL_3026:#FF0000;
$RAL_3027:#B42041;
$RAL_3028:#E72512;
$RAL_3031:#AC323B;
$RAL_3032:#711521;
$RAL_3033:#B24C43;
$RAL_4001:#8A5A83;
$RAL_4002:#933D50;
$RAL_4003:#D15B8F;
$RAL_4004:#691639;
$RAL_4005:#83639D;
$RAL_4006:#992572;
$RAL_4007:#4A203B;
$RAL_4008:#904684;
$RAL_4009:#A38995;
$RAL_4010:#C63678;
$RAL_4011:#8773A1;
$RAL_4012:#6B6880;
$RAL_5000:#384C70;
$RAL_5001:#1F4764;
$RAL_5002:#2B2C7C;
$RAL_5003:#2A3756;
$RAL_5004:#1D1F2A;
$RAL_5005:#154889;
$RAL_5007:#41678D;
$RAL_5008:#313C48;
$RAL_5009:#2E5978;
$RAL_5010:#13447C;
$RAL_5011:#232C3F;
$RAL_5012:#3481B8;
$RAL_5013:#232D53;
$RAL_5014:#6C7C98;
$RAL_5015:#2874B2;
$RAL_5017:#0E518D;
$RAL_5018:#21888F;
$RAL_5019:#1A5784;
$RAL_5020:#0B4151;
$RAL_5021:#07737A;
$RAL_5022:#2F2A5A;
$RAL_5023:#4D668E;
$RAL_5024:#6A93B0;
$RAL_5025:#296478;
$RAL_5026:#102C54;
$RAL_6000:#327662;
$RAL_6001:#28713E;
$RAL_6002:#276235;
$RAL_6003:#4B573E;
$RAL_6004:#0E4243;
$RAL_6005:#0F4336;
$RAL_6006:#40433B;
$RAL_6007:#283424;
$RAL_6008:#35382E;
$RAL_6009:#26392F;
$RAL_6010:#3E753B;
$RAL_6011:#68825B;
$RAL_6012:#31403D;
$RAL_6013:#797C5A;
$RAL_6014:#444337;
$RAL_6015:#3D403A;
$RAL_6016:#026A52;
$RAL_6017:#468641;
$RAL_6018:#48A43F;
$RAL_6019:#B7D9B1;
$RAL_6020:#354733;
$RAL_6021:#86A47C;
$RAL_6022:#3E3C32;
$RAL_6024:#008754;
$RAL_6025:#53753C;
$RAL_6026:#005D52;
$RAL_6027:#81C0BB;
$RAL_6028:#2D5546;
$RAL_6029:#007243;
$RAL_6032:#0F8558;
$RAL_6033:#478A84;
$RAL_6034:#7FB0B2;
$RAL_6035:#1B542C;
$RAL_6036:#005D4C;
$RAL_6037:#25E712;
$RAL_6038:#00F700;
$RAL_7000:#7E8B92;
$RAL_7001:#8F999F;
$RAL_7002:#817F68;
$RAL_7003:#7A7B6D;
$RAL_7004:#9EA0A1;
$RAL_7005:#6B716F;
$RAL_7006:#756F61;
$RAL_7008:#746643;
$RAL_7009:#5B6259;
$RAL_7010:#575D57;
$RAL_7011:#555D61;
$RAL_7012:#596163;
$RAL_7013:#555548;
$RAL_7015:#51565C;
$RAL_7016:#373F43;
$RAL_7021:#2E3234;
$RAL_7022:#4B4D46;
$RAL_7023:#818479;
$RAL_7024:#474A50;
$RAL_7026:#374447;
$RAL_7030:#939388;
$RAL_7031:#5D6970;
$RAL_7032:#B9B9A8;
$RAL_7033:#818979;
$RAL_7034:#939176;
$RAL_7035:#CBD0CC;
$RAL_7036:#9A9697;
$RAL_7037:#7C7F7E;
$RAL_7038:#B4B8B0;
$RAL_7039:#6B695F;
$RAL_7040:#9DA3A6;
$RAL_7042:#8F9695;
$RAL_7043:#4E5451;
$RAL_7044:#BDBDB2;
$RAL_7045:#91969A;
$RAL_7046:#82898E;
$RAL_7047:#CFD0CF;
$RAL_7048:#888175;
$RAL_8000:#887142;
$RAL_8001:#9C6B30;
$RAL_8002:#7B5141;
$RAL_8003:#80542F;
$RAL_8004:#8F4E35;
$RAL_8007:#6F4A2F;
$RAL_8008:#6F4F28;
$RAL_8011:#5A3A29;
$RAL_8012:#673831;
$RAL_8014:#49392D;
$RAL_8015:#633A34;
$RAL_8016:#4C2F26;
$RAL_8017:#44322D;
$RAL_8019:#3F3A3A;
$RAL_8022:#211F20;
$RAL_8023:#A65E2F;
$RAL_8024:#79553C;
$RAL_8025:#755C49;
$RAL_8028:#4E3B31;
$RAL_8029:#763C28;
$RAL_9001:#FDF4E3;
$RAL_9002:#E7EBDA;
$RAL_9003:#F4F4F4;
$RAL_9004:#282828;
$RAL_9005:#0A0A0A;
$RAL_9006:#A5A5A5;
$RAL_9007:#8F8F8F;
$RAL_9010:#FFFFFF;
$RAL_9011:#1C1C1C;
$RAL_9016:#F6F6F6;
$RAL_9017:#1E1E1E;
$RAL_9018:#D7D7D7;
$RAL_9022:#9C9C9C;
$RAL_9023:#828282;