$RESENE_kaitokegreen:#245336;
$RESENE_countygreen:#1b4b35;
$RESENE_zuccini:#17462e;
$RESENE_nordic:#1d393c;
$RESENE_sherpablue:#00494e;
$RESENE_tealblue:#254855;
$RESENE_bluedianne:#35514f;
$RESENE_firefly:#314643;
$RESENE_gablegreen:#2c4641;
$RESENE_daintree:#273f41;
$RESENE_tiber:#184343;
$RESENE_cyprus:#0f4645;
$RESENE_deepteal:#19443c;
$RESENE_zydeco:#20483f;
$RESENE_sherwoodgreen:#1b4636;
$RESENE_englishholly:#274234;
$RESENE_everglade:#264334;
$RESENE_bottlegreen:#254636;
$RESENE_bush:#254636;
$RESENE_burnham:#234537;
$RESENE_celtic:#2b3f36;
$RESENE_timbergreen:#324336;
$RESENE_forestgreen:#334231;
$RESENE_tepapagreen:#2b4b40;
$RESENE_goblin:#34533d;
$RESENE_mallard:#3a4531;
$RESENE_palmleaf:#36482f;
$RESENE_seaweed:#37412a;
$RESENE_olivegreen:#353f2a;
$RESENE_deepfir:#193925;
$RESENE_cardingreen:#1b3427;
$RESENE_palmgreen:#20392c;
$RESENE_holly:#25342b;
$RESENE_blackbean:#232e26;
$RESENE_gordonsgreen:#29332b;
$RESENE_blackforest:#2c3227;
$RESENE_pinetree:#2a2f23;
$RESENE_huntergreen:#2f3125;
$RESENE_eternity:#2d2f28;
$RESENE_rangoongreen:#2b2e25;
$RESENE_marshland:#2b2e26;
$RESENE_greenwaterloo:#2c2d24;
$RESENE_karaka:#2d2d24;
$RESENE_banjul:#34322d;
$RESENE_acadia:#35312c;
$RESENE_darkebony:#37312b;
$RESENE_creole:#393227;
$RESENE_graphite:#383428;
$RESENE_blackmagic:#332c22;
$RESENE_cannonblack:#332c22;
$RESENE_cocoabrown:#35281e;
$RESENE_cola:#3c2f23;
$RESENE_sambuca:#3b2e25;
$RESENE_treehouse:#3c342e;
$RESENE_deepoak:#3d322c;
$RESENE_sepia:#3a2f2d;
$RESENE_coffeebean:#362d26;
$RESENE_cubantan:#362d26;
$RESENE_marlin:#362d26;
$RESENE_woodbark:#302621;
$RESENE_asphalt:#2a2922;
$RESENE_maire:#2a2922;
$RESENE_junglegreen:#292924;
$RESENE_clinker:#463623;
$RESENE_woodburn:#463629;
$RESENE_jackobean:#413628;
$RESENE_birch:#3f3726;
$RESENE_mikado:#3f3623;
$RESENE_ashbrown:#493f2f;
$RESENE_onion:#48412b;
$RESENE_madras:#473e23;
$RESENE_greenkelp:#393d2a;
$RESENE_woodrush:#45402b;
$RESENE_waiouru:#4c4e31;
$RESENE_camouflage:#4f4d32;
$RESENE_thatchgreen:#544e31;
$RESENE_punga:#534931;
$RESENE_deepbronze:#51412d;
$RESENE_tumbleweed:#4b412a;
$RESENE_metallicbronze:#554a3c;
$RESENE_paco:#4f4037;
$RESENE_spaceshuttle:#4b433b;
$RESENE_gravel:#4a4b46;
$RESENE_heavymetal:#46473e;
$RESENE_logcabin:#393e2e;
$RESENE_scrub:#3d4031;
$RESENE_rangitoto:#3a4133;
$RESENE_elpaso:#39392c;
$RESENE_touchwood:#3a372e;
$RESENE_blackpepper:#3c3731;
$RESENE_blackwood:#3f372e;
$RESENE_tobago:#44362d;
$RESENE_slugger:#42342b;
$RESENE_darkrum:#45362b;
$RESENE_bronze:#493b2f;
$RESENE_englishwalnut:#473b2f;
$RESENE_eclipse:#3f3939;
$RESENE_jon:#463d3e;
$RESENE_shark:#34363a;
$RESENE_vulcan:#36383c;
$RESENE_balticsea:#3c3d3e;
$RESENE_montana:#393b3c;
$RESENE_fuscousgrey:#3c3b3c;
$RESENE_kilamanjaro:#3a3532;
$RESENE_mirage:#373f43;
$RESENE_mineshaft:#373e41;
$RESENE_charade:#394043;
$RESENE_zeus:#3b3c38;
$RESENE_tuatara:#454642;
$RESENE_corduroy:#404d49;
$RESENE_armadillo:#484a46;
$RESENE_thunder:#4d4d4b;
$RESENE_matterhorn:#524b4b;
$RESENE_emperor:#50494a;
$RESENE_bleachedcedar:#454647;
$RESENE_steelgrey:#43464b;
$RESENE_tuna:#46494e;
$RESENE_gunpowder:#484753;
$RESENE_rhino:#3d4653;
$RESENE_bluezodiac:#3c4354;
$RESENE_cello:#3a4e5f;
$RESENE_atomic:#3d4b52;
$RESENE_deepcove:#3a4e58;
$RESENE_bigstone:#334046;
$RESENE_nileblue:#253f4e;
$RESENE_greenvogue:#23414e;
$RESENE_tarawera:#253c48;
$RESENE_licorice:#2e3749;
$RESENE_cloudburst:#353e4f;
$RESENE_blackmarlin:#383740;
$RESENE_revolver:#37363f;
$RESENE_grape:#413d4b;
$RESENE_blackrock:#2c2d3c;
$RESENE_haiti:#2c2a35;
$RESENE_lividbrown:#312a29;
$RESENE_diesel:#322c2b;
$RESENE_nightrider:#332e2e;
$RESENE_gondola:#373332;
$RESENE_crowshead:#32312e;
$RESENE_codgrey:#2d3032;
$RESENE_bunker:#292c2f;
$RESENE_bluecharcoal:#262b2f;
$RESENE_bastille:#2c2c32;
$RESENE_woodybay:#33343a;
$RESENE_ebony:#313337;
$RESENE_ebonyclay:#323438;
$RESENE_gunmetal:#2c3539;
$RESENE_oxfordblue:#28353a;
$RESENE_swamp:#252f2f;
$RESENE_oil:#313330;
$RESENE_woodsmoke:#2b3230;
$RESENE_aztec:#293432;
$RESENE_midnightmoss:#242e28;
$RESENE_racinggreen:#232f2c;
$RESENE_bluewhale:#1e3442;
$RESENE_mosaic:#293741;
$RESENE_elephant:#243640;
$RESENE_midnight:#21303e;
$RESENE_tangaroa:#1e2f3c;
$RESENE_cinder:#242a2e;
$RESENE_blackpearl:#1e272c;
$RESENE_bluebark:#1e272c;
$RESENE_blackrussian:#24252b;
$RESENE_jaguar:#29292f;
$RESENE_nero:#252525;
$RESENE_bokaragrey:#2a2725;
$RESENE_outerspace:#1f263b;
$RESENE_midnightexpress:#21263a;
$RESENE_stratos:#21263a;
$RESENE_prussianblue:#192f41;
$RESENE_bunting:#2b3449;
$RESENE_downriver:#2a344a;
$RESENE_capri:#30436a;
$RESENE_bondiblue:#26416b;
$RESENE_catalinablue:#273c5a;
$RESENE_cobalt:#273c5a;
$RESENE_covegrey:#343f5c;
$RESENE_gulfblue:#343f5c;
$RESENE_biscay:#2f3c53;
$RESENE_madison:#2d3c54;
$RESENE_astronautblue:#214559;
$RESENE_regalblue:#203f58;
$RESENE_arapawa:#274a5d;
$RESENE_chambray:#475877;
$RESENE_astronaut:#445172;
$RESENE_eastbay:#47526e;
$RESENE_bahamablue:#25597f;
$RESENE_matisse:#365c7d;
$RESENE_veniceblue:#2c5778;
$RESENE_sttropaz:#325482;
$RESENE_endeavour:#29598b;
$RESENE_bluelagoon:#00626f;
$RESENE_blumine:#305c71;
$RESENE_chathamsblue:#2c5971;
$RESENE_orient:#255b77;
$RESENE_allports:#1f6a7d;
$RESENE_calypso:#3d7188;
$RESENE_jellybean:#44798e;
$RESENE_astral:#376f89;
$RESENE_hippieblue:#49889a;
$RESENE_curiousblue:#3d85b8;
$RESENE_lochmara:#316ea0;
$RESENE_sanmarino:#4e6c9d;
$RESENE_azure:#4e699a;
$RESENE_havelockblue:#5784c1;
$RESENE_waikawagrey:#5b6e91;
$RESENE_kashmirblue:#576d8e;
$RESENE_wedgewood:#4c6b88;
$RESENE_topaz:#817c87;
$RESENE_monsoon:#7a7679;
$RESENE_dovegrey:#777672;
$RESENE_stormgrey:#747880;
$RESENE_regentgrey:#798488;
$RESENE_boulder:#7c817c;
$RESENE_rollingstone:#6d7876;
$RESENE_pigeonpost:#77848e;
$RESENE_lynch:#697d89;
$RESENE_hoki:#647d86;
$RESENE_bluebayoux:#62777e;
$RESENE_sirocco:#68766e;
$RESENE_nevada:#666f6f;
$RESENE_palesky:#636d70;
$RESENE_midgrey:#666a6d;
$RESENE_raven:#6f747b;
$RESENE_aluminium:#76736f;
$RESENE_scarpaflow:#6b6a6c;
$RESENE_empress:#7c7173;
$RESENE_dolphin:#6a6873;
$RESENE_waterloo:#727282;
$RESENE_smoky:#605d6b;
$RESENE_comet:#636373;
$RESENE_fiord:#4b5a62;
$RESENE_sanjuan:#445761;
$RESENE_casal:#3f545a;
$RESENE_brightgrey:#57595d;
$RESENE_tundora:#585452;
$RESENE_mortar:#565051;
$RESENE_donjuan:#5a4f51;
$RESENE_shipgrey:#4e4e4c;
$RESENE_capecod:#4e5552;
$RESENE_mako:#505555;
$RESENE_trout:#4c5356;
$RESENE_darkslate:#465352;
$RESENE_pickledbluewood:#4f5a5f;
$RESENE_riverbed:#556061;
$RESENE_limedspruce:#4e605e;
$RESENE_shuttlegrey:#61666b;
$RESENE_saltbox:#696268;
$RESENE_scorpion:#6a6466;
$RESENE_kabul:#6c5e53;
$RESENE_dorado:#6e5f56;
$RESENE_makara:#695f50;
$RESENE_stormdust:#65645f;
$RESENE_pickledaspen:#5b6452;
$RESENE_chicago:#5b5d56;
$RESENE_battleshipgrey:#51574f;
$RESENE_millbrook:#595648;
$RESENE_cabbagepont:#4c5544;
$RESENE_merlin:#4f4e48;
$RESENE_dune:#514f4a;
$RESENE_masala:#57534b;
$RESENE_smokeyash:#5d5952;
$RESENE_judgegrey:#5d5346;
$RESENE_saddle:#5d4e46;
$RESENE_cork:#5a4c42;
$RESENE_mash:#5a4c42;
$RESENE_rock:#5a4d41;
$RESENE_iroko:#5b5244;
$RESENE_mondo:#554d42;
$RESENE_lisbonbrown:#544f3a;
$RESENE_panda:#544f3a;
$RESENE_kelp:#4d503c;
$RESENE_lunargreen:#4e5541;
$RESENE_hemlock:#69684b;
$RESENE_soyabean:#6f634b;
$RESENE_domino:#6c5b4c;
$RESENE_pinecone:#756556;
$RESENE_coffee:#726751;
$RESENE_peat:#766d52;
$RESENE_pablo:#7a715c;
$RESENE_donkeybrown:#816e5c;
$RESENE_cement:#857158;
$RESENE_squirrel:#8f7d6b;
$RESENE_arrowtown:#827a67;
$RESENE_stonewall:#807661;
$RESENE_sanddune:#867665;
$RESENE_americano:#8a7d72;
$RESENE_hurricane:#8b7e77;
$RESENE_concord:#827f79;
$RESENE_sandstone:#786d5f;
$RESENE_ironsidegrey:#706e66;
$RESENE_flint:#716e61;
$RESENE_limedash:#676d63;
$RESENE_gunsmoke:#7a7c76;
$RESENE_tapa:#7c7c72;
$RESENE_bluesmoke:#78857a;
$RESENE_olivehaze:#888064;
$RESENE_granitegreen:#8b8265;
$RESENE_kokoda:#7b785a;
$RESENE_finch:#75785a;
$RESENE_crocodile:#706950;
$RESENE_siam:#686b50;
$RESENE_cactus:#5b6f55;
$RESENE_axolotl:#63775a;
$RESENE_finlandia:#61755b;
$RESENE_willowgrove:#69755c;
$RESENE_xanadu:#75876e;
$RESENE_cuttysark:#5c8173;
$RESENE_woodland:#626746;
$RESENE_tomthumb:#4f6348;
$RESENE_greygreen:#525636;
$RESENE_spectra:#375d4f;
$RESENE_plantation:#3e594c;
$RESENE_nandor:#4e5d4e;
$RESENE_mineralgreen:#506355;
$RESENE_stromboli:#406356;
$RESENE_viridiangreen:#4b5f56;
$RESENE_oracle:#395555;
$RESENE_taxbreak:#496569;
$RESENE_smaltblue:#496267;
$RESENE_bismark:#486c7a;
$RESENE_ming:#407577;
$RESENE_jade:#40726d;
$RESENE_breakerbay:#517b78;
$RESENE_william:#53736f;
$RESENE_paradiso:#488084;
$RESENE_surfiegreen:#007b77;
$RESENE_elm:#297b76;
$RESENE_genoa:#31796d;
$RESENE_atoll:#2b797a;
$RESENE_seagreen:#1f6361;
$RESENE_bluestone:#166461;
$RESENE_mosque:#005f5b;
$RESENE_eden:#266255;
$RESENE_aquamarine:#205948;
$RESENE_eveningsea:#26604f;
$RESENE_parsley:#305d35;
$RESENE_crusoe:#165b31;
$RESENE_greenpea:#266242;
$RESENE_greenstone:#246c46;
$RESENE_killarney:#49764f;
$RESENE_como:#4c785c;
$RESENE_springgreen:#5c8a64;
$RESENE_amazon:#387b54;
$RESENE_elfgreen:#1b8a6b;
$RESENE_deepsea:#167e65;
$RESENE_observatory:#008f70;
$RESENE_salem:#177b4d;
$RESENE_jewel:#136843;
$RESENE_fungreen:#15633d;
$RESENE_watercourse:#006e4e;
$RESENE_easternblue:#00879f;
$RESENE_pelorous:#2599b2;
$RESENE_scooter:#308ea0;
$RESENE_viking:#4db1c8;
$RESENE_pictonblue:#5ba0d0;
$RESENE_bostonblue:#438eac;
$RESENE_shakespeare:#609ab8;
$RESENE_bermudagrey:#6f8c9f;
$RESENE_shipcove:#7988ab;
$RESENE_danube:#5b89c0;
$RESENE_jordyblue:#7aaae0;
$RESENE_rockblue:#93a2ba;
$RESENE_echoblue:#a4afcd;
$RESENE_poloblue:#8aa7cc;
$RESENE_malibu:#66b7e1;
$RESENE_seagull:#77b7d0;
$RESENE_glacier:#78b1bf;
$RESENE_anakiwa:#8cceea;
$RESENE_sail:#a5ceec;
$RESENE_tropicalblue:#aec9eb;
$RESENE_spray:#7ecddd;
$RESENE_waterleaf:#b6ecde;
$RESENE_downy:#6fd2be;
$RESENE_riptide:#89d9c8;
$RESENE_aqua:#92d3ca;
$RESENE_bermuda:#86d2c1;
$RESENE_vistablue:#97d5b3;
$RESENE_fringyflower:#b4e1bb;
$RESENE_chinook:#9dd3a8;
$RESENE_snowymint:#d6f0cd;
$RESENE_riceflower:#eff5d1;
$RESENE_hintofgreen:#dff1d6;
$RESENE_blueromance:#d8f0d2;
$RESENE_grannyapple:#c5e7cd;
$RESENE_aeroblue:#c0e8d5;
$RESENE_peppermint:#d7e7d0;
$RESENE_tara:#def1dd;
$RESENE_offgreen:#dff0e2;
$RESENE_frostedmint:#e2f2e4;
$RESENE_minttulip:#c6eadd;
$RESENE_onahau:#c2e6ec;
$RESENE_oysterbay:#d1eaea;
$RESENE_foam:#d0eae8;
$RESENE_mabel:#cbe8e8;
$RESENE_iceberg:#cae1d9;
$RESENE_jaggedice:#cae7e2;
$RESENE_hummingbird:#ceefe4;
$RESENE_whiteice:#d7eee4;
$RESENE_lilywhite:#e9eeeb;
$RESENE_tranquil:#ddede9;
$RESENE_clearday:#dfefea;
$RESENE_bubbles:#e6f2ea;
$RESENE_zircon:#dee3e3;
$RESENE_mystic:#d8ddda;
$RESENE_pattensblue:#d3e5ef;
$RESENE_hawkesblue:#d2daed;
$RESENE_selago:#e6dfe7;
$RESENE_whitelilac:#e7e5e8;
$RESENE_porcelain:#dddcdb;
$RESENE_athensgrey:#dcdddd;
$RESENE_seashell:#e3e1e0;
$RESENE_whisper:#efe6e6;
$RESENE_softpeach:#eedfde;
$RESENE_magnolia:#eee8eb;
$RESENE_solitude:#e9ecf1;
$RESENE_hintofred:#f5efeb;
$RESENE_rosewhite:#fbeee8;
$RESENE_alabaster:#f2f0e6;
$RESENE_romance:#f4f0e6;
$RESENE_sauvignon:#f4eae4;
$RESENE_wisppink:#f9e8e2;
$RESENE_fantasy:#f2e6dd;
$RESENE_chardon:#f8eadf;
$RESENE_bridalheath:#f8ebdd;
$RESENE_halfpearllusta:#f1ead7;
$RESENE_butterywhite:#f1ebda;
$RESENE_orchidwhite:#f1ebd9;
$RESENE_bianca:#f4efe0;
$RESENE_quarterpearllusta:#f2eddd;
$RESENE_islandspice:#f8eddb;
$RESENE_serenade:#fce9d7;
$RESENE_varden:#fdefd3;
$RESENE_ginfizz:#f8eaca;
$RESENE_apricotwhite:#f7f0db;
$RESENE_earlydawn:#fbf2db;
$RESENE_halfdutchwhite:#fbf0d6;
$RESENE_forgetmenot:#fdefdb;
$RESENE_chileanheath:#f9f7de;
$RESENE_promenade:#f8f6df;
$RESENE_offyellow:#faf3dc;
$RESENE_rumswizzle:#f1edd4;
$RESENE_chinaivory:#fbf3d3;
$RESENE_moonglow:#f5f3ce;
$RESENE_whitenectar:#f8f6d8;
$RESENE_hintofyellow:#f6f5d7;
$RESENE_panache:#ebf7e4;
$RESENE_aquaspring:#e8f3e8;
$RESENE_saltpan:#eef3e5;
$RESENE_twilightblue:#f4f6ec;
$RESENE_sugarcane:#eeefdf;
$RESENE_ricecake:#efecde;
$RESENE_dew:#e7f2e9;
$RESENE_polar:#e5f2e7;
$RESENE_willowbrook:#dfe6cf;
$RESENE_frostee:#dbe5d2;
$RESENE_applegreen:#deeadc;
$RESENE_swansdown:#dae6dd;
$RESENE_aquasqueeze:#dbe4dc;
$RESENE_catskillwhite:#e0e4dc;
$RESENE_blacksqueeze:#e5e6df;
$RESENE_snowdrift:#e3e3dc;
$RESENE_blackwhite:#e5e4db;
$RESENE_greenwhite:#deddcb;
$RESENE_aquahaze:#d9ddd5;
$RESENE_gin:#d9dfcd;
$RESENE_feta:#dbe0d0;
$RESENE_frost:#e1e4c5;
$RESENE_coconutcream:#e1dabb;
$RESENE_scotchmist:#eee7c8;
$RESENE_halfandhalf:#ede7c8;
$RESENE_orangewhite:#eae3cd;
$RESENE_travertine:#e2ddc7;
$RESENE_solitaire:#eadac2;
$RESENE_halfspanishwhite:#e6dbc7;
$RESENE_pearllusta:#eae0c8;
$RESENE_pipi:#f5e6c4;
$RESENE_doublepearllusta:#e9dcbe;
$RESENE_eggsour:#f9e4c5;
$RESENE_derby:#f9e4c6;
$RESENE_sazerac:#f5dec4;
$RESENE_albescentwhite:#e1dacb;
$RESENE_quarterspanishwhite:#ebe2d2;
$RESENE_bleachwhite:#ebe1ce;
$RESENE_cararra:#ebe5d5;
$RESENE_fairpink:#f3e5dc;
$RESENE_pampas:#eae4dc;
$RESENE_desertstorm:#ede7e0;
$RESENE_whitelinen:#eee7dc;
$RESENE_soapstone:#ece5da;
$RESENE_narvik:#e9e6dc;
$RESENE_wildsand:#e7e4de;
$RESENE_wanwhite:#e4e2dc;
$RESENE_springwood:#e9e1d9;
$RESENE_vistawhite:#e3dfd9;
$RESENE_blackhaze:#e0ded7;
$RESENE_ceramic:#dfddd6;
$RESENE_hintofgrey:#dfddd6;
$RESENE_seafog:#dfddd6;
$RESENE_milkwhite:#dcd9cd;
$RESENE_merino:#e1dbd0;
$RESENE_dawnpink:#e6d6cd;
$RESENE_ebb:#e6d8d4;
$RESENE_swisscoffee:#dbd0ca;
$RESENE_bonjour:#dfd7d2;
$RESENE_gallery:#dcd7d1;
$RESENE_whitepointer:#dad6cc;
$RESENE_swirl:#d7cec5;
$RESENE_westar:#d4cfc5;
$RESENE_blanc:#d9d0c1;
$RESENE_pearlbush:#ded1c6;
$RESENE_rocksalt:#e6d6b8;
$RESENE_athsspecial:#d5cbb2;
$RESENE_janna:#ded1b7;
$RESENE_spanishwhite:#ded1b7;
$RESENE_wheatfield:#dfd7bd;
$RESENE_loafer:#dbd9c2;
$RESENE_whiterock:#d4cfb4;
$RESENE_orinoco:#d2d3b3;
$RESENE_ottoman:#d3dbcb;
$RESENE_greynurse:#d1d3cc;
$RESENE_ecruwhite:#d6d1c0;
$RESENE_joanna:#d6d1c0;
$RESENE_celeste:#d2d2c0;
$RESENE_moonmist:#cecdb8;
$RESENE_harp:#cbcec0;
$RESENE_pariswhite:#bfcdc0;
$RESENE_chromewhite:#cac7b7;
$RESENE_kangaroo:#c5c3b0;
$RESENE_kidnapper:#bfc0ab;
$RESENE_pumice:#bac0b4;
$RESENE_tasman:#bac0b3;
$RESENE_berylgreen:#bcbfa8;
$RESENE_parchment:#d0c8b0;
$RESENE_doublespanishwhite:#d2c3a3;
$RESENE_softamber:#cfbea5;
$RESENE_starkwhite:#d2c6b6;
$RESENE_quillgrey:#cbc9c0;
$RESENE_silversand:#bebdb6;
$RESENE_cloud:#c2bcb1;
$RESENE_frenchgrey:#bfbdc1;
$RESENE_ghost:#c0bfc7;
$RESENE_paleslate:#c3bebb;
$RESENE_alto:#cdc6c5;
$RESENE_iron:#cbcdcd;
$RESENE_concrete:#d2d1cd;
$RESENE_mercury:#d5d2d1;
$RESENE_titanwhite:#ddd6e1;
$RESENE_linkwater:#c7cdd8;
$RESENE_bluehaze:#bdbace;
$RESENE_spindle:#b3c4d8;
$RESENE_zumthor:#cdd5d5;
$RESENE_geyser:#cbd0cf;
$RESENE_nebula:#b8c6be;
$RESENE_junglemist:#b0c4c4;
$RESENE_tiara:#b9c3be;
$RESENE_opal:#a8c3bc;
$RESENE_jetstream:#bbd0c9;
$RESENE_frenchpass:#a4d2e0;
$RESENE_regentstblue:#a0cdd9;
$RESENE_morningglory:#9ed1d3;
$RESENE_charlotte:#a4dce6;
$RESENE_sinbad:#a6d5d0;
$RESENE_icecold:#afe3d6;
$RESENE_cruise:#b4e2d5;
$RESENE_scandal:#add9d1;
$RESENE_gumleaf:#acc9b2;
$RESENE_zanah:#b2c6b1;
$RESENE_rainee:#b3c1b1;
$RESENE_surfcrest:#c3d6bd;
$RESENE_seamist:#c2d5c4;
$RESENE_edgewater:#c1d8c5;
$RESENE_surf:#b8d4bb;
$RESENE_pixiegreen:#bbcda5;
$RESENE_paleleaf:#bdcaa8;
$RESENE_springrain:#a3bd9c;
$RESENE_envy:#8ba58f;
$RESENE_mantle:#96a793;
$RESENE_summergreen:#8fb69c;
$RESENE_shadowgreen:#9ac0b6;
$RESENE_seanymph:#8aaea4;
$RESENE_neptune:#77a8ab;
$RESENE_ziggurat:#81a6aa;
$RESENE_cascade:#8ca8a0;
$RESENE_skeptic:#9db4aa;
$RESENE_heather:#aebbc1;
$RESENE_loblolly:#b3bbb7;
$RESENE_periglacialblue:#acb6b2;
$RESENE_silverchalice:#acaea9;
$RESENE_casper:#aab5b8;
$RESENE_conch:#a0b1ae;
$RESENE_towergrey:#9caca5;
$RESENE_hitgrey:#a1a9a8;
$RESENE_gullgrey:#a4adb0;
$RESENE_botticelli:#92acb4;
$RESENE_nepal:#93aab9;
$RESENE_spunpearl:#a2a1ac;
$RESENE_mischka:#a5a9b2;
$RESENE_greychateau:#9fa3a7;
$RESENE_nobel:#a99d9d;
$RESENE_mountainmist:#a09f9c;
$RESENE_chatelle:#b3abb6;
$RESENE_bombay:#aeaead;
$RESENE_pinkswan:#bfb3b2;
$RESENE_tide:#beb4ab;
$RESENE_cottonseed:#bfbaaf;
$RESENE_greynickel:#bdbaae;
$RESENE_silk:#bbada1;
$RESENE_grainbrown:#cab8a2;
$RESENE_vanilla:#ccb69b;
$RESENE_sourdough:#c9b59a;
$RESENE_sisal:#c5baa0;
$RESENE_coral:#c0b093;
$RESENE_akaroa:#beb29a;
$RESENE_tea:#bfb5a2;
$RESENE_linen:#bab7a2;
$RESENE_mistgrey:#bab9a9;
$RESENE_ash:#bebaa7;
$RESENE_tana:#b8b5a1;
$RESENE_greenspring:#a9af99;
$RESENE_robinseggblue:#9eaa9e;
$RESENE_foggygrey:#a7a69d;
$RESENE_stardust:#a0a197;
$RESENE_edward:#97a49a;
$RESENE_bud:#a5a88f;
$RESENE_neutralgreen:#aaa583;
$RESENE_eagle:#b0ac94;
$RESENE_bisonhide:#b5ac94;
$RESENE_martini:#b7a8a3;
$RESENE_cloudy:#b0a99f;
$RESENE_zorba:#a29589;
$RESENE_malta:#a59784;
$RESENE_bronco:#a79781;
$RESENE_nomad:#a19986;
$RESENE_raincloud:#a39881;
$RESENE_napa:#a39a87;
$RESENE_gurkha:#989171;
$RESENE_greyolive:#a19a7f;
$RESENE_delta:#999b95;
$RESENE_dawn:#9f9d91;
$RESENE_lemongrass:#999a86;
$RESENE_schist:#87876f;
$RESENE_bitter:#88896c;
$RESENE_bandicoot:#878466;
$RESENE_paleoyster:#9c8d72;
$RESENE_schooner:#8d8478;
$RESENE_taupegrey:#898478;
$RESENE_heatheredgrey:#948c7e;
$RESENE_friargrey:#86837a;
$RESENE_suvagrey:#8b8685;
$RESENE_jumbo:#878785;
$RESENE_shadylady:#9f9b9d;
$RESENE_greysuit:#9391a0;
$RESENE_santasgrey:#9998a7;
$RESENE_balihai:#849ca9;
$RESENE_powderblue:#929fa2;
$RESENE_submarine:#8c9c9c;
$RESENE_stack:#858885;
$RESENE_oslogrey:#818988;
$RESENE_gumbo:#718f8a;
$RESENE_grannysmith:#7b948c;
$RESENE_juniper:#74918e;
$RESENE_horizon:#648894;
$RESENE_gothic:#698890;
$RESENE_halfbaked:#558f93;
$RESENE_patina:#639283;
$RESENE_spanishgreen:#7b8976;
$RESENE_pewter:#91a092;
$RESENE_laurel:#6e8d71;
$RESENE_oxley:#6d9a78;
$RESENE_bayleaf:#7bb18d;
$RESENE_padua:#7eb394;
$RESENE_acapulco:#75aa94;
$RESENE_gulfstream:#74b2a8;
$RESENE_tradewind:#6dafa7;
$RESENE_montecarlo:#7ac5b4;
$RESENE_fountainblue:#65adb2;
$RESENE_bluechill:#408f90;
$RESENE_lochinvar:#489084;
$RESENE_java:#259797;
$RESENE_keppel:#5fb69c;
$RESENE_puertorico:#59baa3;
$RESENE_silvertree:#67be90;
$RESENE_niagara:#29a98b;
$RESENE_gossamer:#399f86;
$RESENE_eucalyptus:#329760;
$RESENE_chateaugreen:#419f59;
$RESENE_oceangreen:#4ca973;
$RESENE_deyork:#85ca87;
$RESENE_mantis:#7fc15c;
$RESENE_apple:#66b348;
$RESENE_fruitsalad:#4ba351;
$RESENE_vidaloca:#5f9228;
$RESENE_chelseacucumber:#88a95b;
$RESENE_highland:#7a9461;
$RESENE_avocado:#95986b;
$RESENE_sage:#989f7a;
$RESENE_amulet:#7d9d72;
$RESENE_wasabi:#849137;
$RESENE_highball:#928c3c;
$RESENE_sycamore:#928c3c;
$RESENE_lemonginger:#968428;
$RESENE_reefgold:#a98d36;
$RESENE_alpine:#ad8a3b;
$RESENE_roti:#b69642;
$RESENE_husk:#b2994b;
$RESENE_turmeric:#ae9041;
$RESENE_luxorgold:#ab8d3f;
$RESENE_malachitegreen:#97976f;
$RESENE_canvas:#a39977;
$RESENE_tallow:#a39977;
$RESENE_pavlova:#baab87;
$RESENE_hillary:#a7a07e;
$RESENE_yuma:#c7b882;
$RESENE_coriander:#bbb58d;
$RESENE_chino:#b8ad8a;
$RESENE_putty:#cdae70;
$RESENE_laser:#c6a95e;
$RESENE_tacha:#d2b960;
$RESENE_gimblet:#b9ad61;
$RESENE_caper:#afc182;
$RESENE_peasoup:#b9b880;
$RESENE_greensmoke:#9ca664;
$RESENE_locust:#a2a580;
$RESENE_norway:#a4b88f;
$RESENE_sprout:#b8ca9d;
$RESENE_greenmist:#bfc298;
$RESENE_pineglade:#bdc07e;
$RESENE_wildrice:#e3d474;
$RESENE_deco:#cccf82;
$RESENE_sandwisp:#decb81;
$RESENE_chenin:#dec371;
$RESENE_cherokee:#f5cd82;
$RESENE_marzipan:#ebc881;
$RESENE_neworleans:#e4c385;
$RESENE_chalky:#dfc281;
$RESENE_zombie:#ddc283;
$RESENE_straw:#dabe82;
$RESENE_raffia:#dcc6a0;
$RESENE_thistle:#c7bd95;
$RESENE_winterhazel:#d0c383;
$RESENE_mintjulep:#e0d8a7;
$RESENE_tahunasands:#d8cc9b;
$RESENE_sapling:#e1d5a6;
$RESENE_beeswax:#e9d7ab;
$RESENE_colonialwhite:#e9d7ab;
$RESENE_astra:#edd5a6;
$RESENE_givry:#ebd4ae;
$RESENE_dairycream:#edd2a4;
$RESENE_hampton:#e8d4a2;
$RESENE_doublecolonialwhite:#e4cf99;
$RESENE_chamois:#e6cc9a;
$RESENE_eggwhite:#e0c88d;
$RESENE_splash:#f1d79e;
$RESENE_buttermilk:#f6e0a4;
$RESENE_capehoney:#fee0a5;
$RESENE_peach:#fbe5c2;
$RESENE_pinklady:#f3d7b6;
$RESENE_champagne:#eed9b6;
$RESENE_bajawhite:#f0dfbb;
$RESENE_dutchwhite:#f0dfbb;
$RESENE_milkpunch:#f3e5c0;
$RESENE_barleywhite:#f7e5b7;
$RESENE_sidecar:#e9d9a9;
$RESENE_halfcolonialwhite:#f2e5bf;
$RESENE_cornfield:#f8f3c4;
$RESENE_springsun:#f1f1c6;
$RESENE_mimosa:#f5f5cc;
$RESENE_oasis:#fcedc5;
$RESENE_creambrulee:#ffe39b;
$RESENE_salomie:#ffd67b;
$RESENE_goldenglow:#f9d77e;
$RESENE_visvis:#f9e496;
$RESENE_picasso:#f8ea97;
$RESENE_drover:#fbeb9b;
$RESENE_paleprim:#f9f59f;
$RESENE_shalimar:#f8f6a8;
$RESENE_portafino:#f4f09b;
$RESENE_primrose:#e4de8e;
$RESENE_milan:#f6f493;
$RESENE_tidal:#f0f590;
$RESENE_jonquil:#eef293;
$RESENE_australianmint:#eff8aa;
$RESENE_chiffon:#f0f5bb;
$RESENE_tusk:#e3e5b1;
$RESENE_carla:#f5f9cb;
$RESENE_cumulus:#f5f4c1;
$RESENE_snowflurry:#eaf7c9;
$RESENE_madang:#b7e3a8;
$RESENE_gossip:#9fd385;
$RESENE_feijoa:#a5d785;
$RESENE_sulu:#c6ea80;
$RESENE_reef:#d1ef9f;
$RESENE_mindaro:#daea6f;
$RESENE_conifer:#b1dd52;
$RESENE_atlantis:#9cd03b;
$RESENE_lime:#b7c52c;
$RESENE_riogrande:#b7c61a;
$RESENE_laspalmas:#c6da36;
$RESENE_fuego:#c2d62e;
$RESENE_bitterlemon:#d2db32;
$RESENE_gorse:#fde336;
$RESENE_goldenfizz:#ebde31;
$RESENE_canary:#e2e64d;
$RESENE_parisdaisy:#fbeb50;
$RESENE_dolly:#f5f171;
$RESENE_honeysuckle:#e8ed69;
$RESENE_texas:#ece67e;
$RESENE_witchhaze:#fbf073;
$RESENE_sweetcorn:#f9e176;
$RESENE_turbo:#f5cc23;
$RESENE_goldendream:#f1cc2b;
$RESENE_broom:#eecc24;
$RESENE_energyyellow:#f5d752;
$RESENE_festival:#eacc4a;
$RESENE_sunflower:#dac01a;
$RESENE_moonyellow:#f0c420;
$RESENE_brightsun:#ecbd2c;
$RESENE_creamcan:#eec051;
$RESENE_kournikova:#f9d054;
$RESENE_cremedebanane:#e0c161;
$RESENE_goldensand:#eace6a;
$RESENE_portica:#f0d555;
$RESENE_confetti:#ddcb46;
$RESENE_manz:#e4db55;
$RESENE_wildwillow:#beca60;
$RESENE_wattle:#d6ca3d;
$RESENE_starship:#e3dd39;
$RESENE_birdflower:#d0c117;
$RESENE_barberry:#d2c61f;
$RESENE_earlsgreen:#b8a722;
$RESENE_sundance:#c4aa4d;
$RESENE_lemon:#d9b220;
$RESENE_buddhagold:#bc9b1b;
$RESENE_sahara:#b79826;
$RESENE_hacienda:#9e8022;
$RESENE_lucky:#ab9a1c;
$RESENE_citron:#8e9a21;
$RESENE_larioja:#bac00e;
$RESENE_bahia:#a9c01c;
$RESENE_citrus:#9fb70a;
$RESENE_limerick:#89ac27;
$RESENE_celery:#b4c04c;
$RESENE_sushi:#7c9f2f;
$RESENE_limeade:#5f9727;
$RESENE_lima:#7aac21;
$RESENE_christi:#71a91d;
$RESENE_camarone:#206937;
$RESENE_sanfelix:#2c6e31;
$RESENE_japaneselaurel:#2f7532;
$RESENE_bilbao:#3e8027;
$RESENE_lapalma:#428929;
$RESENE_gladegreen:#5f8151;
$RESENE_hippiegreen:#608a5a;
$RESENE_dingley:#607c47;
$RESENE_dell:#486531;
$RESENE_greenleaf:#526b2d;
$RESENE_greenhouse:#3e6334;
$RESENE_fern:#365c34;
$RESENE_verdungreen:#48531a;
$RESENE_fernfrond:#575e2e;
$RESENE_clover:#47562f;
$RESENE_saratoga:#555b2c;
$RESENE_chaletgreen:#5a6e41;
$RESENE_fijigreen:#636f22;
$RESENE_pacifika:#667028;
$RESENE_rainforest:#667028;
$RESENE_olivetone:#747028;
$RESENE_trendygreen:#7e8424;
$RESENE_pistachio:#676927;
$RESENE_yukongold:#826a21;
$RESENE_grasshopper:#7a7229;
$RESENE_pesto:#7a7229;
$RESENE_crete:#77712b;
$RESENE_mustard:#7c6720;
$RESENE_cornharvest:#8d702a;
$RESENE_stinger:#8d702a;
$RESENE_claycreek:#897e59;
$RESENE_flax:#828562;
$RESENE_goben:#786e4c;
$RESENE_limedgum:#6b5b3d;
$RESENE_yellowmetal:#73633e;
$RESENE_kumera:#755b27;
$RESENE_acorn:#736330;
$RESENE_himalaya:#736330;
$RESENE_costadelsol:#625d2a;
$RESENE_planter:#625d2a;
$RESENE_verdigris:#62603e;
$RESENE_horsesneck:#6d562c;
$RESENE_westcoast:#5c512f;
$RESENE_bronzeolive:#584c25;
$RESENE_bronzetone:#434c28;
$RESENE_turtlegreen:#363e1d;
$RESENE_pueblo:#6e3326;
$RESENE_perutan:#733d1f;
$RESENE_darkrimu:#704128;
$RESENE_newamber:#6d3b24;
$RESENE_carnabytan:#5b3a24;
$RESENE_brownbramble:#53331e;
$RESENE_saddlebrown:#50381e;
$RESENE_bracken:#5b3d27;
$RESENE_irishcoffee:#62422b;
$RESENE_dallas:#664a2d;
$RESENE_ironbark:#6d4d2c;
$RESENE_caferoyale:#6a4928;
$RESENE_antiquebrass:#6c461f;
$RESENE_capepalliser:#75482f;
$RESENE_cigar:#7d4e38;
$RESENE_walnut:#794d2e;
$RESENE_pottersclay:#845c40;
$RESENE_natural:#885931;
$RESENE_shinglefawn:#745937;
$RESENE_limedoak:#8c7254;
$RESENE_mckenzie:#8c6338;
$RESENE_driftwood:#8f6f48;
$RESENE_rustynail:#8d5f2c;
$RESENE_afghantan:#905e26;
$RESENE_butteredrum:#9d702e;
$RESENE_hottoddy:#a7752c;
$RESENE_brazil:#815b28;
$RESENE_hotcurry:#815b28;
$RESENE_hawaiiantan:#99522b;
$RESENE_renosand:#b26e33;
$RESENE_bamboo:#ba6f3f;
$RESENE_bourbon:#af6c3e;
$RESENE_oregon:#b16c39;
$RESENE_pumpkin:#ab6b35;
$RESENE_maitai:#a56531;
$RESENE_richgold:#a15226;
$RESENE_piper:#9d5432;
$RESENE_indochine:#9c5b34;
$RESENE_desert:#a15f3b;
$RESENE_redbeech:#a1623b;
$RESENE_tuscany:#ad6242;
$RESENE_santefe:#a96a50;
$RESENE_alerttan:#954e2c;
$RESENE_chelseagem:#95532f;
$RESENE_rope:#8e593c;
$RESENE_paarl:#864b36;
$RESENE_mulefawn:#884f40;
$RESENE_ironstone:#865040;
$RESENE_coppercanyon:#77422c;
$RESENE_peanut:#7a4434;
$RESENE_cumin:#784430;
$RESENE_bullshot:#75442b;
$RESENE_cinnamon:#7b482b;
$RESENE_korma:#804e2c;
$RESENE_prairiesand:#883c32;
$RESENE_crabapple:#87382f;
$RESENE_totempole:#883531;
$RESENE_tabasco:#8e3a36;
$RESENE_embers:#8c3f30;
$RESENE_fire:#8f3f2a;
$RESENE_wellread:#8e3537;
$RESENE_thunderbird:#923830;
$RESENE_mexicanred:#9b3d3d;
$RESENE_roofterracotta:#a14743;
$RESENE_tiamaria:#97422d;
$RESENE_rockspray:#9d442d;
$RESENE_cognac:#9a463d;
$RESENE_mojo:#97463c;
$RESENE_crail:#a65648;
$RESENE_appleblossom:#a95249;
$RESENE_sunglo:#c76155;
$RESENE_flamepea:#be5c48;
$RESENE_orangeroughy:#a85335;
$RESENE_vesuvius:#a85533;
$RESENE_fieryorange:#b1592f;
$RESENE_redstage:#ad522e;
$RESENE_roseofsharon:#ac512d;
$RESENE_ecstasy:#c96138;
$RESENE_smoketree:#bb5f34;
$RESENE_christine:#bf652e;
$RESENE_tangerine:#cd5d34;
$RESENE_chileanfire:#d05e34;
$RESENE_grenadier:#c14d36;
$RESENE_trinidad:#c54f33;
$RESENE_clementine:#c14f3b;
$RESENE_sunset:#c0514a;
$RESENE_valencia:#d4574e;
$RESENE_mandy:#cd525b;
$RESENE_punch:#a83239;
$RESENE_milanored:#9e3332;
$RESENE_brightred:#922a31;
$RESENE_guardsmanred:#952e31;
$RESENE_flamered:#86282e;
$RESENE_monza:#86282e;
$RESENE_golddrop:#d56c30;
$RESENE_tahitigold:#dc722a;
$RESENE_tango:#d46f31;
$RESENE_pizazz:#e57f3d;
$RESENE_westside:#e5823a;
$RESENE_treepoppy:#e2813b;
$RESENE_flamenco:#ea8645;
$RESENE_sun:#ef8e38;
$RESENE_pirategold:#ba782a;
$RESENE_geebung:#c5832e;
$RESENE_goldenbell:#ca8136;
$RESENE_dixie:#cd8431;
$RESENE_fuelyellow:#d19033;
$RESENE_hokeypokey:#bb8e34;
$RESENE_nugget:#bc9229;
$RESENE_goldtips:#e2b227;
$RESENE_galliano:#d8a723;
$RESENE_corn:#dfaa28;
$RESENE_tuliptree:#e3ac3d;
$RESENE_robroy:#ddad56;
$RESENE_saffron:#dc9f45;
$RESENE_candlelight:#e09d37;
$RESENE_yellowsea:#f49f35;
$RESENE_buttercup:#da9429;
$RESENE_firebush:#e09842;
$RESENE_sunshade:#fa9d49;
$RESENE_seabuckthorn:#ef9548;
$RESENE_california:#e98c3a;
$RESENE_lightningyellow:#f7a233;
$RESENE_rajah:#fcae60;
$RESENE_texasrose:#fcb057;
$RESENE_mysin:#fdae45;
$RESENE_koromiko:#feb552;
$RESENE_goldentainoi:#ffc152;
$RESENE_casablanca:#f0b253;
$RESENE_ronchi:#eab852;
$RESENE_grandis:#ffcd73;
$RESENE_supernova:#ffb437;
$RESENE_caramel:#ffd59a;
$RESENE_sandybeach:#fedbb7;
$RESENE_frangipani:#ffd7a0;
$RESENE_tequila:#f4d0a4;
$RESENE_negroni:#eec7a2;
$RESENE_romantic:#ffc69e;
$RESENE_pancho:#dfb992;
$RESENE_brandy:#dcb68a;
$RESENE_maize:#e3b982;
$RESENE_corvette:#e9ba81;
$RESENE_chardonnay:#ffc878;
$RESENE_harvestgold:#eab76a;
$RESENE_tacao:#f6ae78;
$RESENE_mandyspink:#f5b799;
$RESENE_waxflower:#eeb39e;
$RESENE_rosebud:#feab9a;
$RESENE_tonyspink:#e79e88;
$RESENE_hitpink:#fda470;
$RESENE_apricot:#e48f67;
$RESENE_porsche:#df9d5b;
$RESENE_diserria:#d4915d;
$RESENE_whiskeysour:#d4915d;
$RESENE_whiskey:#d29062;
$RESENE_apache:#d3a95c;
$RESENE_equator:#dab160;
$RESENE_calico:#d5b185;
$RESENE_manhattan:#e2af80;
$RESENE_cameo:#cca483;
$RESENE_rodeodust:#c7a384;
$RESENE_barleycorn:#b6935c;
$RESENE_sorrellbrown:#9d7f61;
$RESENE_sandal:#a3876a;
$RESENE_mongoose:#a58b6f;
$RESENE_muesli:#9e7e53;
$RESENE_muddywaters:#a9844f;
$RESENE_teak:#ab8953;
$RESENE_tussock:#bf914b;
$RESENE_pizza:#bf8d3c;
$RESENE_marigold:#b88a3d;
$RESENE_mandalay:#b57b2e;
$RESENE_anzac:#c68e3f;
$RESENE_twine:#c19156;
$RESENE_brandypunch:#c07c40;
$RESENE_meteor:#bb7431;
$RESENE_zest:#c6723b;
$RESENE_peachschnapps:#c68059;
$RESENE_burningsand:#d08363;
$RESENE_japonica:#ce7259;
$RESENE_geraldine:#e77b75;
$RESENE_newyorkpink:#dd8374;
$RESENE_monalisa:#ff9889;
$RESENE_crusta:#f38653;
$RESENE_reddamask:#cb6f4a;
$RESENE_sorbus:#dd6b38;
$RESENE_jaffa:#e27945;
$RESENE_flamingo:#e1634f;
$RESENE_persimmon:#ef735e;
$RESENE_roman:#d8625b;
$RESENE_froly:#e56d75;
$RESENE_deepblush:#e36f8a;
$RESENE_hopbush:#cd6d93;
$RESENE_shocking:#e899be;
$RESENE_illusion:#ef95ae;
$RESENE_kobi:#e093ab;
$RESENE_carissma:#e68095;
$RESENE_wewak:#f1919a;
$RESENE_sweetpink:#ee918d;
$RESENE_seapink:#db817e;
$RESENE_charm:#d0748b;
$RESENE_contessa:#c16f68;
$RESENE_orientalpink:#c28e88;
$RESENE_tapestry:#b37084;
$RESENE_cancan:#d08a9b;
$RESENE_bouquet:#a78199;
$RESENE_viola:#c58f9d;
$RESENE_wisteria:#a4878b;
$RESENE_londonhue:#ae94ab;
$RESENE_amethystsmoke:#95879c;
$RESENE_logan:#9d9cb4;
$RESENE_opium:#987e7e;
$RESENE_almondfrost:#9a8678;
$RESENE_hemp:#987d73;
$RESENE_brandyrose:#b6857a;
$RESENE_sandrift:#af937d;
$RESENE_thatch:#b1948f;
$RESENE_delrio:#b5998e;
$RESENE_quicksand:#c3988b;
$RESENE_rose:#d3a194;
$RESENE_eunry:#cda59c;
$RESENE_cashmere:#d1b399;
$RESENE_clamshell:#d2b3a9;
$RESENE_coldturkey:#cab5b2;
$RESENE_maverick:#c8b1c0;
$RESENE_dustygrey:#ac9b9b;
$RESENE_lola:#b9acbb;
$RESENE_lily:#c19fb3;
$RESENE_careyspink:#c99aa0;
$RESENE_petiteorchid:#da9790;
$RESENE_mypink:#d68b80;
$RESENE_cornflower:#ffaba0;
$RESENE_sundown:#f8afa9;
$RESENE_yourpink:#ffc5bb;
$RESENE_azalea:#f9c0c4;
$RESENE_blossom:#dfb1b6;
$RESENE_cupid:#f5b2c5;
$RESENE_frenchlilac:#deb7d9;
$RESENE_classicrose:#f4c8db;
$RESENE_chantilly:#edb8c7;
$RESENE_melanie:#e0b7c2;
$RESENE_twilight:#dac0cd;
$RESENE_pinklace:#f6ccd7;
$RESENE_prim:#e2cdd5;
$RESENE_oysterpink:#d4b5b0;
$RESENE_wafer:#d4bbb1;
$RESENE_justright:#dcbfac;
$RESENE_bone:#dbc2ab;
$RESENE_shilo:#e6b2a6;
$RESENE_pinkflare:#d8b4b6;
$RESENE_cavernpink:#e0b8b1;
$RESENE_beautybush:#ebb9b3;
$RESENE_coralcandy:#f5d0c9;
$RESENE_watusi:#f2cdbb;
$RESENE_bizarre:#e7d2c8;
$RESENE_duststorm:#e5cac0;
$RESENE_vanillaice:#ebd2d1;
$RESENE_potpourri:#efdcd4;
$RESENE_remy:#f6deda;
$RESENE_provincialpink:#f6e3da;
$RESENE_pippin:#fcdbd2;
$RESENE_cinderella:#fbd7cc;
$RESENE_karry:#fedcc1;
$RESENE_tuftbush:#f9d3be;
$RESENE_wepeep:#fdd7d8;
$RESENE_cosmos:#fcd5cf;
$RESENE_chablis:#fde9e0;
$RESENE_bridesmaid:#fae6df;
$RESENE_tutu:#f8e4e3;
$RESENE_amour:#f5e6ea;
$RESENE_carouselpink:#f8dbe0;
$RESENE_palerose:#efd6da;
$RESENE_snuff:#e4d7e5;
$RESENE_bluechalk:#e3d6e9;
$RESENE_cherub:#f5d7dc;
$RESENE_fog:#d5c7e8;
$RESENE_melrose:#c3b9dd;
$RESENE_prelude:#cab4d4;
$RESENE_bilobaflower:#ae99d2;
$RESENE_perfume:#c2a9db;
$RESENE_wistful:#a29ecd;
$RESENE_moonraker:#c0b2d7;
$RESENE_perano:#acb9e8;
$RESENE_portage:#8b98d8;
$RESENE_coldpurple:#9d8abf;
$RESENE_eastside:#aa8cbc;
$RESENE_lavender:#9f90d0;
$RESENE_lilacbush:#9470c4;
$RESENE_fuchsia:#7b5cb7;
$RESENE_studio:#724aa1;
$RESENE_daisybush:#5b3e90;
$RESENE_royalheath:#b54b73;
$RESENE_rosebudcherry:#8a2d52;
$RESENE_disco:#892d4f;
$RESENE_lipstick:#962c54;
$RESENE_rouge:#a94064;
$RESENE_cranberry:#b43864;
$RESENE_nightshadz:#a23d54;
$RESENE_hibiscus:#b33654;
$RESENE_cabaret:#cd526c;
$RESENE_blush:#b55067;
$RESENE_hippiepink:#ab495c;
$RESENE_oldbrick:#8a3335;
$RESENE_tallpoppy:#853534;
$RESENE_rosewood:#8f3e3f;
$RESENE_stiletto:#833d3e;
$RESENE_camelot:#803a4b;
$RESENE_vinrouge:#955264;
$RESENE_cadillac:#984961;
$RESENE_strikemaster:#946a81;
$RESENE_finn:#694554;
$RESENE_cosmic:#794d60;
$RESENE_cannonpink:#8e5164;
$RESENE_tosca:#744042;
$RESENE_solidpink:#85494c;
$RESENE_redrobin:#7d4138;
$RESENE_nutmeg:#7e4a3b;
$RESENE_elsalva:#8f4e45;
$RESENE_matrix:#8e4d45;
$RESENE_lotus:#8b504b;
$RESENE_copperrust:#95524c;
$RESENE_turkishrose:#a56e75;
$RESENE_coraltree:#ab6e67;
$RESENE_auchico:#9e6759;
$RESENE_spicymix:#8b5f4d;
$RESENE_leather:#906a54;
$RESENE_toast:#9f715f;
$RESENE_ferra:#876a68;
$RESENE_pharlap:#826663;
$RESENE_russett:#7d655c;
$RESENE_bazaar:#8f7777;
$RESENE_romancoffee:#7d6757;
$RESENE_tobaccobrown:#6d5843;
$RESENE_pickledbean:#73553e;
$RESENE_oldcopper:#73503b;
$RESENE_jambalaya:#674834;
$RESENE_spice:#6c4f3f;
$RESENE_quincy:#6a5445;
$RESENE_congobrown:#654d49;
$RESENE_buccaneer:#6e5150;
$RESENE_zambezi:#6b5a5a;
$RESENE_falcon:#6e5a5b;
$RESENE_mulledwine:#524d5b;
$RESENE_fedora:#625665;
$RESENE_mobster:#605a67;
$RESENE_mamba:#766d7c;
$RESENE_rum:#716675;
$RESENE_spicypink:#897578;
$RESENE_venus:#8b7d82;
$RESENE_deluge:#8272a4;
$RESENE_chetwodeblue:#666fb4;
$RESENE_scampi:#6f63a0;
$RESENE_moodyblue:#8378c7;
$RESENE_truev:#8e72c7;
$RESENE_bluemarguerite:#6a5bb1;
$RESENE_cesoir:#9271a7;
$RESENE_trendypink:#805d80;
$RESENE_affair:#745085;
$RESENE_butterflybush:#68578c;
$RESENE_governorbay:#51559b;
$RESENE_gigas:#564786;
$RESENE_victoria:#564985;
$RESENE_mariner:#42639f;
$RESENE_toryblue:#374e88;
$RESENE_funblue:#335083;
$RESENE_sapphire:#3f5281;
$RESENE_kimberly:#695d87;
$RESENE_bayofmany:#353e64;
$RESENE_jacarta:#3d325d;
$RESENE_portgore:#3b436c;
$RESENE_deepkoamaru:#343467;
$RESENE_toreabay:#353d75;
$RESENE_resolutionblue:#323f75;
$RESENE_jacksonspurple:#3d3f7d;
$RESENE_minsk:#3e3267;
$RESENE_bluegem:#4b3c8e;
$RESENE_bluebell:#392d73;
$RESENE_bluediamond:#4b2d72;
$RESENE_honeyflower:#5c3c6d;
$RESENE_meteorite:#4a3b6a;
$RESENE_hotpurple:#4e2e53;
$RESENE_scarletgum:#4a2d57;
$RESENE_blackcurrant:#2e183b;
$RESENE_plum:#381a38;
$RESENE_christalle:#382161;
$RESENE_parism:#312760;
$RESENE_violentviolet:#2e2249;
$RESENE_paua:#2a2551;
$RESENE_cherrypie:#372d52;
$RESENE_luckypoint:#292d4f;
$RESENE_valhalla:#2a2b41;
$RESENE_jagger:#3f2e4c;
$RESENE_tolopea:#2d2541;
$RESENE_aubergine:#372528;
$RESENE_temptress:#3c2126;
$RESENE_mardigras:#352235;
$RESENE_chocolate:#3d2327;
$RESENE_toledo:#3e2631;
$RESENE_barossa:#452e39;
$RESENE_havana:#3b2b2c;
$RESENE_jarrah:#3b2b2c;
$RESENE_melanzane:#342931;
$RESENE_jacaranda:#362d38;
$RESENE_valentino:#382c38;
$RESENE_violet:#2f263c;
$RESENE_martinique:#3c3748;
$RESENE_voodoo:#443240;
$RESENE_loulou:#4c3347;
$RESENE_bossanova:#4c3d4e;
$RESENE_woodybrown:#554545;
$RESENE_rebel:#453430;
$RESENE_cedar:#463430;
$RESENE_cowboy:#443736;
$RESENE_craterbrown:#4d3e3c;
$RESENE_cocoabean:#4f3835;
$RESENE_vancleef:#523936;
$RESENE_bean:#4a3531;
$RESENE_mahogany:#483230;
$RESENE_cabsav:#4a2e32;
$RESENE_espresso:#4e312d;
$RESENE_cherrywood:#4e312e;
$RESENE_brownderby:#594537;
$RESENE_cioccolato:#5d3b2e;
$RESENE_darkoak:#55342b;
$RESENE_redwood:#5b342e;
$RESENE_indiantan:#4f301f;
$RESENE_moroccobrown:#442d21;
$RESENE_brownpod:#3c241b;
$RESENE_tamarind:#3e2f2e;
$RESENE_maroon:#402327;
$RESENE_rusticred:#3a181a;
$RESENE_bulgarianrose:#482427;
$RESENE_heath:#4f2a2c;
$RESENE_volcano:#4e2728;
$RESENE_lonestar:#522426;
$RESENE_persianred:#4f212a;
$RESENE_bordeaux:#4c1c24;
$RESENE_burntcrimson:#582124;
$RESENE_venetianred:#5b1f22;
$RESENE_redoxide:#5d1f1e;
$RESENE_burgundy:#652525;
$RESENE_reddevil:#662a2c;
$RESENE_darktan:#612d2d;
$RESENE_japanesemaple:#672f30;
$RESENE_moccaccino:#582f2b;
$RESENE_hairyheath:#633528;
$RESENE_meranti:#6b342a;
$RESENE_sanguinebrown:#6c3736;
$RESENE_oiledcedar:#66362d;
$RESENE_metalliccopper:#6e3d34;
$RESENE_crownofthorns:#763c33;
$RESENE_mocha:#6f372d;
$RESENE_kenyancopper:#6c322e;
$RESENE_persianplum:#683332;
$RESENE_merlot:#73343a;
$RESENE_ribbon:#71333c;
$RESENE_jazz:#5f2c2f;
$RESENE_mulberry:#5e2a40;
$RESENE_blackrose:#532934;
$RESENE_wineberry:#522c35;
$RESENE_tawnyport:#643a48;
$RESENE_castro:#44232f;
$RESENE_blackberry:#43182f;
$RESENE_flirt:#7a2e4d;
$RESENE_nightclub:#6a1f44;
$RESENE_pompadour:#6a1f44;
$RESENE_siren:#69293b;
$RESENE_claret:#6e2233;
$RESENE_paprika:#7c2d37;
$RESENE_tamarillo:#752b2f;
$RESENE_lusty:#782e2c;
$RESENE_sangria:#822a32;
$RESENE_shiraz:#842833;
$RESENE_scarlett:#7e2530;
$RESENE_redberry:#701f28;
$RESENE_pohutukawa:#651c26;
$RESENE_hotchile:#6b252c;
$RESENE_monarch:#6b252c;
$RESENE_westernred:#6b252c;
$RESENE_cardinal:#8a244e;
$RESENE_seance:#69326e;
$RESENE_eminence:#6e3974;
$RESENE_clairvoyant:#683b7d;
$RESENE_kingfisherdaisy:#583580;
$RESENE_windsor:#462c77;