$SEMANTIC_UI_red:#DB2828;
$SEMANTIC_UI_orange:#F2711C;
$SEMANTIC_UI_yellow:#FBBD08;
$SEMANTIC_UI_olive:#B5CC18;
$SEMANTIC_UI_green:#21BA45;
$SEMANTIC_UI_teal:#00B5AD;
$SEMANTIC_UI_blue:#2185D0;
$SEMANTIC_UI_violet:#6435C9;
$SEMANTIC_UI_purple:#A333C8;
$SEMANTIC_UI_pink:#E03997;
$SEMANTIC_UI_brown:#A5673F;
$SEMANTIC_UI_grey:#767676;
$SEMANTIC_UI_black:#1B1C1D;
$SEMANTIC_UI_lightRed:#FF695E;
$SEMANTIC_UI_lightOrange:#FF851B;
$SEMANTIC_UI_lightYellow:#FFE21F;
$SEMANTIC_UI_lightOlive:#D9E778;
$SEMANTIC_UI_lightGreen:#2ECC40;
$SEMANTIC_UI_lightTeal:#6DFFFF;
$SEMANTIC_UI_lightBlue:#54C8FF;
$SEMANTIC_UI_lightViolet:#A291FB;
$SEMANTIC_UI_lightPurple:#DC73FF;
$SEMANTIC_UI_lightPink:#FF8EDF;
$SEMANTIC_UI_lightBrown:#D67C1C;
$SEMANTIC_UI_lightGrey:#DCDDDE;
$SEMANTIC_UI_lightBlack:#545454;
$SEMANTIC_UI_fullBlack:#000000;
$SEMANTIC_UI_offWhite:#F9FAFB;
$SEMANTIC_UI_darkWhite:#F3F4F5;
$SEMANTIC_UI_midWhite:#DCDDDE;
$SEMANTIC_UI_white:#FFFFFF;
$SEMANTIC_UI_redBackground:#FFE8E6;
$SEMANTIC_UI_orangeBackground:#FFEDDE;
$SEMANTIC_UI_yellowBackground:#FFF8DB;
$SEMANTIC_UI_oliveBackground:#FBFDEF;
$SEMANTIC_UI_greenBackground:#E5F9E7;
$SEMANTIC_UI_tealBackground:#E1F7F7;
$SEMANTIC_UI_blueBackground:#DFF0FF;
$SEMANTIC_UI_violetBackground:#EAE7FF;
$SEMANTIC_UI_purpleBackground:#F6E7FF;
$SEMANTIC_UI_pinkBackground:#FFE3FB;
$SEMANTIC_UI_brownBackground:#F1E2D3;
$SEMANTIC_UI_yellowTextColor:#B58105;
$SEMANTIC_UI_oliveTextColor:#8ABC1E;
$SEMANTIC_UI_greenTextColor:#1EBC30;
$SEMANTIC_UI_tealTextColor:#10A3A3;
