$WEB_SAFE_AliceBlue:#F0F8FF;
$WEB_SAFE_AntiqueWhite:#FAEBD7;
$WEB_SAFE_Aqua:#00FFFF;
$WEB_SAFE_Aquamarine:#7FFFD4;
$WEB_SAFE_Azure:#F0FFFF;
$WEB_SAFE_Beige:#F5F5DC;
$WEB_SAFE_Bisque:#FFE4C4;
$WEB_SAFE_Black:#000000;
$WEB_SAFE_BlanchedAlmond:#FFEBCD;
$WEB_SAFE_Blue:#0000FF;
$WEB_SAFE_BlueViolet:#8A2BE2;
$WEB_SAFE_Brown:#A52A2A;
$WEB_SAFE_BurlyWood:#DEB887;
$WEB_SAFE_CadetBlue:#5F9EA0;
$WEB_SAFE_Chartreuse:#7FFF00;
$WEB_SAFE_Chocolate:#D2691E;
$WEB_SAFE_Coral:#FF7F50;
$WEB_SAFE_CornflowerBlue:#6495ED;
$WEB_SAFE_Cornsilk:#FFF8DC;
$WEB_SAFE_Crimson:#DC143C;
$WEB_SAFE_Cyan:#00FFFF;
$WEB_SAFE_DarkBlue:#00008B;
$WEB_SAFE_DarkCyan:#008B8B;
$WEB_SAFE_DarkGoldenRod:#B8860B;
$WEB_SAFE_DarkGray:#A9A9A9;
$WEB_SAFE_DarkGrey:#A9A9A9;
$WEB_SAFE_DarkGreen:#006400;
$WEB_SAFE_DarkKhaki:#BDB76B;
$WEB_SAFE_DarkMagenta:#8B008B;
$WEB_SAFE_DarkOliveGreen:#556B2F;
$WEB_SAFE_DarkOrange:#FF8C00;
$WEB_SAFE_DarkOrchid:#9932CC;
$WEB_SAFE_DarkRed:#8B0000;
$WEB_SAFE_DarkSalmon:#E9967A;
$WEB_SAFE_DarkSeaGreen:#8FBC8F;
$WEB_SAFE_DarkSlateBlue:#483D8B;
$WEB_SAFE_DarkSlateGray:#2F4F4F;
$WEB_SAFE_DarkSlateGrey:#2F4F4F;
$WEB_SAFE_DarkTurquoise:#00CED1;
$WEB_SAFE_DarkViolet:#9400D3;
$WEB_SAFE_DeepPink:#FF1493;
$WEB_SAFE_DeepSkyBlue:#00BFFF;
$WEB_SAFE_DimGray:#696969;
$WEB_SAFE_DimGrey:#696969;
$WEB_SAFE_DodgerBlue:#1E90FF;
$WEB_SAFE_FireBrick:#B22222;
$WEB_SAFE_FloralWhite:#FFFAF0;
$WEB_SAFE_ForestGreen:#228B22;
$WEB_SAFE_Fuchsia:#FF00FF;
$WEB_SAFE_Gainsboro:#DCDCDC;
$WEB_SAFE_GhostWhite:#F8F8FF;
$WEB_SAFE_Gold:#FFD700;
$WEB_SAFE_GoldenRod:#DAA520;
$WEB_SAFE_Gray:#808080;
$WEB_SAFE_Grey:#808080;
$WEB_SAFE_Green:#008000;
$WEB_SAFE_GreenYellow:#ADFF2F;
$WEB_SAFE_HoneyDew:#F0FFF0;
$WEB_SAFE_HotPink:#FF69B4;
$WEB_SAFE_IndianRed:#CD5C5C;
$WEB_SAFE_Indigo:#4B0082;
$WEB_SAFE_Ivory:#FFFFF0;
$WEB_SAFE_Khaki:#F0E68C;
$WEB_SAFE_Lavender:#E6E6FA;
$WEB_SAFE_LavenderBlush:#FFF0F5;
$WEB_SAFE_LawnGreen:#7CFC00;
$WEB_SAFE_LemonChiffon:#FFFACD;
$WEB_SAFE_LightBlue:#ADD8E6;
$WEB_SAFE_LightCoral:#F08080;
$WEB_SAFE_LightCyan:#E0FFFF;
$WEB_SAFE_LightGoldenRodYellow:#FAFAD2;
$WEB_SAFE_LightGray:#D3D3D3;
$WEB_SAFE_LightGrey:#D3D3D3;
$WEB_SAFE_LightGreen:#90EE90;
$WEB_SAFE_LightPink:#FFB6C1;
$WEB_SAFE_LightSalmon:#FFA07A;
$WEB_SAFE_LightSeaGreen:#20B2AA;
$WEB_SAFE_LightSkyBlue:#87CEFA;
$WEB_SAFE_LightSlateGray:#778899;
$WEB_SAFE_LightSlateGrey:#778899;
$WEB_SAFE_LightSteelBlue:#B0C4DE;
$WEB_SAFE_LightYellow:#FFFFE0;
$WEB_SAFE_Lime:#00FF00;
$WEB_SAFE_LimeGreen:#32CD32;
$WEB_SAFE_Linen:#FAF0E6;
$WEB_SAFE_Magenta:#FF00FF;
$WEB_SAFE_Maroon:#800000;
$WEB_SAFE_MediumAquaMarine:#66CDAA;
$WEB_SAFE_MediumBlue:#0000CD;
$WEB_SAFE_MediumOrchid:#BA55D3;
$WEB_SAFE_MediumPurple:#9370DB;
$WEB_SAFE_MediumSeaGreen:#3CB371;
$WEB_SAFE_MediumSlateBlue:#7B68EE;
$WEB_SAFE_MediumSpringGreen:#00FA9A;
$WEB_SAFE_MediumTurquoise:#48D1CC;
$WEB_SAFE_MediumVioletRed:#C71585;
$WEB_SAFE_MidnightBlue:#191970;
$WEB_SAFE_MintCream:#F5FFFA;
$WEB_SAFE_MistyRose:#FFE4E1;
$WEB_SAFE_Moccasin:#FFE4B5;
$WEB_SAFE_NavajoWhite:#FFDEAD;
$WEB_SAFE_Navy:#000080;
$WEB_SAFE_OldLace:#FDF5E6;
$WEB_SAFE_Olive:#808000;
$WEB_SAFE_OliveDrab:#6B8E23;
$WEB_SAFE_Orange:#FFA500;
$WEB_SAFE_OrangeRed:#FF4500;
$WEB_SAFE_Orchid:#DA70D6;
$WEB_SAFE_PaleGoldenRod:#EEE8AA;
$WEB_SAFE_PaleGreen:#98FB98;
$WEB_SAFE_PaleTurquoise:#AFEEEE;
$WEB_SAFE_PaleVioletRed:#DB7093;
$WEB_SAFE_PapayaWhip:#FFEFD5;
$WEB_SAFE_PeachPuff:#FFDAB9;
$WEB_SAFE_Peru:#CD853F;
$WEB_SAFE_Pink:#FFC0CB;
$WEB_SAFE_Plum:#DDA0DD;
$WEB_SAFE_PowderBlue:#B0E0E6;
$WEB_SAFE_Purple:#800080;
$WEB_SAFE_RebeccaPurple:#663399;
$WEB_SAFE_Red:#FF0000;
$WEB_SAFE_RosyBrown:#BC8F8F;
$WEB_SAFE_RoyalBlue:#4169E1;
$WEB_SAFE_SaddleBrown:#8B4513;
$WEB_SAFE_Salmon:#FA8072;
$WEB_SAFE_SandyBrown:#F4A460;
$WEB_SAFE_SeaGreen:#2E8B57;
$WEB_SAFE_SeaShell:#FFF5EE;
$WEB_SAFE_Sienna:#A0522D;
$WEB_SAFE_Silver:#C0C0C0;
$WEB_SAFE_SkyBlue:#87CEEB;
$WEB_SAFE_SlateBlue:#6A5ACD;
$WEB_SAFE_SlateGray:#708090;
$WEB_SAFE_SlateGrey:#708090;
$WEB_SAFE_Snow:#FFFAFA;
$WEB_SAFE_SpringGreen:#00FF7F;
$WEB_SAFE_SteelBlue:#4682B4;
$WEB_SAFE_Tan:#D2B48C;
$WEB_SAFE_Teal:#008080;
$WEB_SAFE_Thistle:#D8BFD8;
$WEB_SAFE_Tomato:#FF6347;
$WEB_SAFE_Turquoise:#40E0D0;
$WEB_SAFE_Violet:#EE82EE;
$WEB_SAFE_Wheat:#F5DEB3;
$WEB_SAFE_White:#FFFFFF;
$WEB_SAFE_WhiteSmoke:#F5F5F5;
$WEB_SAFE_Yellow:#FFFF00;
$WEB_SAFE_YellowGreen:#9ACD32;
$WEB_SAFE-000:#000;
$WEB_SAFE-111:#111;
$WEB_SAFE-222:#222;
$WEB_SAFE-333:#333;
$WEB_SAFE-444:#444;
$WEB_SAFE-555:#555;
$WEB_SAFE-666:#666;
$WEB_SAFE-777:#777;
$WEB_SAFE-888:#888;
$WEB_SAFE-999:#999;
$WEB_SAFE-003:#003;
$WEB_SAFE-00F:#00F;
$WEB_SAFE-0F0:#0F0;
$WEB_SAFE-0F6:#0F6;
$WEB_SAFE-0FC:#0FC;
$WEB_SAFE-0FF:#0FF;
$WEB_SAFE-3F3:#3F3;
$WEB_SAFE-3F6:#3F6;
$WEB_SAFE-3FC:#3FC;
$WEB_SAFE-3FF:#3FF;
$WEB_SAFE-6F0:#6F0;
$WEB_SAFE-6F3:#6F3;
$WEB_SAFE-6FF:#6FF;
$WEB_SAFE-CF6:#CF6;
$WEB_SAFE-F00:#F00;
$WEB_SAFE-F03:#F03;
$WEB_SAFE-F0F:#F0F;
$WEB_SAFE-FF0:#FF0;
$WEB_SAFE-FF3:#FF3;
$WEB_SAFE-FF6:#FF6;
$WEB_SAFE-FF9:#FF9;
$WEB_SAFE-FFF:#FFF;
$WEB_SAFE-CCC:#CCC;