$X11_aliceblue:#f0f8ff;
$X11_antiquewhite:#faebd7;
$X11_antiquewhite1:#ffefdb;
$X11_antiquewhite2:#eedfcc;
$X11_antiquewhite3:#cdc0b0;
$X11_antiquewhite4:#8b8378;
$X11_aquamarine1:#7fffd4;
$X11_aquamarine2:#76eec6;
$X11_aquamarine4:#458b74;
$X11_azure1:#f0ffff;
$X11_azure2:#e0eeee;
$X11_azure3:#c1cdcd;
$X11_azure4:#838b8b;
$X11_beige:#f5f5dc;
$X11_bisque1:#ffe4c4;
$X11_bisque2:#eed5b7;
$X11_bisque3:#cdb79e;
$X11_bisque4:#8b7d6b;
$X11_black:#000000;
$X11_blanchedalmond:#ffebcd;
$X11_blue1:#0000ff;
$X11_blue2:#0000ee;
$X11_blue4:#00008b;
$X11_blueviolet:#8a2be2;
$X11_brown:#a52a2a;
$X11_brown1:#ff4040;
$X11_brown2:#ee3b3b;
$X11_brown3:#cd3333;
$X11_brown4:#8b2323;
$X11_burlywood:#deb887;
$X11_burlywood1:#ffd39b;
$X11_burlywood2:#eec591;
$X11_burlywood3:#cdaa7d;
$X11_burlywood4:#8b7355;
$X11_cadetblue:#5f9ea0;
$X11_cadetblue1:#98f5ff;
$X11_cadetblue2:#8ee5ee;
$X11_cadetblue3:#7ac5cd;
$X11_cadetblue4:#53868b;
$X11_chartreuse1:#7fff00;
$X11_chartreuse2:#76ee00;
$X11_chartreuse3:#66cd00;
$X11_chartreuse4:#458b00;
$X11_chocolate:#d2691e;
$X11_chocolate1:#ff7f24;
$X11_chocolate2:#ee7621;
$X11_chocolate3:#cd661d;
$X11_coral:#ff7f50;
$X11_coral1:#ff7256;
$X11_coral2:#ee6a50;
$X11_coral3:#cd5b45;
$X11_coral4:#8b3e2f;
$X11_cornflowerblue:#6495ed;
$X11_cornsilk1:#fff8dc;
$X11_ornsilk2:#eee8cd;
$X11_cornsilk3:#cdc8b1;
$X11_cornsilk4:#8b8878;
$X11_cyan1:#00ffff;
$X11_cyan2:#00eeee;
$X11_cyan3:#00cdcd;
$X11_cyan4:#008b8b;
$X11_darkgoldenrod:#b8860b;
$X11_darkgoldenrod1:#ffb90f;
$X11_darkgoldenrod2:#eead0e;
$X11_darkgoldenrod3:#cd950c;
$X11_darkgoldenrod4:#8b6508;
$X11_darkgreen:#006400;
$X11_darkkhaki:#bdb76b;
$X11_darkolivegreen:#556b2f;
$X11_darkolivegreen1:#caff70;
$X11_darkolivegreen2:#bcee68;
$X11_darkolivegreen3:#a2cd5a;
$X11_darkolivegreen4:#6e8b3d;
$X11_darkorange:#ff8c00;
$X11_darkorange1:#ff7f00;
$X11_darkorange2:#ee7600;
$X11_darkorange3:#cd6600;
$X11_darkorange4:#8b4500;
$X11_darkorchid:#9932cc;
$X11_darkorchid1:#bf3eff;
$X11_darkorchid2:#b23aee;
$X11_darkorchid3:#9a32cd;
$X11_darkorchid4:#68228b;
$X11_darksalmon:#e9967a;
$X11_darkseagreen:#8fbc8f;
$X11_darkseagreen1:#c1ffc1;
$X11_darkseagreen2:#b4eeb4;
$X11_darkseagreen3:#9bcd9b;
$X11_darkseagreen4:#698b69;
$X11_darkslateblue:#483d8b;
$X11_darkslategray:#2f4f4f;
$X11_darkslategray1:#97ffff;
$X11_darkslategray2:#8deeee;
$X11_darkslategray3:#79cdcd;
$X11_darkslategray4:#528b8b;
$X11_darkturquoise:#00ced1;
$X11_darkviolet:#9400d3;
$X11_deeppink1:#ff1493;
$X11_deeppink2:#ee1289;
$X11_deeppink3:#cd1076;
$X11_deeppink4:#8b0a50;
$X11_deepskyblue1:#00bfff;
$X11_deepskyblue2:#00b2ee;
$X11_deepskyblue3:#009acd;
$X11_deepskyblue4:#00688b;
$X11_dimgray:#696969;
$X11_dodgerblue1:#1e90ff;
$X11_dodgerblue2:#1c86ee;
$X11_dodgerblue3:#1874cd;
$X11_dodgerblue4:#104e8b;
$X11_firebrick:#b22222;
$X11_firebrick1:#ff3030;
$X11_firebrick2:#ee2c2c;
$X11_firebrick3:#cd2626;
$X11_firebrick4:#8b1a1a;
$X11_floralwhite:#fffaf0;
$X11_forestgreen:#228b22;
$X11_gainsboro:#dcdcdc;
$X11_ghostwhite:#f8f8ff;
$X11_gold1:#ffd700;
$X11_gold2:#eec900;
$X11_gold3:#cdad00;
$X11_gold4:#8b7500;
$X11_goldenrod:#daa520;
$X11_goldenrod1:#ffc125;
$X11_goldenrod2:#eeb422;
$X11_goldenrod3:#cd9b1d;
$X11_goldenrod4:#8b6914;
$X11_gray:#bebebe;
$X11_gray1:#030303;
$X11_gray2:#050505;
$X11_gray3:#080808;
$X11_gray4:#0a0a0a;
$X11_gray5:#0d0d0d;
$X11_gray6:#0f0f0f;
$X11_gray7:#121212;
$X11_gray8:#141414;
$X11_gray9:#171717;
$X11_gray10:#1a1a1a;
$X11_gray11:#1c1c1c;
$X11_gray12:#1f1f1f;
$X11_gray13:#212121;
$X11_gray14:#242424;
$X11_gray15:#262626;
$X11_gray16:#292929;
$X11_gray17:#2b2b2b;
$X11_gray18:#2e2e2e;
$X11_gray19:#303030;
$X11_gray20:#333333;
$X11_gray21:#363636;
$X11_gray22:#383838;
$X11_gray23:#3b3b3b;
$X11_gray24:#3d3d3d;
$X11_gray25:#404040;
$X11_gray26:#424242;
$X11_gray27:#454545;
$X11_gray28:#474747;
$X11_gray29:#4a4a4a;
$X11_gray30:#4d4d4d;
$X11_gray31:#4f4f4f;
$X11_gray32:#525252;
$X11_gray33:#545454;
$X11_gray34:#575757;
$X11_gray35:#595959;
$X11_gray36:#5c5c5c;
$X11_gray37:#5e5e5e;
$X11_gray38:#616161;
$X11_gray39:#636363;
$X11_gray40:#666666;
$X11_gray41:#696969;
$X11_gray42:#6b6b6b;
$X11_gray43:#6e6e6e;
$X11_gray44:#707070;
$X11_gray45:#737373;
$X11_gray46:#757575;
$X11_gray47:#787878;
$X11_gray48:#7a7a7a;
$X11_gray49:#7d7d7d;
$X11_gray50:#7f7f7f;
$X11_gray51:#828282;
$X11_gray52:#858585;
$X11_gray53:#878787;
$X11_gray54:#8a8a8a;
$X11_gray55:#8c8c8c;
$X11_gray56:#8f8f8f;
$X11_gray57:#919191;
$X11_gray58:#949494;
$X11_gray59:#969696;
$X11_gray60:#999999;
$X11_gray61:#9c9c9c;
$X11_gray62:#9e9e9e;
$X11_gray63:#a1a1a1;
$X11_gray64:#a3a3a3;
$X11_gray65:#a6a6a6;
$X11_gray66:#a8a8a8;
$X11_gray67:#ababab;
$X11_gray68:#adadad;
$X11_gray69:#b0b0b0;
$X11_gray70:#b3b3b3;
$X11_gray71:#b5b5b5;
$X11_gray72:#b8b8b8;
$X11_gray73:#bababa;
$X11_gray74:#bdbdbd;
$X11_gray75:#bfbfbf;
$X11_gray76:#c2c2c2;
$X11_gray77:#c4c4c4;
$X11_gray78:#c7c7c7;
$X11_gray79:#c9c9c9;
$X11_gray80:#cccccc;
$X11_gray81:#cfcfcf;
$X11_gray82:#d1d1d1;
$X11_gray83:#d4d4d4;
$X11_gray84:#d6d6d6;
$X11_gray85:#d9d9d9;
$X11_gray86:#dbdbdb;
$X11_gray87:#dedede;
$X11_gray88:#e0e0e0;
$X11_gray89:#e3e3e3;
$X11_gray90:#e5e5e5;
$X11_gray91:#e8e8e8;
$X11_gray92:#ebebeb;
$X11_gray93:#ededed;
$X11_gray94:#f0f0f0;
$X11_gray95:#f2f2f2;
$X11_gray97:#f7f7f7;
$X11_gray98:#fafafa;
$X11_gray99:#fcfcfc;
$X11_green1:#00ff00;
$X11_green2:#00ee00;
$X11_green3:#00cd00;
$X11_green4:#008b00;
$X11_greenyellow:#adff2f;
$X11_honeydew1:#f0fff0;
$X11_honeydew2:#e0eee0;
$X11_honeydew3:#c1cdc1;
$X11_honeydew4:#838b83;
$X11_hotpink:#ff69b4;
$X11_hotpink1:#ff6eb4;
$X11_hotpink2:#ee6aa7;
$X11_hotpink3:#cd6090;
$X11_hotpink4:#8b3a62;
$X11_indianred:#cd5c5c;
$X11_indianred1:#ff6a6a;
$X11_indianred2:#ee6363;
$X11_indianred3:#cd5555;
$X11_indianred4:#8b3a3a;
$X11_ivory1:#fffff0;
$X11_ivory2:#eeeee0;
$X11_ivory3:#cdcdc1;
$X11_ivory4:#8b8b83;
$X11_khaki:#f0e68c;
$X11_khaki1:#fff68f;
$X11_khaki2:#eee685;
$X11_khaki3:#cdc673;
$X11_khaki4:#8b864e;
$X11_lavender:#e6e6fa;
$X11_lavenderblush1:#fff0f5;
$X11_lavenderblush2:#eee0e5;
$X11_lavenderblush3:#cdc1c5;
$X11_lavenderblush4:#8b8386;
$X11_lawngreen:#7cfc00;
$X11_lemonchiffon1:#fffacd;
$X11_lemonchiffon2:#eee9bf;
$X11_lemonchiffon3:#cdc9a5;
$X11_lemonchiffon4:#8b8970;
$X11_light:#eedd82;
$X11_lightblue:#add8e6;
$X11_lightblue1:#bfefff;
$X11_lightblue2:#b2dfee;
$X11_lightblue3:#9ac0cd;
$X11_lightblue4:#68838b;
$X11_lightcoral:#f08080;
$X11_lightcyan1:#e0ffff;
$X11_lightcyan2:#d1eeee;
$X11_lightcyan3:#b4cdcd;
$X11_lightcyan4:#7a8b8b;
$X11_lightgoldenrod1:#ffec8b;
$X11_lightgoldenrod2:#eedc82;
$X11_lightgoldenrod3:#cdbe70;
$X11_lightgoldenrod4:#8b814c;
$X11_lightgoldenrodyellow:#fafad2;
$X11_lightgray:#d3d3d3;
$X11_lightpink:#ffb6c1;
$X11_lightpink1:#ffaeb9;
$X11_lightpink2:#eea2ad;
$X11_lightpink3:#cd8c95;
$X11_lightpink4:#8b5f65;
$X11_lightsalmon1:#ffa07a;
$X11_lightsalmon2:#ee9572;
$X11_lightsalmon3:#cd8162;
$X11_lightsalmon4:#8b5742;
$X11_lightseagreen:#20b2aa;
$X11_lightskyblue:#87cefa;
$X11_lightskyblue1:#b0e2ff;
$X11_lightskyblue2:#a4d3ee;
$X11_lightskyblue3:#8db6cd;
$X11_lightskyblue4:#607b8b;
$X11_lightslateblue:#8470ff;
$X11_lightslategray:#778899;
$X11_lightsteelblue:#b0c4de;
$X11_lightsteelblue1:#cae1ff;
$X11_lightsteelblue2:#bcd2ee;
$X11_lightsteelblue3:#a2b5cd;
$X11_lightsteelblue4:#6e7b8b;
$X11_lightyellow1:#ffffe0;
$X11_lightyellow2:#eeeed1;
$X11_lightyellow3:#cdcdb4;
$X11_lightyellow4:#8b8b7a;
$X11_limegreen:#32cd32;
$X11_linen:#faf0e6;
$X11_magenta:#ff00ff;
$X11_magenta2:#ee00ee;
$X11_magenta3:#cd00cd;
$X11_magenta4:#8b008b;
$X11_maroon:#b03060;
$X11_maroon1:#ff34b3;
$X11_maroon2:#ee30a7;
$X11_maroon3:#cd2990;
$X11_maroon4:#8b1c62;
$X11_medium:#66cdaa;
$X11_mediumaquamarine:#66cdaa;
$X11_mediumblue:#0000cd;
$X11_mediumorchid:#ba55d3;
$X11_mediumorchid1:#e066ff;
$X11_mediumorchid2:#d15fee;
$X11_mediumorchid3:#b452cd;
$X11_mediumorchid4:#7a378b;
$X11_mediumpurple:#9370db;
$X11_mediumpurple1:#ab82ff;
$X11_mediumpurple2:#9f79ee;
$X11_mediumpurple3:#8968cd;
$X11_mediumpurple4:#5d478b;
$X11_mediumseagreen:#3cb371;
$X11_mediumslateblue:#7b68ee;
$X11_mediumspringgreen:#00fa9a;
$X11_mediumturquoise:#48d1cc;
$X11_mediumvioletred:#c71585;
$X11_midnightblue:#191970;
$X11_mintcream:#f5fffa;
$X11_mistyrose1:#ffe4e1;
$X11_mistyrose2:#eed5d2;
$X11_mistyrose3:#cdb7b5;
$X11_mistyrose4:#8b7d7b;
$X11_moccasin:#ffe4b5;
$X11_navajowhite1:#ffdead;
$X11_navajowhite2:#eecfa1;
$X11_navajowhite3:#cdb38b;
$X11_navajowhite4:#8b795e;
$X11_navyblue:#000080;
$X11_oldlace:#fdf5e6;
$X11_olivedrab:#6b8e23;
$X11_olivedrab1:#c0ff3e;
$X11_olivedrab2:#b3ee3a;
$X11_olivedrab4:#698b22;
$X11_orange1:#ffa500;
$X11_orange2:#ee9a00;
$X11_orange3:#cd8500;
$X11_orange4:#8b5a00;
$X11_orangered1:#ff4500;
$X11_orangered2:#ee4000;
$X11_orangered3:#cd3700;
$X11_orangered4:#8b2500;
$X11_orchid:#da70d6;
$X11_orchid1:#ff83fa;
$X11_orchid2:#ee7ae9;
$X11_orchid3:#cd69c9;
$X11_orchid4:#8b4789;
$X11_pale:#db7093;
$X11_palegoldenrod:#eee8aa;
$X11_palegreen:#98fb98;
$X11_palegreen1:#9aff9a;
$X11_palegreen2:#90ee90;
$X11_palegreen3:#7ccd7c;
$X11_palegreen4:#548b54;
$X11_paleturquoise:#afeeee;
$X11_paleturquoise1:#bbffff;
$X11_paleturquoise2:#aeeeee;
$X11_paleturquoise3:#96cdcd;
$X11_paleturquoise4:#668b8b;
$X11_palevioletred:#db7093;
$X11_palevioletred1:#ff82ab;
$X11_palevioletred2:#ee799f;
$X11_palevioletred3:#cd6889;
$X11_palevioletred4:#8b475d;
$X11_papayawhip:#ffefd5;
$X11_peachpuff1:#ffdab9;
$X11_peachpuff2:#eecbad;
$X11_peachpuff3:#cdaf95;
$X11_peachpuff4:#8b7765;
$X11_pink:#ffc0cb;
$X11_pink1:#ffb5c5;
$X11_pink2:#eea9b8;
$X11_pink3:#cd919e;
$X11_pink4:#8b636c;
$X11_plum:#dda0dd;
$X11_plum1:#ffbbff;
$X11_plum2:#eeaeee;
$X11_plum3:#cd96cd;
$X11_plum4:#8b668b;
$X11_powderblue:#b0e0e6;
$X11_purple:#a020f0;
$X11_purple1:#9b30ff;
$X11_purple2:#912cee;
$X11_purple3:#7d26cd;
$X11_purple4:#551a8b;
$X11_red1:#ff0000;
$X11_red2:#ee0000;
$X11_red3:#cd0000;
$X11_red4:#8b0000;
$X11_rosybrown:#bc8f8f;
$X11_rosybrown1:#ffc1c1;
$X11_rosybrown2:#eeb4b4;
$X11_rosybrown3:#cd9b9b;
$X11_rosybrown4:#8b6969;
$X11_royalblue:#4169e1;
$X11_royalblue1:#4876ff;
$X11_royalblue2:#436eee;
$X11_royalblue3:#3a5fcd;
$X11_royalblue4:#27408b;
$X11_saddlebrown:#8b4513;
$X11_salmon:#fa8072;
$X11_salmon1:#ff8c69;
$X11_salmon2:#ee8262;
$X11_salmon3:#cd7054;
$X11_salmon4:#8b4c39;
$X11_sandybrown:#f4a460;
$X11_seagreen1:#54ff9f;
$X11_seagreen2:#4eee94;
$X11_seagreen3:#43cd80;
$X11_seagreen4:#2e8b57;
$X11_seashell1:#fff5ee;
$X11_seashell2:#eee5de;
$X11_seashell3:#cdc5bf;
$X11_seashell4:#8b8682;
$X11_sienna:#a0522d;
$X11_sienna1:#ff8247;
$X11_sienna2:#ee7942;
$X11_sienna3:#cd6839;
$X11_sienna4:#8b4726;
$X11_skyblue:#87ceeb;
$X11_skyblue1:#87ceff;
$X11_skyblue2:#7ec0ee;
$X11_skyblue3:#6ca6cd;
$X11_skyblue4:#4a708b;
$X11_slateblue:#6a5acd;
$X11_slateblue1:#836fff;
$X11_slateblue2:#7a67ee;
$X11_slateblue3:#6959cd;
$X11_slateblue4:#473c8b;
$X11_slategray:#708090;
$X11_slategray1:#c6e2ff;
$X11_slategray2:#b9d3ee;
$X11_slategray3:#9fb6cd;
$X11_slategray4:#6c7b8b;
$X11_snow1:#fffafa;
$X11_snow2:#eee9e9;
$X11_snow3:#cdc9c9;
$X11_snow4:#8b8989;
$X11_springgreen1:#00ff7f;
$X11_springgreen2:#00ee76;
$X11_springgreen3:#00cd66;
$X11_springgreen4:#008b45;
$X11_steelblue:#4682b4;
$X11_steelblue1:#63b8ff;
$X11_steelblue2:#5cacee;
$X11_steelblue3:#4f94cd;
$X11_steelblue4:#36648b;
$X11_tan:#d2b48c;
$X11_tan1:#ffa54f;
$X11_tan2:#ee9a49;
$X11_tan3:#cd853f;
$X11_tan4:#8b5a2b;
$X11_thistle:#d8bfd8;
$X11_thistle1:#ffe1ff;
$X11_thistle2:#eed2ee;
$X11_thistle3:#cdb5cd;
$X11_thistle4:#8b7b8b;
$X11_tomato1:#ff6347;
$X11_tomato2:#ee5c42;
$X11_tomato3:#cd4f39;
$X11_tomato4:#8b3626;
$X11_turquoise:#40e0d0;
$X11_turquoise1:#00f5ff;
$X11_turquoise2:#00e5ee;
$X11_turquoise3:#00c5cd;
$X11_turquoise4:#00868b;
$X11_violet:#ee82ee;
$X11_violetred:#d02090;
$X11_violetred1:#ff3e96;
$X11_violetred2:#ee3a8c;
$X11_violetred3:#cd3278;
$X11_violetred4:#8b2252;
$X11_wheat:#f5deb3;
$X11_wheat1:#ffe7ba;
$X11_wheat2:#eed8ae;
$X11_wheat3:#cdba96;
$X11_wheat4:#8b7e66;
$X11_white:#ffffff;
$X11_whitesmoke:#f5f5f5;
$X11_yellow1:#ffff00;
$X11_yellow2:#eeee00;
$X11_yellow3:#cdcd00;
$X11_yellow4:#8b8b00;
$X11_yellowgreen:#9acd32;