/*
    XKCD Color Names
    XKCD is a popular web comic created by Randall Munroe.
    His "Color Name Survey" (with 200 000 participants) resulted in a list of nearly 1000 color names.
    The color names cannot be used in HTML.
    These hex values are non official approximate values intended to simulate the colors in HTML:
*/
$XKCD_acidgreen :#8ffe09;
$XKCD_adobe :#bd6c48;
$XKCD_algae :#54ac68;
$XKCD_algaegreen :#21c36f;
$XKCD_almostblack :#070d0d;
$XKCD_amber :#feb308;
$XKCD_amethyst :#9b5fc0;
$XKCD_apple :#6ecb3c;
$XKCD_applegreen :#76cd26;
$XKCD_apricot :#ffb16d;
$XKCD_aqua :#13eac9;
$XKCD_aquablue :#02d8e9;
$XKCD_aquagreen :#12e193;
$XKCD_aquamarine :#2ee8bb;
$XKCD_armygreen :#4b5d16;
$XKCD_asparagus :#77ab56;
$XKCD_aubergine :#3d0734;
$XKCD_auburn :#9a3001;
$XKCD_avocado :#90b134;
$XKCD_avocadogreen :#87a922;
$XKCD_azul :#1d5dec;
$XKCD_azure :#069af3;
$XKCD_babyblue :#a2cffe;
$XKCD_babygreen :#8cff9e;
$XKCD_babypink :#ffb7ce;
$XKCD_babypoo :#ab9004;
$XKCD_babypoop :#937c00;
$XKCD_babypoopgreen :#8f9805;
$XKCD_babypukegreen :#b6c406;
$XKCD_babypurple :#ca9bf7;
$XKCD_babyshitbrown :#ad900d;
$XKCD_babyshitgreen :#889717;
$XKCD_banana :#ffff7e;
$XKCD_bananayellow :#fafe4b;
$XKCD_barbiepink :#fe46a5;
$XKCD_barfgreen :#94ac02;
$XKCD_barney :#ac1db8;
$XKCD_barneypurple :#a00498;
$XKCD_battleshipgrey :#6b7c85;
$XKCD_beige :#e6daa6;
$XKCD_berry :#990f4b;
$XKCD_bile :#b5c306;
$XKCD_black :#000000;
$XKCD_bland :#afa88b;
$XKCD_blood :#770001;
$XKCD_bloodorange :#fe4b03;
$XKCD_bloodred :#980002;
$XKCD_blue :#0343df;
$XKCD_blueberry :#464196;
$XKCD_blueblue :#2242c7;
$XKCD_bluegreen :#0f9b8e;
$XKCD_bluegrey :#85a3b2;
$XKCD_bluepurple :#5a06ef;
$XKCD_blueviolet :#5d06e9;
$XKCD_bluewithahintofpurple :#533cc6;
$XKCD_blueygreen :#2bb179;
$XKCD_blueygrey :#89a0b0;
$XKCD_blueypurple :#6241c7;
$XKCD_bluish :#2976bb;
$XKCD_bluishgreen :#10a674;
$XKCD_bluishgrey :#748b97;
$XKCD_bluishpurple :#703be7;
$XKCD_blurple :#5539cc;
$XKCD_blush :#f29e8e;
$XKCD_blushpink :#fe828c;
$XKCD_booger :#9bb53c;
$XKCD_boogergreen :#96b403;
$XKCD_bordeaux :#7b002c;
$XKCD_boringgreen :#63b365;
$XKCD_bottlegreen :#044a05;
$XKCD_brick :#a03623;
$XKCD_brickorange :#c14a09;
$XKCD_brickred :#8f1402;
$XKCD_brightaqua :#0bf9ea;
$XKCD_brightblue :#0165fc;
$XKCD_brightcyan :#41fdfe;
$XKCD_brightgreen :#01ff07;
$XKCD_brightlavender :#c760ff;
$XKCD_brightlightblue :#26f7fd;
$XKCD_brightlightgreen :#2dfe54;
$XKCD_brightlilac :#c95efb;
$XKCD_brightlime :#87fd05;
$XKCD_brightlimegreen :#65fe08;
$XKCD_brightmagenta :#ff08e8;
$XKCD_brightolive :#9cbb04;
$XKCD_brightorange :#ff5b00;
$XKCD_brightpink :#fe01b1;
$XKCD_brightpurple :#be03fd;
$XKCD_brightred :#ff000d;
$XKCD_brightseagreen :#05ffa6;
$XKCD_brightskyblue :#02ccfe;
$XKCD_brightteal :#01f9c6;
$XKCD_brightturquoise :#0ffef9;
$XKCD_brightviolet :#ad0afd;
$XKCD_brightyellow :#fffd01;
$XKCD_brightyellowgreen :#9dff00;
$XKCD_britishracinggreen :#05480d;
$XKCD_bronze :#a87900;
$XKCD_brown :#653700;
$XKCD_browngreen :#706c11;
$XKCD_browngrey :#8d8468;
$XKCD_brownish :#9c6d57;
$XKCD_brownishgreen :#6a6e09;
$XKCD_brownishgrey :#86775f;
$XKCD_brownishorange :#cb7723;
$XKCD_brownishpink :#c27e79;
$XKCD_brownishpurple :#76424e;
$XKCD_brownishred :#9e3623;
$XKCD_brownishyellow :#c9b003;
$XKCD_brownorange :#b96902;
$XKCD_brownred :#922b05;
$XKCD_brownyellow :#b29705;
$XKCD_brownygreen :#6f6c0a;
$XKCD_brownyorange :#ca6b02;
$XKCD_bruise :#7e4071;
$XKCD_bubblegum :#ff6cb5;
$XKCD_bubblegumpink :#ff69af;
$XKCD_buff :#fef69e;
$XKCD_burgundy :#610023;
$XKCD_burntorange :#c04e01;
$XKCD_burntred :#9f2305;
$XKCD_burntsiena :#b75203;
$XKCD_burntsienna :#b04e0f;
$XKCD_burntumber :#a0450e;
$XKCD_burntyellow :#d5ab09;
$XKCD_burple :#6832e3;
$XKCD_butter :#ffff81;
$XKCD_butterscotch :#fdb147;
$XKCD_butteryellow :#fffd74;
$XKCD_cadetblue :#4e7496;
$XKCD_camel :#c69f59;
$XKCD_camo :#7f8f4e;
$XKCD_camogreen :#526525;
$XKCD_camouflagegreen :#4b6113;
$XKCD_canary :#fdff63;
$XKCD_canaryyellow :#fffe40;
$XKCD_candypink :#ff63e9;
$XKCD_caramel :#af6f09;
$XKCD_carmine :#9d0216;
$XKCD_carnation :#fd798f;
$XKCD_carnationpink :#ff7fa7;
$XKCD_carolinablue :#8ab8fe;
$XKCD_celadon :#befdb7;
$XKCD_celery :#c1fd95;
$XKCD_cement :#a5a391;
$XKCD_cerise :#de0c62;
$XKCD_cerulean :#0485d1;
$XKCD_ceruleanblue :#056eee;
$XKCD_charcoal :#343837;
$XKCD_charcoalgrey :#3c4142;
$XKCD_chartreuse :#c1f80a;
$XKCD_cherry :#cf0234;
$XKCD_cherryred :#f7022a;
$XKCD_chestnut :#742802;
$XKCD_chocolate :#3d1c02;
$XKCD_chocolatebrown :#411900;
$XKCD_cinnamon :#ac4f06;
$XKCD_claret :#680018;
$XKCD_clay :#b66a50;
$XKCD_claybrown :#b2713d;
$XKCD_clearblue :#247afd;
$XKCD_cobalt :#1e488f;
$XKCD_cobaltblue :#030aa7;
$XKCD_cocoa :#875f42;
$XKCD_coffee :#a6814c;
$XKCD_coolblue :#4984b8;
$XKCD_coolgreen :#33b864;
$XKCD_coolgrey :#95a3a6;
$XKCD_copper :#b66325;
$XKCD_coral :#fc5a50;
$XKCD_coralpink :#ff6163;
$XKCD_cornflower :#6a79f7;
$XKCD_cornflowerblue :#5170d7;
$XKCD_cranberry :#9e003a;
$XKCD_cream :#ffffc2;
$XKCD_creme :#ffffb6;
$XKCD_crimson :#8c000f;
$XKCD_custard :#fffd78;
$XKCD_cyan :#00ffff;
$XKCD_dandelion :#fedf08;
$XKCD_dark :#1b2431;
$XKCD_darkaqua :#05696b;
$XKCD_darkaquamarine :#017371;
$XKCD_darkbeige :#ac9362;
$XKCD_darkblue :#030764;
$XKCD_darkbluegreen :#005249;
$XKCD_darkbluegrey :#1f3b4d;
$XKCD_darkbrown :#341c02;
$XKCD_darkcoral :#cf524e;
$XKCD_darkcream :#fff39a;
$XKCD_darkcyan :#0a888a;
$XKCD_darkforestgreen :#002d04;
$XKCD_darkfuchsia :#9d0759;
$XKCD_darkgold :#b59410;
$XKCD_darkgrassgreen :#388004;
$XKCD_darkgreen :#054907;
$XKCD_darkgreenblue :#1f6357;
$XKCD_darkgrey :#363737;
$XKCD_darkgreyblue :#29465b;
$XKCD_darkhotpink :#d90166;
$XKCD_darkindigo :#1f0954;
$XKCD_darkishblue :#014182;
$XKCD_darkishgreen :#287c37;
$XKCD_darkishpink :#da467d;
$XKCD_darkishpurple :#751973;
$XKCD_darkishred :#a90308;
$XKCD_darkkhaki :#9b8f55;
$XKCD_darklavender :#856798;
$XKCD_darklilac :#9c6da5;
$XKCD_darklime :#84b701;
$XKCD_darklimegreen :#7ebd01;
$XKCD_darkmagenta :#960056;
$XKCD_darkmaroon :#3c0008;
$XKCD_darkmauve :#874c62;
$XKCD_darkmint :#48c072;
$XKCD_darkmintgreen :#20c073;
$XKCD_darkmustard :#a88905;
$XKCD_darknavy :#000435;
$XKCD_darknavyblue :#00022e;
$XKCD_darkolive :#373e02;
$XKCD_darkolivegreen :#3c4d03;
$XKCD_darkorange :#c65102;
$XKCD_darkpastelgreen :#56ae57;
$XKCD_darkpeach :#de7e5d;
$XKCD_darkperiwinkle :#665fd1;
$XKCD_darkpink :#cb416b;
$XKCD_darkplum :#3f012c;
$XKCD_darkpurple :#35063e;
$XKCD_darkred :#840000;
$XKCD_darkrose :#b5485d;
$XKCD_darkroyalblue :#02066f;
$XKCD_darksage :#598556;
$XKCD_darksalmon :#c85a53;
$XKCD_darksand :#a88f59;
$XKCD_darkseafoam :#1fb57a;
$XKCD_darkseafoamgreen :#3eaf76;
$XKCD_darkseagreen :#11875d;
$XKCD_darkskyblue :#448ee4;
$XKCD_darkslateblue :#214761;
$XKCD_darktan :#af884a;
$XKCD_darktaupe :#7f684e;
$XKCD_darkteal :#014d4e;
$XKCD_darkturquoise :#045c5a;
$XKCD_darkviolet :#34013f;
$XKCD_darkyellow :#d5b60a;
$XKCD_darkyellowgreen :#728f02;
$XKCD_deepaqua :#08787f;
$XKCD_deepblue :#040273;
$XKCD_deepbrown :#410200;
$XKCD_deepgreen :#02590f;
$XKCD_deeplavender :#8d5eb7;
$XKCD_deeplilac :#966ebd;
$XKCD_deepmagenta :#a0025c;
$XKCD_deeporange :#dc4d01;
$XKCD_deeppink :#cb0162;
$XKCD_deeppurple :#36013f;
$XKCD_deepred :#9a0200;
$XKCD_deeprose :#c74767;
$XKCD_deepseablue :#015482;
$XKCD_deepskyblue :#0d75f8;
$XKCD_deepteal :#00555a;
$XKCD_deepturquoise :#017374;
$XKCD_deepviolet :#490648;
$XKCD_denim :#3b638c;
$XKCD_denimblue :#3b5b92;
$XKCD_desert :#ccad60;
$XKCD_diarrhea :#9f8303;
$XKCD_dirt :#8a6e45;
$XKCD_dirtbrown :#836539;
$XKCD_dirtyblue :#3f829d;
$XKCD_dirtygreen :#667e2c;
$XKCD_dirtyorange :#c87606;
$XKCD_dirtypink :#ca7b80;
$XKCD_dirtypurple :#734a65;
$XKCD_dirtyyellow :#cdc50a;
$XKCD_dodgerblue :#3e82fc;
$XKCD_drab :#828344;
$XKCD_drabgreen :#749551;
$XKCD_driedblood :#4b0101;
$XKCD_duckeggblue :#c3fbf4;
$XKCD_dullblue :#49759c;
$XKCD_dullbrown :#876e4b;
$XKCD_dullgreen :#74a662;
$XKCD_dullorange :#d8863b;
$XKCD_dullpink :#d5869d;
$XKCD_dullpurple :#84597e;
$XKCD_dullred :#bb3f3f;
$XKCD_dullteal :#5f9e8f;
$XKCD_dullyellow :#eedc5b;
$XKCD_dusk :#4e5481;
$XKCD_duskblue :#26538d;
$XKCD_duskyblue :#475f94;
$XKCD_duskypink :#cc7a8b;
$XKCD_duskypurple :#895b7b;
$XKCD_duskyrose :#ba6873;
$XKCD_dust :#b2996e;
$XKCD_dustyblue :#5a86ad;
$XKCD_dustygreen :#76a973;
$XKCD_dustylavender :#ac86a8;
$XKCD_dustyorange :#f0833a;
$XKCD_dustypink :#d58a94;
$XKCD_dustypurple :#825f87;
$XKCD_dustyred :#b9484e;
$XKCD_dustyrose :#c0737a;
$XKCD_dustyteal :#4c9085;
$XKCD_earth :#a2653e;
$XKCD_eastergreen :#8cfd7e;
$XKCD_easterpurple :#c071fe;
$XKCD_ecru :#feffca;
$XKCD_eggplant :#380835;
$XKCD_eggplantpurple :#430541;
$XKCD_eggshell :#fffcc4;
$XKCD_eggshellblue :#c4fff7;
$XKCD_electricblue :#0652ff;
$XKCD_electricgreen :#21fc0d;
$XKCD_electriclime :#a8ff04;
$XKCD_electricpink :#ff0490;
$XKCD_electricpurple :#aa23ff;
$XKCD_emerald :#01a049;
$XKCD_emeraldgreen :#028f1e;
$XKCD_evergreen :#05472a;
$XKCD_fadedblue :#658cbb;
$XKCD_fadedgreen :#7bb274;
$XKCD_fadedorange :#f0944d;
$XKCD_fadedpink :#de9dac;
$XKCD_fadedpurple :#916e99;
$XKCD_fadedred :#d3494e;
$XKCD_fadedyellow :#feff7f;
$XKCD_fawn :#cfaf7b;
$XKCD_fern :#63a950;
$XKCD_ferngreen :#548d44;
$XKCD_fireenginered :#fe0002;
$XKCD_flatblue :#3c73a8;
$XKCD_flatgreen :#699d4c;
$XKCD_fluorescentgreen :#08ff08;
$XKCD_flurogreen :#0aff02;
$XKCD_foamgreen :#90fda9;
$XKCD_forest :#0b5509;
$XKCD_forestgreen :#06470c;
$XKCD_forrestgreen :#154406;
$XKCD_frenchblue :#436bad;
$XKCD_freshgreen :#69d84f;
$XKCD_froggreen :#58bc08;
$XKCD_fuchsia :#ed0dd9;
$XKCD_gold :#dbb40c;
$XKCD_golden :#f5bf03;
$XKCD_goldenbrown :#b27a01;
$XKCD_goldenrod :#f9bc08;
$XKCD_goldenyellow :#fec615;
$XKCD_grape :#6c3461;
$XKCD_grapefruit :#fd5956;
$XKCD_grapepurple :#5d1451;
$XKCD_grass :#5cac2d;
$XKCD_grassgreen :#3f9b0b;
$XKCD_grassygreen :#419c03;
$XKCD_green :#15b01a;
$XKCD_greenapple :#5edc1f;
$XKCD_greenblue :#01c08d;
$XKCD_greenbrown :#544e03;
$XKCD_greengrey :#77926f;
$XKCD_greenish :#40a368;
$XKCD_greenishbeige :#c9d179;
$XKCD_greenishblue :#0b8b87;
$XKCD_greenishbrown :#696112;
$XKCD_greenishcyan :#2afeb7;
$XKCD_greenishgrey :#96ae8d;
$XKCD_greenishtan :#bccb7a;
$XKCD_greenishteal :#32bf84;
$XKCD_greenishturquoise :#00fbb0;
$XKCD_greenishyellow :#cdfd02;
$XKCD_greenteal :#0cb577;
$XKCD_greenyblue :#42b395;
$XKCD_greenybrown :#696006;
$XKCD_greenyellow :#b5ce08;
$XKCD_greenygrey :#7ea07a;
$XKCD_greenyyellow :#c6f808;
$XKCD_grey :#929591;
$XKCD_greyblue :#647d8e;
$XKCD_greybrown :#7f7053;
$XKCD_greygreen :#86a17d;
$XKCD_greyish :#a8a495;
$XKCD_greyishblue :#5e819d;
$XKCD_greyishbrown :#7a6a4f;
$XKCD_greyishgreen :#82a67d;
$XKCD_greyishpink :#c88d94;
$XKCD_greyishpurple :#887191;
$XKCD_greyishteal :#719f91;
$XKCD_greypink :#c3909b;
$XKCD_greypurple :#826d8c;
$XKCD_greyteal :#5e9b8a;
$XKCD_grossgreen :#a0bf16;
$XKCD_gunmetal :#536267;
$XKCD_hazel :#8e7618;
$XKCD_heather :#a484ac;
$XKCD_heliotrope :#d94ff5;
$XKCD_highlightergreen :#1bfc06;
$XKCD_hospitalgreen :#9be5aa;
$XKCD_hotgreen :#25ff29;
$XKCD_hotmagenta :#f504c9;
$XKCD_hotpink :#ff028d;
$XKCD_hotpurple :#cb00f5;
$XKCD_huntergreen :#0b4008;
$XKCD_ice :#d6fffa;
$XKCD_iceblue :#d7fffe;
$XKCD_ickygreen :#8fae22;
$XKCD_indianred :#850e04;
$XKCD_indigo :#380282;
$XKCD_indigoblue :#3a18b1;
$XKCD_iris :#6258c4;
$XKCD_irishgreen :#019529;
$XKCD_ivory :#ffffcb;
$XKCD_jade :#1fa774;
$XKCD_jadegreen :#2baf6a;
$XKCD_junglegreen :#048243;
$XKCD_kelleygreen :#009337;
$XKCD_kellygreen :#02ab2e;
$XKCD_kermitgreen :#5cb200;
$XKCD_keylime :#aeff6e;
$XKCD_khaki :#aaa662;
$XKCD_khakigreen :#728639;
$XKCD_kiwi :#9cef43;
$XKCD_kiwigreen :#8ee53f;
$XKCD_lavender :#c79fef;
$XKCD_lavenderblue :#8b88f8;
$XKCD_lavenderpink :#dd85d7;
$XKCD_lawngreen :#4da409;
$XKCD_leaf :#71aa34;
$XKCD_leafgreen :#5ca904;
$XKCD_leafygreen :#51b73b;
$XKCD_leather :#ac7434;
$XKCD_lemon :#fdff52;
$XKCD_lemongreen :#adf802;
$XKCD_lemonlime :#bffe28;
$XKCD_lemonyellow :#fdff38;
$XKCD_lichen :#8fb67b;
$XKCD_lightaqua :#8cffdb;
$XKCD_lightaquamarine :#7bfdc7;
$XKCD_lightbeige :#fffeb6;
$XKCD_lightblue :#7bc8f6;
$XKCD_lightbluegreen :#7efbb3;
$XKCD_lightbluegrey :#b7c9e2;
$XKCD_lightbluishgreen :#76fda8;
$XKCD_lightbrightgreen :#53fe5c;
$XKCD_lightbrown :#ad8150;
$XKCD_lightburgundy :#a8415b;
$XKCD_lightcyan :#acfffc;
$XKCD_lighteggplant :#894585;
$XKCD_lightergreen :#75fd63;
$XKCD_lighterpurple :#a55af4;
$XKCD_lightforestgreen :#4f9153;
$XKCD_lightgold :#fddc5c;
$XKCD_lightgrassgreen :#9af764;
$XKCD_lightgreen :#76ff7b;
$XKCD_lightgreenblue :#56fca2;
$XKCD_lightgreenishblue :#63f7b4;
$XKCD_lightgrey :#d8dcd6;
$XKCD_lightgreyblue :#9dbcd4;
$XKCD_lightgreygreen :#b7e1a1;
$XKCD_lightindigo :#6d5acf;
$XKCD_lightishblue :#3d7afd;
$XKCD_lightishgreen :#61e160;
$XKCD_lightishpurple :#a552e6;
$XKCD_lightishred :#fe2f4a;
$XKCD_lightkhaki :#e6f2a2;
$XKCD_lightlavendar :#efc0fe;
$XKCD_lightlavender :#dfc5fe;
$XKCD_lightlightblue :#cafffb;
$XKCD_lightlightgreen :#c8ffb0;
$XKCD_lightlilac :#edc8ff;
$XKCD_lightlime :#aefd6c;
$XKCD_lightlimegreen :#b9ff66;
$XKCD_lightmagenta :#fa5ff7;
$XKCD_lightmaroon :#a24857;
$XKCD_lightmauve :#c292a1;
$XKCD_lightmint :#b6ffbb;
$XKCD_lightmintgreen :#a6fbb2;
$XKCD_lightmossgreen :#a6c875;
$XKCD_lightmustard :#f7d560;
$XKCD_lightnavy :#155084;
$XKCD_lightnavyblue :#2e5a88;
$XKCD_lightneongreen :#4efd54;
$XKCD_lightolive :#acbf69;
$XKCD_lightolivegreen :#a4be5c;
$XKCD_lightorange :#fdaa48;
$XKCD_lightpastelgreen :#b2fba5;
$XKCD_lightpeach :#ffd8b1;
$XKCD_lightpeagreen :#c4fe82;
$XKCD_lightperiwinkle :#c1c6fc;
$XKCD_lightpink :#ffd1df;
$XKCD_lightplum :#9d5783;
$XKCD_lightpurple :#bf77f6;
$XKCD_lightred :#ff474c;
$XKCD_lightrose :#ffc5cb;
$XKCD_lightroyalblue :#3a2efe;
$XKCD_lightsage :#bcecac;
$XKCD_lightsalmon :#fea993;
$XKCD_lightseafoam :#a0febf;
$XKCD_lightseafoamgreen :#a7ffb5;
$XKCD_lightseagreen :#98f6b0;
$XKCD_lightskyblue :#c6fcff;
$XKCD_lighttan :#fbeeac;
$XKCD_lightteal :#90e4c1;
$XKCD_lightturquoise :#7ef4cc;
$XKCD_lighturple :#b36ff6;
$XKCD_lightviolet :#d6b4fc;
$XKCD_lightyellow :#fffe7a;
$XKCD_lightyellowgreen :#ccfd7f;
$XKCD_lightyellowishgreen :#c2ff89;
$XKCD_lilac :#cea2fd;
$XKCD_liliac :#c48efd;
$XKCD_lime :#aaff32;
$XKCD_limegreen :#89fe05;
$XKCD_limeyellow :#d0fe1d;
$XKCD_lipstick :#d5174e;
$XKCD_lipstickred :#c0022f;
$XKCD_macaroniandcheese :#efb435;
$XKCD_magenta :#c20078;
$XKCD_mahogany :#4a0100;
$XKCD_maize :#f4d054;
$XKCD_mango :#ffa62b;
$XKCD_manilla :#fffa86;
$XKCD_marigold :#fcc006;
$XKCD_marine :#042e60;
$XKCD_marineblue :#01386a;
$XKCD_maroon :#650021;
$XKCD_mauve :#ae7181;
$XKCD_mediumblue :#2c6fbb;
$XKCD_mediumbrown :#7f5112;
$XKCD_mediumgreen :#39ad48;
$XKCD_mediumgrey :#7d7f7c;
$XKCD_mediumpink :#f36196;
$XKCD_mediumpurple :#9e43a2;
$XKCD_melon :#ff7855;
$XKCD_merlot :#730039;
$XKCD_metallicblue :#4f738e;
$XKCD_midblue :#276ab3;
$XKCD_midgreen :#50a747;
$XKCD_midnight :#03012d;
$XKCD_midnightblue :#020035;
$XKCD_midnightpurple :#280137;
$XKCD_militarygreen :#667c3e;
$XKCD_milkchocolate :#7f4e1e;
$XKCD_mint :#9ffeb0;
$XKCD_mintgreen :#8fff9f;
$XKCD_mintygreen :#0bf77d;
$XKCD_mocha :#9d7651;
$XKCD_moss :#769958;
$XKCD_mossgreen :#658b38;
$XKCD_mossygreen :#638b27;
$XKCD_mud :#735c12;
$XKCD_mudbrown :#60460f;
$XKCD_muddybrown :#886806;
$XKCD_muddygreen :#657432;
$XKCD_muddyyellow :#bfac05;
$XKCD_mudgreen :#606602;
$XKCD_mulberry :#920a4e;
$XKCD_murkygreen :#6c7a0e;
$XKCD_mushroom :#ba9e88;
$XKCD_mustard :#ceb301;
$XKCD_mustardbrown :#ac7e04;
$XKCD_mustardgreen :#a8b504;
$XKCD_mustardyellow :#d2bd0a;
$XKCD_mutedblue :#3b719f;
$XKCD_mutedgreen :#5fa052;
$XKCD_mutedpink :#d1768f;
$XKCD_mutedpurple :#805b87;
$XKCD_nastygreen :#70b23f;
$XKCD_navy :#01153e;
$XKCD_navyblue :#001146;
$XKCD_navygreen :#35530a;
$XKCD_neonblue :#04d9ff;
$XKCD_neongreen :#0cff0c;
$XKCD_neonpink :#fe019a;
$XKCD_neonpurple :#bc13fe;
$XKCD_neonred :#ff073a;
$XKCD_neonyellow :#cfff04;
$XKCD_niceblue :#107ab0;
$XKCD_nightblue :#040348;
$XKCD_ocean :#017b92;
$XKCD_oceanblue :#03719c;
$XKCD_oceangreen :#3d9973;
$XKCD_ocher :#bf9b0c;
$XKCD_ochre :#bf9005;
$XKCD_ocre :#c69c04;
$XKCD_offblue :#5684ae;
$XKCD_offgreen :#6ba353;
$XKCD_offwhite :#ffffe4;
$XKCD_offyellow :#f1f33f;
$XKCD_oldpink :#c77986;
$XKCD_oldrose :#c87f89;
$XKCD_olive :#6e750e;
$XKCD_olivebrown :#645403;
$XKCD_olivedrab :#6f7632;
$XKCD_olivegreen :#677a04;
$XKCD_oliveyellow :#c2b709;
$XKCD_orange :#f97306;
$XKCD_orangebrown :#be6400;
$XKCD_orangeish :#fd8d49;
$XKCD_orangepink :#ff6f52;
$XKCD_orangered :#fe420f;
$XKCD_orangeybrown :#b16002;
$XKCD_orangeyellow :#ffad01;
$XKCD_orangeyred :#fa4224;
$XKCD_orangeyyellow :#fdb915;
$XKCD_orangish :#fc824a;
$XKCD_orangishbrown :#b25f03;
$XKCD_orangishred :#f43605;
$XKCD_orchid :#c875c4;
$XKCD_pale :#fff9d0;
$XKCD_paleaqua :#b8ffeb;
$XKCD_paleblue :#d0fefe;
$XKCD_palebrown :#b1916e;
$XKCD_palecyan :#b7fffa;
$XKCD_palegold :#fdde6c;
$XKCD_palegreen :#c7fdb5;
$XKCD_palegrey :#fdfdfe;
$XKCD_palelavender :#eecffe;
$XKCD_palelightgreen :#b1fc99;
$XKCD_palelilac :#e4cbff;
$XKCD_palelime :#befd73;
$XKCD_palelimegreen :#b1ff65;
$XKCD_palemagenta :#d767ad;
$XKCD_palemauve :#fed0fc;
$XKCD_paleolive :#b9cc81;
$XKCD_paleolivegreen :#b1d27b;
$XKCD_paleorange :#ffa756;
$XKCD_palepeach :#ffe5ad;
$XKCD_palepink :#ffcfdc;
$XKCD_palepurple :#b790d4;
$XKCD_palered :#d9544d;
$XKCD_palerose :#fdc1c5;
$XKCD_palesalmon :#ffb19a;
$XKCD_paleskyblue :#bdf6fe;
$XKCD_paleteal :#82cbb2;
$XKCD_paleturquoise :#a5fbd5;
$XKCD_paleviolet :#ceaefa;
$XKCD_paleyellow :#ffff84;
$XKCD_parchment :#fefcaf;
$XKCD_pastelblue :#a2bffe;
$XKCD_pastelgreen :#b0ff9d;
$XKCD_pastelorange :#ff964f;
$XKCD_pastelpink :#ffbacd;
$XKCD_pastelpurple :#caa0ff;
$XKCD_pastelred :#db5856;
$XKCD_pastelyellow :#fffe71;
$XKCD_pea :#a4bf20;
$XKCD_peach :#ffb07c;
$XKCD_peachypink :#ff9a8a;
$XKCD_peacockblue :#016795;
$XKCD_peagreen :#8eab12;
$XKCD_pear :#cbf85f;
$XKCD_peasoup :#929901;
$XKCD_peasoupgreen :#94a617;
$XKCD_periwinkle :#8e82fe;
$XKCD_periwinkleblue :#8f99fb;
$XKCD_perrywinkle :#8f8ce7;
$XKCD_petrol :#005f6a;
$XKCD_pigpink :#e78ea5;
$XKCD_pine :#2b5d34;
$XKCD_pinegreen :#0a481e;
$XKCD_pink :#ff81c0;
$XKCD_pinkish :#d46a7e;
$XKCD_pinkishbrown :#b17261;
$XKCD_pinkishgrey :#c8aca9;
$XKCD_pinkishorange :#ff724c;
$XKCD_pinkishpurple :#d648d7;
$XKCD_pinkishred :#f10c45;
$XKCD_pinkishtan :#d99b82;
$XKCD_pinkpurple :#ef1de7;
$XKCD_pinkred :#f5054f;
$XKCD_pinky :#fc86aa;
$XKCD_pinkypurple :#c94cbe;
$XKCD_pinkyred :#fc2647;
$XKCD_pissyellow :#ddd618;
$XKCD_pistachio :#c0fa8b;
$XKCD_plum :#580f41;
$XKCD_plumpurple :#4e0550;
$XKCD_poisongreen :#40fd14;
$XKCD_poo :#8f7303;
$XKCD_poobrown :#885f01;
$XKCD_poop :#7f5e00;
$XKCD_poopbrown :#7a5901;
$XKCD_poopgreen :#6f7c00;
$XKCD_powderblue :#b1d1fc;
$XKCD_powderpink :#ffb2d0;
$XKCD_primaryblue :#0804f9;
$XKCD_prussianblue :#004577;
$XKCD_puce :#a57e52;
$XKCD_puke :#a5a502;
$XKCD_pukebrown :#947706;
$XKCD_pukegreen :#9aae07;
$XKCD_pukeyellow :#c2be0e;
$XKCD_pumpkin :#e17701;
$XKCD_pumpkinorange :#fb7d07;
$XKCD_pureblue :#0203e2;
$XKCD_purple :#7e1e9c;
$XKCD_purpleblue :#5d21d0;
$XKCD_purplebrown :#673a3f;
$XKCD_purplegrey :#866f85;
$XKCD_purpleish :#98568d;
$XKCD_purpleishblue :#6140ef;
$XKCD_purpleishpink :#df4ec8;
$XKCD_purplepink :#d725de;
$XKCD_purplered :#990147;
$XKCD_purpley :#8756e4;
$XKCD_purpleyblue :#5f34e7;
$XKCD_purpleygrey :#947e94;
$XKCD_purpleypink :#c83cb9;
$XKCD_purplish :#94568c;
$XKCD_purplishblue :#601ef9;
$XKCD_purplishbrown :#6b4247;
$XKCD_purplishgrey :#7a687f;
$XKCD_purplishpink :#ce5dae;
$XKCD_purplishred :#b0054b;
$XKCD_purply :#983fb2;
$XKCD_purplyblue :#661aee;
$XKCD_purplypink :#f075e6;
$XKCD_putty :#beae8a;
$XKCD_racinggreen :#014600;
$XKCD_radioactivegreen :#2cfa1f;
$XKCD_raspberry :#b00149;
$XKCD_rawsienna :#9a6200;
$XKCD_rawumber :#a75e09;
$XKCD_reallylightblue :#d4ffff;
$XKCD_red :#e50000;
$XKCD_redbrown :#8b2e16;
$XKCD_reddish :#c44240;
$XKCD_reddishbrown :#7f2b0a;
$XKCD_reddishgrey :#997570;
$XKCD_reddishorange :#f8481c;
$XKCD_reddishpink :#fe2c54;
$XKCD_reddishpurple :#910951;
$XKCD_reddybrown :#6e1005;
$XKCD_redorange :#fd3c06;
$XKCD_redpink :#fa2a55;
$XKCD_redpurple :#820747;
$XKCD_redviolet :#9e0168;
$XKCD_redwine :#8c0034;
$XKCD_richblue :#021bf9;
$XKCD_richpurple :#720058;
$XKCD_robineggblue :#8af1fe;
$XKCD_robinsegg :#6dedfd;
$XKCD_robinseggblue :#98eff9;
$XKCD_rosa :#fe86a4;
$XKCD_rose :#cf6275;
$XKCD_rosepink :#f7879a;
$XKCD_rosered :#be013c;
$XKCD_rosypink :#f6688e;
$XKCD_rouge :#ab1239;
$XKCD_royal :#0c1793;
$XKCD_royalblue :#0504aa;
$XKCD_royalpurple :#4b006e;
$XKCD_ruby :#ca0147;
$XKCD_russet :#a13905;
$XKCD_rust :#a83c09;
$XKCD_rustbrown :#8b3103;
$XKCD_rustorange :#c45508;
$XKCD_rustred :#aa2704;
$XKCD_rustyorange :#cd5909;
$XKCD_rustyred :#af2f0d;
$XKCD_saffron :#feb209;
$XKCD_sage :#87ae73;
$XKCD_sagegreen :#88b378;
$XKCD_salmon :#ff796c;
$XKCD_salmonpink :#fe7b7c;
$XKCD_sand :#e2ca76;
$XKCD_sandbrown :#cba560;
$XKCD_sandstone :#c9ae74;
$XKCD_sandy :#f1da7a;
$XKCD_sandybrown :#c4a661;
$XKCD_sandyellow :#fce166;
$XKCD_sandyyellow :#fdee73;
$XKCD_sapgreen :#5c8b15;
$XKCD_sapphire :#2138ab;
$XKCD_scarlet :#be0119;
$XKCD_sea :#3c9992;
$XKCD_seablue :#047495;
$XKCD_seafoam :#80f9ad;
$XKCD_seafoamblue :#78d1b6;
$XKCD_seafoamgreen :#7af9ab;
$XKCD_seagreen :#53fca1;
$XKCD_seaweed :#18d17b;
$XKCD_seaweedgreen :#35ad6b;
$XKCD_sepia :#985e2b;
$XKCD_shamrock :#01b44c;
$XKCD_shamrockgreen :#02c14d;
$XKCD_shit :#7f5f00;
$XKCD_shitbrown :#7b5804;
$XKCD_shitgreen :#758000;
$XKCD_shockingpink :#fe02a2;
$XKCD_sickgreen :#9db92c;
$XKCD_sicklygreen :#94b21c;
$XKCD_sicklyyellow :#d0e429;
$XKCD_sienna :#a9561e;
$XKCD_silver :#c5c9c7;
$XKCD_sky :#82cafc;
$XKCD_skyblue :#75bbfd;
$XKCD_slate :#516572;
$XKCD_slateblue :#5b7c99;
$XKCD_slategreen :#658d6d;
$XKCD_slategrey :#59656d;
$XKCD_slimegreen :#99cc04;
$XKCD_snot :#acbb0d;
$XKCD_snotgreen :#9dc100;
$XKCD_softblue :#6488ea;
$XKCD_softgreen :#6fc276;
$XKCD_softpink :#fdb0c0;
$XKCD_softpurple :#a66fb5;
$XKCD_spearmint :#1ef876;
$XKCD_springgreen :#a9f971;
$XKCD_spruce :#0a5f38;
$XKCD_squash :#f2ab15;
$XKCD_steel :#738595;
$XKCD_steelblue :#5a7d9a;
$XKCD_steelgrey :#6f828a;
$XKCD_stone :#ada587;
$XKCD_stormyblue :#507b9c;
$XKCD_straw :#fcf679;
$XKCD_strawberry :#fb2943;
$XKCD_strongblue :#0c06f7;
$XKCD_strongpink :#ff0789;
$XKCD_sunflower :#ffc512;
$XKCD_sunfloweryellow :#ffda03;
$XKCD_sunnyyellow :#fff917;
$XKCD_sunshineyellow :#fffd37;
$XKCD_sunyellow :#ffdf22;
$XKCD_swamp :#698339;
$XKCD_swampgreen :#748500;
$XKCD_tan :#d1b26f;
$XKCD_tanbrown :#ab7e4c;
$XKCD_tangerine :#ff9408;
$XKCD_tangreen :#a9be70;
$XKCD_taupe :#b9a281;
$XKCD_tea :#65ab7c;
$XKCD_teagreen :#bdf8a3;
$XKCD_teal :#029386;
$XKCD_tealblue :#01889f;
$XKCD_tealgreen :#25a36f;
$XKCD_tealish :#24bca8;
$XKCD_tealishgreen :#0cdc73;
$XKCD_terracota :#cb6843;
$XKCD_terracotta :#c9643b;
$XKCD_tiffanyblue :#7bf2da;
$XKCD_tomato :#ef4026;
$XKCD_tomatored :#ec2d01;
$XKCD_topaz :#13bbaf;
$XKCD_toupe :#c7ac7d;
$XKCD_toxicgreen :#61de2a;
$XKCD_treegreen :#2a7e19;
$XKCD_trueblue :#010fcc;
$XKCD_truegreen :#089404;
$XKCD_turquoise :#06c2ac;
$XKCD_turquoiseblue :#06b1c4;
$XKCD_turquoisegreen :#04f489;
$XKCD_turtlegreen :#75b84f;
$XKCD_twilight :#4e518b;
$XKCD_twilightblue :#0a437a;
$XKCD_uglyblue :#31668a;
$XKCD_uglybrown :#7d7103;
$XKCD_uglygreen :#7a9703;
$XKCD_uglypink :#cd7584;
$XKCD_uglypurple :#a442a0;
$XKCD_uglyyellow :#d0c101;
$XKCD_ultramarine :#2000b1;
$XKCD_ultramarineblue :#1805db;
$XKCD_umber :#b26400;
$XKCD_velvet :#750851;
$XKCD_vermillion :#f4320c;
$XKCD_verydarkblue :#000133;
$XKCD_verydarkbrown :#1d0200;
$XKCD_verydarkgreen :#062e03;
$XKCD_verydarkpurple :#2a0134;
$XKCD_verylightblue :#d5ffff;
$XKCD_verylightbrown :#d3b683;
$XKCD_verylightgreen :#d1ffbd;
$XKCD_verylightpink :#fff4f2;
$XKCD_verylightpurple :#f6cefc;
$XKCD_verypaleblue :#d6fffe;
$XKCD_verypalegreen :#cffdbc;
$XKCD_vibrantblue :#0339f8;
$XKCD_vibrantgreen :#0add08;
$XKCD_vibrantpurple :#ad03de;
$XKCD_violet :#9a0eea;
$XKCD_violetblue :#510ac9;
$XKCD_violetpink :#fb5ffc;
$XKCD_violetred :#a50055;
$XKCD_viridian :#1e9167;
$XKCD_vividblue :#152eff;
$XKCD_vividgreen :#2fef10;
$XKCD_vividpurple :#9900fa;
$XKCD_vomit :#a2a415;
$XKCD_vomitgreen :#89a203;
$XKCD_vomityellow :#c7c10c;
$XKCD_warmblue :#4b57db;
$XKCD_warmbrown :#964e02;
$XKCD_warmgrey :#978a84;
$XKCD_warmpink :#fb5581;
$XKCD_warmpurple :#952e8f;
$XKCD_washedoutgreen :#bcf5a6;
$XKCD_waterblue :#0e87cc;
$XKCD_watermelon :#fd4659;
$XKCD_weirdgreen :#3ae57f;
$XKCD_wheat :#fbdd7e;
$XKCD_white :#ffffff;
$XKCD_windowsblue :#3778bf;
$XKCD_wine :#80013f;
$XKCD_winered :#7b0323;
$XKCD_wintergreen :#20f986;
$XKCD_wisteria :#a87dc2;
$XKCD_yellow :#ffff14;
$XKCD_yellowbrown :#b79400;
$XKCD_yellowgreen :#bbf90f;
$XKCD_yellowish :#faee66;
$XKCD_yellowishbrown :#9b7a01;
$XKCD_yellowishgreen :#b0dd16;
$XKCD_yellowishorange :#ffab0f;
$XKCD_yellowishtan :#fcfc81;
$XKCD_yellowochre :#cb9d06;
$XKCD_yelloworange :#fcb001;
$XKCD_yellowtan :#ffe36e;
$XKCD_yellowybrown :#ae8b0c;
$XKCD_yellowygreen :#bff128;